<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО СЛЪНЧОГЛЕД</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">СЛЪНЧОГЛЕД</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИВ ЦАРЕВИЧЕН ХОБОТНИК <span class="latin_name">Tanymecus dilaticollis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td rowspan="2">възрастни</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>4-ти – 5-ти лист</td>
                        <td>5-6 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРЕН ЦВЕКЛОВ ХОБОТНИК <span class="latin_name">Psalidium maxillosum</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЛКА СЛИВОВА ЛИСТНА ВЪШКА <span class="latin_name">Brachycaudus helichrysi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>преди цъфтежа</td>
                        <td>възрастни</td>
                        <td>20-25 % нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИВАДНА ПЕПЕРУДА <span class="latin_name">Loxostege sticticalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>от поникване до 5-ти – 6-ти лист</td>
                        <td rowspan="2">гъсеници</td>
                        <td>8-10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>преди цъфтежа</td>
                        <td>15-20 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЩУРЦИ <span class="latin_name">сем. Gryllidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>при поникване сухо време</td>
                        <td rowspan="2">възрастни</td>
                        <td>1-2 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>при поникване влажно време</td>
                        <td>над 2 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>сеитба до 10 април</td>
                        <td rowspan="2">ларви</td>
                        <td>до 5 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>сеитба след 10 април</td>
                        <td>3 бр./кв.м</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
