<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЗЕЛЕНЧУКОВИ КУЛТУРИ ОТ СЕМ. <span class="italic">SOLANACEAE</span></h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Feller, et al., 1995 b</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
              домати (<span class="italic">Lycopersicon esculentum</span> Mill.), 
              патладжан (<span class="italic">Solanum melongena</span> L.) и 
              пипер (<span class="italic">Capsicum annuum</span> L.)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 0: Покълнване</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>000</td>
                    <td>Сухи семена</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>001</td>
                    <td>Начало на набъбване </td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>003</td>
                    <td>Край на набъбването </td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>005</td>
                    <td>Поява на  кълн</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>007</td>
                    <td>Разкъсване на семенната обвивка </td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>009</td>
                    <td>Поникване: котиледоните пробиват почвената повърхност</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>100</td>
                    <td>Пълно разтваряне на котиледоните</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>101</td>
                    <td>Първи същински лист  на основното стъбло</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>102</td>
                    <td>Втори същински лист</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>103</td>
                    <td>Трети същински лист</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>10.</td>
                    <td>Растежа продължава до 8 същински лист на главното стъбло</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>109</td>
                    <td>Девет или повече листа на главното стъбло</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 2: Формиране на  странични разклонения</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td>201</td>
                    <td>Видима поява на първо връхно разклонение</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>202</td>
                    <td>Видимо второ разклонение</td>
                  </tr>
                  <tr>
                    <td>2..</td>
                    <td>20.</td>
                    <td>Растежа продължава  до ...</td>
                  </tr>
                  <tr>
                    <td>29</td>
                    <td>209</td>
                    <td>Видими 9 или повече разклонения</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>221</td>
                    <td>Първо вторично връхно разклонение</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>22.</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>229</td>
                    <td>9-то вторично разклонение</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>231</td>
                    <td>Първо третично разклонение</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>23.</td>
                    <td>Растежа продължава  до ...</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>2NX</td>
                    <td>Десето   разклонение  на N-ти  ред </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза  на растеж 5: Начало на цъфтеж</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>501</td>
                    <td>
                      Първо съцветие  изправена пъпка<sup>2</sup><br/>
                      Първа цветна пъпка<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>52</td>
                    <td>502</td>
                    <td>
                      Второ съцветие (с първа пъпка)<sup>2</sup><br/>
                      Втора цветна пъпка<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>503</td>
                    <td>
                      Трето съцветие (първа изправена пъпка)<sup>2</sup><br/>
                      Трети цвят<sup>3</sup>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>5..</td>
                    <td>50.</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>509</td>
                    <td>
                      Девет или повече съцветия  - 2-цифрен код<sup>2</sup><br/>
                      Девето съцветие (първа пъпка) – 3-цифрен код<sup>3</sup><br/>
                      Девет или повече цветни пъпки – 2-цифрен код<sup>2</sup><br/>
                      Девета цветна пъпка – 3-цифрен код<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>510</td>
                    <td>
                        Десето съцветие с първа пъпка<sup>2</sup><br/>
                        Десети  цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>51.</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>519</td>
                    <td>
                        19 съцветие (първа пъпка)<sup>2</sup><br/>
                        19 цветна пъпка<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>601</td>
                    <td>
                        Първо съцветие: първи разцъфнал цвят<sup>2</sup><br/>
                        Първи разцъфнал цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>602</td>
                    <td>
                        Второ съцветие: първи ръзцъфнал цвят<sup>2</sup><br/>
                        Втори разцъфнал цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>603</td>
                    <td>
                        Трето съцветие: първи разцъфнал цвят<sup>2</sup><br/>
                        Трети разцъфнал цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>6..</td>
                    <td>60.</td>
                    <td>
                        Продължава  до осмо съцветие с първи цвят<sup>2</sup><br/>
                        Осми разцъфнал цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>609</td>
                    <td>
                        Девет или повече съцветия с разц. цветове – 2-цифрен код<sup>2</sup><br/>
                        Девето съцветие :първи цвят- 3-цифрен код<sup>3</sup><br/>
                        Девет или повече разцъфнали цвята – 2-цифрен код<sup>2</sup><br/>
                        Девети разцъфнал цвят – 3-цифрен код<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>610</td>
                    <td>
                        Десето съцветие: първи цвят<sup>2</sup><br/>
                        Десети цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>61.</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>619</td>
                    <td>
                        19 - то съцветие: първи разцъфнал цвят<sup>2</sup><br/>
                        19 - ти цвят<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 7: Плододаване</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>701</td>
                    <td>
                        Първа  китка: първи плод с типичен размер<sup>2</sup><br/>
                        Първи плод с типичен размер и форма<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>702</td>
                    <td>
                        Втора китка: първи плод с типичен размер<sup>2</sup><br/>
                        Втори плод с типичен размер и форма<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>703</td>
                    <td>
                        Трета китка: първи плод с типичен размер<sup>2</sup><br/>
                        Трети плод с типичен размер и форма<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>7..</td>
                    <td>70.</td>
                    <td>
                        До 8 китка с първи плод с типичен размер<sup>2</sup><br/>
                        Осми плод  с типичен размер и форма<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>709</td>
                    <td>
                        Девет и повече китки с плодове с типичен р-р (2-цифрен код<sup>2</sup> )<br/>
                        Девета китка: първи плод с типичен р-р (3-цифрен код<sup>3</sup> )<br/>
                        Девет и повече плодове с типичен размер и форма  (2-цифрен код<sup>2</sup> )<br/>
                        Девети плод сразмери и форма (3-цифрен код<sup>3</sup> )
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>710</td>
                    <td>
                        Десета китка: първи плод с типична форма и големина<sup>2</sup><br/>
                        Десети плод с типична форма и големина<sup>3</sup>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>71.</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>719</td>
                    <td>
                        19 - плод с характерна форма и размер<sup>3</sup><br/>
                        19 - та китка : първи плод с форма и размер<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">
                        <span><sup>2</sup> домати</span><br/>
                        <span><sup>3</sup> пипер и патладжан </span>
                      </td>
                  </tr>
                  <tr>
                      <td class="" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 8:  Зрене на плода и семето</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>801</td>
                    <td>10 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>82</td>
                    <td>802</td>
                    <td>20 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>83</td>
                    <td>803</td>
                    <td>30 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>84</td>
                    <td>804</td>
                    <td>40 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>805</td>
                    <td>50 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>86</td>
                    <td>806</td>
                    <td>60 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>807</td>
                    <td>70 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>88</td>
                    <td>808</td>
                    <td>80 % от плодовете с типичен цвят на зреене</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>809</td>
                    <td>Пълна зрялост<sup>3</sup></td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Фаза на растеж 9: Стареене</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>907</td>
                    <td>Загиване на растението</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>909</td>
                    <td>Прибиране на реколтата</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
