<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >СОЯ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Munger et al., 1997</p>
            <p>
                Фенологични фази на застеж и ВВСН-ключове за тяхната идентификация при соя 
                (<span class="italic">Glycine max</span> L. Merr.)span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 0: Поникване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>000</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>001</td>
                        <td>Начало на набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>003</td>
                        <td>Пълно набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>005</td>
                        <td>От семето се появява първичното коренче</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>006</td>
                        <td>Удължаване на коренчето; образуване на коренови власинки</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>007</td>
                        <td>Хипокотилът и котиледоните пробиват семенната обвивка</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>008</td>
                        <td>Хипокотилът достига повърхността на почвата; вижда се извивката на хипокотила</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>009</td>
                        <td>Поникване: хипокотилът и котиледоните излизат над повърхността на почвата (“разпукване”)</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 1: Развитие на листата (на главното стъбло)</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>100</td>
                        <td>Котиледоните са напълно разтворени</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>101</td>
                        <td>Разтваря се първата двойка същински листа (единични листа на първия възел)</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>102</td>
                        <td>Разтваря се трилистник на 2-ри възел</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>103</td>
                        <td>Разтваря се трилистник на 3-ри възел</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>10</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>109</td>
                        <td>Разтваря се трилистник на 9-ти възел. Не се виждат странични разклонения<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>110</td>
                        <td>Разтваря се трилистник на 10-ти възел<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>111</td>
                        <td>Разтваря се трилистник на 11-ти възел<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>112</td>
                        <td>Разтваря се трилистник на 12-ти възел<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>113</td>
                        <td>Разтваря се трилистник на 13-ти възел<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>11.</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>119</td>
                        <td>Разтваря се трилистник на 19-ти възел<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">
                          <span><sup>1</sup> Развитието на страничните разклонения може да стане по-рано – в такъв случай се продължава с главна фаза на растеж 2</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 2: Образуване на странични разклонения</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>201</td>
                        <td>Вижда се първото странично разклонение</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>202</td>
                        <td>Вижда се второто странично разклонение от първи порядък</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>203</td>
                        <td>Вижда се третото странично разклонение от първи порядък</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>20.</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>209</td>
                        <td>Виждат се 9 или повече странични разклонения от първи порядък двузначният код/ вижда се деветото разклонение от първи порядък</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>210</td>
                        <td>Вижда се десетото странично разклонение от първи порядък</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>221</td>
                        <td>Вижда се първото странично разклонение от втори порядък</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>22.</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>229</td>
                        <td>Вижда се деветото странично разклонение от втори порядък</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2N1</td>
                        <td>Вижда се първото странично разклонение от N-ти порядък</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2N9</td>
                        <td>Вижда се деветото странично разклонение от N-ти порядък</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 4: Развитие на жътвени вегетативни растителни части (по главното стъбло)</td>
                    </tr>
                    <tr>
                        <td>49</td>
                        <td>409</td>
                        <td>Жътвените вегетативни растителни части са достигналиокончателните си размери (жътва на соеви растения за хранителни цели – паша)</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 5: Начало на цъфтеж (по главното стъбло)</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>501</td>
                        <td>Виждат се първите цветни пъпки</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>505</td>
                        <td>Първите цветни пъпки се уголемяват</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>509</td>
                        <td>Виждат се първите венчелистчета; цветните пъпки още са затворени</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 6: Цъфтеж (по главното стъбло)</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>600</td>
                        <td>Разтворени са първите цветове (единично в посева)</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>601</td>
                        <td>Начало на цъфтежа: разтворени са около 10 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Начало на цъфтежа<sup>3</sup></td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>602</td>
                        <td>Разтворени са около 20 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>603</td>
                        <td>Разтворени са около 30 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>604</td>
                        <td>Разтворени са около 40 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>605</td>
                        <td>Масов цъфтеж: разтворени са около 50 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Главен период на цъфтеж<sup>3</sup></td>
                    </tr>
                    <tr>
                        <td>66</td>
                        <td>606</td>
                        <td>Разтворени са около 60 % от цветовете<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>607</td>
                        <td>Прецъфтяване</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>609</td>
                        <td>Край на цъфтежа: виждат се първите шушулки (дължина около 5 mm)</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 7: Развитие на плодовете и семената</td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>700</td>
                        <td>Първа шушулка достига крайна дължина (15-20 mm)</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>701</td>
                        <td>Около 10 % от шушулките са достигнали крайна дължина (15-20 mm)<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>702</td>
                        <td>Около 20 % от шушулките са достигнали крайна дължина (15-20 mm)<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>703</td>
                        <td>Около 30 % от шушулките са достигнали крайна дължина (15-20 mm)<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>704</td>
                        <td>Около 40 % от шушулките са достигнали крайна дължина (15-20 mm)<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>705</td>
                        <td>
                            Около 50 % от шушулките са достигнали крайна дължина (15-20 mm)<sup>2</sup><br/>
                            Продължава наливането на шушулките.<sup>2</sup> Главен период на развитие на шушулките.<br/>
                            Продължава наливането на шушулките<sup>3</sup>
                        </td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>707</td>
                        <td>
                            Около 70 % от шушулките са достигнали крайна дължина (15-20mm);<br/>
                            Напреднало наливане на шушулките.<sup>2</sup> Напреднало наливане на шушулките<sup>3</sup>
                        </td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>709</td>
                        <td>
                            Почти всички шушулки са достигнали крайна дължина (15-20 mm).<br/>
                            Наливане на вътрешността на семената в повечето шушулки<sup>2, 3</sup>
                        </td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">
                          <span><sup>2</sup> Това определение се отнася за определени сортове</span><br/>
                          <span><sup>3</sup> Това определение се отнася за неопределени сортове</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 8: Узряване на плода и семената</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>800</td>
                        <td>Узряване на първа шушулка, бобчетата достигат крайния си цвят и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>801</td>
                        <td>
                            Начало на зреенето; около 10 % от шушулките са узряли, бобчетата 
                            достигат крайния си цвят и са сухи и твърди.<sup>2</sup> Начало на узряването 
                            на шушулките и семената<sup>3</sup>
                        </td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>802</td>
                        <td>Около 20 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>803</td>
                        <td>Около 30 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>804</td>
                        <td>Около 40 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>805</td>
                        <td>
                            Узряването е напреднало; около 50 % от шушулките са узряли; бобчетата 
                            достигат крайния си цвят и са сухи и твърди.<sup>2</sup> Главен период 
                            на зреене на шушулки и семена<sup>3</sup>
                        </td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>806</td>
                        <td>Около 60 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>807</td>
                        <td>Около 70 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>808</td>
                        <td>Около 80 % от шушулките са узряли; бобчетата достигат крайния си цвят и са сухи и твърди<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>809</td>
                        <td>
                            Пълна зрялост: приблизително всички шушулки са узряли; бобчетата 
                            достигат крайния си цвят и са сухи и твърди (= пълна, жътвена зрялост).<sup>2</sup> 
                            Повечето шушулки са узряли; бобчетата достигат крайния си цвят и са 
                            сухи и твърди<sup>3</sup></td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">
                          <span><sup>2</sup> Това определение се отнася за определени сортове</span><br/>
                          <span><sup>3</sup> Това определение се отнася за неопределени сортове</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bottom" colspan="3">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>91</td>
                        <td>901</td>
                        <td>Около 10 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>902</td>
                        <td>Около 20 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>903</td>
                        <td>Около 30 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>94</td>
                        <td>904</td>
                        <td>Около 40 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>905</td>
                        <td>Около 50 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>96</td>
                        <td>906</td>
                        <td>Около 60 % от листата са обезцветени или падат</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>907</td>
                        <td>Надземните части на растенията умират</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>909</td>
                        <td>Реколта (семена)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
