<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЦИТРУСОВИ КУЛТУРИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Agusti et al., 1995</p>
          <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при цитрусовите 
              култури (<span class="italic">Citrus</span> spp. L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна растежна фаза 0: Напъпване / Развитие на пъпките</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Покой: листните и цветните пъпки не са обособени, покрити са със зелени люспи</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на набъбване на цветните пъпки</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Край на набъбване на пъпките: зелените люспи бавно падат</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Начало на разпукване на пъпките</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>Поява на зелено връхче</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Първи обособени листа: зелените люспи бавно окапват</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Развитие на първите листа</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>Масова поява на листа, без да са напълно развити</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Наличие на напълно развити листа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 3: Развитие на леторастите</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>Начало на растеж на леторастите: поява на развитие по оста</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>Леорастите са достигнали 20% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>Леторастите са достигнали 90% от крайната си дължина</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 5: Поява на цъфтеж</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>Набъбване на цветните пъпки: пъпките са затворени</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Разпукване на пъпките: отделяне на люспите, поява на цветния връх</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Поява на цветовете още затворени (зелена пъпка), поява на единични или многоцветни листати или безлистни съцветия</td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>Удължаване на венчелистчетата: пъпките са полуразтворени (бяла пъпка)</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Отворени чашелистчета: виждат се върховете на венчелистчетата (бели или пурпурни) още неразтворени</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>Повечето цветове формират топчица</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Разтворен първи цвят</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: около 10% разцъфнали цветове</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Масов цъфтеж: 50% разцъфнали цветове, окапват първите венчелистчета</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Увяхване на цветовете: повечето венчелистчета окапват</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа: всички венчелистчета са окапали</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 7: Развитие на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Формиране на плод: развитие на плодника</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>Зеленият плод е заобиколен от чашелистчетата</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>Някои плодове бавно пожълтяват: начало на физиологично окапване на плодовете</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>Плодовете са достигнали около 40% от крайния си размер. Тъмнозелени плодове, край на физиологичното окапване</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Плодовете са достигнали около 90% от крайния си размер</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 8: Узряване на плода</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на оцветяването на плода (частично, неравномерно)</td>
                  </tr>
                  <tr>
                    <td>83</td>
                    <td>Беритбена зрелост: плодът все още няма специфичното сортово оцветяване</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Напреднало зреене: засилва се сортовоспецифичното оцветяване</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Консумативна зрелост: типични за сорта вкус и съдържание; начало на стареене и отделяне на плодовете</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 9: Стареене, начало на покой</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>Завършено е развитието на леторастите, листата са наситенозелени</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Начало на окапване на старите листа</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Зимен покой </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
      <div class="image-content-1 image_general"></div>
    </div>
    <!-- Снимки -->
  
</div>
