<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЯГОДИ И МАЛИНИ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЯГОДИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯГОДОВО ХОБОТНИЧЕ <span class="latin_name">Anthonomus rubi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>
                            11 бр.повредени пъпки/кв.м<br/>
                            15% нападнати растения
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯГОДОВ СТЪБЛЕН ХОБОТНИК <span class="latin_name">Rhynchites (Goenorrhinus) germanicus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>преди цъфтеж</td>
                        <td>възрастни</td>
                        <td>4-5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАЯЖИНООБРАЗУВАЩИ ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетационния период</td>
                        <td>ларви-възрастни</td>
                        <td>7-8 бр./лист</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">МАЛИНИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЛИНОВ АГРИЛУС <span class="latin_name">Agrilus (aurichalceus) rubicola</span>
                        </td>
                    </tr>
                    <tr>
                        <td>вегетация</td>
                        <td>възрастни</td>
                        <td>4-5 бр. на 30 стръсквания/кв.м</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
