<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ СЛЪНЧОГЛЕД</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 1/034(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/21(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Валентина Енчева-Василева<br/>
                ст.н.с.II ст. д-р Пепа Шиндерова <br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ СЛЪНЧОГЛЕД*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при слънчотлед.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Бързото нарастване на площите и производството на слънчоглед е продиктувано от увеличената консумация
                на растителни масла в почти всички райони на света за сметка на мазнините от животински произход, от
                високата хранителна стойност и оптималното съчетание на масло-киселинния състав на маслото.
            </p>
            <p >
                Големият интерес на производителите на слънчогледово семе и ускореното разширяване на площите се обуславят
                от икономическата изгода и високата рентабилност на културата. При сравнително високи и стабилни добиви
                от единица площ между полските маслодайни култури производството на слънчогледово семе се поддава на
                пълна механизация с минимални трудови разходи по отношение на културата. Освен за получаване на масло
                слънчогледовите семена са източник и за добиване на кюспе и шрот, ценни високо-белтъчни фуражи за пряко
                изхранване на животните или за приготвяне на пълноценни комбинирани фуражни смески. Семената съдържат
                20-40% протеини, 30-60% масло, в т.ч. 80% линолова киселина. Слънчогледът представлява и полезен източник
                на нектар за пчелите. Основно в нашата страна се отглеждат хибриди слънчоглед. Те са заместили свободно
                опрашващите се сортове поради възможността за увеличаване на добива, устойчивостта спрямо вредители
                (ръжда, мана), еднородността (улесняваща прибирането на реколтата) и самосъвместимостта (намаляваща
                необходимостта от пчели и други насекоми опрашители в процеса на кръстосаното опрашване). Новосъздадените
                хибриди слънчоглед и прилагането на добрата растителнозащитна практика са важен фактор за печелившо
                производство на слънчоглед. Повсеместна практика в стопанствата е третирането на семената с фунгициди
                и инсектициди с цел опазване на младите поници.
            </p>
            <p >
                Слънчогледът лесно се приспособява към отделните почвени типове и разновидности. Съществува схващане,
                че той може да се отглежда на всички почви, на които е възможно реколтирането на есенните житни култури -
                пшеница и ечемик. Реакцията на растенията към механичния състав на почвата е относително еднаква както
                при условията на леките песъчливи, така и при тежките глинести почви. За леките песъчливи почви
                формирането на добива се определя от нивото на торене, а за тежките глинести почви - от излишъка на
                влага в почвата през някои фази от развитието на слънчогледа. Високото съдържание води до прекомерен
                растеж на растенията, забавяне узряването на слънчогледовите пити и увеличаване чувствителността им
                към гъбните патотени. Препоръчват се съответни нива на фосфора и калия. Растенията се развиват най-добре
                при неутрална и слабо кисела реакция на почвата. Почвеното легло на семената трябва да бъде влажно,
                твърдо и свободно от плевели. Сеитбата трябва да бъде извършена непосредствено след последната обработка
                на почвата.
            </p>
            <p >
                Слънчогледът е високо рискова култура по отношение на загуби от болести, насекоми, птици и плевели.
                Това налага спазване на указанията в ДРЗП, базирани на използване праговете на вредност (ако има такива),
                системи за сигнализиране (ако има такива), внимателен мониторинг и комбиниране на различни методи за
                борба с цел поддържане популациите на вредителите под нивата, причиняващи неприемливи щети по отношение
                качеството на реколтата. ДРЗП препоръчва разумно прилагане на химични методи, когато такива се налагат,
                и предлага начини за достигане на максимална ефективност и свеждане до минимум въздействието върху
                организми, които не са обект на контрол (полезни видове), и околната среда. Вредителите по слънчогледа
                не са разпространени равномерно в посева, поради което посевите трябва да бъдат проверявани на няколко
                места. Обикновено един преглед седмично е достатъчен, но броят на проверките трябва да бъде увеличен,
                когато числеността на вредителите бързо нараства или се доближи до прага на икономическа вредност.
                Препоръчва се 5-6-тодишно сеитбообращение (преди на дадена площ отново да бъде засят слънчоглед). Това
                ще спомогне за намаляване популациите на редица икономически важни специализирани болести по слънчогледа.
                Някои патотени нападат и други култури (синап, соя, фасул), които поради тази причина не трябва да бъдат
                включвани в сеитбообращенията на слънчогледа. В борбата срещу плевелите се използват основно два метода:
                културно-стопански и химичен.
            </p>
            <p >
                Слънчогледът трябва да се сее непосредствено след последната обработка на почвата, за да може да се
                постигне бързо поникване на семената и да са по-конкурентноспособни в сравнение с плевелите. Плевелите
                най-често поникват преди културата, особено в условията на хладно време, и борбата срещу тях може да
                бъде изведена чрез брануване, преди поникване на слънчогледа. Механичната борба срещу плевелите след
                поникване на културата се извършва чрез брануване и култивиране.
            </p>
            <p>
                За борба срещу някои плевели се използват химични продукти за растителна защита за предсеитбено третиране
                на семената или за третиране след сеитбата на слънчогледа, но преди поникване на културата.
                Слънчогледът е чувствителен спрямо много от хербицидите, внасяни след поникване и използвани основно
                в съседни посеви (напр. глифозат, дикамба, 2,4 Д и др.).
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

     <!-- Изтегляне на Приложения -->
     <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при слънчогледа са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#plasmopara-halstedii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по слънчогледа - <span class="latin_name">Plasmopara halstedii</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#diaporthe-helianthi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиви петна по слънчогледа, фомопсис - <span class="latin_name">Diaporthe helianthi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Склеротинийно увяхване на слънчотледа - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li
                ><a class="back_link" przAnchorTo target="#leptosphaeria-lindquistii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черни петна по слънчогледа, фома - <span class="latin_name">Leptosphaeria lindquistii</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене на слънчогледа - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-sp" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Алтернариоза по слънчогледа - <span class="latin_name">Alternaria sp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#macrophomina-phaseolina" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Склероцийно гниене - <span class="latin_name">Macrophomina phaseolina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#puccinia-helianthi" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Ръжда по слънчогледа - <span class="latin_name">Puccinia helianthi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhizopus-sp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Сухо гниене по питите на слънчогледа - <span class="latin_name">Rhizopus sp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Телени червеи – <span class="latin_name">сем. Elateridae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tenebrionidae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Лъжетелени червеи – <span class="latin_name">сем. Tenebrionidae, сем. Coleoptera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Сиви червеи – <span class="latin_name">сем. Noctuidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tanymecus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Хоботници - <span class="latin_name">Tanymecus dilaticollis и Tanymecus palliates</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#homoeosoma-nebulella" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Слънчогледов молец - <span class="latin_name">Homoeosoma nebulella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicoverpa-armigera" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка - <span class="latin_name">Helicoverpa armigera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphis evonymi, Rhopalosiphum maidis и Sipha maidis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lygus-pratensis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Растителни дървеници - <span class="latin_name">Lygus pratensis, L.rugulipennis., Adelphocoris lineolatus</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#оrobanche-cumana" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Синя китка - <span class="latin_name">Orobanche cumana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#poultry" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Птици
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#desiccation" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Десикация
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Rob Hille - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=20913735</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Dr. Tom Gulya USDA - http://old.padil.gov.au/pbt/index.php?q=node/13&pbtID=176, Public Domain, https://commons.wikimedia.org/w/index.php?curid=29974240</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Edward L. Barnard, Florida Department of Agriculture and Consumer Services - This image is Image Number 4824040 at Forestry Images, a source for forest health, natural resources and silviculture images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=4313972</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Howard F. Schwartz, Colorado State University - This image is Image Number 5358443 at Forestry Images, a source for forest health, natural resources and silviculture images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=4325530</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>http://www.agroatlas.ru/en/content/weeds/Orobanche_cumana/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Fernando Lisón Martín - This image is uploaded as image number 11606 at Animalandia at Educa Madrid, a source of photographs of animals.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information., GPLv3, https://commons.wikimedia.org/w/index.php?curid=14750798</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Siga - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11319407</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>http://barry.fotopage.ru/gallery/show_image.php?imageid=4507</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By Whitney Cranshaw, Colorado State University, Bugwood.org - This image is Image Number 5422133 at Forestry Images, a source for forest health, natural resources and silviculture images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=14672775</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>Di Pas d’auteur lisible par la machine identifié. Bogdan supposé (étant donné la revendication de droit d’auteur). - Aucune source lisible par la machine fournie. « Travail personnel » supposé (étant donné la revendication de droit d’auteur)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By John Tann from Sydney, Australia - Johnson Grass, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=38234408</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

