<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ НА ОТКРИТО</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ КАРТОФИТЕ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/044(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/2(2)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                н.с.I ст. д-р Ваньо Иванов<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ КАРТОФИ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при картофи.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Това ръководство за добра растителнозащитна практика се отнася за картофи полско
                производство, предназначени за консумация и преработка. ДРЗП при картофите за
                семепроизводство е строго специфична и не е включена тук. Ръководството съдържа методи за
                борба с икономически важни болести, неприятели и плевели. Качеството на посадъчния материал
                има най-съществено значение при отглеждането на картофи. Той трябва да е придружен от
                сертификат, удостоверяващ, че произхожда от семепроизводни площи, незаразени с вирусни и
                бактериални болести, от цистообразуващи нематоди, и отговаря на определени стандарти за
                толерантност спрямо други вредители. Площите за отглеждане на картофи трябва да бъдат
                обследвани за наличието на почвени неприятели, нематоди и почвени патогени, които се
                запазват в почвата. Ако няма чисти площи от тези болести и неприятели, то преди засаждане на
                картофите трябва да се извърши третиране на почвата с подходящ препарат. Преди засаждане се
                провежда и третиране с хербициди. Третирането на почвата може да се извършва с гранулирани
                продукти за растителна защита или течни формулации. През вегетацията също може да се наложи
                третиране на растенията срещу вредители, появили се над критичната плътност, степен на
                заразеност и заплевеленост.
            </p>
            <p >
                Прибирането на картофите трябва да става навреме, растителните остатъци да се унищожават, след
                което да се извърши дълбока оран. С тези мероприятия се унищожава част от вредителите и се
                намалява опасността за следващия вегетационен период. Спазването на четиригодишно
                сеитбообращение, както и редовното унищожаване на плевелите имат значение за опазване на
                картофите от болести и неприятели.
            </p>
            <p >
                Характерна особеност при картофи производството е извършване на десикация на надземните
                части през определена финофаза, без това да се отрази на добива, с цел предпазване от вирусни
                болели и да се намали заразяването на глобените от мана. Преди съхранението на клубените те
                трябва да бъдат третирани с продукти, за растителна защита предпазващи ги от вредители през
                този период, и с продукти, за растителна защита потискащи прорастването.

            </p>
            <p >
                Основните вредители, имащи стопанско значение при отглеждането на картофи полско производство,
                са дадени по-долу.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/5-zelenchuci_otkrito-prilojenie.pdf"
                >
                    * Виж приложение 4
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->


    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при картофите са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-infestans" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по картофите - <span class="latin_name">Phytophthora infestans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-porri" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафяви листни петна - <span class="latin_name">Alternaria porri f. sp. Solani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thanatephorus-cucumeris" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Струпясване, ризоктониоза - <span class="latin_name">Thanatephorus cucumeris</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#storage" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Болести по време на съхранението
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листното завиване по картофите - <span class="latin_name">Potato leaf roll virus - PLRV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ипсилон вирус по картофите - <span class="latin_name">Potato Y potyvirus - PW</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хикс вирус по картофите - <span class="latin_name">Potato X potexvirus - PVX</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        A вирус по картофите - <span class="latin_name">Potato A virus - PVA</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        S вирус по картофите - <span class="latin_name">Potato virus S - PVS</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        М вирус по картофите - <span class="latin_name">Potato virus M</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptinotarsa-decemlineata" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Колорадски бръмбар - <span class="latin_name">Leptinotarsa decemlineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae " title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени червеи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrotis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Подгризващи нощенки - <span class="latin_name">Agrotis ipsilon, A.segetum, A-exclamationis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#globodera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Картофена нематода - <span class="latin_name">Globodera spp</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви - <span class="latin_name">Limacidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15906311</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>http://www.entofito.com/images/2014/02/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By William M. Brown Jr., Bugwood.org - This image is Image Number 5356842 at IPM Images, a source for agricultural and pest management pictures operated by the Center for Invasive Species and Ecosystem Health, Colorado State University, USDA CSREES and the Southern Plant Diagnostic Network., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=16493206</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Jose Luis Cernadas Iglesias - originally posted to Flickr as 336-Menage a trois, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=9493442</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=40008798</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Michael Becker - taken by Michael Becker, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1205664</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Mick Talbot from Lincoln (U.K.), England - Wildflowers - Hemlock - Conium maculatum, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=20583724</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By John Tann from Sydney, Australia - Johnson Grass, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=38234408</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

