<article>
  <div class="h1-wrap">
    <hr class="h1-line-top">
      <h1>
        Европейски регламенти, закони и наредби в земеделието и използването на продукти за
        растителна защита (ПРЗ) в България.
      </h1>
      <hr class="h1-underline">
  </div>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" color="primary">
    <mat-tab>
      <ng-template mat-tab-label class="label-0" >
        <img class="image" alt="bulgarian flag"
          src="../../assets/img/bulgaria-flag-waving-icon-64.png"
        >&nbsp;&nbsp;
        <span class="text">БЪЛГАРСКО</span>
      </ng-template>
      <ol class="bg-rounded-list">
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/ZAKON_za_zashtita_na_rasteniqta.pdf"
            >
            Закон за защита на растенията (Обн. ДВ. бр.61 от 25 Юли 2014г., посл. изм. и доп. ДВ. бр.65 от 21 Юли 2020 г., в сила от 21.07.2020 г.) (19.8.2020г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/НАРЕДБА_19_БИ.pdf"
            >
            Наредба № 19 от 8 ноември 2016 година за Биологично изпитване на продукти за
            растителна защита (обн., ДВ, бр. 90 от 15.11.2016 г., в сила от 15.11.2016 г.)
            (17.11.2016г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_етикетиране.pdf"
            >
              <span class="span_in_a">
                Наредба за условията и реда за етикетиране на продукти за растителна
                защита (обн., ДВ, бр. 54 от 13.06.2003 г., в сила от 01.01.2004 г., изм.
                и доп., бр. 17 от 24.02.2006 г.) (3.11.2014г.)
              </span>
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_за_складовата_база_др.pdf"
            >
              <span class="span_in_a">
                Наредба за изискванията към складовата база, транспортирането и
                съхранението на продукти за растителна защита (обн., ДВ, бр. 101 от
                15.12.2006 г., изм. и доп., бр. 2 от 9.01.2009 г., изм., бр. 45 от 16.06.2009 г., бр. 7 от 21.01.2011 г.) (23.1.2017г.)
              </span>
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_за_утайките.pdf"
            >
            Наредба за реда и начина за оползотворяване на утайки от пречистването на
            отпадъчни води чрез употребата им в земеделието (Приета с ПРЗ № 201 от
            04.08.2016 г., обн. ДВ.бр. 63 от 12 август 2016 г.) (14.10.2016г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_за_опазване_на_водите.pdf"
            >
            Наредба № 2 от 13 септември 2007 г. за опазване на водите от замърсяване
            с нитрати от земеделски източници (обн., ДВ, бр. 27 от 11.03.2008 г., в
            сила от 11.03.2008 г., изм. и доп., бр. 97 от 9.12.2011 г.) (23.1.2017г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_3.pdf"
            >
            Наредба № 3 от 31.07.2017 г. за условията и реда за производство, пускане на
            пазара, търговия, преопаковане, транспортиране и съхранение на продукти за
            растителна защита (13.12.2017г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_11.pdf"
            >
            Наредба № 11 от 12.04.1995 г. за санитарно-хигиенните изисквания към
            устройството и работата на селскостопанските аптеки (обн., ДВ, бр. 37 от
            21.04.1995 г., изм. и доп., бр. 54 от 15.06.1999 г., в сила от 15.07.1999 г.,
            бр. 34 от 3.04.2002 г.) (3.11.2014г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_13_пчели.pdf"
            >
            Наредба № 13 от 26 август 2016 г. за мерките за опазването на пчелите и
            пчелните семейства от отравяне и начините за провеждане на растителнозащитни,
            дезинфекционни и дезинсекционни дейности (обн., ДВ, бр. 70 от 9.09.2016 г.)
            (14.10.2016г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_15.pdf"
            >
            Наредба № 15 от 3 август 2007 г. за условията и реда за интегрирано
            производство на растения и растителни продукти и тяхното означаване
            (обн., ДВ, бр. 66 от 14.08.2007 г., в сила от 15.02.2008 г.) (3.11.2014г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_21.pdf"
            >
            Наредба № 21 от 23 ноември 2016 г. за условията и реда за регистрация,
            етикетирането и контрола на торове, подобрители на почвата, биологични
            вещества и субстрати. (24.1.2017г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_104.pdf"
            >
            Наредба № 104 от 22 Август 2006 г. за контрол върху предлагането на пазара и
            употребата на продукти за растителна защита (обн., ДВ, бр. 81 от 6.10.2006 г.,
            в сила от 6.10.2006 г.) (3.11.2014г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_112.pdf"
            >
            Наредба № 112 от 13 октомври 2006 г. за специфичните изисквания при извършване
            на фумигация и обеззаразяване на площи, помещения и растителна продукция
            срещу вредители (обн., ДВ, бр. 87 от 27.10.2006 г.) (3.11.2014г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Наредба_№_16.pdf"
            >
            Наредба № 16 от 28 май 2010г. за изискванията за качество и контрол за
            съответствие на пресни плодове и зеленчуци (11.4.2017г.)
            </a>
          </span>
        </li>
      </ol>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label >
        <img class="image" alt="european flag"
          src="../../assets/img/europe-flag-waving-icon-64.png"
        >&nbsp;&nbsp;
        <span class="text">ЕВРОПЕЙСКО</span>
      </ng-template>
      <ol class="rounded-list" style="min-height: 800px;">
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/IPPC.pdf"
            >
            МЕЖДУНАРОДНА КОНВЕНЦИЯ ПО РАСТИТЕЛНА ЗАЩИТА (3.11.2014г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/ДИРЕКТИВА_ЗА_ИЗПЪЛНЕНИЕ_2020_177.pdf"
            >
            ДИРЕКТИВА ЗА ИЗПЪЛНЕНИЕ (ЕС) 2020/177 НА КОМИСИЯТА от 11 февруари 2020 година (14.2.2020г.)
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Регламент_1107_2009.pdf"
            >
              <span class="span_in_a">
                Регламент на (ЕО) № 1107/2009 г. на Европейския парламент и на Съвета от 21
                октомври 2009 година относно пускането на пазара на продукти за растителна
                защита и за отмяна на директиви 79/117/ЕИО и 91/414/ЕИО на Съвета. (20.10.2016г.)
              </span>
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Регламент_547_2011.pdf"
            >
              <span class="span_in_a">
                РЕГЛАМЕНТ (ЕО) № 547/2011 относно изискванията за етикетиране на продукти за
                растителна защита
              </span>
            </a>
          </span>
        </li>
        <li>
          <span class="span_addendum">
            <a  class="href_addendum"
                rel="noopener noreferrer" target="_blank"
                href="../../../../../assets/legislation/Регламент_2003_2003.pdf"
            >
            РЕГЛАМЕНТ (ЕО) № 2003/2003 торовете
            </a>
          </span>
        </li>
      </ol>
    </mat-tab>
  </mat-tab-group>
</article>
<br/><br/>
<!-- src="../../assets/img/europe-flag-button-square-icon-32.png" -->
<!-- <img class="image" alt="european flag"

          srcset = "
          ../../assets/img/europe-flag-button-square-icon-32.png,
          ../../assets/img/europe-flag-button-square-icon-16.png,
          ../../assets/img/europe-flag-button-square-icon-64.png,
          ../../assets/img/europe-flag-button-square-icon-128.png,
          ../../assets/img/europe-flag-button-square-icon-256.png,
          "
          sizes = "50vw"
        >&nbsp;&nbsp; -->
