<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ДОМАТИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/051(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/29(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                проф. д.с.н. Георги Нешев<br/>
                ст.н.с.I ст. д.с.н. Никола Атанасов<br/>
                ст.н.с.II ст. д-р Стойка Машева<br/>
                ст.н.с.II ст. д-р Екатерина Логинова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ДОМАТИ В КУЛТИВАЦИОННИ СЪОРЪЖЕНИЯ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при домати в култивационни съоръжения</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Доматите в България се отглеждат предимно на открито, но една част и в култивационни
                съоръжения. В тях доматите се засаждат в различни срокове и с различна
                продължителност на вегетацията, както следва:
            </p>
            <p class="underline" style="margin: 0; padding: 0">Стъклени оранжерии</p>
            <p >Ранно - <span class="italic">сеитба</span> - 20 - 25 август; <span class="italic">засаждане</span> - 1 - 10 октомври;</p>
            <p >Средноранно - <span class="italic">сеитба</span> - 1 - 10 октомври; <span class="italic">засаждане</span> - 1 - 10 декември;</p>
            <p >Януарско - <span class="italic">сеитба</span> - 1 - 10 ноември; <span class="italic">засаждане</span> - 5 - 15 януари;</p>
            <p >Мартенско - <span class="italic">сеитба</span> - 1 - 10 януари; <span class="italic">засаждане</span> - 5 - 15 март;</p>
            <p >Предкултура - <span class="italic">сеитба</span> - 20 - 25 юни; <span class="italic">засаждане</span> - 1 - 5 август;</p>
            <p >
                В стъклените оранжерии сроковете се определят от наличието на средства за отопление
                и възможността за реализиране на продукцията на изгодни цени.
            </p>
            <p class="underline" style="margin: 0; padding: 0">Пластмасови оранжерии</p>
            <p >Ранно - <span class="italic">сеитба</span> - 15 - 20 януари; <span class="italic">засаждане</span> -25 март - 5 април;</p>
            <p >Средноранно (след разсадно) - <span class="italic">сеитба</span> - 10 - 15 март; <span class="italic">засаждане</span> -10 - 15 май;</p>
            <p >
                Предкултура - <span class="italic">сеитба</span> - 15 -20 юни; <span class="italic">засаждане</span>саждане -20 - 25 юли;
            </p>
            <p >
                В студените месеци /ноември - март / в някои обекти през този период се отглеждат
                междинни култури - спанак, салата, маруля, репички, лук и чесън за зелено, които
                имат някои общи вредители с доматите и представляват сериозен източник за ранни
                зарази.
            </p>
            <p >
                Необходимо е да се поддържат основните фитосанитарни стандарти за профилактика на
                много високо ниво. ДРЗП при доматите предполага също и добро управление на условията
                в оранжерията, защото разпространението на неприятелите може да бъде повлияно в
                голяма степен от общите агротехнически условия. С прилаганите интензивни методи на
                отглеждане сеитбообръщение е почти невъзможно и тези култури са подложени на бързо
                разпространяващи се нападения от вредители. Ротацията на културите се приема за
                основен компонент при отглеждането на доматите на закрито, засягайки както почвените
                условия, така и цикъла на вредните организми. В нашата страна доматите се отглеждат
                за определен период като моно-култура или се редуват с краставици. За препоръчване е
                там, където има възможност, поне за около 2-4 години да се отглеждат култури от
                семейства, различни от <span class="latin_name">сем. Solanaceae</span> в зависимост
                от устойчивостта на сорта към съответните патогени. Когато е възможно, се използват
                устойчиви или малко чувствителни на различни болести сортове.
            </p>
            <p >
                Доматите се отглеждат от разсад, засят в малки саксийки (или патрони) с торф или
                торфени блокчета, и се разсаждат изцяло със субстрата на постоянно място. Указанията
                за различните вредители, дадени по-долу, се отнасят поотделно към препоръчаните
                практики за разсада. Разсадът трябва да бъде отгледан във висококачествен и смесен
                субстрат в изолирани помещения, далеч от култури от
                <span class="latin_name">сем. Solanaceae</span>. Семената трябва да удовлетворяват
                сертификационните стандарти. Трябва да бъдат взети предпазни мерки срещу патогени,
                причиняващи сечене, включително обработка на семената.
            </p>
            <p >
                Третирането на семената срещу вредители по младите растения е ДРЗП, особено ако то
                води до по-малко пръскания. Много е важно да се използва здрав посадъчен материал,
                отглеждан в чиста от болести почва или стерилна култивационна среда. Същото се
                отнася и за използването на чиста от патогени вода, особено когато се използва
                рециклирана такава в комбинация с изкуствена хранителна среда.
            </p>
            <p >
                Доматите в България се отглеждат по традиционната технология в почва, но напоследък
                се увеличава делът и на хидропониката, като се използват контейнери с торф, перлит
                или други минерални субстрати. Тези материали могат да се използват повторно само
                след стерилизация с пара. Инструментите и машините да се почистват след използване.
                Трябва да се избягват повреди по растенията. В края на вегетационния период
                поливната система трябва да се дезинфекцира (например с водороден прекис
                /Н<sub>2</sub>0<sub>2</sub>/) срещу патогени. В празните стъклени оранжерии стъклата
                трябва да се почистят от водорасли и зелен мъх. През зимата може да се екранира за
                ограничаване на разходите за отопление. Рано напролет е необходимо да се махнат
                екраните, за да се избегне излишната влага и загубата на светлина и по такъв начин
                да се предотвратят инфекциите от болести. Поставянето на мрежи на прозорците и
                проветрителите е полезно за предотвратяване влизането на насекоми, като например
                листни въшки, листоминиращи мухи, възрастни форми на листогризещи неприятели и
                белокрилки. Отворите на мрежите трябва да бъдат много малки за да не пропускат
                трипс и други дребни насекоми.
            </p>
            <p >
                Вредителите по доматите трябва да се наблюдават през равни интервали. Програмите за
                пръскане с различни продукти за растителна защита е също ДРЗП, ако определени
                вредители, които могат да бъдат единствено контролирани с продукти за растителна
                защита, са в оранжерията или се очаква да проникнат в нея. Трябва да се използват
                локално установените прагове на вредност. Дозировките трябва да отговарят на
                препоръките на етикета, съобразявайки се с отделните ефекти и възможните
                взаимодействия. Комбинирането на продукти за растителна защита или редуването им
                може да помогне за избягване развитието на устойчивост.
            </p>
            <p >
                ДРЗП е да се използват добре поддържани съоръжения. Приложението на продукти за
                растителна защита се извършва главно чрез пръскане, например с моторни пръскачки,
                или като пространствено третиране, например с малообемни пръскачки или
                мъглообразуващи машини. Малообемните пръскачки имат предимството, че се нагласяват
                автоматично, така че се намалява опасността от контакт на персонала с препарата.
                Внасянето на продукти за растителна защита чрез системите за капково напояване е
                също ДРЗП. Приложението на растителнозащитни продукти чрез оросителите или чрез
                прашене може да доведе до намаляване на ефикасността поради неравномерно отлагане.
                В оранжериите е особено важно да се съблюдават правилата за безопасност за
                работниците, прилагащи тези растителнозащитни продукти, влизащи след пръскане и
                докосващи пръсканите растения. Трябва да се съблюдава всеки интервал за влизане
                след пръскане (ИВП) и интервалът до беритбите (ИБ), посочени на етикета. Когато се
                използват продукти за растителна защита, особено за пространствено третиране,
                проветрителите и вратите трябва да бъдат добре затворени, за да се избягнат емисии в
                околната среда. Отпадната вода трябва безопасно да се отстранява.
            </p>
            <p >
                Стерилизацията на почвата е обикновена практика за борба с вредителите при
                оранжерийните домати. За тази цел като ДРЗП се счита използването на пропарване или
                соларизация на почвата. Не се счита за ДРЗП системното използване на почвени
                стерилизанти. По-добре е тези третирания да се ограничат само в случаите, където
                това е крайно необходимо. В южните страни, а също и в България, почвената соларизация
                е ефикасен метод за борба с почвените растителни патогени, нематоди и някои плевелни
                видове. Соларизацията е хидротермичен процес на загряване на влажната почва чрез
                покриването й с прозрачно пластмасово фолио поне за 40 дни през най-горещото време.
                Почвата трябва предварително да се обработи и полее обилно, с цел да се улесни
                по-добрият пренос на топлина и се повиши чувствителността на патогените към топлината.
                Тънкото пластмасово фолио (0.025-0.05 mm) повишава ефикасността и намалява разходите
                в същото време. Соларизацията се проявява най-добре, ако се прилага в затворени
                стъклени или пластмасови оранжерии или тунели. В съчетание с други методи (фумигация
                с намалени дозировки, биологичен метод за борба, органични добавки т.н.) може да
                повиши ефикасността и намали периода за експозиция. Този метод е ефикасен при борба с
                инфекции, причинени от почвени патогени като
                <span class="latin_name">Pyrenochaeta lycopersici, Didymella lycopecsici,
                    Verticillium dahliae, Fusarium oxysporum f.sp. radicis-lycopersici</span>.
            </p>
            <p >
                Биологичната борба, като част от програмата за интегрирана борба с вредителите, се
                превръща в обикновена практика при производството на домати в оранжерии. Ако се
                прилагат биоагенти и е необходимо да се използват продукти за растителна защита,
                при избора трябва да се има предвид страничното им действие и времето на приложение.
                Ако въпреки всичко трябва да се използват продукти за растителна защита с вредно
                въздействие върху биоагентите, пръскането само на част от културата може да бъде
                решение за избягване на тоталното сриване на системата за биологична борба.
                Използването на медоносни и земни пчели (т.нар. бомбуси) за опрашване на доматите
                е обикновена практика при оранжерийното производство, така че трябва да се внимава,
                когато се използват растителнозащитни продукти. Може да се наложи кошерите да
                бъдат отстранени от оранжерията или покрити за определено време в зависимост от
                продукта. Биологичната борба с почвените гъби се извежда с
                <span class="latin_name">Trichoderma spp.</span> или
                <span class="latin_name">Streptomyces griseoviridis</span>.
            </p>
            <p >
                За пластмасовите тунели или оранжерии е важен изборът на подходящо пластмасово
                фолио. Добри резултати са получени при използването на фотоселективно фолио, което
                може да понижи нападението от вредители.
            </p>
            <p >
                Един от основните лимитиращи фактори за успешното отглеждане на домати в
                култивационни съоръжения е заразяването с вируси. Транспортирането на растенията до
                мястото за разсаждане трябва да се извършва при подходящи условия, като се използват
                покривни материали, за да се избегне заразяването им. Култивационните съоръжения
                трябва да имат екрани, двойни врати и ограничен достъп на персонала. Особено
                внимание да се обърне на борбата с плевелите в и около пластмасовите и
                стоманено-стъклените оранжерии, тъй като те могат да бъдат резервоар за много
                болести (включително вирусни), а също и източник на плевелни семена. Растенията
                трябва редовно да се проверяват за откриване на симптоми на вирусни заболявания, а
                заразените незабавно да се отстраняват. Добра практика е използването на жълти
                уловки за следене броя на белокрилката, листните въшки, трипсовете, листоминиращите
                мухи.
            </p>
            <p >
                Основните вредители по доматите в култивационни съоръжения, застъпени в това
                ръководство, са посочени в табл. 1
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по домати, отглеждани в култиваиионни съоръжения, са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pythium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кореново гниене и сечене - <span class="latin_name">Pythium spp., Thanatephorus cucumeris (Rhizoctonia solani), Thielaviopsis basicola, Phytophthora cryptogea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-nicotianae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фитофторно гниене - <span class="latin_name">Phytophthora nicotianae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyrenochaeta-lycopersici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вкорковяване на корена (корки-рут) - <span class="latin_name">Pyrenochaeta lycopersici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-solani" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафяви листни петна - <span class="latin_name">Alternaria solani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#septoria-lycopersici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бели листни петна - <span class="latin_name">Septoria lycopersici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно и вертицилийно увяхване - <span class="latin_name">Fusarium oxysporum, Verticillium spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване и кореново гниене - <span class="latin_name">Fusarium oxysporum f. sp. radieis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botryotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене (ботритис) - <span class="latin_name">Botryotinia fuckeliana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-infestans" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Картофена мана - <span class="latin_name">Phytophthora infestans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#levellula" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнести мани - <span class="latin_name">Levellula taurica, Oidium neolycopersici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fulvia-fulva" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листна плесен - <span class="latin_name">Fulvia fulva</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бяло гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#clavibacter-michiganensis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийно изсъхване - <span class="latin_name">Clavibacter michiganensis subsp. michiganensis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#clavibacter-michiganensis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийно струпясване - <span class="latin_name">Pseudomonas syringae pv.tomato</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#clavibacter-michiganensis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериен пригор - <span class="latin_name">Xanthomonas vesicatoria</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#clavibacter-michiganensis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийно увяхване - <span class="latin_name">Ralstonia solanacearum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вируси
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Белокрилки (оранжерийна, тютюнева) - <span class="latin_name">Trialeurodes vaporariorum, Bemisia tabaci*</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#liriomyza" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листоминиращи мухи - <span class="latin_name">Liriomyza spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Трипс (калифорнийски, тютюнев) - <span class="latin_name">Frankliniella occidentalis, Thrips tabaci</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acarina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Акари - <span class="latin_name">Acarina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди - <span class="latin_name">Meloidogyne spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки и други пеперуди - <span class="latin_name">Lepidoptera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#empoasca-decipiens" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Цикадки - <span class="latin_name">Empoasca decipiens, Hauptidia maroccana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Hanna Friberg (SLU) - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=51047855</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Scot Nelson from Honolulu, Hawaii, USA - tomato_late_blight_fruit_cluster, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=39933493</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=228293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=39889</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By AfroBrazilian - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27497326</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Frank Peairs, Colorado State University, Bugwood.org - This image is Image Number 5364132 at Invasive.org, a source for images of invasive and exotic species operated by The Bugwood Network at the University of Georgia and the USDA APHIS Plant Protection and Quarantine program., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11272182</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Gilles San Martin - originally posted to Flickr as Tetranychus urticae with silk threads, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=11208762</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By JMK - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=32997422</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15092756</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

