<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ОРИЗ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Lancashire et al., 1991</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация 
              при ориз (<span class="italic">Oryza sativa L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Пълно набъбване</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Поява на ембрионални коренчета</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Удължаване на ембрионалните коренчета, видими коренови власинки и или странични коренчета</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Поява на колеоптила (при водния ориз тази фаза протича преди фаза 05)</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поява на несъщински лист (все още навит) от върха на колеоптила</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата <sup>1,2</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Несъщинският лист разтворен, върхът на първия истински лист видим</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Разтворен първи лист</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2 листа разтворени</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>3 листа разтворени</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Фазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече разтворени листа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Братене <sup>3</sup></td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Начало на братене: видим първи брат</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Забележими 2 братя </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Забележими 3 братя </td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Стадиите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Видими са максималния брой на братят</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на метлицата или стадий зелен пръстен: хлорофилът се натрупва в тъканта на стъблото, образувайки зелен пръстен.</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Образуване на метлицата: метлицата е с дължина 1-2 мм</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Удължаване на междувъзлието или фаза на съединяване: междувъзлията започват да се удължават, метлицата е повече от 2 мм дълга (в зависимост от сорта)</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Флаговият лист едва видим, все още свит, метлицата се придвижва нагоре</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Фаза на флаговия лист: флаговият лист разтворен, ушичките и лигулата на флаговия лист и предпослдния лист са подредени в права линия</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <span><sup>1</sup> Листа е разтворен, когато е видима лигулата или е видим върха на следващия лист</span><br/>
                          <span><sup>2</sup> Братенето или удължаване на стъблото могат да настъпят по-рано, отколкото фаза 13; в този случай продължете с фаза 21 или 30</span><br/>
                          <span><sup>3</sup> Ако удължаване на стъблото е започнало преди края на братенето, продължете с фаза 30</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Вретенене</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>Ранна фаза на вретенене: горната част на стъблото леко удебелена, влагалището на флаговия лист e около 5 см извън влагалището на предпоследния лист</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>Средна фаза на вретенене: влагалището на флаговия лист е 5-10 см извън влагалището на предпоследния лист </td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>Късна фаза на вретенене: влагалището на флаговия лист издуто, влагалището на флагелния лист повече от 10 извън извън влагалището на предпоследния лист</td>
                    </tr>
                    <tr>
                        <td>47</td>
                        <td>Влагалището на флаговия лист се разтваря</td>
                    </tr>
                    <tr>
                        <td>49</td>
                        <td>Влагалището на фаговия лист е отворено</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Появя на метлицата, изметляване <sup>4</sup></td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Начало на поява на метлицата: върха на съцветието излиза от влагалището</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>20% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>30% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>40% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Средата на изметляването: възела на метлицата все още във влагалището</td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>60% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>57</td>
                        <td>70% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>58</td>
                        <td>80% от метлицата отворена</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Край на изметляването: възелът е на еднакво ниво с ушичките на флаговия лист, прашниците все още не са видими</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж, образуване на прашеца</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтеж: видими прашници на върха на метлицата</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж: видими прашници върху повечето класчета</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа: всички класчета са завършили цъфтежа, но някои дехидрирани прашници могат да останат</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Воднисто съдържание на зърната: първите зърна са достигнали половината на окончателния си размер</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>Ранна млечна зрелост</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Средата на млечна зрелост: зърното е с млечно съдържание</td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>Късна млечна зрелост</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>Ранна восъчна зрелост</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Восъчна зрелост (мека консистенция): съдържанието на зърното е меко, но сухо. Не остава отпечатък от нокътя на палеца, зърната и плевите все още зелени</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Восъчна зрелост (твърда консистенция): съдържанието на зърното е твърдо, остава отпечатък от нокътя на палеца</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрелост: зърното е твърдо, трудно се чупи с нокътя на палеца</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <sup>4</sup> Цъфтежа обикновено започва преди фаза 55; продължава с главна фаза 6
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>Презряване: зърното е много твърдо, не може да се чупи с нокът</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растенията умират и полягат</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибиране на реколтата</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
  
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
