<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО МЕНТА И ЛАВАНДУЛА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">МЕНТА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЕНТОВА НОЩЕНКА <span class="latin_name">Heliothis (Chloridea) peltigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гъсеници ІІ възраст</td>
                        <td>над 25 бр./100 растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЕНТОВА БЪЛХА <span class="latin_name">Longitarsus lycopi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>разлистване</td>
                        <td>възрастни</td>
                        <td>10% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЕНТОВА ЛИСТНА ВЪШКА <span class="latin_name">Aphis affinis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>подвижни форми</td>
                        <td>4-5 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>яйца и подвижни форми</td>
                        <td>4-5 бр./лист</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЛАВАНДУЛА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛАВАНДУЛОВ МОЛЕЦ <span class="latin_name">Sophronia humerella</span>
                        </td>
                    </tr>
                    <tr>
                        <td>разлистване - бутонизация</td>
                        <td>гъсеници</td>
                        <td>5% нападнати растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
