<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >СТАДИИ НА РАСТЕЖ НА ЕДНО И ДВУСЕМЕДЕЛНИ РАСТЕНИЯ</h1>
        <h2 >СИСТЕМА BBCH ЗА КОДИРАНЕ НА ФЕНОФАЗИТЕ НА РАСТЕНИЯТА</h2>
    </div>

    <div class="row" >
        <div class="text-indent">
            <h2 class="text-center">ВЪВЕДЕНИЕ</h2>
            <p>
                Както всички клонове на науката, така и индивидуалните дисциплини на изучаването на
                селскостопанските растения се намират в тясна връзка и взаимодействие помежду си.
                Обменът на открития и идеи и съвместната работа по проекти, предполагат всички
                участници в тази дейност да имат еднакво разбиране по термините, които използват.
                Това изисква в голяма степен стандартизиране на описанията на развитие на растенията
                с цел фенологичната им характеристика и представянето им като кодове.
            </p>
            <p>
                Фенологичните стадии на развитие на растенията намират приложение в селскостопанската
                практика, агрометеорологията и селскостопанското застраховане. Те се използват широко
                и в приложните ботанически изследвания.
            </p>
            <p>
                Целта на тази книга, съдържаща описание на стадиите на растеж и развитие на
                растенията и техните съответстващи кодове е да изпълни до голяма степен тези
                изисквания. От съществено значение е факта, че този труд се издава на четири езика
                и това  допринася за намаляване на езиковите проблеми. По този начин понастоящем се
                обмисля по един ефикасен начин преплитането на научните изследвания, търговията,
                производството и обслужващият сектор.
            </p>
            <p>
                Издаването на тази книга стана възможно благодарение на сътрудничеството на властите
                и управленските структури в селското стопанство и компании от химическата индустрия,
                от една страна, и на изследователския департамент по селско стопанство, от друга.
                Надяваме се, че това плодотворно сътрудничество, при което знанията са били събирани
                многостранно и в продължение на много години, ще допринесе за по-голяма сигурност при
                вземането на решения и ще спомогне за развитието на международното сътрудничество.
            </p>
            <p class="text-indent-off">
                Проф. д-р Ф. Клингауф<br/>
                Президент на Федерален изследователски център за селско и горско стопанство<br/>
                Берлин и Браунсвайг
            </p>
        </div>
    </div>
    <div class="row" >
        <div>
            <p class="bold">Така представените кодове са приети от следните институции:</p>
            <div class="span-indent">
                <span >- German Federal Biological Research Center for Agriculture and Forestry (BBA)</span><br/>
                <span >- German Federal Office of Plant Varieties (BSA)</span><br/>
                <span >- German Agrochemical Association (IVA)</span><br/>
                <span >- Institute for Vegetables and Ornamentals in Grossbeeren/Erfurt, Germany</span>
            </div>

            <br/>
            <p class="bold">Членовете  на BBCH работната  група са:</p>
            <div class="span-indent">
                <span >- H. BLEIHOLDER and FRAU E. WEBER, BASF AG, Landwirtschaftliche Versuchsstation, Carl-Bosh-Srasse 64, D-67117 Limburgerhof</span><br/>
                <span >- C. FELLER, Institut fur Gemuse&Zierpflanzenbau, Theodor-Echtermeyer-Weg 1, D-14979 Grossbeeren</span><br/>
                <span >- M. HESS und H. WICKE, Aventis, D-65926 Frankfurt/mein</span><br/>
                <span >- U. MEIER, Biologishe Bundensanstalt fur Land- und Forstwirtshaft, Messeweg 11/12, D-38104 Braunswieg</span><br/>
                <span >- T. VAN DEN BOOM, Bayer AG, Landwirtschaftszentrum, Monheim, Alfred-Nobel-Strasse 50, D-51368 Leverkusen, Bayerwerk</span><br/>
                <span >- P. D. LANCASHIRE, Beyer plc., Eastern Way, Bury St. Edmunds, Suffolk IP 32 7 AH, UK</span><br/>
                <span >- FRAU l. BUHR, Biologishe Bundesanstalt fur Land- und Forstwirtschaft, Stansdorfer Damm 81, D-14532 Kleinmachnow</span><br/>
                <span >- H. HACK, Industrieverband Agrar (IVA), Theodor-Storm-weg 2, D-51519 Odenthal</span><br/>
                <span >- FRAU R. KLOSE, Bundessortenamt, Osterfelddamm 80, D-30604 Hannover</span><br/>
                <span >- R. STAUSS, Ministerium fur landliche Raume, Landwirtschaft, Ernahrung und Tourismus des Landes Schleswig-Holstein, Dusternbrooker Weg 104, D-24105 Kiel</span>
            </div>
        </div>
    </div>

    <!--Разширена BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <div class="text-center">
                <h2 >Разширена BBCH скала</h2>
            </div>
            <p class="text-indent-off">Hack et.al., 1992</p>
            <p>
                Разширената BBCH скала е система за универсално кодиране на фенологично близки
                стадии в развитието на всички едно- и двусемеделни растителни видове. Тя е резултат
                от съвместната работа между Немски федерален център за биологични изследвания в
                земеделието и горското стопанство, Немската федерална служба за сортове растения,
                Немската агрохимична асоциация и Инстиут за зеленчукови и декорастивни растения в
                Гросбеерен/Ерфурт. Десетичният код, който се разделя на главни и второстепенни фази
                на развитие се основава на добре познатия код за житни растения на ZADOKS (1974), с
                цел избягване на големи промени в този широко използван фенологичен ключ.
            </p>
            <h3 >Основни принципи на скалата</h3>
            <div class="span-indent text-indent-off">
                <p >
                    •   Основната скала формира рамката, в която са развити индивидуалните скали. Тя може да се използва и за тези растителни видове, за които няма на разположение специална скала.
                </p><br/>
                <p >
                    •   На подобните фенологични стадии на различните растителни видове е даден един и същи код.
                </p><br/>
                <p >
                    •   Дадено е описание на всеки код, а на някои важни стадии са дадени и фигури.
                </p><br/>
                <p >
                    •   За описание на фенологичните стадии са използвани ясни и добре познати морфологични характеристики.
                </p><br/>
                <p >
                    •   Само развитието на основното стъбло е взето под внимание, освен където е формулирано по друг начин.
                </p><br/>
                <p >
                    •   Растежните стадии се отнасят към представителни отделни растения в посева (насаждението). Характеристики на посева (насаждението) също могат да бъдат взети под внимание.
                </p><br/>
                <p >
                    •   За определяне на размерите са използвани сравнителни стандарти, свързани с видово и/или сортово специфични основни размери.
                </p><br/>
                <p >
                    •   Второстепенните стадии на растеж от 0 до 8 отговарят на съответните редни числа или проценти. Например стадий 3 може да представя: трети истински лист, трети филиз, трето междувъзлие, 30% от крайната дължина или размер (типичен за съотвения вид и/или сорт) или 30% разтворени цветове.
                </p><br/>
                <p >
                    •   Прибраните продукти или третираните с цел съхранение продукти са с код 99
                </p><br/>
                <p >
                    •   Предсеитбеното третиране се отбелязва с код 00.
                </p>
            </div>
            <h3 >Структура на скалата</h3>
            <p>
                Целият цикъл на растеж и развитие на растенията е разделен на 10 главни, ясно
                разграничаващи се морфологично и във времето фенологични фази. Те са обозначени с
                номера от 0 до 9 (фиг.1а и 1б).  При някои растителни видове някои от фенофазите
                могат да липсват.
            </p>
            <h3 >Главни фази на растеж ( код и описание )</h3>
            <table class="text-indent-off my-table" id="first-table">
                <thead>
                    <tr>
                        <th>Фенофаза</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>Покълване/поникване/формиране на пъпки</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Развитие на листата (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Формиране на страничните стъбла/братене</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Удължаване на стъблото или нарастване на розетката, развитие на главното стъбло</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Развитие на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Поява на цвета (главно стъбло)/ изкласяване</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Цъфтеж (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Зреене на плодовете и узряване на семената</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Стареене, начало на покой</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Ако две или повече фенофази протичат паралелно, това се отбелязва с наклонена черта (например16/29). Ако само една фенофаза трябва да се отбележи, се избира по-късната, която е и морфологично по-ясна (в зависимост от растителния вид).
            </p>
            <p>
                <span class="bold">Второстепенните фенофази</span> се използват когато развитието на растението трябва да бъде по-прецизно описано. За разлика от основните, второстепенните фенофази се отнасят за по-кратки периоди от развитието на растението. Те също са кодирани от 0 до 9. Крайният двуцифрен код се образува от цифрите показващи основната и второстепенна фенофаза.
            </p>
            <p>
                Скалата с двуцифрен код дава възможност да се определят прецизно фенологичните фази
                на повече от растенията.
            </p>
            <p>
                Само при някои растения (като краставица, лук, картоф, домат и др.) е необходимо
                още по-голямо разделяне на фенофазите. За тези случаи има представена скала с
                трицифрен код, която съдържа и така наречените междинни фенофази. Междинните
                фенофази са разположени между основните и второстпенните и позволяват по-детайлно
                описание на развитието на съответните растения (фиг. 1 а и б).
            </p>
            <p>
                BBCH скалата позволява сравнение на индивидуалните кодове само в една основна
                фенофаза: по-голямата цифра на кода показва по-напреднала фаза в развитието на
                растението.
            </p>
            <p>
                По-дълъг период от развитието на растенията може да се обозначи със свързани с тире
                кодове. Така например код 51-69 описва развитието на растението от появата на първия
                цвят до края на цъфтежа. Това дава възможност за компютърен мониторинг на посева.
            </p>
            <p>
                За универсалното кодиране, което обхваща максимален брой растителни видове, е
                необходимо използването на фенологичен критерий, а не на аналогията в протичащите
                биологични процеси. Например поникването от семе и прорастването при вегетативното
                размножаване са класифицирани като една фенофаза – 0, въпреки че протичат различни
                биологични процеси.
            </p>
            <p>
                В случая с BBCH скалите определянето на фенофазите се базира на характеристиките на
                отделни растения. Ако скалите се прилагат за определяне на посев, за да бъде той в
                съответната фенофаза, най-малко 50% от растенията му трябва да са в нея.
            </p>
            <p>
                Големите различия в развитието на различните групи растения трябва да се вземат под
                внимание в основната скала. Този проблем е разрешен с предлагането на няколко
                описания за една и съща фенофаза, като буквата (след кода) показва за коя група
                растения се отнася описанието.
            </p>
            <p class="bold text-indent-off">
                Фиг. 1а и 1б. Жизнен цикъл на растенията като основни и второстепенни фази (а) и  основни, междинни и второстепенни фази (б).
            </p>
            <p class="bold text-indent-off">
                Междинните фази са вмъкнати между основните и второстепенните. Модифицирано по А.Witzenberger
            </p>
        </div>
    </div>
    <!--KRAЙ Разширена BBCH скала-->
    <!--ОБЩА Разширена BBCH скала Таблица-->
    <div class="row">
        <div class="text-indent">
            <div class="text-center line-top">
                <h2 >Обща разширена скала за определяне на фенофазите</h2>
            </div>
            <p class="text-indent-off">Hack et.al., 1992</p>
        </div>
        <p>D = двусемеделни</p>
        <p>M = едносемеделни</p>
        <p>V = развитие от вегетативни или размножителни органи</p>
        <p>G = житни</p>
        <p>P = многогодишни растения</p>
        <p>Когато описанието се отнася за всички групи растения не е изписана кодова буква</p>
        <table class="my-table text-indent-off" id="second-table">
            <thead>
                <tr>
                    <th colspan="2">Код</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="bold line-bottom">
                        Главна фаза на растеж 0: Покълнване, поникване, формиране на пъпки (при вегетативното размножаване)
                    </td>
                </tr>
                <tr>
                    <td>00</td>
                    <td></td>
                    <td>Сухо семе</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P, V</td>
                    <td>Зимен покой или латентен период</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td></td>
                    <td>Начало на набъбване на семето</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P, V</td>
                    <td>Начало на набъбване на пъпките</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td></td>
                    <td>Край на набъбване на семето</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P, V</td>
                    <td>Край на набъбване на пъпките</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td></td>
                    <td>Коренът се появява</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P, V</td>
                    <td>Многогодишните растителни органи формират корени</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td></td>
                    <td>Удължаване на корена, образуване на коренови власинки и странични корени</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>G</td>
                    <td>Колеоптилът се появява от семенната обвивка</td>
                </tr>
                <tr>
                    <td></td>
                    <td>D, M</td>
                    <td>Хипокотилът с котиледоните или стъблото пробиват семенната обвивка</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P, V</td>
                    <td>Начало на поникването или разпукването на пъпките</td>
                </tr>
                <tr>
                    <td>08</td>
                    <td>D</td>
                    <td>Хипокотилът с котиледоните нараства към почвената повърхност</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>P, V</td>
                    <td>Стъблото нараства към почвената повърхност</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>G</td>
                    <td>Поникване: колеоптилът пробива почвената повърхност</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>D, M</td>
                    <td>Поникване: котиледоните пробиват почвената повърхност</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>D, V</td>
                    <td>Поникване: стъблото/листата пробиват почвената повърхност</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P</td>
                    <td>Пъпките показват зелени връхчета</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">Главна фаза на растеж 1: Развитие на листата (главно стъбло)</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>G</td>
                    <td>Поява на първи същински лист от колеоптила</td>
                </tr>
                <tr>
                    <td></td>
                    <td>D, M</td>
                    <td>Котиледоните са напълно разтворени</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P</td>
                    <td>Първите листа са разделени</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td></td>
                    <td>Първият същински лист или двойка листа са разтворени</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P</td>
                    <td>Първите листа са разтворени</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td></td>
                    <td>Два същински листа или две листни двойки са разтворени</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td></td>
                    <td>Три същински листа или три листни двойки са разтворени</td>
                </tr>
                <tr>
                    <td>1...</td>
                    <td></td>
                    <td>Растежа продължава до...</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td></td>
                    <td>Девет или повече същински листа или листни двойки са разтворени</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 2: Формиране на страничните стъбла (братене)
                    </td>
                </tr>
                <tr>
                    <td>21</td>
                    <td></td>
                    <td>Първото странично стъбло е видимо</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Първият брат е видим</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td></td>
                    <td>Второто странично стъбло е видимо</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Вторият брат е видим</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td></td>
                    <td>Третото странично стъбло е видимо</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Третият брат е видим</td>
                </tr>
                <tr>
                    <td>2…</td>
                    <td></td>
                    <td>Растежа продължава до…</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td></td>
                    <td>Деветото или следващо странично стъбло е видимо</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Деветият или следващ брат е видим</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 3: Удължаване на стъблото или нарастване на розетката, развитие на главното стъбло
                    </td>
                </tr>
                <tr>
                    <td>31</td>
                    <td></td>
                    <td>Стъблото (розетката) е достигнало 10% от крайната си дължина (диаметър)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Едно междувъзлие</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td></td>
                    <td>Стъблото (розетката) е достигнало 20% от крайната си дължина (диаметър)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Две междувъзлия</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td></td>
                    <td>Стъблото (розетката) е достигнало 30% от крайната си дължина (диаметър)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Три междувъзлия</td>
                </tr>
                <tr>
                    <td>3…</td>
                    <td></td>
                    <td>Растежа продължава до…</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td></td>
                    <td>Стъблото (розетката) е достигнало крайната си дължина (диаметър)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Девет или повече междувъзлия</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 4: Развитие на подлежащите на прибиране вегетативни части или вегетативни размножителни органи
                    </td>
                </tr>
                <tr>
                    <td>40</td>
                    <td></td>
                    <td>Начало на развитие на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Удължаване влагалището на флагелния лист (начало на вретенене)</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td></td>
                    <td>Достигане на 30% от крайния размер на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Едва видимо подуване на стъблото под флаговия лист</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td></td>
                    <td>Достигане на 50% от крайния размер на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Видимо подуване на стъблото под флаговия лист</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td></td>
                    <td>Достигане на 70% от крайния размер на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Влагалището на флаговия лист е леко разтворено (край на вретенене)</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td></td>
                    <td>Достигане на крайния размер на подлежащите на прибиране вегетативни части или вегетативни размножителни органи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява на първи осили (начало на изкласяване)</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 5: Поява на цвета (главно стъбло)/ Изкласяване
                    </td>
                </tr>
                <tr>
                    <td>51</td>
                    <td></td>
                    <td>Поява на цвета или цветните бутони</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Начало на изкласяване</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td></td>
                    <td>Първите самостоятелни цветове са видими (все още затворени)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява на половината от класа (1/2 изкласяване)</td>
                </tr>
                <tr>
                    <td>59</td>
                    <td></td>
                    <td>Първите венчелистчета са видими</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява на целия клас (пълно изкласяване)</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фазана растеж 6: Цъфтеж (главно стъбло)
                    </td>
                </tr>
                <tr>
                    <td>60</td>
                    <td></td>
                    <td>Първите цветове са разтворени (спорадично)</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td></td>
                    <td>Начало на цъфтежа: 10% от цветовете са разтворени</td>
                </tr>
                <tr>
                    <td>62</td>
                    <td></td>
                    <td>20% от цветовете са разтворени</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td></td>
                    <td>30% от цветовете са разтворени</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td></td>
                    <td>40% от цветовете са разтворени</td>
                </tr>
                <tr>
                    <td>65</td>
                    <td></td>
                    <td>Пълен цъфтеж: 50% от цветовете са разтворени, първите венчелистчета може да са окапали</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td></td>
                    <td>Край на цъфтежа: по-голяма част от венчелистчетата са окапали или сухи</td>
                </tr>
                <tr>
                    <td>69</td>
                    <td></td>
                    <td>Край на цъфтежа: завръзите на плодовете се виждат</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 7: Развитие на плода
                    </td>
                </tr>
                <tr>
                    <td>71</td>
                    <td></td>
                    <td>10% от плодовете са достигнали крайния си размер или плодовете са достигнали 10% от крайния си размер</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Зърната са с воднисто съдържание</td>
                </tr>
                <tr>
                    <td>72</td>
                    <td></td>
                    <td>20% от плодовете са достигнали крайния си размер или плодовете са достигнали 20% от крайния си размер</td>
                </tr>
                <tr>
                    <td>73</td>
                    <td></td>
                    <td>30% от плодовете са достигнали крайния си размер или плодовете са достигнали 30% от крайния си размер</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Начало на млечна зрялост</td>
                </tr>
                <tr>
                    <td>74</td>
                    <td></td>
                    <td>40% от плодовете са достигнали крайния си размер или плодовете са достигнали 40% от крайния си размер</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td></td>
                    <td>50% от плодовете са достигнали крайния си размер или плодовете са достигнали 50% от крайния си размер</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Млечна зрялост</td>
                </tr>
                <tr>
                    <td>76</td>
                    <td></td>
                    <td>60% от плодовете са достигнали крайния си размер или плодовете са достигнали 60% от крайния си размер</td>
                </tr>
                <tr>
                    <td>77</td>
                    <td></td>
                    <td>70% от плодовете са достигнали крайния си размер или плодовете са достигнали 70% от крайния си размер</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Край на млечна зрялост</td>
                </tr>
                <tr>
                    <td>78</td>
                    <td></td>
                    <td>80% от плодовете са достигнали крайния си размер или плодовете са достигнали 80% от крайния си размер</td>
                </tr>
                <tr>
                    <td>79</td>
                    <td></td>
                    <td>Почти всички плодове са достигнали крайния си размер</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 8: Зреене на плодовете и узряване на семената
                    </td>
                </tr>
                <tr>
                    <td>81</td>
                    <td></td>
                    <td>Начало на узряване на плодовете и оцветяването им в характерен цвят</td>
                </tr>
                <tr>
                    <td>85</td>
                    <td></td>
                    <td>Напреднало узряване на плодовете и оцветяване в характерен цвят</td>
                </tr>
                <tr>
                    <td></td>
                    <td>G</td>
                    <td>Восъчна зрялост</td>
                </tr>
                <tr>
                    <td>87</td>
                    <td></td>
                    <td>Плодовете започват да омекват (видовете с месести плодове)</td>
                </tr>
                <tr>
                    <td>89</td>
                    <td></td>
                    <td>Пълна зрялост: плодовете са с характерния си цвят</td>
                </tr>
                <tr>
                    <td colspan="3" class="bold line-bold">
                        Главна фаза на растеж 9: Стареене, начало на покой
                    </td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>P</td>
                    <td>Развитието на стъблото е завършено, листата са все още зелени</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td></td>
                    <td>Начало на опадването на листата</td>
                </tr>
                <tr>
                    <td>95</td>
                    <td></td>
                    <td>50% от листата са окапали</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td></td>
                    <td>Край на опадването на листата</td>
                </tr>
                <tr>
                    <td></td>
                    <td>P</td>
                    <td>Растението е в покой</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td></td>
                    <td>Технологична зрялост на съхраняваните продукти</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- КРАЙ ОБЩА Разширена BBCH скала Таблица-->

    <!-- Снимки -->
    <div class="row image-conainer">
        <img class="image_general" src="../../../../assets/phases/General_sheme_opt.jpg"
        alt="General Sheme" title="Обща схема"/>
    </div>
    <!-- КРАЙ Снимки -->
</div>

<!-- Забележка -->
<br>
<div class="row">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="bold">Забележка от автора на сайта:</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body my_panel-body">
        <p>
          <span class="bold">Общата схема</span> е направена наново и преведена от автора на сйта.<br/>
          Снимка на оригиналната <span class="bold">Обща схема</span> може да видите
          <a class="href_addendum" rel="noopener noreferrer" target="_blank"
            href="../../../../assets/phases/genral_sheme.jpg">
            тук
          </a>.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- КРАЙ Забележка -->

