<section>
  <div class="container">
    <div class="row-header">
      <h1>РЕГИСТЪР НА ПРЗ, РАЗРЕШЕНИ ЗА ПАРАЛЕЛНА ТЪРГОВИЯ В РЕПУБЛИКА БЪЛГАРИЯ</h1>
    </div>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Моля, презаредете страницата отново!
        </div>
      </div>

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="name" matSortDisableClear
        matSortDirection="asc">
        <ng-container matColumnDef="owner">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="header-owner">
            <span class="product-span">Притежател</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p class="firm-name">{{ row.owner }}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="product">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="header-product">
            <span class="product-span">Продукт</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p class="product-name">{{ row.product }}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="substances">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Активно<br />вещество</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p class="cell_in">{{ row.substances | lowercase }}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="referenceProduct">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="header-referenceProduct">
            <span class="product-span">Референтен продукт</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a routerLink="../{{ row.type }}" matTooltip="Към продукта">
              {{ row.referenceProduct }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" class="header-manufacturer">
            <span class="product-span">Производител</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p>{{ row.manufacturer }}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="moreDetails">
          <mat-header-cell *matHeaderCellDef disableClear="true" class="header-moreDetails moreDetails">
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="moreDetails">
            <a mat-mini-fab (click)="openDialog(row)" class="more-info-button" matTooltip="Още информация">
              <i class="material-icons">subject</i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="my-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
</section>