<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ПРАСКОВА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ПРАСКОВА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимни яйца</td>
                        <td>20-30 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            разпукване на пъпките-<br/>
                            поява на листа
                        </td>
                        <td>
                            индивиди на <span class="latin_name">Myzus spp., Brachycaudus spp.</span>
                        </td>
                        <td>2% нападнати пъпки</td>
                    </tr>
                    <tr>
                        <td>индивиди на <span class="latin_name">Hyalopterus spp.</span></td>
                        <td>5% нападнати пъпки</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            образуване на завръзи-<br/>
                            нарастване на плодовете
                        </td>
                        <td>колонии на <span class="latin_name">Myzus spp., Brachycaudus spp.</span></td>
                        <td>5% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>колонии на <span class="latin_name">Hyalopterus spp.</span></td>
                        <td>15% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след цъфтеж до плодообразуване</td>
                        <td rowspan="2">подвижни форми</td>
                        <td>1-2 бр./лист</td>
                    </tr>
                    <tr>
                        <td>
                            при нарастване на плода-<br/>
                            след юнското опадване
                        </td>
                        <td>4-5 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПРАСКОВЕН МОЛЕЦ <span class="latin_name">Anarsia lineatella</span>
                        </td>
                    </tr>
                    <tr>
                        <td>набъбване на пъпките</td>
                        <td>гъсеници</td>
                        <td>3% повредени леторасти</td>
                    </tr>
                    <tr>
                        <td>нарастване на плодовете до беритба</td>
                        <td>гъсеници</td>
                        <td>3% повредени плодове</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ИЗТОЧЕН ПЛОДОВ ЧЕРВЕЙ <span class="latin_name">Cydia molesta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>пеперуди</td>
                        <td>10-15 бр./уловка/седмица</td>
                    </tr>
                    <tr>
                        <td>млади градини</td>
                        <td rowspan="2">гъсеници</td>
                        <td>2-3% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>плододаващи градини</td>
                        <td>
                            5% повредени леторасти или<br/> 
                            2-4% нападнати плодове
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КАЛИФОРНИЙСКА ЩИТОНАСНА ВЪШКА <span class="latin_name">Quadraspidiotus perniciosus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>2% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви</td>
                        <td>
                            10 бр./100 см клонка или<br/>
                            2-3 бр. нападнати плодове
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОГРИЗЕЩИ ГЪСЕНИЦИ <span class="latin_name">сем. Geometridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>набъбване на пъпките</td>
                        <td>гъсеници</td>
                        <td>4-6 бр./100 цветни пъпки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОСТИЛКОПЛОДОВА ЛИСТНА ОСА <span class="latin_name">Neurotoma nemoralis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            до нарастване на плода
                        </td>
                        <td>гъсеници</td>
                        <td>10% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЪХНАТ БРЪМБАР <span class="latin_name">Tropinota (Epicometis) hirta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>5-7 бр./100 розетки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРНИЧЕВА ЩИТОНОСНА ВЪШКА <span class="latin_name">Pseudaulacspis pentagona</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви</td>
                        <td>10-20 бр./100 см клонка</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ <span class="latin_name">сем. Tortricidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>3-5 бр. яйчни купчинки/дърво</td>
                    </tr>
                    <tr>
                        <td>разпукване на пъпки</td>
                        <td>гъсеници</td>
                        <td>8-10 бр./100 пъпки/розетки</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>гъсеници</td>
                        <td>12-15 бр./100 стръсквания</td>
                    </tr>
                    <tr>
                        <td>нарастване на плодовете</td>
                        <td>гъсеници</td>
                        <td>1-2 бр./100 плода</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
