<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >РАПИЦА</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Weber and Bleiholder, 1990; Lancashire et al., 1991</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при рапица
              (<span class="italic">Brassica napus</span> L.)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж О: Покълване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Започване на набъбване</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Пълно набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Показване на първичния корен от ембриото</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Показване на хипокотила с котиледоните от семето</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Показване на хипокотила с котиледоните на почвената повърхност</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: показване на котиледоните на почвената повърхност</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Напълно оформени котиледони</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Разтворен първи лист</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Разтворен втори лист</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Разтворен трети лист</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Феофазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече листа оформени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Оформяне на страничните разклонения</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Няма странични разклонения</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Начало на формиране на страничните разклонения: видимо първото разклонение</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Видимо второто разклонение</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Видимо третото разклонение</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Фенофазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Край на образуване на страничните разклонения: 9 или повече разклонения</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Нарастване на стъблото<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на нарастване на стъблото: няма междувъзлия</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Видимо нарастване на първо междувъзлие</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Видимо нарастване на второ междувъзлие</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Видимо нарастване на трето междувъзлие</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Фенофазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>9 или повече оформени междувъзлия</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Бутонизация</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>Наличие на цветни пъпке (бутони), още обвити с листа</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>5Отгоре видими цветните пъпки (“зелен бутон”)</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>5Цветните пъпки свобони, на нивото на най-младите листа</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>Цветните пъпки израстнали над най-младите листа</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>Видимо оформени единични цветни пъпки, но още затворени (основно цветообразуване)</td>
                    </tr>
                    <tr>
                        <td>57</td>
                        <td>Видимо оформени единични цветни пъпки, но още затворени (вторично цветообразуване)</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Видими първите венчелистчета, цветните пъпки още затворени (“жълт бутон”)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Отворени първите цветове</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>10% от цветовете на главния цетонос отворени, нарастване на главния цветонос</td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>20% от цветовете на главния цетонос отворени</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>30% от цветовете на главния цетонос отворени</td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>40% от цветовете на главния цетонос отворени</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж: 50% от цетовете на главния цветонос отворени, окапване на старите венчелистчета</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Прецъфтяване: по-голяма част от венчелистчетата окапали</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цефтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Образуване на плодовете</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>10% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>20% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>30% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>40% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>50% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>60% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>70% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>78</td>
                        <td>80% от шушулките са оформени</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Почти всички шушулки са оформени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>Започване на узряване: зелени семена, чувство за празни шушулки</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>10% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>20% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>30% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>40% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>50% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>60% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>70% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>80% от шушулките узрели, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълно узряване: почти всички шушулки узряле, семената тъмни и твърди</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Остаряване</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растенията изсъхнали</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибиране на реколтата (жътва)</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <span><sup>1</sup> Удължаването на стъблото може да стане по-рано от фенофаза 19: в този случай продължава до фенофаза 20</span><br/>
                          <span><sup>2</sup> Видимо оформени междувъзлия n развити между лист n и лист n + 1</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>