<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ОВОЩНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ КОСТИЛКОВИ ОВОЩНИ ВИДОВЕ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/080(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/33(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                проф. д.с.н. Иванка Лечева<br/>
                ст.н.с.I ст. д.с.н. Петър Петров<br/>
                доц. д-р Марияна Накова<br/>
                ст.н.с.II ст. д-р Мария Боровинова<br/>
                ст.н.с.II ст. д-р Ньонка Велчева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Люляна Иванова<br/>
                ст.н.с.II ст. д-р Венера Тасева<br/>
                доц. д-р Щиляна Калинова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Маргарита Ценова - НСРЗ<br/>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ КОСТИЛКОВИ ОВОЩНИ ВИДОВЕ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на добрата растителнозащитна практика при костилковите
                овощни видове( слива, череша, вишна,  праскова и кайсия)</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Костилковите овощни видове - слива, череша, вишна, праскова и кайсия, се нападат от голям
                брой вредители, които водят, от една страна, до намаляване на добивите, а от друга - до
                силно влошаване качеството на продукцията. Добрата растителнозащитна практика има за цел
                да сведе до минимум загубите от вредители по тези култури. ДРЗП налага да се вземат под
                внимание задължително регистрираните продукти към настоящия момент, условията, при които
                се отглежда културата, и спектърът от основните болести, неприятели и плевели по
                съответната култура. При вземане на конкретни решения особено важен момент е изборът на
                активни вещества и формулации, дози, брой на приложенията, техниката (оборудване) и метод
                на прилагане.
            </p>
            <p>
                Използването на подходяща техника за приложението на ПРЗ продукти е от съществено значение
                при костилковите овощни видове. Добрата растителнозащитна практика изисква да се намали
                до минимум нежеланото разпръскване на продукти за растителна защита чрез употреба на
                подходящи дюзи и съоръжения, които да извършват добро третиране с еднороден спектър на
                разпръскващите се капчици.
            </p>
            <p>
                Срокът за извършване на третиранията е от особено значение. На базата на фенологичното
                развитие на културата, фенологията на неприятелите и точната прогноза и сигнализация може
                да се проведе комплексна борба през отделните фенофази, с което се намалява броят на
                третиранията.
            </p>
            <p>
                Изключително важно е да се съблюдават моментите за третиране и с кои вредни насекоми се
                води борба.
            </p>
            <p>
                • Третирания по време на зимен покой (зимни третирания) срещу: листни въшки, щитоносни
                въшки, листогризещи гъсеници, акари;
            </p>
            <p>
                • Третирания от фенофаза „набъбване на пъпките“ до фенофаза „цъфтеж“ (предцъфтежно
                третиране) срещу: листни въшки, листогризещи гъсеници, листозавивачки, листни оси, плодови
                оси, костилкоплодова листна оса, сливова щитоносна въшка, прасковен клонков молец;

            </p>
            <p>
                • Третиране след фенофаза „цъфтеж“ (следцъфтежно третиране): листни въшки, щитоносни въшки,
                листозавивачки, листоминиращи молци, плодови оси, листогризещи гъсеници;
            </p>
            <p>
                • Пръскания през лятото (летни третирания) срещу: плодови червеи, листозавивачки, щитоносни въшки.
            </p>
            <p>
                При ДРЗП първата преценка, която трябва да бъде направена, е дали е необходимо да се
                използва продукт за растителна защита. В случаите, когато има ефективна и икономически
                изгодна алтернатива в конкретна ситуация, могат да се избегнат продуктите за РЗ! Ако обаче
                е наложителна употребата на ПРЗ, е необходимо да се избират:
            </p>
            <p>
                • продукти, които имат по-малко странични ефекти (относително неперсистентни продукти),
                по-безопасни за околната среда;
            </p>
            <p>
                • селективни продукти пред широкоспектърни;
            </p>
            <p>
                • продукти с по-нисък риск за изграждане на устойчивост;
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/7-ovostni-prilojenie.pdf"
                >
                    * Виж приложение 6
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Общи вредители по костилковите овощни видове:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#monilia-laxa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ранно кафяво гниене - <span class="latin_name">Monilia laxa (Aderh. And Ruhl.) Honey.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#monilia-fructigena" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Късно кафяво гниене - <span class="latin_name">Monilia fructigena (Peroson) Shroter</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#stigmina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гъбна сачмянка по костилковите овощни видове - <span class="latin_name">Stigmina carpophila (Syn. Coryneum beyerinskii Oudem, Corineum carpophilum Fauch., Clasterosporium carpophilum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериен пригор - <span class="latin_name">Pseudomonas syringae p.v. syringae.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhizobium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериален рак по овощните - <span class="latin_name">Rhizobium radiobacter syn. Agrobacterium tumefaciens.</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Листни въшки</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brachycaudus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голяма сливова листна въшка - <span class="latin_name">Brachycaudus cardui L.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brachycaudus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Прашеста прасковена листна въшка - <span class="latin_name">Hyalopterus amygdali</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brachycaudus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Прашеста сливова листна въшка - <span class="latin_name">Hyalopterus pruni</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Щитоносни въшки</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#quadraspidiotus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сливова стридоподобна щитоносна въшка - <span class="latin_name">Quadraspidiotus marani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#quadraspidiotus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта стридоподобна щитоносна въшка - <span class="latin_name">Quadraspidiotus pyri</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#quadraspidiotus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сферична щитоносна въшка - <span class="latin_name">Sphaerolecanium prunastri</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#quadraspidiotus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червена стридоподобна щитоносна въшка - <span class="latin_name">Epidiaspis leperii</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#quadraspidiotus-perniciosus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Калифорнийска щитоносна въшка - <span class="latin_name">Quadraspidiotus perniciosus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#parlatoria-oleae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лъжекалифорнийска щитоносна въшка - <span class="latin_name">Quadraspidiotus ostraeformis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#parlatoria-oleae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Виолетова щитоносна въшка - <span class="latin_name">Parlatoria oleae</span>
                    </a>
                </li>
                <li>
                    <span class="bold">Корояди</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#scolytus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малък бръчков беловинояд - <span class="latin_name">Scolytus rugulosus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#scolytus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голям бръчков беловинояд - <span class="latin_name">Scolytus mali</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#xileborus-dispar" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нечифтен дървесинояд – <span class="latin_name">Xileborus dispar</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Листороги бръмбари</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#epicometis-hirta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мъхнат бръмбар - <span class="latin_name">Epicometis hirta</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Бронзовки</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#capnodis-tenebrionis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черна златка - <span class="latin_name">Capnodis tenebrionis</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Многоядни листогризещи гъсеници</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гъботворка - <span class="latin_name">Lymantria dispar</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Златозадка - <span class="latin_name">Euproctis chrysorrhoea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пръстенотворка - <span class="latin_name">Malacosoma neustria</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малка зимна педомерка – <span class="latin_name">Operophtera brumata</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Листозавивачки</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плодова корогризачка – <span class="latin_name">Adoxophyes orana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сива пъпкозавивачка - <span class="latin_name">Hedya nubiferana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафявоивичеста листозавивачка - <span class="latin_name">Pandemis heparana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Глогова листозавивачка - <span class="latin_name">Archips crataegana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Розена листозавивачка - <span class="latin_name">Archips rosana</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Листни оси</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#neurotoma" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вишнева листна оса - <span class="latin_name">Caliroa cerasi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#neurotoma" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Костилкоплодова листна оса - <span class="latin_name">Neurotoma nemoalis</span>
                    </a>
                </li>

                <li>
                    <span class="bold">Акари</span>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychoidea " title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червен овощен акар - <span class="latin_name">Panonychus ulmi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychoidea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен паяжинообразуващ акар - <span class="latin_name">Tetranychus urticae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychoidea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ериофидни акари - <span class="latin_name">Aculus focueui</span>
                    </a>
                </li>
            </ul>

            <h3 >ВРЕДИТЕЛИ ПО СЛИВАТА</h3>
            <ul id="menu_b">
                <li>
                    <a class="back_link" przAnchorTo target="#parthenolecanium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена сливова щитоносна въшка - <span class="latin_name">Parthenolecanium corni</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grapholitha" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сливов плодов червей - <span class="latin_name">Grapholitha funebrana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#hoplocampa-minuta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черна сливова плодова оса - <span class="latin_name">Hoplocampa minuta</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#schizotetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълт сливов акар - <span class="latin_name">Schizotetranychus prunicola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aceria-phloeocoptes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Галообразуващ сливов акар - <span class="latin_name">Aceria phloeocoptes</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#polystigma-rubrum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червени листни петна по сливата - <span class="latin_name">Polystigma rubrum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tranzschelia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда по сливата - <span class="latin_name">Tranzschelia pruni - spinosae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses-a" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed-a" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

            <h3 >ВРЕДИТЕЛИ ПО ЧЕРЕША И ВИШНА</h3>
            <ul id="menu_c">
                <li>
                    <a class="back_link" przAnchorTo target="#myzus-cerasi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черна черешова листна въшка - <span class="latin_name">Myzus cerasi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ragoletis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черешова муха - <span class="latin_name">Ragoletis cerasi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhynchites-auratus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вишнев (черешов) хоботник - <span class="latin_name">Rhynchites auratus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#blumeriella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Цилиндроспориоза - „Бяла ръжда“ по черешата и вишнята - <span class="latin_name">Blumeriella jaapii (syn. Coccomyces hiemalis)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses-b" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed-b" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

            <h3 >ВРЕДИТЕЛИ ПО ПРАСКОВАТА И КАЙСИЯТА</h3>
            <ul id="menu_d">
                <li>
                    <a class="back_link" przAnchorTo target="#anarsia-lineatella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Прасковен молец - <span class="latin_name">Anarsia lineatella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grapholitha-molesta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Източен плодов червей - <span class="latin_name">Grapholitha molesta</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#myzodes-persicae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Прасковена листна въшка - <span class="latin_name">Myzodes persicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudaulacaspis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черничева щитоносна въшка - <span class="latin_name">Pseudaulacaspis pentagona</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#orgyia-antiqua" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Зарзалова вълнарка - <span class="latin_name">Orgyia antiqua</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phyllobius" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен овощен листогризач - <span class="latin_name">Phyllobius oblongus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phyllobius" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пъпков хоботник - <span class="latin_name">Sciaphobus squalidus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhynchites-bacchus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ябълков златист хоботник - <span class="latin_name">Rhynchites bacchus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhynchites-bacchus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черешов (вишнев) хоботник - <span class="latin_name">Rhynchites auratus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhynchites-bacchus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червенокрил плодов хоботник - <span class="latin_name">Rhynchites aequatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses-praskova" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Шарка вирус по прасковата
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#taphrina-deformans" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Къдравост по прасковата - <span class="latin_name">Taphrina deformans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sphaerotheca-pannosa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана по прасковата - <span class="latin_name">Sphaerotheca pannosa /Wallroth/Leveille var. persica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusicladium-amygdali" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Струпясване по прасковата - <span class="latin_name">Fusicladium amygdali</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gnomonia-erythrostoma" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гномониоза по кайсията - <span class="latin_name">Gnomonia erythrostoma</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-tenuissima" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Алтернарийна болест по кайсията - <span class="latin_name">Alternaria tenuissima</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#apoplecsia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Преждевременно загиване (Апоплексия)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tranzschelia-prunispinosae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда по кайсията - <span class="latin_name">Tranzschelia prunispinosae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed-praskova" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ФЕНОФАЗИ ПРИ КОСТИЛКОВИ -->
    <div class="row text-indent" >
        <h3 >ФЕНОФАЗИ ПРИ КОСТИЛКОВИ</h3>
        <p>А - зимуваща (спяща) пъпка;</p>
        <p>В - набъбване на пъпките;</p>
        <p>С - розов бутон;</p>
        <p>D - бял бутон;</p>
        <p>Е - начало на цъфтеж;</p>
        <p>F - масов цъфтеж;</p>
        <p>G - опадване на венчелистчетата;</p>
        <p>Н - образуване на завръзи;</p>
        <p>I - малки плодчета.</p>
    </div>
    <!-- КРАЙ  -->

    <div class="row-back">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px;">
            <div class="panel-warning text-center">
                <div class="panel-heading ">
                    <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> към всички неприятели</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By myself (User:Piotrus) - Self-photographed, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3412893</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>Av Mary Ann Hansen - http://www.forestryimages.org/browse/detail.cfm?imgnum=5335073, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=10777284</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>Av kühler Grill - selbst fotografiert (20.06.2004), Public Domain, https://commons.wikimedia.org/w/index.php?curid=31080103</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Sandy Rae - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=45521165</span>
                    </p>
                    <p><br>
                        <span class="bold">Снимка 5:</span>
                        <span>De Toby Hudson - Trabajo propio, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11755270</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>Av Fdcgoeul - Eget arbete, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=5008774</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>Par Bernard DUPONT from FRANCE — Hairy Beetle (Tropinota hirta), CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=40741048</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Jafras - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=31894290</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Didier Descouens - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=27011413</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Donald Hobern from Canberra, Australia - Euproctis chrysorrhoeaUploaded by berichard, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=13557283</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By H. Krisp - Own work, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=19806408</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By picture taken by Olaf Leillinger - Own work, CC BY-SA 2.5, https://commons.wikimedia.org/w/index.php?curid=1656670</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=58254954</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5410964 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=11741182</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Gilles San Martin - originally posted to Flickr as Tetranychus urticae with silk threads, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=11208762</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>http://britishwildlife.wikia.com/wiki/File:Scale_Insect_-_Parthenolecanium_corni.JPG</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>By Fvlamoen - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3198655</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 18:</span><br>
                        <span>By Luis Fernández García - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=34604451</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 19:</span><br>
                        <span>By Eclos - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7314123</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 20:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=869680</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 21:</span><br>
                        <span>By Siga - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15907574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 22:</span><br>
                        <span>By AfroBrazilian - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=33680141</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 23:</span><br>
                        <span>Por Donald Hobern, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=6388243</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 24:</span><br>
                        <span>By Udo Schmidt from Deutschland - Phyllobius oblongus (Linné, 1758)Uploaded by Magnus Manske, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=22950996</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 25:</span><br>
                        <span>Par ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=466680</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 26:</span><br>
                        <span>By Giancarlo Dessì - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=4072350</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

