:host {
    display: block;
}

h1, h2, h3, h4 {
    color: #008000;
}
h4 {
    margin-bottom: 5px;
}
p {
    margin: 0;
    margin-bottom: 1em;
}
.row {
    margin-top: 20px;
    margin-bottom: 40px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-indent {
    text-indent: 1.5em;
}
.italic {
    font-style: italic;
}

.col-lg-10 {
    margin: 0;
    padding: 0;
}
.plant-protect, .forest {
    margin: 10px 0;
    padding: 0;
    color: initial;
}
#forest, #forest2 {
    font-weight: 500
}
#plant-protect , #plant-protect2 {
    font-weight: 700
}
.intro {
    margin-top: 60px;
    margin-bottom: 40px;
}

h4.my_class_h4 {
    text-decoration: underline;
    margin-bottom: 5px;
}
.row {
    margin-top: 80px;
    padding-left: 2%;
}
