<div id="wrap_lmenu_txt" >
    <!-- <div class="row">
        <div class="text-center">
            <h4 class="forest" id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 class="plant-protect" id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div> -->
    <!-- <div class="row text-center">
        <h1 >ПРАВИЛА ЗА ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА В ЗЕМЕДЕЛИЕТО</h1>
    </div>
    <div class="row text-center">
        <b>СОФИЯ 2006 г.</b>
    </div> -->
    <!-- <div class="row" >
        <div class="text-indent">
            <h3 >УВОД</h3>
            <p>
                Още в средата на 80-те години Работна група по продукти за растителна защита (ПРЗ) на Европейската Организация за
                растителна защита (ЕОРЗ) си поставя за цел да развие концепция за правилната и целесъобразна употреба на ПРЗ в
                зависимост от условията в отделните страни членки. Целта е тази концепция да представлява серия от препоръки за
                оптималното приложение на ПРЗ при всяка култура в зависимост от специфичните вредители по земеделските култури за всеки район.
                В резултат на това през 1993 г. са разработени основните принципи на Добра растителнозащитна практика (ДРЗП),
                които през 2002 г. са актуализирани и доразвити. Настоящия сборник съдържа основните общи принципи на ДРЗП, и разработените
                практики за основните култури, съобразени с всички елементи на концепцията на ЕОРЗ и адаптирани за условията в Република България.
            </p>
            <p>
                Основната идея за “Добра растителнозащитна практика” може добре да бъде обобщена в дефиницията:
            </p>
            <p class="bold">
                Добра растителнозащитна практика, е практика, чрез която третиранията с продукти за растителна
                защита приложени при културите са в съответствие с условията на тяхната разрешена употреба, са селективни,
                дозирани, и навременно приложени за оптимална ефикасност като се има в предвид и микроклиматичните условия,
                биологичните характеристики на културните растения и биологичния контрол.
            </p>
            <p>
                Целта на тази публикация е в съответствие с изискванията на Европейския Съюз и Директива на Съвета 91/414 за
                реализирането на продукти за растителна защита на пазара, където при “подходяща употреба/приложение” на продукти
                ще трябва да се включва и прилагането на принципите на “Добра растителнозащитна практика” толкова до колкото е възможно,
                и принципите на “Интегрираната растителна защита”.
            </p>
            <p>
                При разработването на отделните практики са взели участие водещи наши научни работници и експерти от системата на
                Националната служба за растителната защита (НСРЗ).
            </p>
            <p>
                Така разработените и утвърдени от Генералния директор на Националната служба за растителна защита, добри растителнозащитни
                практики по култури <b>представляват стандартизирани помагала на земеделските производители за комплексно опазване на
                    културите от вредители и ще им осигури получаването на чиста от пестицидни остатъци земеделска продукция, отговаряща на
                    европейските норми за безопасност на храните (Регламенти № 882;852;178).</b>
            </p>
            <p>
                Тези практики са разработени на основа стандартите (разработени) и утвърдени от Европейската организация за
                растителна защита (ЕОРЗ) като са съобразени със специфичното видово разнообразие на вредителите по
                земеделските култури в нашата страна. <b>Взети са под внимание и са изписвани активните вещества само на ПРЗ
                разрешени за употреба в страната (за 2006 г. включително).</b>
            </p>
            <p>
                Тези практики ще бъдат обект на периодичен преглед и обновление. Следващият преглед на данните отразени в практиките
                ще бъде съобразен с някои изменения-които могат да настъпят в подреждането на икономически важните вредители и с
                необходимостта от пререгистрацията на Продуктите за растителна защита. През 2006 г с изменението и допълнението на
                Закона за растителна защита се налага пълна ревизия на сега използваните продукти за растителна защита, с цел пълно
                хармонизиране на изискванията при разрешаването на продуктите с тези на ЕС. Това ще бъде няколко годишен процес, които
                ще хармонизира напълно листът на ПРЗ използвани в нашата страна с този в страните от Европейския съюз.
            </p>
            <p>
                С формулиране на първият стандарт в тази публикация “Принципи на добра растително защитна практика” Националната служба за
                растителна защита (НСРЗ) в съответствие с представите на ЕОРЗ развива общата представа за добрата практика при
                употребата на продуктите за растителна защита в съответствие с другите райони на ЕОРЗ и като поредица - култура по
                култура разработва принципите за оптимална употреба на ПРЗ при защитата от всички техни вредители.
            </p>
            <p>
                За всяка основна култура в даден район на ЕОРЗ в стандартите за Добрата растително защитна практика се
                препоръчват методи за растителна защита.
            </p>
            <p>
                Ключовите вредители (включително патогени и плевели) се разглеждат за всяка култура и площ за района на съответната страна.
                За всеки един вредител се дава в детайли биологията и развитието, подходящия контрол и стратегия за борба и се описват
                съответните активни вещества, които могат да се използват за химичен контрол ако има регистрирани такива.
            </p>
            <p>
                Всеки стандарт съдържа “активните вещества” съдържащи се в ПРЗ. Изброените активни вещества са регистрирани в
                нашата страна по време, в което текстовете са били още като проект, но читателят ще трябва да проверява всеки
                нов списък на пестицидите за страната и последното му обновяване. В някои случаи може новите активни вещества да
                предоставят нови стратегии за борба, но много от препоръчваните стратегии продължават да се използват, дори тогава
                когато активните вещества трябва да се сменят.
            </p>
            <p>
                Въвеждането на ДРЗП в практиката не е възможно и ефикасно без точна и прецизна прогноза и сигнализация за
                развитието на вредителите. Чрез прогнозата и сигнализацията се определят ключовите моменти от тяхното развитие, за
                навременно провеждане на растителнозащитните мероприятия. Определят се оптималните срокове (по райони) за третиране и
                дозите за приложението на ПРЗ в съответствие с изискванията на принципите на ДРЗП.
            </p>
            <p>
                Прогнозата и сигнализацията е основна и неразделна част за прилагане на принципите на ДРЗП.
                НСРЗ и нейните регионални структури /РСРЗ/ на територията на страната извършват наблюдения, прогноза и сигнализация за
                вредителите по земеделските култури и осведомяват земеделските производители чрез издаваните бюлетини съдържащи
                информация за стадия на развитие на вредителите,оптималната доза за приложение на ПРЗ и моментите за третиране на
                земеделската продукция с цел нейното опазване.
            </p>
            <p>
                Спазването на изискванията на общите принципи на ДРЗП и съветите на РСРЗ в земеделските бюлетини гарантират на
                земеделските производители, висококачествена отговаряща на европейските стандарти за качество земеделска продукция.
            </p>
            <p>
                Членовете на колективите разработели тези 35 стандарта за Добра растително защитна практика считат, че те са
                широко приложими от земеделските производители, специалистите по растителната защита в обществения или частния
                сектор, студентите от специалност “Растителна защита” и други заинтересовани лица, осигурявайки им Европейския
                справочник за растителна защита, базиран на опита на голям брой специалисти от страната и от различни Европейски страни.
            </p>


        </div>
    </div> -->
    
    <div class="row intro">
        <div class="col-lg-10 text-center " >
            <h4 class="forest" id="forest2">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 class="plant-protect" id="plant-protect2">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img src="../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ПРАВИЛА ЗА ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА В ЗЕМЕДЕЛИЕТО</h1>
    </div>
    <div class="row text-center">
        <b>СОФИЯ 2006 г.</b>
    </div>
    
    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <div class="text-center">
                <h3 id="">ПРИНЦИПИ НА ДОБРАТА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА</h3>
            </div>
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при пшеницата.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>

            <p >
                В средата на 80-те години работна група по продукти за растителна защита (ПРЗ) на Европейската организация за растителна
                защита (ЕОРЗ) си поставя за цел да развие концепция за правилната и целесъобразна употреба на продуктите за растителна
                защита в зависимост от условията в отделните страни, членки на ЕОРЗ. Целта е тази концепция да представлява серия от
                препоръки за оптималното приложение на ПРЗ при всяка култура в зависимост от специфичните вредители. В резултат на това
                през 1993 г. са разработени основните принципи на Добрата растителнозащитна практика (ДРЗП), които през 2002 г. са
                актуализирани и доразвити. Този документ съдържа основните принципи на ДРЗП, които са съобразени с всички елементи на
                концепцията на ЕОРЗ.
            </p>
            <h3 >Предпоставки</h3>

            <p >
                В кодекса на Комитета по остатъците от пестициди е разработена концепцията за „Добра земеделска практика при употребата на ПРЗ“,
                която е дефинирана като: „препоръчана, одобрена или разрешена на национално ниво безопасна употреба на продукти за
                растителна защита при реални условия във всеки етап от производството, съхранението, транспортирането,
                разпространението и преработката на хранителни стоки и фуражи за животните, необходима за ефективна борба с вредителите.
                Безопасната употреба на пестициди обхваща поредица от препоръки за прилагане, регистрация и контрол на национално ниво.
                В този контекст безопасната употреба включва: опазване на здравето на хората; опазване на околната среда; определяне на
                минималните количества на ПРЗ, осигуряващи ефикасност, приложени така, че нивата на остатъчните количества от тях,
                да бъдат с възможно най-ниски стойности.“
            </p>
            <p >
                След анализиране на концепцията за ДЗП работната група по ПРЗ установи, че тя не отговаря напълно на поставените
                цели поради следните причини:
                (1) съществуват ограничения в прилагането на препаратите, които са определени от условията на регистрация;
                (2) отнася се за приложението на всеки продукт поотделно, но не и за комбинирането им в
                растителнозащитната програма;
                (3)	не са определени критерии за оценка дали дадена практика е добра, освен тези, които се отнасят за условията при регистрация;
                (4)	включва остатъчните количества само като краен резултат.
            </p>
            <p>
                Във връзка с това работната група предложи: (1) да се препоръчва оптимална употреба на ПРЗ; (2) да се взема под
                внимание употребата на даден продукт като елемент на цялостна растителнозащитна програма; (3) да се дават препоръки,
                които биха могли да служат като практически стандарт за оценяване на дадената практика; (4) да се обърне основно
                внимание на ефикасността, опазването на околната среда и безопасността за потребителите до въвеждането на ДЗП.
            </p>

            <h3 >Концепция за Добрата растителнозащитна практика (ДРЗП)</h3>
            <p >
                На състоялата се през 1987 г. среща на специалисти от ЕОРЗ в Харпънден (Великобритания) беше представен пакет от препоръки,
                които впоследствие бяха подписани от работната група по ПРЗ. Те бяха разработени на основата на проучвания за добрата
                земеделска практика при ябълката и послужиха като база при изготвяне концепцията за ДРЗП на ЕОРЗ. След проведени дискусии се
                възприе следното становище: „Възможно е да се подготви специфичен комплект от препоръки за ДРЗП при дадена култура, като се
                вземат под внимание основните вредители, разрешените продукти и условията за отглеждане на културата. Те ще бъдат
                включени в стратегиите за ДРЗП при вземане на решение за избора на активни вещества и формулации, дози,количество работен
                разтвор, брой на третиранията, време и честота на приложение, техника и методи на прилагане. При избора на ПРЗ решението
                ще се определя от необходимостта да се осигури ефикасна борба с вредителите при минимален брой третирания.
                Изборът ще бъде съобразен от: характеристиката на културата (ботанически вид, сорт, физиологично състояние, възраст,
                фенофаза, схема и гъстота на засаждане); възможността за приложение на агротехнически и биологични методи; условията за
                регистрирация; икономическата ефективност; контрола върху вредителите в района; съвместимостта на продуктите за растителна
                защита; установените странични ефекти. Препоръките за ДРЗП могат да бъдат редуцирани до цялостна схема за третиранията с ПРЗ,
                разпределени в календарни срокове, по фенофази на културата, фенология на развитие на неприятелите и според системата
                за прогноза и сигнализация и ниво на квалификация на производителите, както и прилагането на други възможни средства
                за борба (местен опит и визуални наблюдения).“
            </p>
            <p >
                Стандартите на ЕОРЗ (1/214) включват критерии за определяне на приемливо ниво на ефикасност на ПРЗ при регистрация.
                При употребата на ПРЗ постигането на приетите нива на ефикасност е ДРЗП.
            </p>
            <p >
                Директива 91/414 на Съвета на Европейския съюз (ЕС) за предлагане на ПРЗ на пазара допуска, че:
                „подходящата употреба на ПРЗ включва прилагане принципите на ДРЗП и когато е възможно, принципите на интегрираната
                растителна защита“. Това означава, че интегрираната растителна защита (ИРЗ ) определя стандарт, различен от този на ДРЗП.
                При интегрираната растителна защита се изисква задължително съчетаване прилагането на продукти за растителна защита с
                други методи. Те могат да включват комплексни системи за вземане на решения и предложения за замяна на употребата на
                пестициди с други средства. Главната цел на препоръките на ЕОРЗ за ДРЗП е безопасно и ефективно приложение на ПРЗ.
                Принципите на ДРЗП са важни за растителната защита за всички системи на земеделие, включително и за биологичното земеделие.
            </p>

            <h3 >Основни принципи</h3>
            <p >
                Основните принципи на ДРЗП са база при изготвяне на стандарти за ДРЗП при отделните култури. Те включват елементи,
                които не е задължително да се повтарят в специфичните ръководства по култури, но са валидни за всички тях.
            </p>

            <h4 class="my_class_h4 italic">1. Характеристика на културата и агротехника</h4>
            <p>
                ДРЗП включва: спазване на утвърдените технологии за отглеждане при отделните култури; добра земеделска практика (ДЗП);
                прилагане на икономически ефективни мерки по отношение себестойността на продукцията; използване на здрав посевен и
                посадъчен материал; прилагане на профилактични мерки по време на вегетацията за осигуряване на добро здравно състояние
                на културите; използване на устойчиви или толерантни сортове е хибриди; отглеждане на културите с минимална употреба на
                ПРЗ чрез: сеитбообръщение; обработки на почвата; пространствена изолация и др.
            </p>
            <p>
                Системите за „интегрирано производство“ включват създаване на оптимални условия при отглеждане на културата,
                близки до тези на биологичното земеделие, са част от ДРЗП, при условия, позволяващи да се сведе до минимум употребата
                на ПРЗ и да се повиши тяхната ефикасност. Използваните ПРЗ не трябва да предизвикват фитотоксичност по културите.
            </p>
            <h4 class="my_class_h4 italic">2. Видов състав на вредителите, срещу които се води борба и прагове на икономическа вредност.</h4>
            <p>
                Видовият състав на вредителите е специфичен за всяка култура и регион. ДРЗП зависи от специфичните особености на
                дадения район и съответния видов състав на вредителите. Провеждането на борба срещу даден вредител зависи от:
                нивото на популационната плътност (прага на икономическа вредност), степента на нападение, традиционните практики
                за района и условията за развитието им. По този начин ДРЗП цели да определи най-напред дали срещу даден вредител
                изобщо трябва да се води борба. При вземане на решение за провеждане на борба основен принцип в ДРЗП е да се използва
                един продукт, действащ едновременно срещу два или повече вредителя. В случай, че третиранията срещу тях съвпадат във времето
                (по срокове), е по-добре да се извърши едно, отколкото две или повече самостоятелни третирания. При необходимост от
                провеждане на борба срещу един вредител специализираният продукт е с предимство пред широкоспектърния.
            </p>

            <h4 class="my_class_h4 italic">3. Условия за разрешена употреба на ПРЗ</h4>
            <p>
                Условията за разрешена употреба ограничават в известна степен приложението на ПРЗ. Това осигурява съблюдаване на
                максималните нива на остатъчни количества и свеждане до допустимия минимум на всички странични ефекти върху околната среда.
                В случай на надвишаване на тези граници не може да се говори за ДРЗП. Целта на ДРЗП е да се придържа към концепцията за
                ефективно съотношение разходи/печалба, като използва различни методи за борба (не само ПРЗ).
            </p>

            <h4 class="my_class_h4 italic">4. Избор на активно вещество и формулации</h4>
            <p>
                Изборът на активно вещество и формулации е ограничен от условията, разгледани по-долу. Принципите на ДРЗП не
                ограничават избора на активни вещества и формулации. Всеки самостоятелно формулиран продукт се характеризира с ефикасност,
                цена и странични ефекти.
            </p>
            <p>
                Първата стъпка при подбора на ПРЗ е да се определи дали наистина трябва да се използва такова средство.
                Ако съществува ефективна и икономически изгодна алтернатива в конкретната ситуация, то тя трябва да бъде предпочетена.
                При наложителна употребата на ПРЗ и възможност за избор между активни вещества или формулации, да се съблюдават
                следните условия:<br/>
                &nbsp;&nbsp;-	да се избират продукти, които имат най-малко странични ефекти (относително не-персистентни) и са
                по-безопасни за околната среда;<br/>
                &nbsp;&nbsp;-	за предпочитане са селективните продукти пред широкоспектърните;<br/>
                &nbsp;&nbsp;-	да се избират продукти с по-нисък риск за изграждане на резистентност (виж точка 12).

            </p>
            <p>
                Възможно е ДРЗП да ползва ПРЗ под формата на резервоарни смеси (включително прилепители, подобрители и торове) с цел
                намаляване броя на пръсканията, времето за третиране, разхода на гориво, броя на преминаванията през посева и т. н.
                Известно е обаче, че някои резервоарни смеси могат да имат негативен ефект. Поради това е важно да се използват
                съвместими продукти, чиято ефикасност и безопасност за културата поотделно не намаляват в смеси. Условията за
                разрешена употреба обикновено съдържат информация относно възможността за смесване, но е добре да има и експериментално
                доказателство, че това е възможно, без да има нежелателен краен ефект.
            </p>

            <h4 class="my_class_h4 italic">5. Избор на дозата</h4>
            <p>
                В повечето случаи дозата е определена в условията за разрешена употреба и може да варира в известни граници в
                зависимост от обстоятелствата. Използването на по-високи дози не е ДРЗП. Третиране с по-ниски от регистрираните
                дози може да бъде определено като ДРЗП, ако е налице експериментално доказателство, че по-малката доза е ефикасна.
            </p>

            <h4 class="my_class_h4 italic">6. Разход на работен разтвор</h4>
            <p>
                Количеството работен разтвор при третиране с ПРЗ е важно условие за успеха на провежданата борба особено при високо
                растящи култури. В този случай дозата се определя като концентрация на определен обем разтвор, който трябва да се внесе
                на дадена площ. Ако използваният обем е твърде висок или твърде нисък, третирането няма да бъде ДРЗП.
                Препоръките за всяка една култура трябва да бъдат ясно формулиран относно количеството на работния разтвор спрямо
                хабитуса на растенията.
            </p>

            <h4 class="my_class_h4 italic">7. Брой, срок и честота на третиране</h4>
            <p>
                ДРЗП е да се извършват толкова третирания, колкото са необходими за постигане на ефективна борба. Броят им може
                да варира според сезоните и районите на отглеждане. Системите за мониторинг и прогноза са важен елемент, който
                осигурява необходимата информация за вземане на решения за извършване на химични третирания.
            </p>
            <p>
                Ключов елемент на ДРЗП е определянето на момента на първото третиране. То трябва да бъде извършено навреме, за да не се
                допусне намножаване на вредителите. Съществуват многобройни системи за прогнозиране появата на определен вредител:
                на основата на метеорологични данни, суми от ефективни температури, директен мониторинг, феромонови уловки и др.
                В случаите, когато не е изградена система за прогноза и сигнализация или тя е извършена с пропуски, да се отчита
                местният опит на фермерите, както и визуалните наблюдения на полето. Ако има установени икономически прагове на
                вредност или критични периоди, те трябва да бъдат използвани за определяне необходимостта и сроковете за извършване
                на растителнозащитните мероприятия в конкретното насаждение. Използването на системите за прогнозиране ще продължи
                и при определяне на бъдещите третирания срещу следващите поколения на неприятелите и при отчитане на инкубационните
                периоди при гъбните патогени. ДРЗП е прогнозирането да продължи дотогава, докато има значение за практиката във
                връзка със застъпването на отделните поколения на неприятелите или удължаване развитието на вредителите при
                благоприятни метеорологични условия.В някои случаи ДРЗП изисква третиранията да се извършват редовно.
                Не е ДРЗП да се използват сложни и непрактични системи за прогноза и сигнализация, особено ако чрез тях не се
                постига намаляване на броя на третиранията в сравнение с използваните системи за борба. ДРЗП е да продължи
                прилагането на традиционните системи за борба, разработени на основата на натрупаните данни и фенологичните отчитания.
                Времето на последното третиране преди прибирането на реколтата трябва да бъде съобразено с последействието на ПРЗ и с
                карантинния им срок.
            </p>

            <h4 class="my_class_h4 italic">8. Техника и начини за третиране</h4>
            <p>
                ДРЗП изисква минимална загуба на ПРЗ (поради въздушни течения или попадане върху почвената повърхност), за което е
                необходимо да се подбира подходяща техника и време за третиране. Факторите, които влияят върху качеството на третиране, са:
                типът на дюзите, налягането, обемът на пръскачката, размерът на капките, работната скорост и др. Всеки продукт трябва
                да бъде приложен по най-ефективния начин. Техниката трябва точно да се регулира според целта на третирането, което ще
                осигури необходимата доза, и се проверява редовно.
            </p>

            <h4 class="my_class_h4 italic">9. Биологични средства за борба</h4>
            <p>
                Концепцията за ДРЗП се отнася основно до ПРЗ, но включва и формулирани микробиологични продукти и биоагенти
                (напр. Encarsia formosa в оранжерии). Биологичните средства за борба представляват в определени случаи съществена
                част от ДРЗП. Тя включва прецизното прилагане на такива продукти и взаимодействието между химичните,
                микробиалните продукти и ентомофагите, използвани при дадена култура. Ефикасността на биологичните средства
                трябва бъде доказана предварително. ДРЗП има за цел да опази съществуващите полезни видове в дадена агробиоценоза.
                При ДРЗП трябва да се използват продукти със селективно действие по отношение на полезната ентомо- и акарофауна.
                Ако биологичните агенти са постоянен компонент от прилаганите схеми за борба при дадена култура
                (напр. хищните акари в овощните градини), то ДРЗП изисква да се избягва употребата на силно токсични спрямо
                полезните видове продукти. Унищожаването на полезната ентомо- и акарофауна води до увеличаване броя на
                химичните третирания и до замърсяване на продукцията и околната среда.
            </p>

            <h4 class="my_class_h4 italic">10. Интегрирана растителна защита</h4>
            <p>
                В съответствие с определението от Директива на ЕС 91/414, интегрираната борба е „рационално прилагане на комбинация
                от биологични, биотехнологични, химични и агротехнически мерки, чрез което употребата на химични ПРЗ е ограничено до
                необходимия минимум за поддържане популацията на вредителя под прага на икономическа вредност“. Формулировката на
                директивата на ЕС прави разлика между интегрирана борба с вредители и ДРЗП. Общото между тях е, че те представляват
                комбинация от рационални мерки за постигане на приемлива ефективност при борбата с вредителите. При интегрираната
                борба това се постига чрез ограничаване употребата на ПРЗ до определен минимум, а при ДРЗП се цели избягване на
                ненужната им употреба.
            </p>

            <h4 class="my_class_h4 italic">11.	Установен страничен ефект</h4>
            <p>
                При регистрацията на ПРЗ се отчита и страничният ефект върху пчели и други живи организми. При ДРЗП тези данни се
                вземат под внимание в т. 9. ДРЗП е да се търси и използва цялата актуализирана информация за прояви на странични ефекти.
                Стандартът на ЕОРЗ за оценка на риска за околната среда от ПРЗ обезпечава система за оценка на всички странични ефекти.
            </p>

            <h4 class="my_class_h4 italic">12.	Риск от развитие на устойчивост</h4>
            <p>
                Един от най-важните странични ефекти при употребата на ПРЗ е развитието на резистентни популации от вредители.
                При ДРЗП е задължително да се вземат под внимание всякакви съобщения за наличие на практическа устойчивост и да се
                анализира възможността от проява на резистентност и при други активни вещества от същата химична група. За икономически
                важните вредители при всяка конкретна култура трябва да се разработят програми за предотвратяване и преодоляване на
                резистентността. Например: да не се третира многократно с рискови фунгициди срещу заболявания по листата на растенията,
                защото това води до изграждане на резистентни популации на същите патогени, атакуващи по-късно през вегетацията и
                плодовете; рискови пестициди (с данни за устойчивост) да не се прилагат повече от един път за сезон; да се използват
                комбинации от пестициди с многостранен начин на действие; да се препоръчват програми за борба, които включват и
                алтернативни методи.
            </p>
            <p>
                Международният комитет по резистентност
                (GCPF - <a href="http://www.croplife.org" rel="noopener noreferrer" target="_blank" class="external_link">www.croplife.org</a>) е
                разработил ръководства за различните групи ПРЗ:
                FRAC (за фунгициди - <a href="http://www.frac.info" rel="noopener noreferrer" target="_blank" class="external_link">www.frac.info</a>);
                IRAC (за инсектициди - <a href="http://www.irac-online.org/" class="external_link" rel="noopener noreferrer" target="_blank">www.plantprotection.org/IRAC/</a>) и
                HRAC (за хербициди - <a href="http://www.hracglobal.com/" class="external_link" rel="noopener noreferrer" target="_blank">www.plantprotection.org/HRAC/</a>). 
                В стандарта на EPPO (PP1/213) е анализиран рискът от изграждане на
                резистентност и е разработено ръководство за предотвратяването и преодоляването и. Адаптирана за всяка конкретна страна, тази
                стратегия трябва да участва задължително във всички ДРЗП.
            </p>

            <h4 class="my_class_h4 italic">13.	Безопасност</h4>
            <p>
                ДРЗП изисква спазване на всички официални наредби и правила за безопасност при работа с ПРЗ за потребителите и околната среда.
            </p>

            <h4 class="my_class_h4 italic">14.	Обучение и документация</h4>
            <p>
                ДРЗП изисква приложението на ПРЗ да се извършва от обучен за целта персонал. Документирането на всички проведени третирания с
                ПРЗ е задължително при ДРЗП и ще допринесе за създаване на база данни за историята на третиранията на отделните полета.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->
</div>
    
