<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>
<!--  -->
<div id="wrap_lmenu_txt" *ngIf="practices">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <!-- <div class="col-lg-2 text-center " id="image-logo">
            <img id="logo-image" src="../../../../../assets/img/my_images/logo_nsrz.png" alt="Лого НСРЗ" />
        </div> -->
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ПШЕНИЦА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/011(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/10(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Христинка Кръстева<br/>
                доц. д-р Мария Панайотова<br/>
                доц. д-р Тоньо Тонев<br/>
                ст.н.с.II ст. д-р <span class="doctor">Йорданка Караджова</span><br/>
                ст.н.с.II ст. д-р Сенка Денева<br/>
                н.с. I ст. Антония Димитрова<br/>
                д-р Петър Николов – НСРЗ<br/>
                н. с. II ст. Милица Стефчева<br/>
                докторант Венцислав Венциславов<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ПШЕНИЦА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при пшеницата.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Указанията по Добрата растителнозащитна практика при пшеницата представляват част
                от ЕРРО-програмата за изготвяне на такива указания при всички основни култури
                от ЕРРО-региона. Те трябва да бъдат четени заедно с ЕРРО-стандарт
                РР 2/1(1) – “Принципи на добрата растителнозащитна практика”.
                Указанията включват методите за контрол на вредителите (в това число болести, неприятели и плевели)
                по пшеницата (<span class="latin_name">Triticum ssp.</span>), включително меката
                (<span class="latin_name">Triticum aestivum</span>) и твърдата (<span class="latin_name">Triticum durum</span>) пшеница.</p>
            <p >
                Пшеницата се отглежда в повечето части на ЕРРО-региона.
                Зърното се използва за консумация от хората и животните.
                Сламата също може да служи като храна на животните.
                Пшеницата се отглежда при редуване с други зърнени или полски култури.
                Посевите от пшеница се засяват през есента. Сеитбообръщението с други зърненожитни или
                полски култури намалява плътността на популациите от вредители в почвата или в
                растителните остатъци. Минималните културно-стопански практики чрез които могат да се
                намалят разходите по отглеждането, благоприятстват преживяването и увеличават
                числеността на популациите от вредители в почвата. Тъй като пшеницата се отглежда
                основно за зърно, целта на защитата от вредители е да се получи максимално количество и
                качество на добива. Физичните и химични характеристики на зърното са особено важни,
                когато то е предназначено за преработка.</p>
            <p >
                Използването на устойчиви сортове и здрав посевен материал, сеитба на пшеницата
                в оптимални срокове, правилно сеитбообращение, осигуряване на добре подготвено легло на
                семената са важни елементи на ДРЗП при пшеницата. Сортовете с добра устойчивост спрямо
                полягане трябва да се използват в районите, където полягането е основен проблем.</p>
            <p >
                Третирания с продукти за растителна защита (ПРЗ) могат да се наложат във всяка
                фенофенофаза от развитието на културата. Третирането на семената е ДРЗП, когато се
                извършва срещу вредители, които не могат да бъдат контролирани през вегетацията.
                ДРЗП може да бъде и третиране на семената срещу други вредители, ако то ще замени няколко
                третирания и по този начин ще се намали количеството продукти за растителна защита рано
                през вегетацията. Пшеницата е по-толерантна спрямо почвени вредители, в сравнение например
                с царевицата или захарното цвекло, защото повредените млади стъбла могат да бъдат
                възстановени до определена степен по време на братенето. Продуктите, използвани за
                третиране на семената, трябва да покриват възможно по-голям спектър от гъбни или насекомни
                вредители. Важно е семената да бъдат равномерно покрити с ПРЗ.</p>
            <p >
                Едновременното прилагане на две или повече активни вещества под формата на
                третиране на семената или през вегетацията е ДРЗП, ако вредителите, срещу които те са
                ефективни, наистина се срещат или се очаква нападение от тях. Фермерите и консултантите
                трябва да познават основните вредители, да обследват редовно полетата и да ползват
                максимално бюлетините за прогноза на вредителите, оповестяващи употребата на ПРЗ при
                достигане праговете на вредност.</p>
            <p >
                Дозите на прилагания продукт трябва да отговарят на комплекса от
                наблюдаваните вредители в момента на приложение, отчитайки индивидуалната ефективност и
                възможните взаимодействия.</p>
            <p >
                Третирането на посевите с ПРЗ е ДРЗП, когато се извършва ултрамалообемно или
                с технически изправна техника. ДРЗП е да се намали течът и нежеланото разпиляване на
                продуктите за растителна защита. Това може да се постигне чрез използване на противокапкови
                устройства към всички разпръсквачи, предпазващи от теч, или на оборудване, което произвежда
                добър и еднакъв капков спектър при всички дюзи по дължината на щангата на пръскачката.</p>
            <p >
                Рискът да се развие резистентност спрямо фунгициди, инсектициди и хербициди е
                реална заплаха. ДРЗП е да се избегне пръскането с фунгицид или инсектицид по-късно през
                вегетацията, ако активно вещество със същия механизъм на действие вече е било използвано
                при третиране на семената. Препоръчително е използването на активно вещество с друг
                механизъм на действие. За борба срещу икономически важните болести праховита главня и
                ръжди трябва да се редуват активни вещества и смесени формулации, съдържащи продукти с
                различен механизъм на действие, доколкото това практически е възможно.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по пшеницата са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link"  przAnchorTo target="#erysiphe-graminis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана
                        (<span class="latin_name">Erysiphe graminis De Condolle. f. sp. tritici
                            Marchal, Oidium moniloides Link.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#puccinia-recondita"   title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафява (листна) ръжда (<span class="latin_name"> P. reconditа Rob. ex Desm. f. sp. tritici</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#tilletia-and-ustilago"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мазна главня (<span class="latin_name">Tilletia tritici (Bjerk.) Wint.), (Tilletia levis Kuhn</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"   przAnchorTo target="#tilletia-and-ustilago" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Праховита главня (<span class="latin_name">Ustilago tritici (Pres.) Rostr.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#fusarium-culmorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Базично гниене (<span class="latin_name">Fusarium culmorum (W.G. Smith.) Sacc.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#monographella-nivalis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Снежна плесен (<span class="latin_name">Monographella nivalis (Schaffnit) E. Muller</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#gibberella-zeae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гниене на класовете (<span class="latin_name">Gibberella zeae, Fusarium culmorum (W.G. Smith.) Sacc,</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#mycosphaerella-graminicola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ран листен пригор (<span class="latin_name">Mycosphaerella graminicola (Fьckel), Septoria tritici Rob. ex Desm.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#leptosphaeria-nodorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Петносване на класовете (<span class="latin_name">Leptoshaeria nodorum Muller, Septoria nodorum (Berk.)</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#helminosporioza-sativum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хелминтоспориум по пшеницата (<span class="latin_name">Helmintosporium sativum Pamm., King et Bakke,
                            Ophiobolus sativus Ito et Kurib.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#pseudocercosporella-herpotrichoides" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гниене на основите и паразитно полягане
                        (<span class="latin_name">Pseudocercosporella herpotrichoides (Fron) Deighton </span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#gaeumannomyces-graminis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно кореново гниене (<span class="latin_name">Gaeumannomyces graminis V.Arx et Olivier,
                            Ophiobolus graminis Sacc.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#eurygaster-integriceps" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вредна житна дървеница (<span class="latin_name">Eurygaster integriceps Put.</span>),
                        австрийска дървеница (<span class="latin_name">E. austriaca Schr.</span>),
                        мавърска дървеница (<span class="latin_name">E. maura L.</span>),
                        остроглави дървеници (<span class="latin_name">Aelia acuminata L., A. rostrata Boh.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#zabrus-tenebrioides" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен житен бегач (<span class="latin_name">Zabrus tenebrioides Goeze</span>),
                        голям житен бегач (<span class="latin_name">Z. spinipes F.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#haplothrips-tritici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пшеничен трипс (<span class="latin_name">Haplothrips tritici Kurd</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#sitobion-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена листна въшка (<span class="latin_name">Sitobion avenae L.</span>),
                        обикновена житна въшка (<span class="latin_name">Schizaphis graminum Rond</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#mayetiola-destructor" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хесенска муха (<span class="latin_name">Mayetiola destructor Say</span>),
                        житна тревна муха (<span class="latin_name">Opomyza florum Fabr</span>),
                        черна пшеничена муха (<span class="latin_name">Phorbia fumigata Meigen) (синоним Phorbia securis Tien</span>),
                        черна пролетна пшеничена муха (<span class="latin_name">Phorbia haberlandti Schiner) (синоним Phorbia penicillifera Jermy</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#cephus-pygmaeus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Житна стъблена оса (<span class="latin_name">Cephus pygmaeus L.</span>),
                        черна житна стъблена оса (<span class="latin_name">Cephus /Trachelus/ tabidus F.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#anisoplia-austriaca" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен житар (<span class="latin_name">Anisoplia austriaca Hrbst</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#lema-melanopus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена житна пиявица (<span class="latin_name">Lema melanopus L.</span>),
                        синя житна пиявица (<span class="latin_name">Lema lichenis Voet.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#psammotettix-provincialis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ивичести житни цикади (<span class="latin_name">Psammotettix provincialis (Rib),
                            P. sriatus (L.)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#heterodera-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#underlay" title="към текстаe">
                        <mat-icon>chevron_right</mat-icon>
                        Полягане
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div class="row">
        <div class="col-md-12  text-indent">
            <h3 >Пояснителни бележки относно активните вещества.</h3>
            <p >
                ЕРРО-панелът за ДРЗП при изготвянето на това ръководство разглежда отделните активни
                вещества, включени в продуктите за растителна защита, и каква е тяхната връзка с
                основната стратегия за ДРЗП. Сведенията за тях са включени в информацията за
                регистрираните продукти в отделни страни от региона на ЕРРО. По такъв начин те
                представят настоящото положение на ДРЗП поне в тези страни. Възможно е, поради редица
                причини, тези активни вещества да не са регистрирани за такава употреба или да са с
                ограничено приложение в други страни от ЕРРО региона. Това, обаче, не прави основната
                стратегия невалидна. ЕРРО препоръчва да се следват принципите на ДРЗП, като се
                използват само продукти, регистрирани в страната за дадена цел.</p>
        </div>
    </div>

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ТАБЛИЦА BBCH -->
    <div class="aa-title" #structure id="table_bbch"></div>
    <prz-table></prz-table>
    <!-- КРАЙ ТАБЛИЦА BBCH -->

    <div class="row-back">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px;">
            <div class="panel-warning text-center">
                <div class="panel-heading ">
                    <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> към всички неприятели</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://agriculture.basf.com/gb/en/Crop-Protection/Powdery-mildew-wheat.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Agronom (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (https://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3: </span><br>
                        <span>CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=2893007</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span >By Rasbak (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>Av Agronom - Eget arbete, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=21310865</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>http://www.agroatlas.ru/en/content/diseases/Hordei/Hordei_Fusarium_sp/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span >Public Domain, https://commons.wikimedia.org/w/index.php?curid=1214930</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span >By Maccheek - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=5087504</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span >http://www.pflanzenkrankheiten.ch/de/krankheiten-an-kulturpflanzen/getreide-mais/weizen/174-septoria-nodorum</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span >http://www.cropscience.bayer.bg/BCSWeb/www/BCS_BG_Internet.nsf/id/BG_Pseudocercosporella_herpotrichoides?open&skey=BG_Wheat&ccm=100020</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span >https://www.plantmanagementnetwork.org/pub/php/diagnosticguide/take-all/</span>
                    </p>
                    <!-- НАСЕКОМИ -->
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span >Автор: Michael J. Raupach, Lars Hendrich, Stefan M. Kuchler, Fabian Deister, Jérome Moriniére, Martin M. Gossner - Building-Up of a DNA Barcode Library for True Bugs (Insecta: Hemiptera: Heteroptera) of Germany Reveals Taxonomic Uncertainties and Surprises Plos One Sept. 2014, DOI: 10.1371/journal.pone.0106940, CC BY 4.0, https://commons.wikimedia.org/w/index.php?curid=38893744</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 18:</span><br>
                        <span >Göran Liljeberg [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 19:</span><br>
                        <span >By Didier Descouens - Praca własna, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27646467</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 20:</span><br>
                        <span >By Udo Schmidt from Deutschland - Zabrus tenebrionides (Goeze, 1777)Uploaded by Magnus Manske, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=22950234</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 21:</span><br>
                        <span >By Emil Hochdanz - Carl Gustav Calwer; Gustav Jäger (1876) Käferbuch. Naturgeschichte der Käfer Europas., Stuttgart: Julius Hoffmann [1]www.biolib.de, Public Domain, https://commons.wikimedia.org/w/index.php?curid=4972261</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 22:</span><br>
                        <span >http://hitagro.ru/pshenichnyj-trips/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 23:</span><br>
                        <span >http://www.agroatlas.ru/en/content/pests/Sitobion_avenae/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 24:</span><br>
                        <span >By Kent Loeffler - http://www.ars.usda.gov/is/graphics/photos/apr12/d2458-1.htm, Public Domain, https://commons.wikimedia.org/w/index.php?curid=52753821</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 25:</span><br>
                        <span >By Transferred from en.wikipedia to Commons.This image was released by the Agricultural Research Service, the research agency of the United States Department of Agriculture, with the ID k4193-19 (next).This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.English | français | македонски | +/−, Public Domain, https://commons.wikimedia.org/w/index.php?curid=1877782</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 26:</span><br>
                        <span >By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=24712567</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 27:</span><br>
                        <span >Av James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3512576</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 28:</span><br>
                        <span >http://www.agroatlas.ru/en/content/pests/Cephus_pygmaeus/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 30:</span><br>
                        <span >By Siga - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11212006</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 31:</span><br>
                        <span >By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=394574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 32:</span><br>
                        <span >By Udo Schmidt from Deutschland [CC BY-SA 2.0 (https://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons</span>
                    </p>
                    <!-- ПЛЕВЕЛИ -->
                    <p>
                        <span class="bold">Снимка 33:</span><br>
                        <span >By Stefan.lefnaer (Own work) [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 34:</span><br>
                        <span >By Kurt Stüber [1] [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 35:</span><br>
                        <span >By Kurt Stueber - www.biolib.de, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=6294</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 36:</span><br>
                        <span >By 4028mdk09 - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11746444</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
