<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ТЮТЮН</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ТЮТЮН</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПРАСКОВЕНА ЛИСТНА ВЪШКА <span class="latin_name">Myzus persicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            през вегетацията<br/>
                            първо третиране
                        </td>
                        <td rowspan="2">ларви – възрастни</td>
                        <td>2% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>второ третиране</td>
                        <td>15-20% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОРАНЖЕРИЙНА БЕЛОКРИЛКА <span class="latin_name">Trialeurodes vaporariorum</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви – възрастни</td>
                        <td>10% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПОДЗЕМНИ НОЩЕНКИ/СИВИ ЧЕРВЕИ <span class="latin_name">Agrotis sp., Euxoa sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>гъсеници ІІІ-та възраст</td>
                        <td>2-3 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИВАДНА ПЕПЕРУДА <span class="latin_name">Loxostege sticticalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>гъсеници ІІ-ра възраст</td>
                        <td>5-6 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ИПСИЛОНОВА НОЩЕНКА <span class="latin_name">Scotia ypsilon</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>гъсеници ІІІ-та възраст</td>
                        <td>1,5-2 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА НОЩЕНКА <span class="latin_name">Helicoverpa armigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td>фаза 10-15 листа - бутонизация</td>
                        <td>гъсеници</td>
                        <td>10 бр./100 растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЕНТОВА НОЩЕНКА <span class="latin_name">Chloridea peltigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>гъсеници ІІ-ра възраст</td>
                        <td>25 бр./100 растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТРИПС <span class="latin_name">Thrips tabaci</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>възрастни</td>
                        <td>
                            единични индивиди на<br/> 
                            10-12% от растенията
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>ларви</td>
                        <td>5-6 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИВ ЦАРЕВИЧЕН ХОБОТНИК <span class="latin_name">Tanymecus dilaticollis</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">след разсаждане</td>
                        <td rowspan="2">възрастни</td>
                        <td>
                            над 3-4 бр./кв.м при<br/>
                            ориенталски тютюн
                        </td>
                    </tr>
                    <tr>
                        <td>
                            над 1-2 бр./кв.м при<br/>
                            едролистен тютюн
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
