<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЯГОДОПЛОДНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МАЛИНА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/092(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/26(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н. Никола Атанасов<br/>
                ст.н.с.II ст. д-р Ньонка Велчева<br/>
                ст.н.с.II ст. д-р Нонка Бакърджиева<br/>
                ст.н.с.II ст. д-р Ганка Баева<br/>
                н.с. д-р Елена Цолова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Маргарита Ценова - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МАЛИНА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при малина.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Основната цел на тази технология е да се представи една добра растителнозащитна практика при
                малината. Основният принцип на тази практика е да се прилагат съвместно всички методи за
                борба, включително и агротехническите, с които да се създават неблагоприятни условия за
                развитието на вредителите.
            </p>
            <p>
                У нас от малиновите култури основно се отглежда видът <span class="latin_name">Rubus idaeus</span>.
                Българските сортове малини Български рубин, Шопска алена, Искра, Самодива и Люлин са с
                доказани качества на международния пазар и добре приспособени към местните климатични условия.
            </p>
            <p>
                Добрата растителнозащитна практика при малината се основава на следните по-важни принципи:
            </p>
            <p>
                - използване на сертифициран и свободен от вирусни и микоплазмени болести здрав посадъчен материал;
            </p>
            <p>
                - правилен избор на подходящи площи за нови насаждения;
            </p>
            <p>
                - спазване на всички основни агротехнически мероприятия за отглеждане на културата (мястото
                за засаждане да е изцяло изложено на слънчева светлина и да осигурява добра въздушна
                циркулация, да е добре защитено от отрицателните температури през зимните месеци, почвата да
                е с добър въздушен дренаж);
            </p>
            <p>
                - новите малинови насаждения трябва да бъдат създавани при пространствена изолация не по-малко
                от 600 м от диворастящите видове и да са чисти от многогодишни плевели.
            </p>
            <p>
                - обработки като риголване, дълбока оран и ограждане с канавки създават неблагоприятни
                условия за развитието на вредителите.
            </p>
            <p>
                Не се счита за ДРЗП прилагането на системно обеззаразяване на почвата преди засаждането на
                растенията като метод за борба срещу някои почвени неприятели и нематоди. Обеззаразяването на
                почвата трябва да се провежда само в случаите, когато е необходимо, преди засаждането на
                растенията в маточниците, за да се контролират нематодите - преносители на вирусни болести,
                плевелите и други почвени вредители.
            </p>
            <p>
                Рискът от заразяване на малиновата култура се намалява значително, ако непосредствено след
                прибиране на реколтата всички стари и заразени от болести и неприятели нови издънки се
                изрязват, отстраняват и унищожават. Прилагането на продукти за растителна защита и
                агротехнически методи, като поддържане на оптимална гъстота на издънките в редовата ивица в
                малиновите насаждения (с цел да се осигури по-добро развитие на листата на растенията)
                подобрява значително ефикасността на прилаганите продукти за растителна защита. Добрата
                растителнозащитна практика включва използването на подходяща техника за приложение на
                продукти за растителна защита. Болести, причинявани от вируси и фитоплазми, не са включени
                в настоящата технология, защото цялостната концепция на ДРЗП предполага използването на
                здрав посадъчен материал и елиминирането на насекомите преносители.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/8-jagodoplodni-prilojenie.pdf"
                >
                    * Виж приложение 7
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по малината са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#didimella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Дидимела - <span class="latin_name">Didimella applanata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptosphaeria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Изсъхване на леторастите на малината - <span class="latin_name">Leptosphaeria coniothirium</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gleosporium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Gleosporium venetum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#septoria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Септориоза - <span class="latin_name">Septoria rubi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botryotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botryotinia fuckeliana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phragmidium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Phragmidium rubi-idaei</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-fragari" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червено кореново гниене - <span class="latin_name">Phytophthora fragariа var. rubi.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#verticillium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вертицилийно увяхване - <span class="latin_name">Verticillium ssp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrilus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинов агрилус - <span class="latin_name">Agrilus aurichalceus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thomassiniano" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малиново комарче - <span class="latin_name">Thomassiniano theobaldi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lasioptera-rubi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинова стъблена галица - <span class="latin_name">Lasioptera rubi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#byturus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен малинов бръмбар - <span class="latin_name">Byturus tomentosus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Паяжинообразуващи акари
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phyllocoptes-gracilis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малинов акар - <span class="latin_name">Phyllocoptes gracilis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Jerzy Opioła - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=60378215</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3561704</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=7205639</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>http://agronomija.rs/2013/malinin-prstenar-agrilus-aurichalceus/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=16371728</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
