<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЛОЗА</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Lorenz et al., 1994</p>
          <p>
            Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
            лоза (<span class="italic">Vitis vinifera</span> L. ssp. <span class="italic">vinifera</span>)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Напъпване/Развитие на пъпките</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>
                      Покой: зимните пъпки са заострени до закръглени, светло до тъмнокафяви в 
                      зависимост от сорта; люспите на пъпките са повече или по-малко затворени в 
                      зависимост от сорта
                    </td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на набъбване на пъпките: пъпките започват да се разрастват вътре в обвивката</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Край на набъбване на пъпките: пъпките са набъбнали, но не са зелени</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>“Мъхеста фаза”: ясно се вижда кафяв мъх</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Начало на разпукване на пъпките: показват се зелени връхчета</td>
                  </tr>
                  <tr>
                    <td>08</td>
                    <td>Разпукване на пъпките: ясно се виждат зелени върхове на леторастите</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Първият лист е отворен и се разстила настрани от летораста</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Вторите листа са отворени</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Третите листа са отворени</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>9 и повече листа са отворени</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цвета</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Съцветията се виждат изцяло</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Съцветията набъбват, цветчетата са затворени и плътно прилепнали</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Съцветията са напълно развити; цветчетата са разделени</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Първите реси се освобождават от пъпката</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтреж: 10% опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>20 % опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>Ранен цъфтеж: 30% опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>40 % опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Масов цъфтеж: 50% опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>66</td>
                    <td>60 % опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>70 % опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>68</td>
                    <td>80 % опадане на ресите</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Завърз: младите плодове започват да наедряват, остатъците от цветовете опадат</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>73</td>
                    <td>Гроздовите зърна са по-дребни от грахово зърно, гроздата започват да увисват</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>Гроздовите зърна са с размер на грахово зърно, гроздата да увисват</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>77</td>
                    <td>Зърната започват да се събират, грозда се затваря</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Повечето от зърната се събират, грозда се затваря</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плода</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: зърната започват да развиват характерните за сорта особености</td>
                  </tr>
                  <tr>
                    <td>83</td>
                    <td>Зърната формират цвят</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Омекване на зърната</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Плодът е готов за беритба</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж  9: Стареене</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>След реколтиране; край на узряването на дървесината</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Промяна в оцветяването на листата</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Начало на опадане на листата</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>50 % листопад</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Край на листопада</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Реколтиран продукт</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->

    <div class="row image-conainer ">
      <div class="image-content-1 image_general"></div>
    </div>
  
</div>
