<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЦВЕКЛО</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Meier et al., 1993</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при цвеклото
              (<span class="italic">Beta vulgaris L. ssp. vulgaris.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване: семената започват да поемат вода</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Пълно (край на) набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Поява на коренче</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Поява на кълна</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: кълнът излиза на повърхността на почвата</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листа (младенчески стадий)</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>	Видими първите листа (като глава на топлийка): котиледоните са хоризонтално разтворени</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Видима първа двойка листа (големина на грахче), все още неразтворени</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Разлистени 2 листа (първи чифт листа)</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Разлистени 4 листа (втори чифт листа)</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Разлистени 5 листа</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Растежа продължава до ...</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 и повече листа разлистени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Растеж на розетката (покриване на културата)</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Листата покриват 10% от повърхността</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Листата покриват 20% от повърхността</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Листата покриват 30% от повърхността</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Листата покриват 40% от повърхността</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Листата покриват 50% от повърхността</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>Листата покриват 60% от повърхността</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Листата покриват 70% от повърхността</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Листата покриват 80% от повърхността</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Листата покриват 90% от повърхността</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Техническа зрялост на кореноплодите</td>
                    </tr>
                    <tr>
                        <td>49</td>
                        <td>Кореноплодите са в техническа зрялост</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на съцветие (втора година на растеж) </td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Начало на удължаването на главното стъбло</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>Главното стъбло е с дължина 20 cm</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>Поява на пъпки по главното стъбло</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>Страничните разклонения са ясно видимо върху главното стъбло</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Видими първи цветни бутони върху страничните стъбла</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Първият прицветник е видим: цветните бутони са все още затворени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Разтворени първи цветове</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтене: 10% разтворени цветове</td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>20% отворени цветове</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>30% отворени цветове</td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>40% отворени цветове</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Масов цъфтеж: 50% отворени цветове</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Прецъфтяване: 70% от цветовете са разтворени и прецъфтели</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтене: всички цветове са сухи, видими първи съплодия</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Начало на развитие на семето: видими семена в съплодията</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Перикарп зелен, семенна обвивка – бежова, ендосперма е млечен, цвета е като цвета на семето, бежов</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>Начало на узряване: перикарпа е зеленокафяв, семенната обвивка - светлокафява</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Перикарпа е светлокафяв, семенната обвивка - червенокафява</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Перикарпа е твърд, семенната обвивка - тъмнокафява</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрелост: обвивката на семената е с цвят специфичен за сорта и вида, ендосперма е твърд</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>91</td>
                        <td>Начало на пожълтяване на листата</td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>По-голямата част от листата са пожълтели</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>50% от листата са покафенели</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Отмиране на листата</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Семената са прибрани</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div> 