<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >КАРТОФИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Hack et al., 1993</p>
            <p>
              Фенологични фази на растеж и идентификационен ключ за картофите 
              (<span class="italic">Solanum tuberosum</span> L.)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание на развитието от клубени</th>
                        <th>Описание на развитието от семе</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>000</td>
                        <td>Период на покой, клубените не покълнват</td>
                        <td>Сухи семена</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>001</td>
                        <td>Начало на покълнване: поява на кълнове (&#60; 1 mm)</td>
                        <td>Начало на покълнване на семената</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>001</td>
                        <td>Изправяне на кълновете (&#60; 2 mm)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>003</td>
                        <td>Край на покоя: кълновете са 2-3 mm</td>
                        <td>Семаната са покълнали напълно</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>005</td>
                        <td>Начало на образуване на корени</td>
                        <td>Поява на коренчета от семената</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>007</td>
                        <td>Начало на образуване на стъблата</td>
                        <td>Прокарване на хипокотил с котиледони</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>008</td>
                        <td>Стъблата нарастват към почвената повърхност, образуват се листенца, в пазвите на които ще се развият по-късно столоните</td>
                        <td>Хипокотилът с котиледоните нарастват към почвената повърхност</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>009</td>
                        <td>Поникване: стъблата излизат над почвената повърхност</td>
                        <td>Поникване: котиледоните излизат над почвената повърхност</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 1: Развитие на листата</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>100</td>
                        <td colspan="2">
                            От клубени: първите листенца започват да нарастват<br/>
                            От семена: котиледоните напълно се разтварят
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>101</td>
                        <td colspan="2">Разтваряне на първите листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>102</td>
                        <td colspan="2">Разтваряне на вторите листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>103</td>
                        <td colspan="2">Разтваряне на третите листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>10.</td>
                        <td colspan="2">Фазата продължава до . . .</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>109</td>
                        <td colspan="2">Разтваряне на 9 или повече листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>110</td>
                        <td colspan="2">Разтваряне на 10 листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>11.</td>
                        <td colspan="2">Фазата продължава до ...</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>119</td>
                        <td colspan="2">Разтваряне на 19 листа на главното стъбло (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>121</td>
                        <td colspan="2">Разтваряне на първия лист от 2-то разклонение над първото съцветие (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>122</td>
                        <td colspan="2">Разтваряне на втория лист от 2-то разклонение над първото съцветие (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>12.</td>
                        <td colspan="2">Фазата продължава до . . .</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>131</td>
                        <td colspan="2">Разтваряне на първия лист от 3-тото разклонение над второто съцветие (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>132</td>
                        <td colspan="2">Разтваряне на втория лист от 3-тото разклонение над второто съцветие (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>13.</td>
                        <td colspan="2">Фазата продължава до . . .</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1NX</td>
                        <td colspan="2">Разтваряне на Х-ти лист от n-то разклонение над n-тото съцветие (> 4 cm)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза  на растеж 2: Образуване на основни странични разклонения под и над почвената повърхност (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>201</td>
                        <td colspan="2">Поява на първото основно странично разклонение (> 5 cm)</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>102</td>
                        <td colspan="2">Поява на второто основно странично разклонение (> 5 cm)</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>203</td>
                        <td colspan="2">Поява на третото основно странично разклонение (> 5 cm)</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>20.</td>
                        <td colspan="2">Фазата продължава до ...</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>209</td>
                        <td colspan="2">на 9 или повече основни странични разклонения (> 5 cm)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 3: Удължаване на главното стъбло (покритие)</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>301</td>
                        <td colspan="2">Начало на сгъстяване, 10% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>302</td>
                        <td colspan="2">20% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>303</td>
                        <td colspan="2">30% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>304</td>
                        <td colspan="2">40% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>305</td>
                        <td colspan="2">50% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>306</td>
                        <td colspan="2">60% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>307</td>
                        <td colspan="2">70% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>308</td>
                        <td colspan="2">80% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>309</td>
                        <td colspan="2">Посева се сгъстява напълно: около 90% от растенията в редовете се допират</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 4: Образуване на клубени</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>400</td>
                        <td colspan="2">Начало на образуване на клубени: нарастване до два пъти на диаметъра на върха на 1-ия столон спрямо срещулежащия столон</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>401</td>
                        <td colspan="2">Клубените достигат до 10% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>402</td>
                        <td colspan="2">Клубените достигат до 20% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>403</td>
                        <td colspan="2">Клубените достигат до 30% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>44</td>
                        <td>404</td>
                        <td colspan="2">Клубените достигат до 40% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>405</td>
                        <td colspan="2">Клубените достигат до 50% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>46</td>
                        <td>406</td>
                        <td colspan="2">Клубените достигат до 60% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>47</td>
                        <td>407</td>
                        <td colspan="2">Клубените достигат до 70% от крайното си тегло</td>
                    </tr>
                    <tr>
                        <td>48</td>
                        <td>408</td>
                        <td colspan="2">
                            Клубените достигат до максималното си тегло, клубените лесно се отделят 
                            отстолоните, кожицата все още не се е оформила напълно (кожицата лесно 
                            се отстранява с палец)
                        </td>
                    </tr>
                    <tr>
                        <td>49</td>
                        <td>409</td>
                        <td colspan="2">
                            Кожицата се е оформила напълно (кожица в най-горния край на клубена не 
                            се отстранява с палец) -95% от клубените са в тази фаза
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 5: Поява на цвят (съцветие китка)</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>501</td>
                        <td colspan="2">Поява на първите отделни бутони (1-2 mm) от първото съцветие (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>505</td>
                        <td colspan="2">Бутоните на първото съцветие нарастват до 5 mm </td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>509</td>
                        <td colspan="2">Поява на първото цъфтящо венчелистче от първото съцветие</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 5: Поява на цвят (продължава)</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>521</td>
                        <td colspan="2">Поява на отделни бутони от 2-то съцветие (второ разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>525</td>
                        <td colspan="2">Бутоните от 2-то съцветие нарастват до 5 mm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>529</td>
                        <td colspan="2">Поява на първо цъфтящо венчелистче над чашечното листенце от 2-то съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>531</td>
                        <td colspan="2">Поява на отделни бутони от 3-тото съцветие (3-то разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>535</td>
                        <td colspan="2">Бутоните от 3-тото съцветие нарастват до 5 mm</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>539</td>
                        <td colspan="2">Поява на първото цъфтящо венчелистче над чашечното листенце от 3-тото съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">Поява на N-то съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>5N</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>600</td>
                        <td colspan="2">Първи отворен цвят в популацията</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>601</td>
                        <td colspan="2">Начало на цъфтеж: 10% от цветовете в първото съцветие са отворени (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>602</td>
                        <td colspan="2">20% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>603</td>
                        <td colspan="2">30% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>604</td>
                        <td colspan="2">40% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>605</td>
                        <td colspan="2">Пълен цъфтеж: 50% от цветовете в първото съцветие са отворени</td>
                    </tr>
                    <tr>
                        <td>66</td>
                        <td>606</td>
                        <td colspan="2">60% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>607</td>
                        <td colspan="2">70% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>68</td>
                        <td>608</td>
                        <td colspan="2">80% от цветовете в първото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>609</td>
                        <td colspan="2">Край на цъфтежа на първото съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>621</td>
                        <td colspan="2">Начало на цъфтеж: 10% от цветовете във 2-рото съцветие са отворени (второ разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>625</td>
                        <td colspan="2">Пълен цъфтеж: 50% от цветовете на 2-рото съцветие са отворени</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>629</td>
                        <td colspan="2">Край на цъфтежа на 2-рото съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>630</td>
                        <td colspan="2">Начало на цъфтеж: 10% от цветовете в 3-тото съцветие отворени (трето разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>635</td>
                        <td colspan="2">Пълен цъфтеж: 50% от цветовете в 3-тото съцветие са отворени </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>639</td>
                        <td colspan="2">Край на цъфтежа на 3-тото съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>6N</td>
                        <td colspan="2">N-ти цъфтящо съцветие</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>6N9</td>
                        <td colspan="2">Край на цъфтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 7: Развитие на плод</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>700</td>
                        <td colspan="2">Поява на първи плод</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>701</td>
                        <td colspan="2">10% от плодовете от първото плодообразуване достигат пълен размер (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>702</td>
                        <td colspan="2">20% от плодовете от първото плодообразуване достигат пълен  размер </td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>703</td>
                        <td colspan="2">30% от плодовете от първото плодообразуване достигат пълен  размер </td>
                    </tr>
                    <tr>
                        <td>7..</td>
                        <td>70.</td>
                        <td colspan="2">Фазата продължава до ...</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>721</td>
                        <td colspan="2">10% от плодовете на 2-ро плодообразуване достигат пълен размер (второ разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7N</td>
                        <td colspan="2">Развитие на плодовете в n-то плодообразуване</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7N9</td>
                        <td colspan="2">Почти всички плодове в n-то плодообразуване достигат пълен размер</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главна фаза на растеж 8: Узряване на плодовете и семената</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>801</td>
                        <td colspan="2">Плодовете от първото плодообразуване са зелени все още, а семената са светло оцветени (главно стъбло)</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>805</td>
                        <td colspan="2">Плодовете от първо плодообразуване са оцветени от охра до кафяво</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>809</td>
                        <td colspan="2">Плодовете от първо плодообразуване се сбръчкват, семената потъмняват </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>821</td>
                        <td colspan="2">Плодовете от 2-ро плодообразуване са зелени все още, семената са светло оцветени (второ разклонение)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>8N</td>
                        <td colspan="2">Узряване на плодовете и семената от n-то плодообразуване</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="4">Главан фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td class="line-bottom" colspan="4">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td>91</td>
                        <td>901</td>
                        <td colspan="2">Начало на пожълтяване листата</td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>903</td>
                        <td colspan="2">Повечето от листата са пожълтели</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>905</td>
                        <td colspan="2">50% от листата са покафевели</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>907</td>
                        <td colspan="2">Листата и стъблата загиват, стъблата покафевяват и изсъхват</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>909</td>
                        <td colspan="2">Готов продукт за прибиране</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
