<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ГРАХ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/023(1)</p>
        <p class="number-eppo">№ на ЕРРО PP 2/014(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row logo text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ГРАХ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на Добрата растителнозащитна практика при грах.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Грахът е едногодишна зърнено-бобова култура, отглеждана в Северна Европа от семена, които се засяват през
                март или април (в Южна Европа-през януари или февруари). Отглежда се за три основни цели:
            </p>
            <p >
                1. Грах за зелено-пресен грах, използван за консумация, основно замразен.
            </p>
            <p>
                2. Комбиниран грах - зрял грах за консервиране или за консумация и фураж.
            </p>
            <p>
                3. Цяла култура, използвана за фураж самостоятелно или комбиниран с фуражни тревни или житни култури.
            </p>
            <p >
                Вредителите по граха могат да причинят намаляване на добива, да понижат качеството му, да изложат на опасност
                реализирането на продукцията и нарушат производството на фабриките. В много случаи при граха за зелено и
                комбинирания грах за консумация и фураж третиранията сами по себе си не водят до увеличаване на добива, но
                качеството и чистотата на продукцията са основните причини за прилагане мероприятия за борба.
            </p>
            <p >
                ДРЗП при граха се основава на някои основни елементи. Агротехническите мерки водят до намаляване проявата
                и степента на нападение от икономически значимите вредители. От тях най-важно е сеитбообръщението, включващо
                граха всеки 5-6 години. Важно условие е и използването на здрав посевен материал. Съществуват неуловими и
                често незабележими загуби от намножаването на почвени вредители, които обаче да доведат до чувствително
                затормозяване на развитието на растенията и намаляване на доходите. Съблюдаването на икономическите прагове
                на вредност и наблюденията за установяване необходимостта и времето на третиране се препоръчват заедно със
                селекцията като най-подходящи за решаването на растителнозащитните проблеми.
            </p>
            <p >
                ДРЗП при граха трябва да включва отглеждането на устойчиви сортове. На настоящия етап биологична борба не се прилага.
            </p>
            <p >
                Стратегиите за борба са в зависимост от наличните вредители в ценозата на граха и включват различни комбинации
                с други култури в сеитбообръщения, използване на толерантни до устойчиви сортове, хербицидни третирания,
                третиране на семената с фунгицидни продукти за растителна защита по подходящи методи, подобряване отводняването
                и аерацията на почвата, зелено торене, пролетна подготовка на почвата за сеитба, регулиране на солевия й
                баланс. Всички тези фактори могат да се обединят в една добра растителнозащитна стратегия.
            </p>
            <p >
                В ДРЗП трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p>
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната
                страна за даден вредител.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->


    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по граха в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-pisi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Erysiphe pisi=Erysiphe polygoni</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-pisi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Напетняване на листата и бобовете - <span class="latin_name">Ascochyta pisi, Micosphaerella pinodes u Phoma medicagines var. pinodella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротийно увяхване - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Бактериен пригор - <span class="latin_name">Pseudomonas syringae pv. pisi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - BYMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грахова жилкова мозайка - <span class="latin_name">Pea enation mosaic virus</span> - PEMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова мозайка - <span class="latin_name">Alfalfa mosaic alfamovirus</span> - AlMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus</span> - CMV
                    </a>
                </li>


                <li>
                    <a class="back_link" przAnchorTo target="#bruchus-pisi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грахов зърнояд - <span class="latin_name">Bruchus pisi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bruchus-rufimanus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фиев зърнояд - <span class="latin_name">Bruchus rufimanus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acyrthosiphon-pisi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грахова листна въшка – <span class="latin_name">Acyrthosiphon pisi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова кафява нощенка - <span class="latin_name">Gonospileia (Euclidia) glyphica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова нощенка - <span class="latin_name">Chloridea maritima</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tychius-quinquepunctatus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобов петточков хоботник - <span class="latin_name">Tychius quinquepunctatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#etiella-zinckenella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобова огневка (соев молец) - <span class="latin_name">Etiella zinckenella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#curculionidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грудкови хоботници - <span class="latin_name">Sitona crinita</span> и <span class="latin_name">Sitona lineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тъмна грахова листозавивачка - <span class="latin_name">Laspeyresia nigricana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена грахова листозавивачка - <span class="latin_name">Ascochyta pisi</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://agriculture.basf.com/cn/en/Crop-Protection/Powdery-mildew-pea.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>https://alchetron.com/Ascochyta-pisi</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>Por Shipher Wu (photograph) and Gee-way Lin (aphid provision), National Taiwan University - PLoS Biology, February 2010 direct link to the image description, CC BY 2.5, https://commons.wikimedia.org/w/index.php?curid=9590073</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371113 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6730871</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371114 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(Cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=7021792</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>Par ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=487437</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1680682</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span >By 4028mdk09 - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11746444</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>By Harald Hubich - photo taken by Harald Hubich, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=334065</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

