<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ УКРАСНИ КУЛТУРИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/053(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/13(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Емилия Миркова<br/>
                докторант Владимир Крумов<br/>
                д-р Петър Николов- НСРЗ<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2005 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ УКРАСНИ КУЛТУРИ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципитена Добрата растителнозащитна практика украсни култури в култивационни съоръжения</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Ръководството за Добрата растителнозащитна практика при украсни култури, отглеждани при
                оранжерийни условия, представлява част от EPPO-програмата за всички основни култури в
                EPPO-региона. Те трябва да бъдат съобразени с EPPO - стандартите - PP 2/1(2) общи
                Принципи за Добра растително защитна практика (ДРЗП). Ръководството съдържа методите за
                борба с вредителите при украсни за рязан цвят и саксийни видове, отглеждани при оранжерийни
                условия като роза, хризантема, карамфил, гербера, фрезия, фуксия, циклама, бегония,
                глоксиния, цинерария, палми, фикуси и др.
            </p>
            <p>
                Задължително правило при украсните култури е те да се отглеждат съобразно технологичните им
                изисквания. Това е особено важно, тъй като производството на цветя изисква големи
                капиталовложения и разходи за труд. При интензивното отглеждане на украсните култури в
                оранжериите възможностите за редуването им са ограничени и същевременно то няма голямо
                значение при борбата с болестите и неприятелите. Използването на здрав посадъчен материал,
                обеззаразяването на семената (където е възможно) и отглеждането на растенията върху
                незаразени почви или хранителни субстрати е от съществено значение. Специфичните технологии
                на хидропонното отглеждане включват използването на незаразена вода. Многократната употреба
                на изкуствени среди (перлит, зоолит, вата и др.) е възможна само след предварителното им
                пропарване. За да се ограничи до минимум заразяването на растенията, инвентарът и машините
                трябва да се почистват след работа с тях. Поставянето на мрежи върху вратите и
                проветрителите предотвратява проникването на насекоми (листни въшки, листозавивачки,
                възрастни индивиди на листоминиращи мухи и белокрилки) в култивационните съоражения. Срещу
                трипси и други дребни насекоми да се използват мрежи с минимални отвори.
            </p>
            <p>
                При възможност за избор да се предпочитат устойчиви или слабо чувствителни сортове към
                причинителите на мани и ръжди. Предварителното обеззаразяване на семената както и потапяне
                на резниците в разтвори на продукти за растителна защита (ПРЗ) е добра растителнозащитна
                практика. Тези третирания спомагат за ограничаване на заразяванията и броя на пръсканията
                през вегетацията. Провеждането на периодични прегледи на насажденията ще спомогне за
                ранното установяване на вредителите. ДРЗП е програмите за борба с вредителите да бъдат
                предварително разработени, независимо дали има нападение от тях или се очаква такова.
                Въпреки че дозите на продукти за растителна защита са посочени върху етикетите, при тяхното
                определяне трябва да се отчита влиянието и на предишните третирания. Комбинациите от ПРЗ
                или подходящото им редуване може да предотврати развитието на резистентност. Продукцията,
                предназначена за износ, задължително трябва да бъде свободна от болести и неприятели. В
                такива случаи въпреки профилактичните мерки са налага провеждане на химични третирания.
            </p>
            <p>
                При украсните култури фитотоксичността на ПРЗ е изключително важна. Независимо че тя се
                отчита при регистрацията на продукти за растителна защита, голямото сортово разнообразие на
                украсните култури изисква провеждането на предварителен тест за всеки конкретен сорт. Не се
                препоръчва използването на ПРЗ, които зацапват растенията.
            </p>
            <p>
                ДРЗП е използването на подходяща техника. Прилагането на продукти за растителна защита се
                извършва основно чрез пръскане, в т.ч. директно пръскане на растенията или третиране на
                цялата площ чрез малообемно пръскане. ДРЗП е третиранията да се извършват чрез капковите
                поливни системи.
            </p>
            <p>
                При едрокапковото пръскане и прашенето не се постига висока ефективност поради
                недостатъчното покритие на растенията. Пропарването на почвата се използва за борба с
                почвени вредители и плевели преди засажднето. Почвата най-често се обеззаразява чрез
                пропарване, а използваният инвентар се дезинфекцира с меден сулфат, формалин, белина,
                калиев перманганат. Системното обеззаразяване на почвата не е ДРЗП. То се извършва само в
                случаите, когато е необходимо.
            </p>
            <p>
                В оранжериите е много важно да се осигури безопасно приложение на ПРЗ за работниците, които
                извършват третиранията, и за персонала, който работи в третираните площи. При обгазяване на
                цялата площ проветрителите трябва да бъдат плътно затворени, за да се предотврати
                разпространението на ПРЗ извън оранжерията.
            </p>
            <p>
                Биологичната борба, като част от интегрираната растителна защита се превръща в обичайна
                практика при прозводството на украсни култури. Ако се използват биоагенти, но се налага и
                приложение на ПРЗ, трябва да се отчита страничният ефект на тези продукти за растителна
                защита върху биоагентите, като се избира най-подходящият момент за приложението (да се
                използва таблицата публикувана през 1998 Plantenzie-ktenkundige Dienst in Bulletin
                OEPP/EPPO Bulletin 28, 423-429). Когато ПРЗ имат токсичен ефект спрямо биоагентите, то
                тогава се препоръчва третиране само на нападнатите участъци, за да се предотврати пълното
                унищожаване на биоагентите.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основните вредители по украсните култури, отглеждани в култиваиионни съоръжения, са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pythium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Болести по младите растения <span class="latin_name">(поници, резници, издънки)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#verticillium-albo-atrum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Увяхвания
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#oidium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнести мани
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#uromyces-dianthi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротинийно гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudoperonospora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мани
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bacterials" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Оранжерийна белокрилка
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Трипси
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Акари
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#liriomyza" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листоминиращи мухи от род <span class="latin_name">Liriomyza</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lice" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лъжещитоносни и щитоносни въшки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tortricidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листозавивачки - <span class="latin_name">Tortricidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptidopera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гъсеници на нощенки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#spodoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Малка полска нощенка - <span class="latin_name">Spodoptera exigua</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphelenchoides" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни и стъблени нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Галови нематоди - <span class="latin_name">Meloidogyne spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sciaridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сциаридни мухи - <span class="latin_name">Sciaridae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#otiorhynchus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хоботници - <span class="latin_name">Otiorhynchus spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#regulathors" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Растежни регулатори
                    </a>
                </li>
                <li>
                    <p>
                        При съмнения за поява на карантинни вредители веднага да се търси съдействие от
                        Централната лаборатория по карантина на растенията.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>Public Domain, https://commons.wikimedia.org/w/index.php?curid=771997</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Dr. Janos Bodor - http://calphotos.berkeley.edu/cgi/img_query?enlarge=0000+0000+1010+1893, Public Domain, https://commons.wikimedia.org/w/index.php?curid=29088893</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1971279</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Opuntia - Собствена творба, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=2619812</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
