<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >КОСТИЛКОВИ ОВОЩНИ ВИДОВЕ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Meier et al., 1994</p>
          <p>
            Фенологични фази на растеж и ВВСН-ключове за тяхната идентификация при костилкови овощни видове: 
            череша (<span class="italic">Prunus cerasus</span> L.); 
            слива (<span class="italic">Prunus domestica</span> L.ssp <span class="italic">domestica</span>); 
            праскова (<span class="italic">Prunus persica</span> Batsh.); 
            кайсия (<span class="italic">Prunus americana</span> L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна растежна фаза 0: Напъпване / Развитие на пъпките</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Покой: листните и цветните пъпки са затворени и покрити с тъмнокафяви люспи</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на събуждането (набъбване) на пъпките: показват се светлокафяви люспи със светлооцветени краища</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Край на събуждането на (набъбване) пъпките: люспите са отделени; вижда се светлозелен сектор на пъпката</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>Виждат се светлозелени връхчета; кафявите люспи са паднали, пъпките са обвити със светлозелени люспи</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Отделяне на първите листа: светлозелените люспи са леко отворени и откриват листата</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Развиване на първите листа; вижда се оста на развиващия се летораст</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Първи листа с напълно разгънати петури</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 3: Развитие на леторастите</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>Начало на развитие на леторастите: вижда се оста на развиващите се леторасти</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>Леторастите са достигнали около 20% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>Леторастите достигат до 30% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>3..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>Леторастите са достигнали около 90% от крайната си дължина</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 5: Начало на цъфтеж</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>51</td>
                    <td>Цветните пъпки са затворени, виждат се светлокафяви люспи</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Отваряне на пъпките: люспите са отворени, виждат се светлозелени сектори</td>
                  </tr>
                  <tr>
                    <td>54</td>
                    <td>Цветовете са обвити от светлозелени люспи (при някои сортове)</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>При някои пъпки светлозелените люспи са леко отворени</td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>Удължаване на цветните дръжки; чашелистчетата са затворени; обособяване на отделни цветове</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Чашелистчетата са отворени; вижда се връхчето на венчето (още затворено)</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>59</td>
                    <td>Повечето цветове с венчелистчета са оформени като топчици (бял бутон)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 6:  Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Първи отворени цветове</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж (отворени са около 10% от цветовете)</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>Отворени са около 20% от цветовете</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>Отворени са около 30% от цветовете</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>Отворени са около 40% от цветовете</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Пълен цъфтеж (отворени са поне половината от цветовете; падат първите венчелистчета)</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Увяхване на цветовете (повечето венчелистчета са паднали)</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа (паднали са всички венчелистчета)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 7: Растеж на плодовете</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Разрастване на яйчника; окапване на завръзи след цъфтежа</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>Зеленият яйчник е заобиколен от чашелистчетата; някои от тях започват да падат</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>Вторично окапване на завръза</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>Плодовете са достигнали половината от окончателната си големина</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>Плодовете са достигнали около 60% от окончателната си големина</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>Плодовете са достигнали около 70% от окончателната си големина</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>Плодовете са достигнали около 80% от окончателната си големина</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Плодовете са достигнали около 90% от окончателната си големина</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 8: Зреене на плодовете и семената</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на оцветяване</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Оцветяването се развива</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>Беритбена зрелост</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Консумативна зрелост (плодовете са с типичния си вкус и твърдост)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна растежна фаза 9: Стареене, навлизане в покой</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>Растежът на леторастите е завършил; листата са наситено зелени</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Започва пожълтяването (обезцветяването) на листата</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Започва листопадът</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>Половината от листата са пожълтели или опадали</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Всички листа са поднали</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Продукцията е прибрана</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
      <div class="image-content-1 image_general"></div>
    </div>
    <!-- Снимки -->
  
</div>
