<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ПАМУК</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ПАМУК</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЮТЮНЕВ ТРИПС <span class="latin_name">Thrips tabaci</span>
                        </td>
                    </tr>
                    <tr>
                        <td>1-10 април</td>
                        <td rowspan="4">
                            при очаквано силно<br/> 
                            нападение през вегетацията
                        </td>
                        <td>1 бр./плевел</td>
                    </tr>
                    <tr>
                        <td>11-30 април</td>
                        <td>3-4 бр./плевел</td>
                    </tr>
                    <tr>
                        <td>15-30 май</td>
                        <td>над 9 бр./плевел</td>
                    </tr>
                    <tr>
                        <td>3-ти – 4-ти същ. лист</td>
                        <td>1 бр./1 памуково растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА ЛИСТНА ВЪШКА <span class="latin_name">Aphis gossypii</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3-ти – 4-ти същ. лист<br/>
                            през вегетацията
                        </td>
                        <td>възрастни</td>
                        <td>
                            10 % нападнати растения с<br/>
                            единични колонии по тях
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            от бутонизация до<br/>
                            края на формиране
                        </td>
                        <td rowspan="2">възрастни</td>
                        <td>
                            3-5 % нападнати растения;<br/>
                            150 бр./100
                        </td>
                    </tr>
                    <tr>
                        <td>нападнати растения на кутийте</td>
                        <td>10-12% почервенели листа</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЛКА ПОЛСКА НОЩЕНКА <span class="latin_name">Spodoptera exiqua</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">през вегетацията</td>
                        <td rowspan="3">гъсеници</td>
                        <td>2 бр./растение</td>
                    </tr>
                    <tr>
                        <td>5% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>10% повредени растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА НОЩЕНКА <span class="latin_name">Helicoverpa armigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            І-во поколение<br/>
                            бутонизация
                        </td>
                        <td rowspan="4">яйца и гъсеници</td>
                        <td>20 яйца или 10 гъсеници/100 растения</td>
                    </tr>
                    <tr>
                        <td>25 повредени бутона /100 растения</td>
                    </tr>
                    <tr>
                        <td  rowspan="2">
                            ІІ-во ІІІ-то поколение<br/>
                            плодообразуване
                        </td>
                        <td>30 яйца или 15 гъсеници/100 растения</td>
                    </tr>
                    <tr>
                        <td>40 повредени бутона /100 растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>преди третиране на семената</td>
                        <td rowspan="2">ларви</td>
                        <td>5-8 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>преди внасяне на гранулат</td>
                        <td>8-10 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОБИКНОВЕН ПАЯЖИНООБРАЗУВАЩ АКАР <span class="latin_name">Tetranychus urticae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до края на август</td>
                        <td>ларви-възрастни</td>
                        <td>5% нападнати растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
