<div class="row text-center" id="prz-loader" *ngIf="!practices">
        <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
    </div>

<div id="wrap_lmenu_txt" *ngIf="practices">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ РЪЖ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/014(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/19(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Христинка Кръстева<br/>
                доц. д-р Мария Панайотова<br/>
                доц. д-р Тоньо Тонев<br/>
                ст.н.с.II ст. д-р <span class="doctor">Йорданка Караджова</span><br/>
                ст.н.с.II ст. д-р Сенка Миланова<br/>
                д-р Петър Николов – НСРЗ<br/>
                н.с. I ст. Антония Димитрова<br/>
                н. с. II ст. Милица Стефчева<br/>
                докторант Венцислав Венциславов<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ РЪЖ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при ръж.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Ръжта се отглежда в райони с умерен климат и северните райони на EPPO-региона. Зърното се използва главно
                за производство на хляб и директна консумация особено в страните, където консумацията на ръжен хляб е традиция.</p>
            <p >
                Ръжта се сее основно през есента. Сеитбообръщението с други житни или полски култури може да допринесе за
                редуциране на популациите на вредителите в почвата или растителните остатъци. Минималните културни практики
                като директна сеитба могат да намалят разходите за работна сила, но благоприятстват преживяването и
                създаването на популации от вредители в почвата.</p>
            <p >
                Когато ръжта се отглежда основно за зърно, целта на борбата срещу вредители е да се осигури получаване на
                добро количество и качество, както и добри хлебопекарни качества на получената реколта. За да се осъществи
                това, е важно посевът да не е полегнал и жътвата да се извърши веднага, когато зърното е узряло.</p>
            <p >
                Използването на устойчиви сортове и здрав посевен материал, сеитба в оптимални срокове, спазване на правилно
                сеитбообръщение, създаване на добре подготвено легло на семената са важни елементи на ДРЗП при ръжта.</p>
            <p >
                Третирания с ПРЗ могат да се наложат във всяка фенофаза от развитието на културата. Третирането на семената
                е ДРЗП, когато то е извършено срещу вредители, които не могат да бъдат контролирани с листни фунгициди.
                ДРЗП може да бъде и третирането на семената срещу други вредители, ако то ще замени няколко пръскания рано
                през вегетацията и по този начин ще се намали количеството продукти за растителна защита.</p>
            <p >
                Едновременното прилагане на две или повече активни вещества за пръскане или обеззаразяване на семената е
                ДРЗП, ако вредителите, срещу които те са ефективни, наистина се срещат или се очаква нападение от тях.</p>
            <p >
                Фермерите и консултантите трябва да познават основните вредители, да обследват редовно полетата и да
                ползват максимално критериите за прогноза и праговете на вредност. Дозите трябва да отговарят на спектъра
                от наблюдаваните вредители, вземайки под внимание индивидуалните ефекти и възможните взаимодействия.</p>
            <p >
                ДРЗП е да се намали течът и нежеланото разпиляване на продуктите за растителна защита. Това може да се
                постигне чрез използване на противокапкови устройства към всички разпръсквачи, предпазващи от теч, или
                на оборудване, което произвежда добър и еднакъв капков спектър при всички дюзи по дължината на щангата на
                пръскачката.</p>
            <p >
                Рискът да се развие резистентност спрямо фунгициди, инсектициди и хербициди е реална заплаха. Препоръчително
                е използването на активно вещество с друг начин на действие. За борба срещу икономически важните болести
                брашнеста мана и ръжди трябва да се редуват активни вещества и смесени формулации, съдържащи продукти с
                различен начин на действие, доколкото това практически е възможно.</p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum  text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по пшеницата са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#clavicеps-purpurea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мораво рогче (<span class="latin_name"> Clavicеps purpurea (Fr.) Tul.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhynchosporium-secalis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листен пригор (<span class="latin_name">Rhynchosporium secalis (Oudem.) Davies</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#puccinia-recondita" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафява ръжда (<span class="latin_name">Puccinia recondita f. sp. recondita</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-culmorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бaзично гниене (<span class="latin_name">Fusarium culmorum (W.G. Smith.) Sacc.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#monographella-nivalis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Снежна плесен (<span class="latin_name">Monographella nivalis (Schaffnit)E. Muller</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#zabrus-tenebrioides" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен житен бегач (<span class="latin_name">Zabrus tenebrioides Goeze</span>),
                        голям житен бегач (<span class="latin_name">Z. spinipes F.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sitobion-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена листна въшка (<span class="latin_name">Sitobion avenae L.</span>),
                        обикновена житна въшка (<span class="latin_name">Schizaphis graminum Rond</span>),
                        <span class="latin_name"> Rhopalosiphum padi Fitch.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lema-melanopus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена житна пиявица (<span class="latin_name">Lema melanopus L.</span>),
                        синя житна пиявица (<span class="latin_name">Lema lichenis Voet.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#oscinella-frit"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена шведска муха (<span class="latin_name">Oscinella frit L.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agromyza-megalopsis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ечемичена листоминираща муха (<span class="latin_name">Agromyza megalopsis Hering</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#haplothrips-tritici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пшеничен трипс (<span class="latin_name">Haplothrips tritici Kurd</span>)
                    </a>
                </li>


                <li>
                    <a class="back_link" przAnchorTo target="#heterodera-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#underlay" title="към текстаe">
                        <mat-icon>chevron_right</mat-icon>
                        Полягане
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div class="row">
        <div class="col-md-12 text-indent">
            <h3 >Пояснителни бележки относно активните вещества.</h3>
            <p >
                ДРЗП при изготвянето на това ръководство разглежда информацията за отделните активни вещества, включени в
                продуктите за растителна защита, и каква е тяхната връзка с основната стратегия за ДРЗП. Подробностите по
                отношение на активните субстанции са включени в информацията за регистрираните продукти в отделни страни
                от региона на ЕРРО. Възможно е, поради редица причини някои активни вещества да не са регистрирани за
                употреба или да са с ограничено приложение в други страни от ЕРРО - региона. Това обаче не прави основната
                стратегия невалидна. ЕРРО препоръчва да се следват принципите на ДРЗП, като се използват само продукти,
                регистрирани в страната за дадена цел.
            </p>
        </div>
    </div>

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ТАБЛИЦА BBCH -->
    <div class="aa-title" #structure id="table_bbch"></div>
    <prz-table></prz-table>
    <!-- КРАЙ ТАБЛИЦА BBCH -->

    <div class="row-back">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px;">
            <div class="panel-warning text-center">
                <div class="panel-heading ">
                    <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> към всички неприятели</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Dominique Jacquin - Dominique Jacquin, Public Domain, https://commons.wikimedia.org/w/index.php?curid=4436134</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=41150233</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>http://www.agroatlas.ru/en/content/diseases/Hordei/Hordei_Fusarium_sp/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Udo Schmidt from Deutschland - Zabrus tenebrionides (Goeze, 1777)Uploaded by Magnus Manske, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=22950234</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Emil Hochdanz - Carl Gustav Calwer; Gustav Jäger (1876) Käferbuch. Naturgeschichte der Käfer Europas., Stuttgart: Julius Hoffmann [1]www.biolib.de, Public Domain, https://commons.wikimedia.org/w/index.php?curid=4972261</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span >http://www.agroatlas.ru/en/content/pests/Sitobion_avenae/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Kent Loeffler - http://www.ars.usda.gov/is/graphics/photos/apr12/d2458-1.htm, Public Domain, https://commons.wikimedia.org/w/index.php?curid=52753821</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=394574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Udo Schmidt from Deutschland [CC BY-SA 2.0 (https://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By Sarefo - Собствена творба, GFDL, https://commons.wikimedia.org/w/index.php?curid=7057137</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>http://hitagro.ru/pshenichnyj-trips/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Kurt Stüber [1] - caliban.mpiz-koeln.mpg.de/mavica/index.html part of www.biolib.de, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=3536</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Walter Siegmund - Own work, CC BY 2.5, https://commons.wikimedia.org/w/index.php?curid=2133141</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
