<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ФАСУЛ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Feller et al., 1995</p>
            <p>
                Фенологични фази на растеж и ключове за (тяхната) идентификация при фасул
                ( <span class="italic">Phasseolus vulgaris var.namus L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0 :  Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Набъбването е завършено</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Първичният корен излиза от семето</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Хипокотилът и котиледоните пробиват семенната обвивка</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Хипокотилът достига  почвената повърхност. Вижда се главния хипокотил </td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: хипокотилът с котиледоните пробиват почвената повърхност (фаза на пробиване)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Котиледоните са напълно разтворени</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2 развити листа (първа листна двойка е разтворена)</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>3-ти същински лист (първи трилистник) разтворен</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече листа (2 развити листа, 7 или повече трилистници) </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Образуване на странични разклонения</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Първо странично разклонение се вижда</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Второ странично разклонение се вижда</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Трето странично разклонение се вижда</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>9 или повече странични разклонения се виждат</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Появява на съцветието</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Първите цветни пъпки се виждат</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Първите цветни пъпки са увеличени</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Първите листа на цвета се виждат, цветовете са още затворени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Първите цветове са отворени (случайно в посева)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">61</td>
                        <td>Начало на цъфтежа: 10% от цветовете са отворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>Начало на цъфтежа<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>20% от цветовете са отворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>30% от цветовете са отворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>40% от цветовете са отворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж: 50% от цветовете са отворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="bold">Основен цъфтежен период<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Цъфтежа е завършен: повечето от цветните  листа са опадали или са сухи<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа: първите чушки се виждат<sup>1</sup> </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td rowspan="2">71</td>
                        <td>10% от чушките са достигнали типичната дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>Начало на образуване на чушки<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>20% от чушките са достигнали типична дължина<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>30% от чушките са достигнали типична дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>40% от чушките са достигнали типична дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td rowspan="2">75</td>
                        <td>50% от чушките са достигнали типична дължина,</td>
                    </tr>
                    <tr>
                        <td>Фасулевите зърна започват да се уголемяват<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>60% от чушките са достигнали типична дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>70% от чушките са достигнали типична дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>78</td>
                        <td>80% от чушките са достигнали типична дължина<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Чушки: отделни фасулеви зърна се виждат лесно<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плода и семената</td>
                    </tr>
                    <tr>
                        <td rowspan="2">81</td>
                        <td>10%  от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>Семената започват да зреят<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>20% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>30% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>40% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>50% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="bold">Основен период на узряване<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>60% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>60% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>60% от чушките са узрели (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълно узряване (зърната са твърди)<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>90</td>
                        <td>Растенията загиват</td>
                    </tr>
                    <tr>
                        <td>91</td>
                        <td>Прибиране на продукция</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                            <span>1<sup></sup> За сортове с ограничен цъфтежен период</span><br/>
                            <span>2<sup></sup> 2 За сортове при които цъфтежния период не е ограничен</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
