<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЛУКОВИ КУЛТУРИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Feller et al., 1995 a</p>
          <p>
              Фенологични  фази на растеж и ВВСН-ключове за тяхната идентификация при културите: 
              лук (<span class="italic">Allium cepa</span> L.); 
              праз (<span class="italic">Allium porrum</span> L.); 
              чесън (<span class="italic">Allium sativum</span> L.); 
              лук-шалот (<span class="italic">Allium ascalonicum</span> auct. kon. L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж О: Покълнване</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>000</td>
                    <td>Сухо семе<sup>1</sup>, луковица в покой<sup>2</sup></td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>000</td>
                    <td>Начало на набъбване на семето</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>003</td>
                    <td>Семето е набъбнало</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>005</td>
                    <td>Поява на коренче от семето<sup>1</sup>, поява на корени<sup>2</sup></td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>007</td>
                    <td>Котиледоните пробиват обвивката на семето</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>009</td>
                    <td>Котиледоните пробиват повърхността на почвата<sup>1</sup>. Видим зелен стрък (shoot)<sup>2</sup></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>10</td>
                    <td>Котиледона е в стадий ”кукичка”</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>11</td>
                    <td>Котиледона като ”кукичка” е със зелен цвят</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>12</td>
                    <td>Стадий “камшиче”: котиледона е с форма на камшиче  </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 1: Развитие на листа/основен израстък(shoot)</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>101</td>
                    <td>Първи лист (> 3cm) ясно видим</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>102</td>
                    <td>Втори лист (> 3cm) ясно видим</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>103</td>
                    <td>Трети лист (> 3cm) ясно видим</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>10.</td>
                    <td>Растежа продължават до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>109</td>
                    <td>9 и повече листа</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 4: Развитие на вегетативните части за реколтиране</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>401</td>
                    <td>Основите на листата започват да се удебеляват и/или удължават</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>403</td>
                    <td>Достигнат е 30% от очаквания диаметър на луковицата или стъблото</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>405</td>
                    <td>Достигнат е 50% от очаквания диаметър на луковицата или стъблото</td>
                  </tr>
                  <tr>
                    <td>47</td>
                    <td>407</td>
                    <td>
                      Стадий “болт” (bolting): при 10% от растенията листата са завити.<sup>3</sup><br> 
                      Достигнат е 70% от очакваните дължина и диаметър на стъблото<sup>4</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>48</td>
                    <td>408</td>
                    <td>При 50% от растенията листата са завити</td>
                  </tr>
                  <tr>
                    <td>49</td>
                    <td>409</td>
                    <td>
                      Листата са загинали. Върхът на луковицата е сух, латентност<sup>3</sup><br>
                      Растежа е завършил: дължината и диаметъра на стъблото са типични за сорта
                    </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">
                        <span><sup>1</sup> Засяване на семена</span><br>
                        <span><sup>2</sup> Лук, лук-шалот и чесън</span><br>
                        <span><sup>3</sup> Лук и чесън</span><br>
                        <span><sup>4</sup> Праз</span>
                      </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 5: Формиране на съцветието</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>501</td>
                    <td>Начало на удължаване на луковицата</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>503</td>
                    <td>Цветното стъбло достига 30% от нормалната дължина</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>505</td>
                    <td>Цветното стъбло с нормална дължина; съцветието затворено</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>507</td>
                    <td>Съцветието разпукано и отворено</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>509</td>
                    <td>Видими първите лестенца на цвета; цветчетата все още затворени</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Основна фенофаза 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>600</td>
                    <td>Разтворени първите цветчета (спорадично)</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>601</td>
                    <td>Начало на цъфтеж; 10% от цветчетата разтворени</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>602</td>
                    <td>20% от цветчетата разтворени</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>603</td>
                    <td>30% от цветчетата разтворени</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>604</td>
                    <td>40% от цветчетата разтворени</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>605</td>
                    <td>Масов цъфтеж; 50%  от цветчетата разтворени</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>607</td>
                    <td>Приключване на цъфтежа; 70% от цветните листа изпадали или сухи</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>609</td>
                    <td>Край на цъфтежа</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Основна фенофаза 7: Формиране на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>701</td>
                    <td>Оформени първите капсули</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>702</td>
                    <td>Формирани 20% от капсулите</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>703</td>
                    <td>Формирани 30% от капсулите</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>704</td>
                    <td>Формирани 40% от капсулите</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>705</td>
                    <td>Формирани 50% от капсулите</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>706</td>
                    <td>Формирани 60% от капсулите</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>707</td>
                    <td>Формирани 70% от капсулите</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>708</td>
                    <td>Формирани 80% от капсулите</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>709</td>
                    <td>Завършено образуването на капсулите; семената в млечна зрялост</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Основна фенофаза 8: Узряване на плода и семената</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>801</td>
                    <td>Начало на узряване. 10% от капсулите узрели</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>805</td>
                    <td>Разпукване на първите капсулки</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>809</td>
                    <td>Пълно узряване: семената черни и твърди</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="3">2 и 3 цифрeн код</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Основна фенофаза 9: Приключване на развитието (стареене)</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>902</td>
                    <td>Листата и стъблата започват да се обезцветяват</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>905</td>
                    <td>50% от листата пожълтели или изсъхнали</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>907</td>
                    <td>Растенията или надземните им части изсъхнали</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>909</td>
                    <td>Прибиране на продукцията (семената)</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
  
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
