<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ НАХУТ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/025(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
      <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ НАХУТ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3>Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на Добрата растителнозащитна практика при нахут.</p>
            <h3>Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Нахутът е старо културно растение. Отглежда се заради семената, които имат голямо съдържание на белтъчни
                вещества, въглехидрати и известно количество мазнини, които го правят богата храна за човека и домашните
                животни. По съдържание на белтъчини и въглехидрати той не отстъпва на фасула, лещата и граха, а по съдържание
                на мазнини далеч ги надминава. Стъблата и листата също така съдържат доста големи количества белтъчни вещества,
                но като зелена храна за добитъка те не се употребяват, тъй като съдържат много ябълчена, лимонена и оксалова
                киселина. Сламата има приблизително същите хранителни стойности, както тази на соята.
            </p>
            <p >
                Семената на нахута покълват при 2°С, но за редовното им покълнване температурата на почвата трябва да е
                минимум 4°С. Както и другите бобови култури, в периода на поникването растенията се нуждаят от много топлина
                и влага. Нахутът е силно сухоустойчиво растение, издържа на ниски (до -22°С при снежна покривка) и високи
                температури. Към почвата не е особено взискателен, развива се добре и на по-леки почви. Времето на засяване
                е от решаващо значение за получаване на високи добиви. Семената поникват нормално при сравнително ниска
                температура в почвата, така че може да се засяват рано напролет (при възможност още през февруари).
            </p>
            <p>
                ДРЗП, изисква отглеждане на нахута при висок агрофон, включването му в сеитбообръщения, използване на здрави
                семена за посев, устойчиви и толерантни сортове, предпосевно третиране на семената с фунгицидни средства,
                инсектицидни третирания срещу неприятелите при достигане на икономическите прагове на вредност, хербицидни третирания.
            </p>
            <p>
                В ДРЗП, трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p >
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната
                страна за даден вредител.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3>Основни вредители по нахута са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-rabiei" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Чернилка - <span class="latin_name">Ascochyta rabiei</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f.sp. Ciceri</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротийно гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - (BYMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus</span> - (CMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова мозайка - <span class="latin_name">Alfalfa mosaic alfamovirus</span> - (AlMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acanthoscelides-obtectus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фасулев зърнояд - <span class="latin_name">Acanthoscelides obtectus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicoverpa-armigera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка - <span class="latin_name">Helicoverpa armigera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Udo Schmidt - Flickr: Acanthoscelides obtectus (Say, 1831), CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=19970866</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371126 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6615449</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, </span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

