<div class="row text-center" id="prz-loader" *ngIf="!practices">
  <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row logo text-center">
        <h1>ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ФАСУЛ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/021(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ФАСУЛ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при фасул</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Фасулът се използва като основна храна с висока биологична стойност, тъй като осигурява в лесно усвоима
                форма белтъци, въглехдрати, витамини, минерални соли и други физиологичноактивни вещества. Фасулът се отглежда
                за две основни цели:
            </p>
            <p >
                1. Фасул за зелено-за консумация, консервиране и замразен, фураж.
            </p>
            <p >
                2. 3рял фасул-за консумация и семенен материал, по-рядко за фураж.
            </p>
            <p >
                Кореновата система на фасула е слабо развита и разположена в повърхностния почвен слой. фасулът е топлолюбиво
                растение. Семената поникват при температура 10°С, но за дружно поникване се нуждаят от температура над 12°С.
                Оптимална температура за поникване е 18-22°С. Пониците и възрастните растения не понасят ниски
                температури и при -1°С загиват. Най-ранната сеитба у нас да се извърши около 15 април, след преминаването
                на последните пролетни слани. Последната възможна дата на сеитба е 15-20 юли. фасулът е взискателен към
                светлината и влагата, поради което се отглежда при поливни условия. Неравномерното поддържане на почвената
                влажност през вегетационния период води до намаляване на добива. Расте добре на различни почви, но е по-взискателен
                към тях от другите бобови култури. фасулът има лоша биологична самопоносимост и се развива добре след всички
                предшественици, като най-подходящи са зимните житни и цвеклото.
            </p>
            <p >
                Добрата растителнозащитна практика изисква основната обработка на почвата, в зависимост от срока на сеитбата,
                да се извършва наесен или напролет след прибиране на предкултурата. Тя включва плитка обработка за унищожаване
                на растителните остатъци, подравняване и оран. Есенната оран се извършва на дълбочина 28-30 см, а пролетната-на
                19-21 см. ДР3П налага осигуряване на пространствена изолация на посевите най-малко от 0,5 до 1 км. от
                едногодишните бобови култури, използване на здрави, с добра кълняемост семена за посев, по-ранна сеитба,
                подходящ предшественик, своевременно прибиране и овършаване на семената при зрелия фасул. Стратегиите за
                борба са в зависимост от наличните вредители в ценозата на фасула и включват различни комбинации с други
                култури в сеитбообръщения, използване на толерантни до устойчиви сортове, хербицидни третирания, третиране
                на семената с фунгицидни продукти за растителна защита по подходящи методи, вегетационни третирания срещу
                неприятелите при достигане икономическите прагове на вредност.
            </p>
            <p >
                ДР3П изисква използване на активни вещества, които са регистрирани в страната за съответните вредители по
                фасула. Те трябва да се прилагат с подходяща техника, като се намали изтичането на продукти за растителна
                защита и нежелателното им разсейване.
            </p>
            <p >
                Фасулът се напада от голям брой гъбни, бактерийни, вирусни болести и от редица неприятели, но в зависимост
                от почвено-климатичните и производствени условия не всички имат икономическо значение.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf">
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по фасула в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link"  przAnchorTo target="#colletotrichum-lindemuthianum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Colletotrichum lindemuthianum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#uromyces-appendiculatus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Uromyces appendiculatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротийно увяхване  - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#xanthomonas-axonopodis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ореолов пригор - <span class="latin_name">Pseudomonas syringae pv. phaseolicola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#xanthomonas-axonopodis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериен пригор - <span class="latin_name">Xanthomonas axonopodis pv. phaseoli</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена фасулева мозайка - <span class="latin_name">Bean common mosaic potyvirus</span> - BCMV
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - BYMV
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#mosaic-potyvirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus</span> - CMV
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#acanthoscelides-obtectus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фасулев зърнояд - <span class="latin_name">Acanthoscelides obtectus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#bruchus-rufimanus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фиев зърнояд - <span class="latin_name">Bruchus rufimanus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#aphis-fabae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черна бобова листна въшка - <span class="latin_name">Aphis fabae Aphis cracivora</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#acyrthosiphon-pisi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грахова листна въшка – <span class="latin_name">Acyrthosiphon pisi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#tetranychoidea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Паяжинообразуващи акари – надсем. <span class="latin_name">Tetranychoidea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#tychius-quinquepunctatus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобов петточков хоботник - <span class="latin_name">Tychius quinquepunctatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#etiella-zinckenella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобова огневка (соев молец) - <span class="latin_name">Etiella zinckenella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#chloridea-maritima" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Люцернова нощенка - <span class="latin_name">Chloridea maritima</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#sitona-crinita" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грудкови хоботници - <span class="latin_name">Sitona crinita</span> и <span class="latin_name">Sitona lineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#laspeyresia-nigricana" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тъмна грахова листозавивачка - <span class="latin_name">Laspeyresia nigricana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link"  przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By David B. Langston, University of Georgia, Bugwood.org - This image is Image Number 5076072 at IPM Images, a source for agricultural and pest management pictures operated by the Center for Invasive Species and Ecosystem Health, Colorado State University, USDA CSREES and the Southern Plant Diagnostic Network., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=6228070</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=990227</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Udo Schmidt - Flickr: Acanthoscelides obtectus (Say, 1831), CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=19970866</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Alvesgaspar - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=10213878</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By David Perez - Own work, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=19193899</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>Por Shipher Wu (photograph) and Gee-way Lin (aphid provision), National Taiwan University - PLoS Biology, February 2010 direct link to the image description, CC BY 2.5, https://commons.wikimedia.org/w/index.php?curid=9590073</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371113 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6730871</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371114 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(Cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=7021792</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>Par ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=487437</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1680682</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 18:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 19:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 20:</span><br>
                        <span >By 4028mdk09 - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11746444</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 21:</span><br>
                        <span>By Bidgee - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=9792633</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

