<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО СЛИВА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">СЛИВА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            бутонизация-цветни розетки -<br/>
                            до начало на цъфтеж
                        </td>
                        <td>ларви</td>
                        <td>1-2 бр. по зелените части на 1 розетка или съцветие</td>
                    </tr>
                    <tr>
                        <td>формиране на завръза</td>
                        <td rowspan="2">подвижни форми</td>
                        <td>3-4 бр./лист</td>
                    </tr>
                    <tr>
                        <td>
                            нарастване на плодовете - до узряване<br/> 
                            <span class="latin_name">(средно ранните и ранни сортове)</span>
                        </td>
                        <td>3-5 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>5-10 бр./100 см. клонка или 10 % пъпки с яйца</td>
                    </tr>
                    <tr>
                        <td rowspan="2">разпукване на пъпките - до цъфтеж</td>
                        <td>индивиди от <span class="latin_name">Hyalopterus spp., Phorodon spp.</span></td>
                        <td>10-15 бр./100 съцветия или 10% нападнати розетки</td>
                    </tr>
                    <tr>
                        <td>индивиди от <span class="latin_name">Brachycaudus spp.</span></td>
                        <td>2-5 бр./100 съцветия или 5% нападнати розетки</td>
                    </tr>
                    <tr>
                        <td rowspan="2">формиране на завръза - нарастване на плодовете</td>
                        <td>колонии - видове от <span class="latin_name">Hyalopterus spp., Phorodon</span></td>
                        <td>15 бр./100 клонки или 15% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>колонии - видове от <span class="latin_name">Brachycaudus spp.</span></td>
                        <td>5 бр./100 клонки или 5% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СЛИВОВА ЩИТОНОСНА ВЪШКА <span class="latin_name">Parthenolecanium corni</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи форми</td>
                        <td>20-30 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td>формиране на завръза</td>
                        <td>ларви</td>
                        <td>20-30 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td>
                            нарастване на плодовете - до узряване на<br/> 
                            средно ранните и ранни сортове
                        </td>
                        <td>подвижни форми</td>
                        <td>5-7 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЛОДОВИ ХОБОТНИЦИ <span class="latin_name">Rhynchites sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация - цветни розетки - до началото на цъфтеж</td>
                        <td>възрастни</td>
                        <td>10-15 бр./100 стръскани клона</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СЛИВОВИ ПЛОДОВИ ОСИ (ЧЕРНА <span class="latin_name">Hoplocampa minuta</span>, ЖЪЛТА <span class="latin_name">Hoplocampa flava</span>)
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация - цветни розетки - до началото на цъфтеж</td>
                        <td>възрастни</td>
                        <td>2-3 бр./10 стръскани клона</td>
                    </tr>
                    <tr>
                        <td>формиране на завръза</td>
                        <td>ларви</td>
                        <td>2-5% повредени завръза</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ <span class="latin_name">сем. Tortricidae</span> И ПЕДОМЕРКИ <span class="latin_name">сем. Geometridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>1 яйчна купчинка/100 см клонка</td>
                    </tr>
                    <tr>
                        <td>бутонизация, цветни розетки, до началото на цъфтеж</td>
                        <td rowspan="2">гъсеници</td>
                        <td>8 бр./100 розетки</td>
                    </tr>
                    <tr>
                        <td>формиране на завръза</td>
                        <td>2-3 бр./100 завръза до юнското окапване и 1-3 бр. след него</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СЛИВОВ ПЛОДОВ ЧЕРВЕЙ <span class="latin_name">Cydia funebrana</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">І-во поколение</td>
                        <td>пеперуди</td>
                        <td>10-15 бр./ уловка/ седмица</td>
                    </tr>
                    <tr>
                        <td>гъсеници</td>
                        <td>1-1,5% пресни вгризвания</td>
                    </tr>
                    <tr>
                        <td>ІІ-ро и ІІІ-то поколение</td>
                        <td>гъсеници</td>
                        <td>1,5-2% пресни вгризвания в плодовете</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОСТИЛКОПЛОДОВА ЛИСТНА ОСА <span class="latin_name">Neurotoma nemoralis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>формиране на завръза - до нарастване на плода</td>
                        <td>гъсеници</td>
                        <td>10% нападнати леторасти</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
