<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div id="wrap_lmenu_txt" *ngIf="practices">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ОВЕС</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/013(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/24(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Христинка Кръстева<br/>
                доц. д-р Мария Панайотова<br/>
                доц. д-р Тоньо Тонев<br/>
                ст.н.с.II ст. д-р <span class="doctor">Йорданка Караджова</span><br/>
                ст.н.с.II ст. д-р Сенка Миланова<br/>
                д-р Петър Николов – НСРЗ<br/>
                н.с. I ст. Антония Димитрова<br/>
                н. с. II ст. Милица Стефчева<br/>
                докторант Венцислав Венциславов<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2>ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ОВЕС*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при овес.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Указанията за Добра растителнозащитна практика при овеса представляват част от ЕРРО-програмата за изготвяне
                на такива указания за всички основни култури от ЕРРО- региона. Те трябва да бъдат четени заедно с
                ЕРРО-стандарт РР 2/1(1) Принципи на добрата растителнозащитна практика. Указанията включват методите за
                контрол на вредителите по овеса (<span class="latin_name">Avena sativa</span>).
            </p>
            <p >
                Овесът се отглежда в по-умерените и скандинавските части на ЕРРО-региона. Зърното се използва основно
                като фураж, в частност като храна за коне. В средиземноморските страни овесът се отглежда за зелен фураж.
                Незначителна част от зърното се използва за консумация от хората под формата на тестени храни, овесена каша и мюсли.
            </p>
            <p >
                Овесът се засява през пролетта. Минималните културно-стопански практики като директна сеитба могат да
                намалят разходите за работна сила, но благоприятстват преживяването и създаването на популации от вредители
                в почвата. Тъй като овесът се отглежда основно за зърно, целта на защитата от вредители е да осигури добро
                количество на получената реколта. За да се осъществи това, важно е посевът да не е полегнал и жътвата да
                се извърши навреме и в кратки срокове.
            </p>
            <p >
                Овесът се разглежда като добър предшественик в схемата за сеитбообръщение на културите. Той в значителна
                степен е устойчив на черното кореново гниене (<span class="latin_name">Gaeumannomyces graminis</span>) и
                гниенето на основите и паразитно полягане (<span class="latin_name">Tapesia yallundae</span>),
                като спомага за намаляване на риска от тези болести в сеитбообръщението.
                Опасността от нематоди трябва да бъде преценена преди сеитбата на овеса в случай, че бъдат отглеждани
                чувствителни сортове.
            </p>
            <p >
                Използването на устойчиви сортове и здрав посевен материал, сеитба в оптимални срокове, спазване на правилно
                сеитбообращение, създаване на добре подготвено легло на семената са важни елементи на ДРЗП при овеса.
                Третирания с ПРЗ могат да се наложат във всяка фенофаза от развитието на културата, но малко са ПРЗ,
                прилагани при овеса. Третирането на семената е ДРЗП, когато то е извършено срещу вредители, които не могат
                да бъдат контролирани с листни фунгициди.
            </p>
            <p >
                Продуктите, използвани за третиране на семената, трябва да покриват възможно по-голям комплекс от гъбни
                или насекомни вредители, представляващи интерес. Важно е семената да бъдат равномерно и еднакво покрити с ПРЗ.
            </p>
            <p>
                Едновременното прилагане на две или повече активни вещества за третиране на семената е ДРЗП, ако вредителите,
                срещу които те са ефективни, наистина се срещат или се очаква нападение от тях. Фермерите и консултантите
                трябва да познават основните вредители, да обследват редовно полетата, да ползват максимално критериите за
                прогноза, оповестяващи употребата на ПРЗ при достигане праговете на вредност. Дозите трябва да отговарят
                на спектъра от наблюдаваните вредители, вземайки под внимание индивидуалните ефекти и възможните взаимодействия.
                В частност за гъбните болести ДРЗП е да се избират продукти и срокове на приложение по оптимален начин.
            </p>
            <p>
                ДРЗП е да се намали течът и нежеланото разпиляване на продуктите за растителна защита. Това може да се
                постигне чрез използване на противокапкови устройства към всички разпръсквачи, предпазващи от теч, или на
                оборудване, което произвежда добър и еднакъв капков спектър при всички дюзи по дължината на щангата на пръскачката.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по овеса в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#puccinia-coronata" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Коронеста ръжда (<span class="latin_name"> Puccinia coronata Corda</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ustilago-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Праховита главня (<span class="latin_name">Ustilago avenae (Pers.) Rostr.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ustilago-hordei" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Покрита главня (<span class="latin_name">Ustilago hordei (Pers.) Lagerh. f. sp. avenae</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyrenophora-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ивичести листни петна (<span class="latin_name">Pyrenophora avenae Ito et Karib.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-graminis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана (<span class="latin_name">Erysiphe graminis (DC</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно кореново гниене (<span class="latin_name">Fusarium spp.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lema-melanopus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена житна пиявица (<span class="latin_name">Lema melanopus L.</span>),
                        синя житна пиявица (<span class="latin_name">Lema lichenis Voet.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#oscinella-frit" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена шведска муха (<span class="latin_name">Oscinella frit L.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sitobion-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена листна въшка (<span class="latin_name">Sitobion avenae L.</span>),
                        обикновена житна въшка (<span class="latin_name">Schizaphis graminum Rond),
                        Rhopalosiphum padi Fitch.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#stenothrips-graminum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овен трипс (<span class="latin_name">Stenothrips graminum Uzel.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#heterodera-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#underlay" title="към текстаe">
                        <mat-icon>chevron_right</mat-icon>
                        Полягане
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div class="row">
        <div class="col-md-12  text-indent">
            <h3 >Пояснителни бележки относно активните вещества.</h3>
            <p >
                ЕРРО – панелът за ДРЗП при изготвянето на това ръководство разглежда информацията за отделните активни
                вещества, включени в продуктите за растителна защита, и каква е тяхната връзка с основната стратегия за ДРЗП.
                Тези подробности по отношение на активните субстанции са включени в информацията за регистрираните продукти
                в отделни страни от региона на ЕРРО. По такъв начин те представят настоящото положение на ДРЗП в тези страни.
                Възможно е поради редица причини тези активни вещества да не са регистрирани за такава употреба или да са с
                ограничено приложение в други страни от ЕРРО-региона. Това обаче не прави основната стратегия невалидна.
                ЕРРО препоръчва да се следват принципите на ДРЗП, като се използват само продукти, регистрирани в страната
                за дадена цел. Може да бъде отбелязано, че много активни вещества, използвани и регистрирани понастоящем
                в ЕРРО-региона, няма да бъдат разрешавани в ЕС след 2003–2007 г.
            </p>
        </div>
    </div>

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ТАБЛИЦА BBCH -->
    <div class="aa-title" #structure id="table_bbch"></div>
    <prz-table></prz-table>
    <!-- КРАЙ ТАБЛИЦА BBCH -->

    <div class="row-back">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px;">
            <div class="panel-warning text-center">
                <div class="panel-heading ">
                    <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> към всички неприятели</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>Public Domain, https://commons.wikimedia.org/w/index.php?curid=3758999</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Eddie McGriff, University of Georgia, Bugwood.org - Forestryimages.org, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=45244348</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span >By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=394574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span >By Udo Schmidt from Deutschland [CC BY-SA 2.0 (https://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Sarefo - Собствена творба, GFDL, https://commons.wikimedia.org/w/index.php?curid=7057137</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span >http://www.agroatlas.ru/en/content/pests/Sitobion_avenae/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span >By Kent Loeffler - http://www.ars.usda.gov/is/graphics/photos/apr12/d2458-1.htm, Public Domain, https://commons.wikimedia.org/w/index.php?curid=52753821</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span >By Kurt Stueber - www.biolib.de, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=6294</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Christian Fischer, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=2350572</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
