<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЛОЗА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ЛОЗА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАЯЖИНООБРАЗУВАЩИ АКАРИ <span class="latin_name">Сем. Tetranychidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до цъфтеж</td>
                        <td>възрастни</td>
                        <td>2-3 бр./лист</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>възрастни</td>
                        <td>4-6 бр./лист</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>подвижни форми</td>
                        <td>4-5 бр./лист при 10% нападнати главини</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛОЗОВ АКАР <span class="latin_name">Brevipalpus lewisi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимно пръскане</td>
                        <td rowspan="3">ларви-възрастни</td>
                        <td>20 % нападнати лози</td>
                    </tr>
                    <tr>
                        <td>15-20 май</td>
                        <td>50 % нападнати лози</td>
                    </tr>
                    <tr>
                        <td>преди и след цъфтеж</td>
                        <td>10-15% нападнати лози</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЖЪЛТ ЛОЗОВ АКАР <span class="latin_name">Schizotetranychus viticola</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до средата на май</td>
                        <td rowspan="4">възрастни-ларви</td>
                        <td>2-3 бр./лист</td>
                    </tr>
                    <tr>
                        <td>до края на юни</td>
                        <td>5-8 бр./лист</td>
                    </tr>
                    <tr>
                        <td>до края на август</td>
                        <td>9-10 бр./лист</td>
                    </tr>
                    <tr>
                        <td>до края на вегетацията</td>
                        <td>4-6 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГРОЗДОВИ МОЛЦИ <span class="latin_name">Lobesia botrana, Еupoecilia ambiguella</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center; font-style: italic"><span class="bold">десертни сортове:</span></td>
                    </tr>
                    <tr>
                        <td>І-во поколение</td>
                        <td rowspan="3">гъсеници</td>
                        <td>4-6 бр./100 реси</td>
                    </tr>
                    <tr>
                        <td>ІІ-ро поколение</td>
                        <td>6-7 бр./100 ягориди</td>
                    </tr>
                    <tr>
                        <td>ІІІ-то поколение</td>
                        <td>7-8 бр./100 грозда</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center; font-style: italic"><span class="bold">винени сортове:</span></td>
                    </tr>
                    <tr>
                        <td>І-во поколение</td>
                        <td rowspan="3">гъсеници</td>
                        <td>6-8 бр./100 реси</td>
                    </tr>
                    <tr>
                        <td>ІІ-ро поколение</td>
                        <td>11-12 бр./100 ягориди</td>
                    </tr>
                    <tr>
                        <td>ІІІ-то поколение</td>
                        <td>10-12 бр./100 грозда</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
