<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЗЕЛЕ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЗЕЛЕ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВА НОЩЕНКА <span class="latin_name">Mamestra brassicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>средно ранно</td>
                        <td rowspan="2">гъсеници</td>
                        <td>12-15 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>късно</td>
                        <td>15-18 бр. 100 растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                                ЗЕЛЕВА ЛИСТНА ВЪШКА <span class="latin_name">Brevicorynae brassicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>средно ранно</td>
                        <td rowspan="2">ларви, безкрили, крилати</td>
                        <td>5% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>късно</td>
                        <td>2% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВ МОЛЕЦ <span class="latin_name">Plutella maculipennis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след завиване на главите</td>
                        <td>гъсеници</td>
                        <td>10% повредена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КРЪСТОЦВЕТНИ БЪЛХИ <span class="latin_name">Phyllotreta spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td rowspan="2">възрастни</td>
                        <td>10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>10% унищожена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВИ ПЕПЕРУДИ <span class="latin_name">Pieris spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>гъсеници</td>
                        <td>
                            над 1% силно нападнати<br/>
                            растения; 2-3 бр./растение
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">в по късни фази</td>
                        <td>яйчни групички</td>
                        <td>в/у 5% от растенията</td>
                    </tr>
                    <tr>
                        <td>гъсеници</td>
                        <td>25% повредени листа</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВА МУХА <span class="latin_name">Delia brassicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td rowspan="2">яйца</td>
                        <td rowspan="2">6-8 бр./растение</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВ СТЪБЛЕН СКРИТОХОБОТНИК <span class="latin_name">Ceuthorrhynchus quadridens</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td>възрастни</td>
                        <td>1 бр./растение</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви</td>
                        <td>3 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВА ДЪРВЕНИЦА <span class="latin_name">Eurydema ornata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>семепроизводство</td>
                        <td>възрастни</td>
                        <td>2 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПОДГРИЗВАЩИ НОЩЕНКИ <span class="latin_name">Agrotis spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане</td>
                        <td rowspan="2">гъсеници</td>
                        <td>1 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>след образуване на главите</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЦВЕТНО ЗЕЛЕ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВА НОЩЕНКА <span class="latin_name">Mamestra brassicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>рано след бутонизация</td>
                        <td rowspan="2">гъсеници</td>
                        <td>5 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>късно след бутонизация</td>
                        <td>10 бр./100 растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
