<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ПИПЕР</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="ПИПЕР" disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ПИПЕР</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след разсаждане до края на юни</td>
                        <td rowspan="2">ларви, безкрили, крилати</td>
                        <td>
                            5% нападнати растения<br/>
                            единични колонии
                        </td>
                    </tr>
                    <tr>
                        <td>
                            в райони с масови вирози -<br/>
                            непосредствено след разсаждане
                        </td>
                        <td>
                            единични крилати въшки<br/>
                            по 5% от растенията
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПОДГРИЗВАЩИ НОЩЕНКИ <span class="latin_name">Agrotis spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            пипер за многократно бране (зелен и червен)
                        </td>
                        <td rowspan="2">гъсеници</td>
                        <td>3 бр./кв.м; 2% повредени растения</td>
                    </tr>
                    <tr>
                        <td>
                            пипер за еднократно бране (червен)
                        </td>
                        <td>2 бр./кв.м; 1% повредени растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОГРИЗЕЩИ ГЪСЕНИЦИ <span class="latin_name">(Heliothis sp.; Plusia sp.)</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="bold">ранно производство:</span></td>
                        <td rowspan="7">гъсеници</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>до плодообразуване</td>
                        <td>45% унищожена листна маса</td>
                    </tr>
                    <tr>
                        <td>в плодообразуване</td>
                        <td>30% унищожена листна маса</td>
                    </tr>
                    <tr>
                        <td><span class="bold">късно производство:</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>до плодообразуване</td>
                        <td>35% унищожена листна маса</td>
                    </tr>
                    <tr>
                        <td>цъфтеж</td>
                        <td>50% унищожена листна маса</td>
                    </tr>
                    <tr>
                        <td>плододаване</td>
                        <td>16% унищожена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦИКАДИ <span class="latin_name">Hyalesthes spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            след разсаждане в началото<br/> 
                            на вегетация - юни-юли
                        </td>
                        <td>възрастни</td>
                        <td>2 бр./10 откоса със сак</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦАРЕВИЧЕН СТЪБЛОПРОБИВАЧ <span class="latin_name">Ostrinia nubilalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>яйчни групички</td>
                        <td>
                            3-4 бр./100 растения<br/>
                            10-15% нападнати растения
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАЯЖИНООБРАЗУВАЩ ТЕТРАНИХОВ АКАР <span class="latin_name">Tetranychus sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>5-6 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА НОЩЕНКА <span class="latin_name">Helicoverpa armigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td>плодообразуване</td>
                        <td>гъсеници</td>
                        <td>3-5% нападнати плодове</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТРИПСОВЕ <span class="latin_name">сем. Thripidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>цъфтеж</td>
                        <td>възрастни и ларви</td>
                        <td>2 бр./цвят</td>
                    </tr>
                    <tr>
                        <td>плододаване</td>
                        <td>възрастни и ларви</td>
                        <td>3 бр./плод</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
