/*================================
   RESPONSIVE DESIGN
=================================*/
/*-------------------------------
    Shift NAV BAR SMALL BUTTIN
 -------------------------------*/
 @media (min-width: 891px) {
    #navigation-button {
        display: none;
    }
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg.jpg');
    }

    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg.jpg');
    }
}
@media (max-width: 890px) {
    #navigation-top {
        display: none;
    }
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-955px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-955px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-955px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-955px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-955px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-955px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-955px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-955px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-955px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-955px.jpg');
    }
}
/*-------------------------------
    END Shift NAV BAR SMALL BUTTIN
-------------------------------*/
/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-768px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-768px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-768px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-768px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-768px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-768px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-768px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-768px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-768px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-768px.jpg');
    }
}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-768px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-768px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-768px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-768px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-768px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-768px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-768px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-768px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-768px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-768px.jpg');
    }
}
