<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="col-lg-10 text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЦАРЕВИЦА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/015(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/17(1)</p>
    </div>
    <div class="row">
        <div  id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Христинка Кръстева<br/>
                доц. д-р Мария Панайотова<br/>
                доц. д-р Тоньо Тонев<br/>
                ст.н.с.II ст. д-р <span class="doctor">Йорданка Караджова</span><br/>
                ст.н.с.II ст. д-р Сенка Миланова<br/>
                д-р Петър Николов – НСРЗ<br/>
                н.с. I ст. Антония Димитрова<br/>
                н. с. II ст. Милица Стефчева<br/>
                докторант Венцислав Венциславов<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2>ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЦАРЕВИЦА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при царевица.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Указанията по Добрата растителнозащитна практика при царевицата представлява част от ЕРРО-програма за изготвяне
                на такива указания за всички основни култури от ЕРРО-региона. Те трябва да бъдат четени заедно с ЕРРО-стандарт
                РР 2/1(1) “Принципи на добрата растителнозащитна практика”. Указанията покриват методите за контрол на
                вредителите (в това число патогени и плевели) по царевицата (<span class="latin_name">Zea mays</span>).
            </p>
            <p >
                Царевицата се отглежда навсякъде в ЕРРО- региона за различни цели. Използва се основно като фуражна култура
                и за зърно, но част от производството е насочено към отглеждане на семепроизводствени посеви или отглеждането
                на сладка царевица за зърно. Посевите, отглеждани за производство на посевен материал, не се покриват от
                това ръководство. Трябва да се отбележи, че изискванията за границите (допустимите нива) на остатъчните
                количества и третиранията преди прибиране на реколтата са по-строги при сладката царевица за зърно. Освен
                това качеството на зърното е с по-голямо значение при отглеждането на сладка царевица.
            </p>
            <p >
                ДРЗП при контрола на вредителите по царевицата може да се приеме като съвкупност от няколко елемента.
                При тяхното използване е възможно да се постигне ефективен контрол на вредителите и в същото време да се
                оптимизира приложението на продуктите за растителна защита:
            </p>
            <p >
                • Семената трябва, доколкото е възможно, да бъдат свободни от болести в момента на засяване.
            </p>
            <p >
                • Използваните сортове трябва да бъдат подходящи съответно за почвения тип и климатичните условия и за
                предпочитане да са устойчиви или толерантни спрямо основните вредители.
            </p>
            <p >
                • Санитарните и културно-стопански практики при царевицата са важни. Сеитбообръщението е ефективен начин
                за поддържане ниска числеността на популациите от някои вредители. Растителните остатъци трябва да се
                инкорпорират или заорават. Културно-стопанските практики трябва да осигуряват добра подготовка на площите
                и поддържане на подходящ хранителен баланс. Сроковете на сеитба трябва да бъдат подбрани така, че почвените
                температури на дълбочината на засяване да са подходящи за бързо покълнване и растеж.
            </p>
            <p >
                • Стойностите на праговете на вредност (ако има такива), базирани на разпространението на вредителите или
                климатичните условия, трябва да бъдат прилагани при вземането на решение дали са необходими контролни мерки
                и ако е така, да се избере най-подходящият момент за прилагане на ПРЗ.
            </p>
            <p >
                • Използваните ПРЗ трябва да бъдат най-подходящите за съответния вредител в съответния срок на прилагане.
                ДРЗП е да се използват подходящи техники на прилагане и да се намалят течовете и нежеланото разпиляване.
                ПРЗ трябва, доколкото е възможно, да е специализиран за съответния вредител и да не води до развитието на
                устойчивост (от страна на вредителя).
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по царевица в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pithium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гниене на семената и пониците (<span class="latin_name">Pithium spp. и Fusarium spp</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гниене на стъблата и кочаните (<span class="latin_name">Fusarium spp.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ustilago-maidis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена главня (<span class="latin_name">Ustilago maidis (CD) Corda</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#setosphaeria-turcica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Северен листен пригор (<span class="latin_name">Setosphaeria turcica</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tanymecus-dilaticollis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хоботници (<span class="latin_name">Tanymecus dilaticollis и Tanymecus palliatus</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ostrinia-nubilalis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Царевичен стъблопробивач (<span class="latin_name">Ostrinia nubilalis</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени червеи (<span class="latin_name">ларви на бръмбари от сем. Elateridae</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиви червеи (<span class="latin_name">ларви на нощенки-сем. Noctuidae</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicoverpa-armigera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка (<span class="latin_name">Helicoverpa armigera</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis-evonymi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки (<span class="latin_name">Aphis evonymi, Rhopalosiphum maidis и Sipha maidis</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lema-melanopa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Житна пиявица (<span class="latin_name">Lema melanopa</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pentodon-monodon" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Царевичен торник (<span class="latin_name">Pentodon monodon</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

            <p>
                <span class="latin_name">Diabrotica virgifera virgifera</span> (западен царевичен коренов червей) е карантинен
                вредител, който в настоящия момент е с много ограничено разпространение в ЕРРО-региона. Ако неговото
                разпространение продължи, трябва да бъдат разработени стратегии и за неговия контрол.
            </p>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div class="row">
        <div class="text-indent">
            <h3 >Пояснителни бележки относно активните вещества.</h3>
            <p >
                ЕРРО – панелът за ДРЗП при изготвянето на това ръководство, разглежда информацията за отделните активни
                вещества, включени в продуктите за растителна защита и каква е тяхната връзка с основната стратегия за ДРЗП.
                Ако се върнем назад, тези подробности по отношение на активните субстанции са включени в информацията за
                регистрираните продукти в отделни страни от региона на ЕРРО. По такъв начин те представят настоящото положение
                на ДРЗП поне в тези страни.
            </p>
            <p>
                Възможно е поради редица причини тези активни вещества да не са регистрирани за такава употреба или да са
                с ограничено приложение в други страни от ЕРРО-региона. Това не прави основната стратегия невалидна. ЕРРО
                препоръчва да се следват принципите на ДРЗП, като се използват само продукти, регистрирани в страната за
                дадената цел.
            </p>
        </div>
    </div>

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By H. Zell - Собствена творба, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11457751</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Chroanch - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=44298755</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>http://www.agroatlas.ru/en/content/pests/Tanymecus_dilaticollis/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Siga - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11319407</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=866190</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Keith Weller - Transferred from en.wikipedia to Commons.This image was released by the Agricultural Research Service, the research agency of the United States Department of Agriculture, with the ID k7834-3 (next).This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.English | français | македонски | +/−, Public Domain, https://commons.wikimedia.org/w/index.php?curid=1876649</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By ​Galipedia user Lmbuga, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=7179705</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371126 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6615449</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=394574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>Av Boris Loboda - http://barry.fotopage.ru/gallery/show_image.php?imageid=13506, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=8728029</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Michael Becker - taken by Michael Becker, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1205664</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>By John Tann from Sydney, Australia - Johnson Grass, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=38234408</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

