<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ГРАХ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Weber and Bleiholder, 1990; Feller et al., 195 b</p>
            <p>
                Фенологични фази на растеж и ВВСН-ключове за тяхната идентификация при грах 
                (<span class="italic">Pisum sativum L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Поникване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване на семет</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Набъбването на семето завършва</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Коренчето се появява от семето</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Кълнът пробива семенната обвивка</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Кълнът расте към повърхността на почвата; вижда се извивката на хипокотила</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: кълнът пробива повърхността на почвата (“разпукване”)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Вижда се двойка обвивни листа</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Първият същински лист (с прилистниците) се разтваря или се развива първото мустаче</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2 листа (с прилистниците) се разтварят или се развиват 2 мустачета</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>3 листа (с прилистниците) се разтварят или се развиват 2 мустачета</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Фазите продължават до …</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече листа (с прилистниците) се разтварят или се развиват 9 или повече мустачета</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото (на главния поник)</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на удължаването на стъблото</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>1 видимо удължено междувъзлие<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>2 видимо удължено междувъзлие<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>3 видимо удължено междувъзлие<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Растежа продължава до…</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>9 или повече видимо удължени междувъзлия<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <span><sup>1</sup> Първото междувъзлие е разположено между възела на обвивния лист и възела на първия същински лист</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цветове</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Първите цветни пъпки се виждат извън листата</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Първите отделни цветни пъпки се виждат извън листата, но още са затворени</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Виждат се първите венчелистчета, но цветовете още са затворени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Отварят се първите цветове (разпръснато в посева)</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтежа: 10 % от цветовете се отварят</td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>20 % от цветовете се отварят</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>30 % от цветовете се отварят</td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>40 % от цветовете се отварят</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Масов цъфтеж: 50 % от цветовете се отварят</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Цъфтежът намалява</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна  фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>
                          10 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок
                        </td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>
                          20 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок
                        </td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>
                          30 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок. Чупливост: 80 ТЕ
                        </td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>
                          40 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок. Чупливост: 95 ТЕ
                        </td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>
                          50 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок. Чупливост: 105 ТЕ
                        </td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>
                          60 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок. Чупливост: 115 ТЕ
                        </td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>
                          60 % от шушулките са достигнали типична дължина;<br/>
                          при натискане се отделя сок. Чупливост: 130 ТЕ
                        </td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Шушулките са достигнали типичен размер (восъчна, зелена зрялост); грахчетата са напълно оформени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плодовете и семената</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>10 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>20 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>30 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>40 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>50 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>60 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>70 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>80 % от шушулките са узряли, семената са с крайната си окраска и са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрялост: всички шушулки са сухи и кафяви. Семената са сухи и твърди (пълна зрялост)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растенията са мъртви и сухи</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Реколтиране</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
