.image-content-1 {
    content:url('../../../../../assets/phases/technical/sunflower_1.jpg');
}
.image-content-2 {
    content:url('../../../../../assets/phases/technical/sunflower_2.jpg');
}

@media (max-width: 320px) {
    .image-content-1 {
        content:url('../../../../../assets/phases/technical/sunflower_1_320px.jpg');
    }
    .image-content-2 {
        content:url('../../../../../assets/phases/technical/sunflower_2_320px.jpg');
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .image-content-1 {
        content:url('../../../../../assets/phases/technical/sunflower_1_481px.jpg');
    }
    .image-content-2 {
        content:url('../../../../../assets/phases/technical/sunflower_2_481px.jpg');
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .image-content-1 {
        content:url('../../../../../assets/phases/technical/sunflower_1_768px.jpg');
    }
    .image-content-2 {
        content:url('../../../../../assets/phases/technical/sunflower_2_768px.jpg');
    }
}