<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >СЛЪНЧОГЛЕД</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Weber and Bleiholder, 1990; Lancashire et al., 1991</p>
            <p>
                Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
                слънчоглед (<span class="italic">Helianhtus annuus</span> L.)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Поникване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Край на набъбването</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Поява на коренчето</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Удължаване на коренчето</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Поява на хипокотила и котиледоните</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Развитие на хипокотила и котиледоните</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: поява на котиледоните над земната повърхност</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Котиледоните са напълно разтворени</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Два листа (първа двойка листа)</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Четири листа (втора двойка листа)</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Пети лист</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Шести лист</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Седеми лист </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Осми лист</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Девет и повече листа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Поява на първо удължено междувъзлие</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Поява на второ удължено междувъзлие</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Поява на трето удължено междувъзлие</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Фазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Поява на девето (или следващо поредно) удължено междувъзлие</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цвета</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Поява на цветен бутон между най-горните листа</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>Бутонът се отделя от най-горните листа, прилистниците са оформени</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Бутонът е отделен от най-горните листа</td>
                    </tr>
                    <tr>
                        <td>57</td>
                        <td>Бутонът е ясно отделен от най-горните листа</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Езичестите цветове се виждат между прилистниците, кошничката е затворена</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтежа: езичестите цветове се удължават; тръбестите цветове, заемащи външната третина на цветното легло се виждат</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>Тръбестите цветове, заемащи външната третина на цветното легло, са цъфнали (тичинките и близалцето се виждат)</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж: тръбестите цветове, заемащи средната третина на цветното легло са цъфнали (тичинките и близалцето се виждат)</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Цъфтежът преминава: тръбестите цветове, заемащи вътрешната третина  на цветното легло са цъфнали (тичинките и близалцето се виждат)</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа: по-голяма част от тръбестите цветове са прецъфтели, езичестите цветове са сухи или опадали</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на семената</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Семената от външния край на питата са сиви и са достигнали окончателния си размер</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>Семената от външната третина на питата са сиви и са достигнали окончателния си размер</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Семената от средната третина на питата са сиви и са достигнали окончателния си размер</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Семената от вътрешната третина на питата са сиви и са достигнали окончателния си размер</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Зреене</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>Начало на зреенето: семената от външната третина на питата са тъмни и твърди, външната страна на питата е все още зелена</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>Семената от външната третина на питата са черни и твърди, от външната страна на питата е все още зелена</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>Външната страна на питата е зелено-жълта, прилистниците са все още зелени, семената съдържат около 50% сухо вещество</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Семената от средната третина на питата са черни и твърди, питата е жълта, прилистниците – кафяви по краищата, семената съдържат около 60% сухо вещество</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Физиологична зрялост: външната страна на питата е жълта, прилистниците – кафяви, семената – с около 75-80% сухо вещество</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрялост: семената от вътрешната третина на питата са тъмни и твърди, външната страна на питата е кафява, прилистниците са окапали, семената съдържат около 85% сухо вещество</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>Семената са презрели, съдържанието им на сухо вещество е над 90%</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растението е сухо и отмряло</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибран продукт</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                            <span><sup>1</sup> Удължаването на стъблото може да се наблюдава преди фаза 19, в този случай продължете с фаза 3</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div> 
