<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ НА ОТКРИТО</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЗЕЛЕВИ КУЛТУРИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/046(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/7(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                н.с.I ст. д-р Ваньо Иванов<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЗЕЛЕВИ КУЛТУРИ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добра растителнозащитна практика при зелеви култури</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Ръководството за добрата растителнозащитна практика при зелеви култури представлява част от
                ЕСОРЗ - програмата за всички основни култури в ЕСОРЗ - региона. То е съобразено с
                ЕСОРЗ-стандартите - РР 2/1(2) общи Принципи за добра растителнозащитна Практика.
                Ръководството съдържа методи за борба с вредителите при зелевите култури, отглеждани на открито.
            </p>
            <p >
                Зелето и карфиолът са основните зелеви култури у нас. Освен тях на по-ограничени площи се
                отглеждат и други видове зеле, като броколи, брюкселско зеле алабаш. Ряпата също е
                традиционна култура за много градинари в страната. Някои видове се отглеждат като фуражни
                култури или за производство на семена (синап, рапица, репко). През последните години в
                много страни, включително и у нас, е широко застъпена рапицата. По тази култура са
                установени голям брой вредители и тя може да бъде основен източник на зараза за съседните
                зелеви култури. Настоящето ръководство не обхваща производството на посадъчен материал и
                семепроизводството при зелевите култури.
            </p>
            <p >
                Посочените в ръководството вредители нападат в различна степен отделните видове кръстоцветни
                култури. При разработване на системите за борба със специфичния вредител върху подхода при
                ДРЗП влияние оказва видът на произвежданата за пазара продукция (листа, глави, кореноплоди).
                Качеството на продукцията е много важно за листостъблените кръстоцветни култури.
            </p>
            <p >
                Зелевите култури обикновено се отглеждат от разсад (произведено в лехи, в торфени контейнери
                или саксии) или чрез директна сеитба. Ротацията на културите през няколко години спомага
                да се избегне разпространението (чрез растителните остатъци или чрез почвата) на голям
                брой болести в следващите култури. Чрез обеззаразяване на семената или третиране на разсада
                се предотвратява внасянето на инфекции в културата. Агротехническите методи, чрез които може
                значително да се намали нивото на зараза в културите, включват унищожаване на плевелите от
                сем <span class="latin_name">Brassicaceae</span>, които служат за резервоар на редица
                инфекции, отстраняване на растителните остатъци, оптимално торене и дренаж, осигуряване на
                добро проветряване при култури, отглеждани в парници и полиетиленови тунели. Използването на
                устойчиви сортове спомага за намаляване загубите от икономически важните вредители. Те са от
                особено значение при брюкселското и главестото зеле срещу
                <span class="latin_name">Erysiphe cruciferarum, Mycosphaerella brassicicola и Albugo candida</span>.
            </p>
            <p >
                Въпреки, че продуктите за растителна зашита (ПРЗ) се употребяват широко в ДРЗП при зелевите култури,
                има значителни възможности за ограничаване на тяхната употреба чрез използване на агротехнически и
                другите не химични методи за борба. Необходимо е производителите да се убедят в предимствата на тези
                методи и да бъдат обучени да ги използват правилно. Химичните третирания трябва да се прилагат, само
                когато е необходимо. Срещу почвените патогени и неприятели е по-добре да се използват обеззаразени
                семена. Третирането на разсада предпазва ранното развитие и разпространение на вредителите. Може да
                се извърши третиране на почвата или третиране на надземните части. За да се ограничи до минимум
                полското третиране и да се постигне опазването от вредители, е необходимо да се извършват редовни
                обследвания на културите, да се прилагат прогностични методи, да се използват намалени дози и
                малообемни третирания. Проблемите с вредителите не намаляват и след прибирането на зелевите култури.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/5-zelenchuci_otkrito-prilojenie.pdf"
                >
                    * Виж приложение 4
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредите при главесто зеле, карфиол. др. видове зеле, алабаш, ряпа са :</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pythium-ultimum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сечене на разсада - <span class="latin_name">Pythium ultimum, P.aphanidermatum, Rhizoctonia solani, Phytophthora nicotianae, P. cryptogea, Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora-parasitica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по кръстоцветните - <span class="latin_name">Peronospora parasitica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#plasmodiophora-brassicae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Гуша по зелето - <span class="latin_name">Plasmodiophora brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-brassica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черни листни петна - <span class="latin_name">Alternaria brassica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#caulimovirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мозайка по цветното зеле - <span class="latin_name">Cauliflower mosaic caulimovirus - CaMV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phyllotreta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кръстоцветни бълхи - <span class="latin_name">Phyllotreta sp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cutworms" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки - <span class="latin_name">Cutworms, Mamestra brassicae, M. oleracea, Plusia gamma</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#delia-brassicae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Зелева муха - <span class="latin_name">Delia brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#plutella-maculipenis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Зелев молец - <span class="latin_name">Plutella maculipenis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#euriderma-ornata" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена и разноцветна зелеви дървеници
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brevicorynae-brassicae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Brevicorynae brassicae; Myzus persicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pieris-brassicae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бели зелеви пеперуди <span class="latin_name">Pieris brassicae, P. rapae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#contarinia-nasturtii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Зелева галица <span class="latin_name">Contarinia nasturtii</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ceuthurhynchus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Хоботници - стъблен <span class="latin_name">Ceuthurrhynchus quadridens</span>, галообразуващ - <span class="latin_name">C. pleurostigma</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#heterodera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени червеи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By David B. Langston - USDA Forest Service, http://www.forestryimages.org/browse/detail.cfm?imgnum=5077024, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=12089614</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>Av Agronom - Eget arbete, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=23279947</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1672102</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1689661</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By I, S Sepp, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=2439462</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=40008798</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By John Tann from Sydney, Australia - Johnson Grass, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=38234408</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
