<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО КРАСТАВИЦИ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">КРАСТАВИЦИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>7-10% нападнати растения с единични колонии</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            АКАРИ <span class="latin_name">Tetranychus sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>5-10% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЮТЮНЕВ ТРИПС <span class="latin_name">Thrips tabaci</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">през вегетацията</td>
                        <td rowspan="2">възрастни и ларви</td>
                        <td>1 бр./цвят</td>
                    </tr>
                    <tr>
                        <td>3-5 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОРАНЖЕРИЙНА БЕЛОКРИЛКА <span class="latin_name">Тrialeurodes vaporariorum</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>5 бр. възрастни/растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГАЛООБРАЗУВАЩИ НЕМАТОДИ <span class="latin_name">род Мeloidogyne</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>преди разсаждане</td>
                        <td>яйца или ларви</td>
                        <td>12-18 бр./куб. см почва</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гали</td>
                        <td>наличие на гали по корените</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
