// @import "~bootstrap/dist/css/bootstrap.min.css";
// $fa-font-path: "../../../node_modules/font-awesome/fonts";
// @import "../../../node_modules/font-awesome/scss/font-awesome.scss";

$heading-font: 'Poppins', sans-serif;
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*==================
	SLIDER IN CAROUSEL
====================*/

.aa-top-slider-content		{
  background-color: rgba(255, 255, 255, 0.8);
  left: 20%;
  padding: 30px;
  position: absolute;
  top: 40%;
  z-index: 999;
  .aa-top-slider-catg{
    font-family: $heading-font;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #555;
    line-height: 25px;
  }
  .aa-top-slider-title{
    color: #555;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .aa-top-slider-location{
    font-size: 14px;
    i{
      margin-right: 5px;
    }
  }
  .aa-top-slider-off{
    font-size: 14px;
    font-family: $heading-font;
    color: #555;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
  }
  .aa-top-slider-price{
    font-family: $heading-font;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
  }
  .aa-top-slider-btn{
    display: inline-block;
    @include transition(all 0.5s);
    text-transform: uppercase;
    font-size: 15px;
    span{
      margin-left: 3px;
    }
  }
}

/*==================
	ABOUT US SECTION
====================*/
#aa-about-us{
  position: relative;
  top: -150px;
	display: inline;
	// float: left;
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.8em;
    color: #008000;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
	.aa-about-us-area{
		display: inline;
		// float: left;
		width: 100%;
    padding: 100px 0;
    .left-col {
      width: 41.6666667%;
      .aa-about-us-left{
        // display: inline;
        float: left;
        // width: 100%;
        img{
          width: 100%;
        }
      }
    }
		.right-col {
      width: 58.33333333%;
      float: right;
      padding-left: 2%;
      .aa-about-us-right{
        display: inline;
        float: left;
        width: 100%;
        h2 {
          margin-top: 0;
          font-size: 1.5em;
          color: #008000;
        }
        ul{
          margin-left: 30px;
          li{
            font-style: italic;
            list-style: circle;
            margin-bottom: 5px;
          }
        }
      }
    }

	}
}
.aa-title{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	p{
		font-size: 18px;
		padding: 0 50px;
	}
	span{
		width: 2px;
		height: 15px;
		display: inline-block;
    position: relative;
    background-color: #008000;
		&:before{
			content: '';
			right: 4px;
			top: 7px;
			position: absolute;
			width: 100px;
      height: 2px;
      background-color: #008000;
		}
		&:after{
			content: '';
			left: 4px;
			top: 7px;
			position: absolute;
			width: 100px;
      height: 2px;
      background-color: #008000;
		}

  }
}

/*==================
 SERVICE SECTION
====================*/
#aa-service{
  display: inline;
  width: 100%;
  padding: 100px 0;
  position: relative;
  top: -80px;
  .container {
    width: 97%;
    margin: 0 auto;
  }
	.aa-service-area{
		display: inline;
    width: 100%;
    h2 {
      margin-top: 0;
      font-size: 1.5em;
      color: #008000;
    }
		.aa-service-content{
      .col-md-3 {
        width: 25%;
        float: left;
      }
			display: inline;
			float: left;
			width: 100%;
			margin-top: 40px;
			.aa-single-service{
				display: inline;
				float: left;
				text-align: center;
				width: 100%;
				&:hover{
					.aa-service-icon{
						&:before{
							border: 2px solid #fff;
						}
					}
				}
				.aa-service-icon{
					display: inline;
					float: left;
					width: 100%;
					margin-bottom: 20px;
          position: relative;
          .icon-in-circle {
            border-radius: 50%;
            color: #fff;
            font-size: 40px;
            height: 100px;
            line-height: 100px;
            width: 100px;
            background-color: #527532;
            display: inline-block;
            img {
              vertical-align: initial;
            }
          }

					&:before{
							border: 2px solid transparent;
							border-radius: 50%;
							content: "";
							height: 96px;
							margin-left: 4px;
							position: absolute;
							width: 88px;
							@include transition(all 0.5s);

						}
					span{
						border-radius: 50%;
						color: #fff;
						font-size: 40px;
						height: 100px;
						line-height: 100px;
						width: 100px;
            background-color: #527532;
					}
				}
				.aa-single-service-content{
					display: inline;
					float: left;
          width: 100%;
          padding: 0 3%;
          // h3 {
          //   color: #008000;
          // }
					h3{
            color: #008000;
						font-size: 1.2em;
						// a{
						// 	@include transition(all 0.5s);
						// }
					}
					p{
            font-size: 1.1em;
            a{
              @include transition(all 0.5s);
              // cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@media(max-width:900px ) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        float: none;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
        .aa-about-us-left {
          float: none;
          img {
            margin: auto;
          }
        }
      }
      .right-col {
        float: none;
        width: 100%;
      }
    }
  }

  #aa-service {

    .aa-service-content{
      .col-md-3 {
        float: none !important;
        width: auto !important;
      }
      .aa-service-icon {
        margin-bottom: 0 !important;
      }
    }

    .aa-single-service-content{
      padding: 0 3% 40px 3% !important;
      h3, p {
        font-size: 1.2em !important;
      }
    }
  }
}

@media(max-width:800px ) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        width: 70% !important;
      }
    }
  }
}

@media(max-width:700px) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        width: 90% !important;
      }
    }
  }
}

@media(max-width:600px) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        width: 100% !important;
      }
    }
  }
}

// @media(max-width:480px ) {
//   #aa-about-us {
//     .aa-about-us-area {
//       .left-col {
//         // width: 100% !important;
//         width: 216px !important;
//         height: 216px;
//       }
//     }
//   }
// }

@media(max-width:360px ) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        img {
          height: 216px !important;
        }
      }
    }
  }
}

@media(max-width:320px ) {
  #aa-about-us {
    .aa-about-us-area {
      .left-col {
        img {
          height: 200px !important;
        }
      }
    }
  }
}
