<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО КАЗАНЛЪШКА РОЗА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">КАЗАНЛЪШКА РОЗА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЪПКОВА ПЕРОКРИЛКА <span class="latin_name">Platyptilia rhododactylus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до цъфтеж</td>
                        <td>гъсеници</td>
                        <td>над 5 бр./10 храста</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОГРИЗЕЩИ ГЪСЕНИЦИ <span class="latin_name">Geometridae, Tortricidae, Erebidae, Lasiocampidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гъсеници</td>
                        <td>60 бр./10 храста</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦИКАДИ <span class="latin_name">сем. Cicadellidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>разлистване - бутонизация</td>
                        <td rowspan="2">ларви-възрастни</td>
                        <td>2-3 бр./лист</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>4-5 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РОЗЕН АГРИЛУС <span class="latin_name">Agrilus cuprescens</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>5 бр./100 храста</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕНА РОЗЕНА ЛИСТНА ВЪШКА <span class="latin_name">Macrosiphum rosae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>разлистване - бутонизация</td>
                        <td>подвижни форми</td>
                        <td>10% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>яйца и подвижни форми</td>
                        <td>2-3 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РОЗЕНА СФЕРИЧНА ЩИТОНОСНА ВЪШКА <span class="latin_name">Rhodococus bulgariensis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадий</td>
                        <td>3-5% нападнати храсти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЪПКОПРОБИВАЧ ПО РОЗАТА <span class="latin_name">Homalorhynchites (Rhinchites) hungaricus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>1 бр./10 храста</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
