<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО КОНОП И ЛЕН</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">КОНОП</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОНОПЕНА БЪЛХА <span class="latin_name">Psylliodes attenuata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>10-15 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИВАДНА ПЕПЕРУДА <span class="latin_name">Loxostege sticticalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>І-во поколение</td>
                        <td rowspan="2">гъсеници</td>
                        <td>10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>ІІ-ро поколение</td>
                        <td>20 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦАРЕВИЧЕН ПРОБИВАЧ <span class="latin_name">Ostrinia nubilalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>начало на вегетация</td>
                        <td>гъсеници</td>
                        <td>25 бр./100 растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЛЕН</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИНЯ ЛЕНОВА БЪЛХА <span class="latin_name">Aphthona euphorbiae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>10-15 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЕНОВ ТРИПС <span class="latin_name">Thrips linarius</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до бутонизация</td>
                        <td rowspan="2">възрастни</td>
                        <td>над 1 бр./растение</td>
                    </tr>
                    <tr>
                        <td>първа половина на вегетацията</td>
                        <td>5-6 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГАМОЗНАЧНА НОЩЕНКА <span class="latin_name">Phytometra (Autographa, Plusia) gamma</span>
                        </td>
                    </tr>
                    <tr>
                        <td>растения високи до 5 см</td>
                        <td rowspan="4">гъсеници</td>
                        <td>1 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>от 5 до 10 см</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>от 10 до 45 см</td>
                        <td>4 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>от 45 до 50 см</td>
                        <td>6 бр./кв.м</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
