<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ДОМАТИ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ДОМАТИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            полско производство -<br/>
                            отглеждани чрез разсад
                        </td>
                        <td rowspan="2">ларви</td>
                        <td>4 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>
                            полско производство -<br/>
                            отглеждани чрез директна сеитба
                        </td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАЕЖИНООБРАЗУВАЩИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>цъфтеж-плододаване</td>
                        <td>ларви – възрастни</td>
                        <td>5-10% нападнати растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            в началото на вегетация -<br/>
                            при начало на заселване
                        </td>
                        <td rowspan="2">ларви, нимфи, възрастни</td>
                        <td>
                            10% нападнати растения и<br/>
                            образуване на 1-вите колонии
                        </td>
                    </tr>
                    <tr>
                        <td>
                            в райони с масови вирози -<br/>
                            след разсаждане
                        </td>
                        <td>
                            единични крилати въшки<br/>
                            по 5% от растенията
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА НОЩЕНКА <span class="latin_name">Helicoverpa armigera</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">бутонизация</td>
                        <td rowspan="2">яйца</td>
                        <td>пок. І 20 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>пок. ІІ 70-90 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>плодообразуване</td>
                        <td>гъсеници</td>
                        <td>5% нападнати плодове</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦИКАДИ <span class="latin_name">Hyalesthes spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            след разсаждане в нач.<br/> 
                            на вегетация юни-юли
                        </td>
                        <td>възрастни</td>
                        <td>2 бр./10 откоса със сак</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ДОМАТЕН МИНИРАЩ МОЛЕЦ <span class="latin_name">Tuta absoluta Meyrick</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">вегетация</td>
                        <td rowspan="2">гъсеници</td>
                        <td>10% от листата са с мини</td>
                    </tr>
                    <tr>
                        <td>4% от плодовете са с повреди</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МИНИРАЩИ МУХИ <span class="latin_name">сем. Agromyzidae</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>вегетация</td>
                        <td>ларви</td>
                        <td>2 мини/растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗАПАДЕН ЦВЕТОВ ТРИПС /КАЛИФОРНИЙСКИ ТРИПС/ <span class="latin_name">Frankliniella occidentalis</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>1 бр. на цвят</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЮТЮНЕВ ТРИПС <span class="latin_name">Thrips tabaci</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни и ларви</td>
                        <td>3 бр. на лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОРАНЖЕРИЙНА БЕЛОКРИЛКА <span class="latin_name">Тrialeurodes vaporariorum</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>до началото на плододаване</td>
                        <td rowspan="2">възрастни</td>
                        <td>10 бр./1 растение</td>
                    </tr>
                    <tr>
                        <td>в плододаващи насъждения</td>
                        <td>20 бр./1 растение</td>
                    </tr>
                    <tr>
                        <td>след 7 същински лист</td>
                        <td>нимфи</td>
                        <td>5 бр./10 листа</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГАЛООБРАЗУВАЩИ НЕМАТОДИ <span class="latin_name">род Мeloidogyne</span> (оранжерийно производство)
                        </td>
                    </tr>
                    <tr>
                        <td>преди разсаждане</td>
                        <td>яйца или ларви</td>
                        <td>12-18 бр./куб. см почва</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гали</td>
                        <td>наличие на гали по корените</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
