<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЧЕРЕША И ВИШНЯ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ЧЕРЕША И ВИШНЯ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЛКА ЗИМНА ПЕДОМЕРКА <span class="latin_name">Cheimatobia (Operophtera) brumata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>
                            2-5 бр./2 линейни метра 2-3 годишни клонки
                        </td>
                    </tr>
                    <tr>
                        <td>преди цъфтеж</td>
                        <td rowspan="2">гъсеници</td>
                        <td>
                            10-12 бр./100 стръсквания или 8-10% повредени пъпки
                        </td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>
                            8-10 бр./100 стръсквания или 10-12% повредени плодове
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОСТИЛКОПЛОДОВА ЛИСТНА ОСА <span class="latin_name">Neurotoma nemoralis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза/до<br/>
                            нарастване на плода
                        </td>
                        <td>гъсеници</td>
                        <td>10% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ВИШНЕВ ХОБОТНИК <span class="latin_name">Rhynchites auratus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>край на цъфтеж</td>
                        <td>възрастни</td>
                        <td>3 бр./10 клонки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРНА ЧЕРЕШОВА ЛИСТНА ВЪШКА <span class="latin_name">Myzus cerasi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>разпукване на пъпките - до цъфтеж</td>
                        <td>индивиди</td>
                        <td>2% нападнати пъпки</td>
                    </tr>
                    <tr>
                        <td>след цъфтежа</td>
                        <td>колонии</td>
                        <td>5% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРЕШОВА МУХА <span class="latin_name">Rhagoletis cerasi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>първо третиране</td>
                        <td rowspan="2">възрастни</td>
                        <td>
                            8-12 дни след началото на летеж, при 10 бр. женски<br/> 
                            мухи на уловка (сумарно) при избистряне на плодовете
                        </td>
                    </tr>
                    <tr>
                        <td>
                            второ третиране при средно<br/>
                            ранни и късни сортове
                        </td>
                        <td>8-10 дни след първото при 10 бр. мухи/уловка</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КАЛИФОРНИЙСКА ЩИТОНОСНА ВЪШКА <span class="latin_name">Quadraspidiotus perniciosus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>2% нападнати леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЪХНАТ БРЪМБАР <span class="latin_name">Tropinota (Epicometis) hirta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>5-7 бр./100 розетки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ <span class="latin_name">сем. Tortricidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>3-5 яйчни купчинки/дърво</td>
                    </tr>
                    <tr>
                        <td>разпукване на пъпки</td>
                        <td rowspan="2">гъсеници</td>
                        <td>8-10 бр. /100 пъпки/розетки</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>12-15 бр./100 стръсквания</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
