<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЗЕЛЕНЧУКОВИ КУЛТУРИ ОТСЕМ. <span class="italic">CUCURBITACEAE</span></h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Feller, et al., 1995 b</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за (тяхната) индефикация при  
              краставица (<span class="italic">Cucumis sativus</span> L.), 
              пъпеш (<span class="italic">Cucumis melo</span> L.), 
              тиква, тиквичка (<span class="italic">Cucurbita pepo</span> L.), 
              кратуна (<span class="italic">Cucurbita pepo</span> L. var. <span class="italic">giromontiina</span> Alef./Greb), 
              диня (<span class="italic">Citrullus</span> var. <span class="italic">vulgaris</span> Schad.)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж О: Покълнване</td>
                    </tr>
                    <tr>
                      <td>00</td>
                      <td>000</td>
                      <td>Сухо семе</td>
                    </tr>
                    <tr>
                      <td>01</td>
                      <td>001</td>
                      <td>Начало на набъбване</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>003</td>
                      <td>Край на набъбване</td>
                    </tr>
                    <tr>
                      <td>05</td>
                      <td>005</td>
                      <td>Поява на кълн</td>
                    </tr>
                    <tr>
                      <td>07</td>
                      <td>007</td>
                      <td>Хипокотила и котиледоните разкъсват семенната обвивка</td>
                    </tr>
                    <tr>
                      <td>09</td>
                      <td>009</td>
                      <td>Покълнване: поява на котилeдоните над почвената повърхност</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 1: Развитие на листата</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>100</td>
                      <td>Котиледоните се разтварят напълно</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>101</td>
                      <td>Първи същински лист на главното стъбло е напълно разтворен</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>102</td>
                      <td>Втори същински лист на главното стъбло е напълно разтворен</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td>103</td>
                      <td>Трети същински лист на главното стъбло е напълно разтворен</td>
                    </tr>
                    <tr>
                      <td>1..</td>
                      <td>10.</td>
                      <td>Растежа продължава  до ...</td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>109</td>
                      <td>Девет листа напълно разтворени – 2-цифрен код</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>110</td>
                      <td>Десети лист   напълно разтворен – 3-цифрен код</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>11.</td>
                      <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>119</td>
                      <td>Деветнадесети лист</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 2: Развитие на странични стъбла</td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td>201</td>
                      <td>Поява на първо странично разклонение </td>
                    </tr>
                    <tr>
                      <td>22</td>
                      <td>202</td>
                      <td>Второ странично разклонеие</td>
                    </tr>
                    <tr>
                      <td>2..</td>
                      <td>20.</td>
                      <td>Растежа продължава до…</td>
                    </tr>
                    <tr>
                      <td>29</td>
                      <td>209</td>
                      <td>Поява на 9 или повече странични разклонения</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>221</td>
                      <td>Първо странично разклонение </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>22.</td>
                      <td>Растежа продължава до ...</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>229</td>
                      <td>Девето вторично странично разклонение</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>231</td>
                      <td>Първо третично разклонение</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 5: Начало на цъфтеж</td>
                    </tr>
                    <tr>
                      <td>51</td>
                      <td>501</td>
                      <td>Поява на първи цвят по главното стъбло</td>
                    </tr>
                    <tr>
                      <td>52</td>
                      <td>502</td>
                      <td>Поява на втори цвят</td>
                    </tr>
                    <tr>
                      <td>53</td>
                      <td>503</td>
                      <td>Трети цвят</td>
                    </tr>
                    <tr>
                      <td>5..</td>
                      <td>50.</td>
                      <td>Растежа продължава до ...</td>
                    </tr>
                    <tr>
                      <td>59</td>
                      <td>509</td>
                      <td>Появили се 9 и повече цвята по главното стъбло</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>510</td>
                      <td>Появени 10 или повече цвята по главното стъбло</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>51.</td>
                      <td>Растежа продължава до появата на 18 цвята</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>519</td>
                      <td>Поява на 19 и повече цвята</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>521</td>
                      <td>Поява на първия цвят по  вторичното разклонение</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>531</td>
                      <td>Първи цвят върху третично разклонение</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                      <td>61</td>
                      <td>601</td>
                      <td>Първи разтворен цвят на главното стъбло</td>
                    </tr>
                    <tr>
                      <td>62</td>
                      <td>602</td>
                      <td>Втори разцъфнал цвят на главното стъбло</td>
                    </tr>
                    <tr>
                      <td>63</td>
                      <td>603</td>
                      <td>Трети цвят </td>
                    </tr>
                    <tr>
                      <td>6..</td>
                      <td>60.</td>
                      <td>Растежа продължава до поява на 8 разцъфнал цвят </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>610</td>
                      <td>Десети разцъфнал цвят или 10 цвята вече разтворени</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>61.</td>
                      <td>Растежа продължава до 18 – ти разцъфнал лист</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>619</td>
                      <td>19 – ти цвят напълно отворен или повече  от 19 цвята разцъфнали</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>621</td>
                      <td>Първи  разцъфнал цвят на страничното разклонение </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>631</td>
                      <td>Първи цвят на третично разклонение</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 7: Плододаване</td>
                    </tr>
                    <tr>
                      <td>71</td>
                      <td>701</td>
                      <td>Първи плод по главното стъбло с типична големина и форма </td>
                    </tr>
                    <tr>
                      <td>72</td>
                      <td>702</td>
                      <td>Втори плод с типична големи и фарма</td>
                    </tr>
                    <tr>
                      <td>73</td>
                      <td>703</td>
                      <td>Трети плод</td>
                    </tr>
                    <tr>
                      <td>7..</td>
                      <td>70.</td>
                      <td>Растежа продължава до поява на 8 плода </td>
                    </tr>
                    <tr>
                      <td>79</td>
                      <td>709</td>
                      <td>Девет и повече плода   с типична форма и големина</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>721</td>
                      <td> Първи плод на вторично разклонение  с типична голимина и форма</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>731</td>
                      <td>Първи плод по третичното разклонение</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 8: Зреене на плода и семената</td>
                    </tr>
                    <tr>
                      <td>81</td>
                      <td>801</td>
                      <td>10% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>82</td>
                      <td>802</td>
                      <td>20% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>83</td>
                      <td>803</td>
                      <td>30% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>84</td>
                      <td>804</td>
                      <td>40% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>85</td>
                      <td>805</td>
                      <td>50% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>86</td>
                      <td>806</td>
                      <td>60% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>87</td>
                      <td>807</td>
                      <td>70% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>88</td>
                      <td>808</td>
                      <td>80% от плодовете са с типичнен цвят на зреене</td>
                    </tr>
                    <tr>
                      <td>89</td>
                      <td>809</td>
                      <td>Пълна зрялост: плодовете са с типичен цвят за зрялост</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="3">2 и 3 цифрен код</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="3">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                      <td>97</td>
                      <td>907</td>
                      <td>Загиване на растенията</td>
                    </tr>
                    <tr>
                      <td>99</td>
                      <td>909</td>
                      <td>Получаване на семена</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
