<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ПИПЕР</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/054(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/29(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                проф. д.с.н. Георги Нешев<br/>
                ст.н.с.I ст. д.с.н. Никола Атанасов<br/>
                ст.н.с.II ст. д-р Стойка Машева<br/>
                ст.н.с.II ст. д-р Екатерина Логинова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ПРИ ПИПЕР*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при пипер в култивационни съоръжения.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Пипер се отглежда предимно на открито в България, но една част и в култивационни
                съоръжения. По-малко са площите в стъклените оранжерии, където е застъпено т.нар.
                целогодишно производство. Повече са площите с пипер в полиетиленови оранжерии, в
                които културата се разсажда в края на март - началото на април и се реколтира,
                докогато е възможно наесен.
            </p>
            <p>
                Основната стратегия за борба с вредителите остава в общи линии както на открито.
                Необходимо е да се поддържат основните фитосанитарни стандарти за профилактика на
                много високо ниво. ДРЗП при пипера предполага също и добро управление на условията в
                оранжерията, защото разпространението на неприятелите може да бъде повлияно в голяма
                степен от общите агротехнически условия. Това е от особено значение, тъй като пиперът
                е капитало- и трудоемка култура. С дадените интензивни методи на отглеждане
                сеитбообръщение е почти невъзможно и културата е подложена на бързо разпространяващи
                се нападения от вредители. За препоръчване е там, където има възможност, поне за
                около 2-4 години да се отглеждат култури от семейства, различни от
                <span class="latin_name">сем. Solanaceae</span>, в зависимост от устойчивостта на
                сорта към съответните патогени. Когато е възможно, се използват устойчиви или малко
                чувствителни на различни болести сортове.
            </p>
            <p>
                Пиперът се отглежда от разсад, засят в малки саксийки (или патрони) с торф или
                торфени блокчета, разсаден изцяло със субстрата на постоянно място. Разсадът трябва
                да бъде отгледан във висококачествен субстрат, в изолирани помещения, далеч от
                култури от <span class="latin_name">сем. Solanaceae</span>. Семената трябва да
                удовлетворяват сертификационните стандарти. Трябва да бъдат взети предпазни мерки
                срещу патогени, причиняващи сечене, включително обработка на семената.
            </p>
            <p>
                Третиранетото на семената срещу вредители по младите растения е ДРЗП, особено ако
                води до по-малко пръскания. Много е важно да се използва здрав посадъчен материал и
                третирани семена, а там, където е възможно, и отглеждане в чиста от болести почва.
                Същото се отнася и за използването на чиста от патогени вода, особено когато се
                използва рециклирана такава в комбинация с изкуствена хранителна среда.
            </p>
            <p>
                Пиперът в България се отглежда предимно по традиционната технология в почва.
                Инструментите и машините трябва да се почистват след използване. Трябва да се
                избягват повреди по растенията. В края на вегетационния период поливната система
                трябва да се дезинфекцира (например с водороден прекис /Н<sub>2</sub>0<sub>2</sub>/)
                срещу патогени. В празните стъклени оранжерии стъклата трябва да се почистят от
                водорасли и зелен мъх. През зимата може да се екранира за ограничаване на разходите
                за отопление. Рано напролет е необходимо да се махнат екраните, за да се избегне
                излишната влага и загубата на светлина и по такъв начин да се предотвратят инфекциите
                от болести. Замрежването на проветрителите и вентилационните отвори е полезно за
                предотвратяване нахлуването на насекоми, като например листни въшки, листоминиращи
                мухи, възрастни форми на листогризещи неприятели и белокрилки. Отворите на мрежите
                трябва да бъдат много малки, за да не пропускат трипс и други дребни насекоми.
            </p>
            <p>
                Вредителите по пипера трябва да се наблюдават периодично през равни интервали.
                Програмите за пръскане с различни продукти за растителна защита е също ДРЗП, ако
                определени вредители, които могат да бъдат единствено контролирани с продукт за
                растителна защита, са в оранжерията или се очакват да проникнат в нея. Трябва да се
                използват локално установените прагове на вредност. Дозировките трябва да отговарят на
                препоръките на етикета, съобразявайки се с отделните ефекти и възможните
                взаимодействия. Комбинирането на растителнозащитните продукти или редуването им може
                да помогне за избягване развитието на устойчивост.
            </p>
            <p>
                ДРЗП е да се използват добре поддържани съоръжения. Приложението на продукти за
                растителна защита се извършва главно чрез пръскане, например с моторни пръскачки, или
                като пространствено третиране, например с малообемни пръскачки или мъглообразуващи
                машини. Малообемните пръскачки имат предимството, че се нагласяват автоматично, така
                че се намалява опасността от контакт на персонала с продукт за растителна защита.
                Внасянето на продукт за растителна защита чрез системите за капково напояване е
                също ДРЗП. Приложението на продукти за растителна защита чрез оросителите или чрез
                прашене може да доведе до намаляване на ефикасността поради неравномерно отлагане. В
                оранжериите е особено важно да се съблюдават правилата за безопасност за работниците,
                прилагащи тези продукти за растителна защита, влизащи след пръскане и докосващи
                пръсканите растения. Трябва да се съблюдава всеки интервал за влизане след пръскане
                (ИВП) и интервалът до беритбите (ИБ), посочени на етикета. Когато се използват
                продукти за растителна защита, особено за пространствено третиране, проветрителите и
                вратите трябва да бъдат добре затворени, за да се избегнат емисии в околната среда.
                Отпадната вода трябва безопасно да се отстрани.
            </p>
            <p>
                Стерилизацията на почвата е обикновена практика за борба с вредителите при
                оранжерийния пипер. За тази цел като ДРЗП се счита използването на пара или
                соларизация. Не се счита за ДРЗП системното използване на почвени стерилизанти.
                По-добре е тези третирания да се ограничат само в случаите, където това е крайно
                необходимо. В южните страни, а също и в България соларизацията на почвата е ефективен
                метод за борба с почвените растителни патогени, нематоди и някои плевелни видове. Тя е
                хидротермичен процес на загряване на влажната почва чрез покриването й с прозрачно
                пластмасово фолио поне за 40 дни през най-горещото време. Почвата трябва предварително
                да се обработи и полее обилно с цел да се улесни по-добрият пренос на топлина и се
                повиши чувствителността на патогените към топлина. Тънкото пластмасово фолио
                (0.025-0.05 mm) повишава ефикасността и намалява разходите в същото време. Соларизацията
                се проявява най-добре при топъл или умерен климат, ако се прилага в затворени стъклени
                или пластмасови оранжерии или тунели. Соларизацията, съчетана с други методи (фумигация
                с намалени дозировки, биологичен метод за борба, органични добавки т.н.), може да повиши
                ефективността и намали периода за експозиция. Соларизацията е ефективна при борба с
                инфекции, причинени от почвени патогени като
                <span class="latin_name">Verticillium dahliae,V. albo-atrum, Fusarium oxysporum</span>.
            </p>
            <p>
                Биологичната борба като част от програмата за интегрирана борба с вредителите се превръща
                в обикновена практика при производството на пипер в оранжерии. Ако се прилагат биологични
                агенти и е необходимо да се използват продукти за растителна защита, трябва да се има
                предвид тяхното странично действие за избора и времето на приложение на тези продукти.
                Ако въпреки всичко трябва да се използват продукти за растителна защита с вредно действие
                върху естествените неприятели, пръскането само на част от културата може да бъде решение за
                избягване на тоталното сриване на системата за биологична борба. Работи се също по
                биологичната борба с почвените гъби (например с
                <span class="latin_name">Trichoderma harzianum или Streptomyces griseoviridis</span>).
            </p>
            <p>
                За пластмасовите съоръжения е важен изборът на подходящо пластмасово фолио. Окуражителни
                резултати са получени при използването на фотоселективно фолио, което може да понижи
                нападението от вредители. За успешното отглеждане на пипер в култивационни съоръжения
                основен лимитиращ фактор е заразяването с вирус. Транспортирането на растенията до мястото
                за разсаждане трябва да се извършва при подходящи условия, като се използват покривни
                материали, за да се избегне заразяването им. Култивационните съоръжения по възможност
                трябва да имат екрани, двойни врати и ограничен достъп на персонала. Особено внимание да се
                обърне на борбата с плевелите вътре в оранжериите и около тях, тъй като те могат да бъдат
                резервоар за много болести (включително вирусни), а също и източник на плевелни семена.
                Растенията редовно да се проверяват за откриване на симптоми на вирусно заболяване, а
                заразените незабавно да се отстраняват. Добра практика е използването на жълти уловки за
                следене броя на белокрилката, листните въшки, листоминиращите мухи, а за трипсовете - сини.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по пипер, отглеждан в култиваиионни съоръжения, са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pythium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Базично и кореново гниене, сечене - <span class="latin_name">Pythium spp., Thanatephorus cucumeris (Rhizoctonia solani), Phytophthora cryptogea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фитофторно гнене - <span class="latin_name">Phytophthora nicotianae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-cupsici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по пипера - <span class="latin_name">Phytophthora cupsici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyrenochaeta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вкорковяване на корена (корки-рут) - <span class="latin_name">Pyrenochaeta lycopersici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафяви листни петна - <span class="latin_name">Alternaria solani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно и вертицилийно увяхване - <span class="latin_name">Fusarium oxysporum, Verticillium spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botryotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене (ботритис) - <span class="latin_name">Botryotinia fuckeliana (Botrytis cinerea)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#levellula" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Levellula taurica (Oidiopsis taurica)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бяло гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#xanthomonas" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листно петносване - <span class="latin_name">Xanthomonas axonopodis pv. vesiatoria</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#liriomyza" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листоминиращи мухи - <span class="latin_name">Liriomyza spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Трипси - <span class="latin_name">Thrips tabaci, Franklinella occidentalis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lepidoptera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки и други пеперуди- <span class="latin_name">Lepidoptera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acarina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Акари - <span class="latin_name">Acarina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Оранжерийна белокрилка - <span class="latin_name">Trialeurodes vaporatiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди - <span class="latin_name">Meloidogyne spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#empoasca-decipiens" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Цикадки - <span class="latin_name">Empoasca decipiens, Hauptidia maroccana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>http://gardener.wikia.com/wiki/File:Sweet_pepper_Phytophthora_blight_Phytophthora_capsici_Fruit_2.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Hanna Friberg (SLU) - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=51047855</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Netty4299 - Took a picture, CC0, https://en.wikipedia.org/w/index.php?curid=37875289</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By AfroBrazilian - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27497326</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Frank Peairs, Colorado State University, Bugwood.org - This image is Image Number 5364132 at Invasive.org, a source for images of invasive and exotic species operated by The Bugwood Network at the University of Georgia and the USDA APHIS Plant Protection and Quarantine program., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11272182</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=327301</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=39889</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15092756</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

