.mat-button,.mat-fab,.mat-flat-button,.mat-icon-button,.mat-mini-fab,.mat-raised-button,.mat-stroked-button {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500
}

.mat-toolbar,.mat-toolbar h1,.mat-toolbar h2,.mat-toolbar h3,.mat-toolbar h4,.mat-toolbar h5,.mat-toolbar h6 {
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    margin: 0
}
.mat-list-item,.mat-list-option {
    font-family: Roboto,Helvetica Neue,sans-serif
}

.mat-list-base .mat-list-item {
    font-size: 16px
}

.mat-list-base .mat-list-item .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box
}
.mat-ripple {
    overflow: hidden;
    position: relative
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none
}

.mat-focus-indicator,.mat-mdc-focus-indicator {
    position: relative
}

.mat-button,.mat-icon-button,.mat-stroked-button {
    color: inherit;
    background: transparent
}
.mat-button-focus-overlay {
    background: #000
}
.mat-fab,.mat-flat-button,.mat-mini-fab,.mat-raised-button {
    color: rgba(0,0,0,.87);
    background-color: #fff
}

.mat-fab.mat-accent,.mat-fab.mat-primary,.mat-fab.mat-warn,.mat-flat-button.mat-accent,.mat-flat-button.mat-primary,.mat-flat-button.mat-warn,.mat-mini-fab.mat-accent,.mat-mini-fab.mat-primary,.mat-mini-fab.mat-warn,.mat-raised-button.mat-accent,.mat-raised-button.mat-primary,.mat-raised-button.mat-warn {
    color: #fff
}

.mat-fab.mat-primary,.mat-flat-button.mat-primary,.mat-mini-fab.mat-primary,.mat-raised-button.mat-primary {
    background-color: #3f51b5
}

.mat-fab.mat-accent,.mat-flat-button.mat-accent,.mat-mini-fab.mat-accent,.mat-raised-button.mat-accent {
    background-color: #ff4081
}
.mat-fab:not([class*=mat-elevation-z]),.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)
}
.mat-list-base .mat-list-item,.mat-list-base .mat-list-option {
    color: rgba(0,0,0,.87)
}
/* .mat-action-list .mat-list-item:focus,.mat-action-list .mat-list-item:hover,.mat-list-option:focus,.mat-list-option:hover,.mat-nav-list .mat-list-item:focus,.mat-nav-list .mat-list-item:hover {
    background: rgba(0,0,0,.04)
} */

.mat-drawer-container {
    background-color: #fafafa;
    color: rgba(0,0,0,.87)
}

.mat-drawer {
    color: rgba(0,0,0,.87)
}

.mat-drawer,.mat-drawer.mat-drawer-push {
    background-color: #fff
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)
}

.mat-toolbar {
    background: #f5f5f5;
    color: rgba(0,0,0,.87)
}

.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff
}

.mat-toolbar-multiple-rows {
    min-height: 64px
}

.mat-toolbar-row,.mat-toolbar-single-row {
    height: 64px
}
body {
    font-family: Roboto,sans-serif;
    font-display: swap;
    color: #202020
}


















