<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЦАРЕВИЦА</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Weber and Bleiholder, 1990; Lancashire et al., 1991</p>
            <p>
                Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
                царевицата (<span class="italic">Zea mays L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Поникване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбването</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Край на набъбването</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Поява на коренчето</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Удължаване и разклоняване на коренчето</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Поява на колеоптила</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване (колеоптилът пробива земната повърхност)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата <sup>1,2</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Поява на първи лист</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Разтваряне на първи лист</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Разтваряне на втори лист</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Разтваряне на трети лист</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Фазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Разтваряне на девети (или следващ пореден) лист</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Поява на първи възел</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Пова на втори възел</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Поява на трети възел</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Фазите продължават до ...</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Поява на девети (възел или следващ пореден) <sup>3</sup></td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цвета (изметляване)</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Начало на изметляване: наличие на метлица на върха на стъблото (не е показана от най-горните листа)</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>Върхът на метлицата се показва от най-горните листа</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Средната част на метлицата започва да се разтваря</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Край на изметляването – метлицата е напълно разтворена</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td rowspan="2">61</td>
                        <td><span class="italic">Мъжки цветове</span>: прашниците (тичинките) от средната част на метлицата са видими</td>
                    </tr>
                    <tr>
                    <td><span class="italic">женски цветове</span>: поява на връхните части на косата</td>
                    </tr>
                    <tr>
                        <td rowspan="2">63</td>
                        <td><span class="italic">Мъжки цветове</span>: начало на разпръскване на полена</td>
                    </tr>
                    <tr>
                        <td><span class="italic">женски цветове</span>: поява на косата</td>
                    </tr>
                    <tr>
                        <td rowspan="2">65</td>
                        <td><span class="italic">Мъжки цветове</span>: метлицата е цъфнала по цялата си дължина</td>
                    </tr>
                    <tr>
                        <td><span class="italic">женски цветове</span>: косата е напълно развита</td>
                    </tr>
                    <tr>
                        <td rowspan="2">67</td>
                        <td><span class="italic">Мъжки цветове</span>: цъфтежът е приключил</td>
                    </tr>
                    <tr>
                        <td><span class="italic">женски цветове</span>: косата съхне</td>
                    </tr>
                    <tr>
                        <td>68</td>
                        <td>Край на цъфтежа: косата е напълно суха</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Начало на зреене на зърното: съдържанието на сухо вещество е около 16%</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>Ранна млечна зрялост</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Зърната от средната част на кочана са жълтеникаво-бели (в зависимост от сорта), съдържат около 40% сухо млекоподобно вещество</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Почти всички зърна са достигнали окончателния си размер</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Зреене</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>Ранна восъчна зрелост: съдържанието на зърната е меко, с около 45% сухо вещество</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Восъчна зрелост: зърната са жълтеникави до жълти (в зависимост от сорта) съдържат около 55% сухо вещество</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Физиологична зрялост: в основата на зърната се вижда черна точка/слой съдържанието на сухо вещество е около 60%</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрялост: зърната са твърди и лъскави, съдържанието на сухо вещество е около 65%</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растението е сухо</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибран продукт</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                        <span><sup>1</sup> Листът се счита за разгънат, когато се вижда връхчето на следващия лист</span><br/>
                        <span><sup>2</sup> Удължаването на стъблото може да започне преди фаза 19, в този случай продължете с фаза 3</span><br/>
                        <span><sup>3</sup> Изметляването може да започне по-рано, в този случай продължете с фаза 5</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->

    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
