<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ РАПИЦА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/037(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/8(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Валентина Енчева-Василева<br/>
                ст.н.с.II ст. д-р Пепа Шиндерова <br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ РАПИЦА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при рапица.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Културата се отглежда заради семената, богати на масла и протеини. Маслото им принадлежи към трупата
                на полуизсъхващите масла, които намират приложение в промишлеността, металургията, текстилната промишленост,
                при производство на лакове и т.н.
            </p>
            <p >
                По своите изисквания към климата зимната рапица (по-широко разпространената форма) се доближава до
                изискванията на зимните житни култури. Тя издържа на зимните студове. Взискателна е към почвената влага,
                която е решаващ фактор при поникването и през първата фаза на развитие. По-малко взискателна е към почвата.
                Най-благоприятни условия за развитие намира при отглеждане на черноземни почви, но се развива добре и
                на излужени черноземи, сиви горски и канелени почви.
            </p>
            <p >
                Рационалният сеитбооборот е най-ефикасното средство за борба с болестите, плевелите и неприятелите,
                поради което той се явява и основен фактор за максимално реализиране на добива. Препоръчва се от 4- до
                6- годишно сеитбообращение, тъй като често отглеждане на рапица и репица на едно и също място води до
                натрупване на причинителите на гъбни болести и до увеличаване на популациите на основните неприятели.
                Най-подходящи предшественици са тези култури, които освобождават площите рано и остават почвата добре
                влагозапасена и чиста от плевели. Много добри предшественици се явяват пшеница, зимен ечемик, зимен овес,
                детелина, люцерна, картофи, грах, фасул. Не се препоръчва сеитбооборот на рапица със захарно цвекло
                поради факта, че рапицата се явява естествен тостоприемник на цвекловата нематода, а самосевките от
                рапица мотат да заплевелят посева от захарно цвекло.

            </p>
            <p >
                Рапицата е дребносеменна култура и успешното й поникване и първоначално развитие зависи в много силна
                степен от обработката на почвата. Тя трябва да осигури рохкав и мек повърхностен пласт без буци и плевели,
                твърдо легло на семената и добра влатозапасеност. След сеитбата почвата се валира.
            </p>
            <p >
                Културата се отличава със сравнително голяма потребност от хранителни вещества. Съотношението при зимната
                маслодайна рапица N:P:K е 4:2:1.
            </p>
            <p>
                За сеитба трябва да се използват добре изхранени и почистени семена, по възможност устойчиви на болести
                и неприятели.
            </p>
            <p>
                Правилната основна и предсеитбена обработка на почвата до голяма степен определя наличието на плевели
                и самосевки преди и след сеитбата. При наличие на едногодишни и някои широколистни плевели се препоръчва
                обеззаразяване с продукти за растителна защита преди сеитбата, които задължително се инкорпорират в
                почвата. След сеитбата се препоръчва третиране преди поникване на културите или вегетационно пръскане
                до втори лист на плевелите. Срещу едногодишни житни плевели и самосевки от пшеница се препоръчва пръскане
                във фаза 3-5 лист на плевелите.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при рапицата са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротинийно гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Черни петна, тъмни петна по листата - <span class="latin_name">Alternaria brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phoma-lingman" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фома, черен крак, рак - <span class="latin_name">Leptosphaeria maculans, синоним Phoma lingman</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora-parasitica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана - <span class="latin_name">Peronospora parasitica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#eryziphe-cruciferarum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Eryziphe cruciferarum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyranopeziza-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Светли листни петна - <span class="latin_name">Pyranopeziza brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pythium-spp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Мокри гниенета
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ceutorhynchus-napi" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен стъблен скритохоботник – <span class="latin_name">Ceutorhynchus napi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meligethes-aeneus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен цветояд – <span class="latin_name">Meligethes aeneus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ceutorhynchus-assimilis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Рапичен скритохоботник – <span class="latin_name">Ceutorhynchus assimilis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#dasineura-brassica" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Зелево комарче по шушулките - <span class="latin_name">Dasineura brassica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#brevicoryne-brassicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Зелева листна въшка - <span class="latin_name">Brevicoryne brassicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#desiccation" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Десикация
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>http://www.cropscience.bayer.bg/BCSWeb/www/BCS_BG_Internet.nsf/id/BG_Ceuthorrhinchus_napi?open&ccm=100020</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=848448</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>Von ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=16420280</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Gilles San Martin[1] from Namur, Belgium - Dasineura brassicae adult, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=46639355</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>Di Pas d’auteur lisible par la machine identifié. Bogdan supposé (étant donné la revendication de droit d’auteur). - Aucune source lisible par la machine fournie. « Travail personnel » supposé (étant donné la revendication de droit d’auteur)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Forest & Kim Starr, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=6156311</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
