<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЦАРЕВИЦА</h2>
<mat-tab-group class="demo-tab-group">
  <mat-tab disabled>
    <ng-template mat-tab-label>
        <span class="my-tab-label  dis">ЦАРЕВИЦА</span>
    </ng-template>      
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ТЕЛЕНИ И ЛЪЖЕТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae и сем.Tenebrionidae</span>
                    </td>
                </tr>
                <tr>
                    <td>преди, повреме на сеитбата</td>
                    <td rowspan="2">ларви</td>
                    <td>2 бр./кв.м</td>
                </tr>
                <tr>
                    <td>до 6-ти – 7-ми лист</td>
                    <td>5-6 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        СИВ ЦЕРЕВИЧЕН ХОБОТНИК <span class="latin_name">Tanymecus dilaticollis</span>
                    </td>
                </tr>
                <tr>
                    <td>до 5-ти – 7-ми лист</td>
                    <td>възрастно</td>
                    <td>
                        над 2 бр./кв.м<br/>
                        20-30% повредена листна маса
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                    </td>
                </tr>
                <tr>
                    <td>в начало на вегетацията</td>
                    <td rowspan="2">ларви, безкрили, крилати</td>
                    <td>20% заселени растения</td>
                </tr>
                <tr>
                    <td>в по-късни фази</td>
                    <td>30% заселени растения</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЦАРЕВИЧЕН СТЪБЛОПРОБИВАЧ <span class="latin_name">Ostrinia nubilalis</span>
                    </td>
                </tr>
                <tr>
                    <td>6-ти – 7-ми лист <span class="latin_name">(за зърно)</span></td>
                    <td rowspan="2">яйчни групички</td>
                    <td>10 бр./100 растения</td>
                </tr>
                <tr>
                    <td>6-ти – 7-ми лист <span class="latin_name">(за семепроизводство)</span></td>
                    <td>3 бр./100 растения</td>
                </tr>
                <tr>
                    <td>след изметляване <span class="latin_name">(за зърно)</span></td>
                    <td rowspan="2">гъсеници</td>
                    <td>
                        90% нападнати растения с<br/>
                        по 3-4 повреди/растение
                    </td>
                </tr>
                <tr>
                    <td>след изметляване <span class="latin_name">(за семепроизводство)</span></td>
                    <td>
                        10 % нападнати растения с<br/>
                        по 1-2 повреди/растение
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ПОДГРИЗВАЩИ НОЩЕНКИ <span class="latin_name">род Agrotis</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">май-юни</td>
                    <td rowspan="3">гъсеници ІV-V възраст</td>
                    <td>0,5 бр./кв.м гъсеници или</td>
                </tr>
                <tr>
                    <td>
                        0,5 бр./кв.м повредени растения<br/>
                        <span class="latin_name">(неполивни условия)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        0,7 бр./кв.м. повредени растения<br/>
                        <span class="latin_name">(поливни условия)</span>
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЗАПАДЕН КОРЕНОВ ЧЕРВЕЙ <span class="latin_name">Diabrotica virgifera virgifera</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">корени</td>
                    <td rowspan="2">ларви</td>
                    <td>
                        1 бр. ларви 3-та възраст/растение<br/>
                        за неполивни площи
                    </td>
                </tr>
                <tr>
                    <td>
                        3 бр. ларви 3-та възраст/растение<br/>
                        за поливни площи
                    </td>
                </tr>
                <tr>
                    <td>поява на свила</td>
                    <td>възрастни</td>
                    <td>
                        10-15 бр./уловка/ден (на 50 дка)<br/>
                        3-5 бр./растение
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЩУРЦИ <span class="latin_name">сем. Gryllidae</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване до 2-ри-3-ти лист</td>
                    <td>ларви</td>
                    <td>1-2 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ПАМУКОВА НОЩЕНКА <span class="latin_name">Helicoverpa armigera</span>
                    </td>
                </tr>
                <tr>
                    <td>поява на свила - млечна зрялост</td>
                    <td>яйца и ларви</td>
                    <td>50 бр./100 растения</td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-tab>
</mat-tab-group>

