<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ГРАХ</h2>
<mat-tab-group class="demo-tab-group">
  <mat-tab >
    <ng-template mat-tab-label>
        <span class="my-tab-label">ГРАДИНСКИ</span>
    </ng-template>
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ГРАХОВА ЛИСТНА ВЪШКА <span class="latin_name">Acyrthosiphon pisi</span>
                    </td>
                </tr>
                <tr>
                    <td>до бутонизация</td>
                    <td>възрастни</td>
                    <td>
                        50 бр./стъбло (за зърно)<br/>
                        500 бр./10 откоса (за зелено)
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ГРУДКОВИ ХОБОТНИЦИ <span class="latin_name">Sitona spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>до фаза 2-3 същински лист</td>
                    <td>възрастни</td>
                    <td>2 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ГРАХОВ ЗЪРНОЯД <span class="latin_name">Bruchus pisorum</span>
                    </td>
                </tr>
                <tr>
                    <td>цъфтеж</td>
                    <td>възрастни</td>
                    <td>
                        10 бр./100 откоса<br/>
                        10 бр./100 растения
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label>
        <span class="my-tab-label">ПОЛСКИ</span>
    </ng-template>
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ГРАХОВ ЗЪРНОЯД <span class="latin_name">Bruchus pisorum</span>
                    </td>
                </tr>
                <tr>
                    <td>начало на цъфтеж</td>
                    <td>възрастни</td>
                    <td>2 бр./5 откоса = 1 кв.м</td>
                </tr>
            </tbody>
        </table>
    </div>
    </mat-tab>
</mat-tab-group>
