<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЯГОДА</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Meier et al., 1994</p>
          <p>
            Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
            ягодата (<span class="italic">Fragaria ananassa</span>)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Напъпване ( развитие на пъпките)</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Покой: листата са полегнали и частично загинали</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Набъбване на главната пъпка</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Поява на първи лист</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Първи лист развит</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Втори лист развит</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Трети лист развит</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Девет или повече развити листа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Поява на столони и млади листа</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>Поява на столони: дължината на столоните е около 2 сm</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>Поява на първо дъщерно растение</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>Вкореняване на първото дъщерно растение</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>Вкоренено първо дъщерно растение (готово за разсад)</td>
                  </tr>
                  <tr>
                    <td>49</td>
                    <td>Няколко вкоренени дъщерни растения (готови за разсад)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на съцветия</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Първи цветоноси на дъното на розетката</td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>Удължаване на съцветието</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Поява на първи цветни пъпки (още затворени)</td>
                  </tr>
                  <tr>
                    <td>58</td>
                    <td>Начало на бутонизация: първите цветове с венчелистчета оформени като топчица</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td></td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на цъфтеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Първи отворени цветове (първичен или А - цвят)</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: около 10% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Пълен цъфтеж: отворени вторични и третични цветове; падат първите венчелистчета</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Цветовете увяхват, повечето венчелистчета са паднали</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плодовете</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Изпъкване на цветното дъно над венчелистчетата</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>Семената се виждат ясно върху плода</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плодовете</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: повечето плодове са бели</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Първи плодове със специфичния за сорта цвят</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>Главна реколта: повечето плодове са оцветени</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Втора реколта: повечето плодове са оцветени</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене, навлизане в покой</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>Формиране на страничните пъпки</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Поява на нови листа с по-малка петура и с по-къси дръжки</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Загиване на старите листа, накъдряне на младите листа, оцветяването на старите листа е специфично за сорта</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Загиване на старите листа</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- Снимки -->
  
</div>
