<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО РАПИЦА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">РАПИЦА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РАПИЧНА ЛИСТНА ОСА <span class="latin_name">Athalia rosae (= colibri)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през есента</td>
                        <td>лъжегъсеници</td>
                        <td>2-3 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РАПИЧНА СТЪБЛЕНА БЪЛХА <span class="latin_name">Psylliodes chrysocephalus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>
                            разтворен трети лист - 9<br/>
                            или повече оформени листа
                        </td>
                        <td>възрастни</td>
                        <td>4 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РАПИЧЕН И ЗЕЛЕВ СТЪБЛЕНИ СКРОТОХОБОТНИЦИ <span class="latin_name">Ceutorhynchus napi, Ceutorhynchus quadridens</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            през пролетта при 8-10 ° С<br/>
                            температура на въздуха
                        </td>
                        <td>възрастни</td>
                        <td>2-4 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ШУШУЛКОВ ХОБОТНИК <span class="latin_name">Ceutorhynchus obstrictus (=assimilis)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>при оформяне на първите шушулки</td>
                        <td>възрастни</td>
                        <td>2-4 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РАПИЧЕН ЦВЕТОЯД <span class="latin_name">Meligethes aeneus</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            бутонизация - видими цветни <br/>
                            пъпки ("зелен бутон")
                        </td>
                        <td rowspan="2">възрастни</td>
                        <td>
                            2 бр./растение -посев под оптималната<br/> 
                            гъстота и по-слаб потенциал
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4 бр./кв.м. - посев с оптимална<br/> 
                            гъстота и добър потенциал
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            бутонизация - първи<br/>
                            венчелистчета („жълт бутон”)
                        </td>
                        <td rowspan="2">възрастни</td>
                        <td>
                            4 бр./растение - посев под оптималната<br/> 
                            гъстота и по-слаб потенциал
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6 бр./растение - посев с оптимална<br/> 
                            гъстота и добър потенциал
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИВИ ЧЕРВЕИ <span class="latin_name">Agrotis spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            при установяване на първи<br/>
                            повреди през есента
                        </td>
                        <td>гъсеници III възраст</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            РАЗНОЦВЕТНА ЗЕЛЕВА ДЪРВЕНИЦА <span class="latin_name">Eurydema ornata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            от "зелен бутон" -
                            до "жълт бутон"
                        </td>
                        <td rowspan="2">възрастни и ларви</td>
                        <td>2-4 бр./растение</td>
                    </tr>
                    <tr>
                        <td>образуване на плодовете- узряване</td>
                        <td>4 бр./растение</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
