<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЛОЗА</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛОЗА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/100(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/23(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                проф. д.с.н. Ангел Харизанов<br/>
                ст.н.с.II ст. д-р Маргарита Тодорова<br/>
                доц. д-р Щиляна Калинова<br/>
                гл. асист. д-р Атанаска Стоева<br/>
                д-р Петър Николов - НСРЗ<br/>
                н.с. Цонка Любенова<br/>
                Маргарита Ценова - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛОЗА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при лоза .</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Указанията по Добрата растителнозащитна практика при лоза представляват част от ЕРРО-програма
                за изготвяне на такива указания за всички основни култури от ЕРРО-региона. Те трябва да бъдат
                четени заедно с ЕРРО-стандарт РР 2/1(1) Принципи на добрата растителнозащитна практика.
                Указанията покриват методите за контрол на вредителите (в това число патогени и плевели) при
                представителите на <span class="latin_name">Vitis spp</span>.
            </p>
            <p>
                Лозата (<span class="latin_name">Vitis vinifera</span>) се отглежда във всички части на
                Европа и Средиземноморието, където лятото е достатъчно топло, за да узрее гроздето. Културата
                се отглежда основно за производството на вино и спиртни напитки, дестилирани от вино, за
                консумация, но също така за пресни сокове и сушено грозде (стафиди).
            </p>
            <p>
                Лозата е многогодишно растение, отглеждано (засаждано) от вкоренени резници (с твърда или
                мека дървесина) или по-често чрез присаждане на калеми от културни сортове на подходяща
                подложка. Тези подложки обикновено са хибриди на различни американски видове от р.
                <span class="latin_name">Vitis</span>  и по-специално <span class="latin_name">V. rupestris</span>
                и <span class="latin_name">V. riparia</span>, които притежават задължително устойчивост
                спрямо филоксера (<span class="latin_name">Viteus vitifoliae</span>).
            </p>
            <p>
                Опазването на листната маса и развиващите се леторасти на лозите от различни вредители
                (по-специално гъбни патогени) е основна задача за получаване на оптимален добив и качествено
                грозде. Правилното прилагане на продукти за растителна защита, обикновено под формата на
                третирания, е задължително за културата и се определя конкретно в бюлетини на регионалните
                служби за растителна защита (РСРЗ). За защита срещу най-важните болести като правило се
                разработва програма за третиране с фунгициди. Поради това ДРЗП в лозята се състои от разумни
                ограничения в броя на третиранията, пропускащи някои от тях, ако климатичните условия са
                неблагоприятни за развитието на болестите или ако прогнозните служби не са ги препоръчали,
                както и ако неприятелите са под икономическия праг на вредност. Лозята се нападат и от
                болести, които могат да бъдат избегнати чрез използването на здрав посадъчен материал.
            </p>
            <p>
                ДРЗП е да се ползва подходяща техника за третиране с цел намаляване на течовете и нежелани
                загуби при третиране. При употреба на продукти за растителна защита, за които се знае, че
                могат да предизвикат появата на устойчиви популации, трябва да се съблюдава стратегията за
                управление на придобитата устойчивост към продукти за растителна защита, както е предвидено
                в ръководствата на ДКР (Действащ комитет по резистентност).
            </p>
            <p>
                Използването на биологично активни агенти представлява незначителна част при опазването на
                лозята основно поради това, че повечето икономически важни вредители са гъби. Използването
                на устойчиви сортове има също ограничено значение, защото производството на висококачествени
                вина зависи в повечето случаи от използването на определени традиционни сортове. Тези сортове
                може да са силно чувствителни спрямо основни болести, но въпреки това се опазват чрез химични
                третирания. ДРЗП е да се използват сортове, устойчиви спрямо определени гъбни болести и
                отговарящи на местните изисквания за качество.
            </p>
            <p class="bold">Пояснителни бележки относно активните вещества</p>
            <p>
                ЕРРО препоръчва да се следват принципите на ДРЗП, като се използват само продукти,
                регистрирани в страната за дадена цел. Трябва да се отбележи, че към настоящия момент много
                активни вещества, използвани в регистрирани продукти в страни от ЕРРО, няма да бъдат
                разрешавани в ЕС след 2003-2007 година.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/9-lozja-prilojenie.pdf"
                >
                    * Виж приложение 8
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по лозата са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#plasmopara-viticola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана - <span class="latin_name">Plasmopara viticola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#oidium-tuckeri" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Oidium tuckeri</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phomopsis-viticola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Екскориоза - <span class="latin_name">Phomopsis viticola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sphaceloma" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Sphaceloma ampelinum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#eutypa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Еутипиоза - <span class="latin_name">Eutypa lata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#esca" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Еска (бяло дървесинно гниене)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#coniella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бяло гниене - <span class="latin_name">Coniella diplodiella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phoma-uvicola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно гниене - <span class="latin_name">Phoma uvicola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#rhizobium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериален рак - <span class="latin_name">Rhizobium vitis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Късовъзлие - <span class="latin_name">Grapevine fanleaf nepovirus</span> ( GFLV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листно завиване - <span class="latin_name">Grapevine leafroll associated viruses</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Комплекс на набраздяване на дървесината - <span class="latin_name">Rugose wood</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lobesia-botrana" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Шарен гроздов молец - <span class="latin_name">Lobesia botrana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#eupoecilia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Еднопоясен гроздов молец - <span class="latin_name">Eupoecilia ambiguella</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pulvinaria" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лозова щитовка - <span class="latin_name">Pulvinaria vitis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#yno-ampelophaga" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лозова пъстрянка - <span class="latin_name">Yno ampelophaga</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sparganothis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лозова листозавивачка - <span class="latin_name">Sparganothis pilleriana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#scotia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки от родове - <span class="latin_name">Scotia, Euxoa, Amathes, Mamestra, Heliothis</span> и др.
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viteus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лозова филоксера - <span class="latin_name">Viteus vitifolliae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#schizotetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълт лозов акар - <span class="latin_name">Schizotetranychus viticola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#schizotetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Червен овощен акар - <span class="latin_name">Panonychus ulmi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди - от родовете <span class="latin_name">Longidorus, Xiphinema, Paralongidorus, Meloidogyne, Trichoderus.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Jerzy Opioła - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=50709586</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>http://www.cropscience.bayer.bg/BCSWeb/www/BCS_BG_Internet.nsf/id/BG_7L9DUW_Uncinula_necator</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Photographer: Tom Maack No machine-readable author provided. T.o.m.~commonswiki assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=384797</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>Von Bauer Karl - Eigenes Werk, CC BY 3.0 at, https://commons.wikimedia.org/w/index.php?curid=17374399</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>Av Daniel Molitor - Daniel Molitor, CC BY 2.0 de, https://commons.wikimedia.org/w/index.php?curid=9549386</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>Par gailhampshire from Cradley, Malvern, U.K — European Vine Moth.Lobesia botrana?.Tortricidae, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=50016488</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>https://alchetron.com/Eupoecilia-ambiguella</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>De Donald Hobern from Canberra, Australia - Sparganothis pilleriana, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=4951630</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Joachim Schmid, Fachgebiet Rebenzüchtung und Rebenveredlung Forschungsanstalt Geisenheim, Von-Lade-Str. 1, D-65366 Geisenheim - Own work (Original text: eigenes Foto), CC BY 3.0 de, https://commons.wikimedia.org/w/index.php?curid=19349810</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Olivier Colas (http://olouf.fr) - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=49253859</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

