<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛИСТНИТЕ ЗЕЛЕНЧУЦИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/049(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/3(2)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛИСТНИ ЗЕЛЕНЧУЦИ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при листни зеленчуци (салата, маруля, спанак).</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Постигането на Дорба растителнозащитна практика при листни зеленчуци отглеждана в
                култивационни съоражения, има следните специфични трудности:
            </p>
            <p>
                1. Поради монокултурното отглеждане тя се заразяват лесно с различни вредители;
            </p>
            <p>
                2. Листните зеленчуци са от продукцията, предназначена за пазара, от която се изисква да
                няма напетнявания и видими повреди от насекоми върху нея. При зеленчуците, чиито плодовете
                са предназначени за пазара (домати и краставици), се допускат известни повреди от
                вредителите по листата;
            </p>
            <p>
                3. Нивото на допустимите остатъчни количества от продукти за растителна защита е много
                ниско, тъй като салатата се консумира в прясно състояние (без период на съхранение).
            </p>
            <p>
                Добрата растителнозащитна практика (ДРЗП) при листните зеленчуци включва още опазване на
                култивационните съоражения от разпространение на вредители чрез редица агротехнически
                мероприятия. Те включват: оптимална гъстота между отделните растения; избягване прекалено
                високата относителна влажност на въздуха; достатъчно поливане през горещите периоди с
                цел да се избегне появата на връхни листни некрози (които благоприятстват развитието на
                сивото гниене); растенията да не се поливат късно през деня и да не се оставят мокри
                вечер; отстраняване на болните растения за ограничаване на вторичното заразяване чрез
                спори; спазване на профилактиктичните изисквания в цялата оранжерия. Задължителна борба
                с плевелите около оранжериите, тъй като те са резервоар на голям брой вредители.
                Широко разпространена практика за борба с вредителите в оранжериите е обеззаразяването
                на почвата.
            </p>
            <p>
                Голям брой вируси нападат листните зеленчуци и причиняват икономически опасни заболявания.
                Борбата с векторите на вирусите по салата е изключително важна. При възможност за избор
                да се използват толерантни спрямо вирусите сортове, а посадъчният материал да бъде
                свободен от вируси. Необходимо е растенията да се преглеждат редовно и да се отстраняват
                тези с видими симптоми.
            </p>
            <p>
                Фермерите обикновено си купуват готови семена, но те могат да си ги произведат и сами.
                Това ръководство не покрива напълно вредителите по салатата при производството на разсад.
                При разсадопроизводството се използва висококачествен компост. Отглеждането да се
                извършва в изолирани помещения, за да се предотврати пренасянето на заразата от по-стари
                болни растения (преди всичко брашнеста мана и вирусни болести). Семената трябва да
                отговарят на приетите сертификационни стандарти за <span class="latin_name">Lettuce mosaic potyvirus</span>
                или да се използват толерантни сортове. Срещу почвените патогени семената да се
                обеззаразяват предварително и да се избягва преовлажняването на почвата. Осигуряването на
                оптимални условия за отглеждане на салатата може да намалят риска от разпространение на
                заболяванията. Засаждането на прераснали или повредени растения в суха почва трябва да
                се избягва, за да се ограничи разпространението на сивото гниене. В ранните фази от
                развитието на растенията да се извършва по-често поливане, за да се осигури добър запас
                от влага през по-късните фази, когато рискът от развитие на маната е най-голям.
                Балансираното торене с калий също намалява риска от сиво гниене.
            </p>
            <p>
                Почвата трябва да бъде чиста от вредители (неприятели, патогени и плевелни семена).
                Някои салати се отглеждат върху изкуствени хранителни среди. В тези случаи препоръките,
                дадени в ръководството за почвените неприятели, не се прилагат или се прилагат ограничено.
                Основните вредители по салата са:
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители no листни зеленчхии са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#bremia-lactucae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по салатата - <span class="latin_name">Bremia lactucae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по спанака - <span class="latin_name">Peronospora effusa</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мозайка по салатата - <span class="latin_name">Lettuce mosaic virus (LMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка - <span class="latin_name">Cucumber mosaic cucumovirus (CMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#dysaphis-crataegi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Dysaphis crataegi, Pemphigus bursarius</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrotis-ipsilon" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grylotalpa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Попово прасе - <span class="latin_name">Grylotalpa grylotalpa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1196322</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=40008798</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
