<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ПЪПЕШИ И ДИНИ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ПЪПЕШИ И ДИНИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПАМУКОВА ЛИСТНА ВЪШКА <span class="latin_name">Aphis gossypii</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>10-12% нападнати растения с единични колонии</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>10% нападнати растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
