<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ НА ОТКРИТО</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МОРКОВИ, МАГДАНОЗ, КОПЪР, ЦЕЛИНА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/049(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/22(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ МОРКОВИ, МАГДАНОЗ, КОПЪР, ЦЕЛИНА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при моркови, магданоз, копър, целина.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Основни зеленчукови култури от това семейство за нашата страна са:
                морков (<span class="latin_name">Daucus carota</span>),
                магданоз (<span class="latin_name">Petroselinum crispum</span>),
                целина-листна (<span class="latin_name">Apium graviolens</span>),
                целина-главеста (<span class="latin_name">A. graveolens var. rapaceum</span>),
                копър (<span class="latin_name">Foeniculum vulgare var. dulce</span>).
                Към това семейство са и
                кимион (<span class="latin_name">Carum carvi</span>),
                кориандър (<span class="latin_name">Coriandrum sativum</span>) и
                пащърнак (<span class="latin_name">Pastinaca saativa</span>), отглеждани на по-ограничени
                площи. Всички са двегодишни, като през вегетацията на първата година се отглеждат за листа
                или кореноплоди. Някои от тях се отглеждат и като билки; магданоз, кориандър и копър.
                Стопанско значение за тези култури имат най-вече почвените патогени и неприятели, а също и
                плевелите. Сеитбооборотът е основа за ДРЗП при сенникоцветните зеленчуци, което означава,
                че следващите 2-3 години площите трябва да бъдат засяване с други култури. Освен това те
                трябва да се отглеждат далеч от площи с почвени вредители.
            </p>
            <p >
                За предпазване на растенията от вредители може да се приложи третиране на семената, на
                почвата или надземните части, като превес трябва да се дава на третирането на семената.
                Преди засяване на тези култури от площите се вземат почвени проби за установяване наличието
                на почвени неприятели. През вегетацията се извършват редовни наблюдения за поява и
                развитие на болести, неприятели и плевели. Получените данни са основа за прогнозиране
                появата на вредните стадии, вредата и оценка на риска от загуби. Борба трябва да се
                провежда само при доказана необходимост. Основни вредители при Сенникоцветните култури за
                страната са:
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/5-zelenchuci_otkrito-prilojenie.pdf"
                >
                    * Виж приложение 4
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при моркови, магданоз. копър, иелина са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#cercospora-carota" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листен пригор по морковите - <span class="latin_name">Cercospora carota</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-radicina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно гниене по морковите - <span class="latin_name">Alternaria radicina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cercospora-apii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Церкоспороза (Ран листен пригор) по целината - <span class="latin_name">Cercospora apii</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#septoria-apicola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Септориоза (Късен листен пригор) по целината - <span class="latin_name">Septoria apicola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cucumovirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на краставичната мозайка - <span class="latin_name">Cucumber mosaic cucumovirus-CMV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cucumovirus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Столбур по магданоза - <span class="latin_name">Phytoplasma stolbur</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#celina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мозайка по целината - <span class="latin_name">Cerely mosaic virus CeMV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#celina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка по целината - <span class="latin_name">Cucumber mosaic cucumovirus - CMV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#celina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Столбур по целината - <span class="latin_name">Phytoplasma stolbur</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#morcov" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краставична мозайка по моркова - <span class="latin_name">Cucumber mosaic cucumivirus - СМV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#morcov" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Столбур по моркова - <span class="latin_name">Phytoplasma stolbur</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cutworms" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки - <span class="latin_name">Cutworms, Mamestra brassicae, M. oleracea, Plusia gamma</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени червеи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#dysaphis-crataegi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Dysaphis crataegi, Pemphigus bursarius</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#psila-rosae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Морковена муха - <span class="latin_name">Psila rosae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grylotalpa-grylotalpa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Попово прасе - <span class="latin_name">Grylotalpa grylotalpa</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=10875095</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span>
                        <span>By No machine-readable author pro<br>vided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Bidgee - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=9792633</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

