<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЛЮЦЕРНА</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ЛЮЦЕРНА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            24 ТОЧКОВА КАЛИНКА <span class="latin_name">Subcoccinella vigintiquatuorpunctata</span><br/>
                            МАЛЪК ЛЮЦЕРНОВ ХОБОТНИК <span class="latin_name">Hypera postica</span><br/>
                            ЛЮЦЕРНОВ ЛИСТОЯД <span class="latin_name">Phytodecta fornicata</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            сумарно за 3-те вида - след<br/>
                            сеитба през вегетацията
                        </td>
                        <td>ларви</td>
                        <td>25-30 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>възрастни</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ВИДОВЕ ОТ <span class="latin_name">Род SITONA</span>
                        </td>
                    </tr>
                    <tr>
                        <td>млада люцерна</td>
                        <td rowspan="2">възрастни</td>
                        <td>2 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>стара люцерна</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГРАХОВА ЛИСТНА ВЪШКА <span class="latin_name">Acyrthosiphon pisi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>50 бр./стъбло</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВА НОЩЕНКА <span class="latin_name">Heliothis (Chloridea) maritima</span>
                        </td>
                    </tr>
                    <tr>
                        <td>за семепроизводство</td>
                        <td>гъсеници до ІІ-ра възраст</td>
                        <td>5-10 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВА ПЪПКОВА ГАЛИЦА <span class="latin_name">Dasyneura (Perrisia) ignorata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>семепроизводство - образуване на чушки</td>
                        <td>възрастни</td>
                        <td>5 бр./кв.м/5 откоса</td>
                    </tr>
                    <tr>
                        <td>начало на бутонизация</td>
                        <td>зимуващи ларви</td>
                        <td>250 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВА ЦВЕТОВА ГАЛИЦА <span class="latin_name">Contarinia medicaginis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            семепроизводство -<br/>
                            образуване на чушки
                        </td>
                        <td>възрастни</td>
                        <td>10 бр./кв.м/5 откоса</td>
                    </tr>
                    <tr>
                        <td>начало на бутонизация</td>
                        <td>зимуващи ларви</td>
                        <td>1000 бр./км.м в почвата</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЖЪРТ ЛЮЦЕРНОВ ТИХИУС <span class="latin_name">Tychius flavus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            семепроизводство -<br/>
                            образуване на чушки
                        </td>
                        <td>възрастни</td>
                        <td>8 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВА ДЪРВЕНИЦА <span class="latin_name">Adelfocoris lineolatus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>семепроизводство</td>
                        <td>възрастни и ларви</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИВАДНА ПЕПЕРУДА <span class="latin_name">Loxostege sticticalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>при младия подраст</td>
                        <td>гъсеници до ІІ-ра възраст</td>
                        <td>5-8 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВ КОРЕНОВ ХОБОТНИК <span class="latin_name">Otiorhynchus ligustici</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            юли-септември<br/>
                            при младият подраст
                        </td>
                        <td>възрастни</td>
                        <td>0,5 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>ларви</td>
                        <td>10 бр./кв.м</td>
                    </tr><tr class="tr_name_pest">
                        <td colspan="3" >
                            ДЕТЕЛИНОВ ХОБОТНИК <span class="latin_name">Apion apricans</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация и цъфтеж</td>
                        <td>възрастни</td>
                        <td>10 бр./5 откоса = кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОБИКНОВЕНА ПОЛЕВКА <span class="latin_name">Microtus arvalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>есен/пролет</td>
                        <td>обитаеми колонии/дка</td>
                        <td>над 2 бр./дка</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
