<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ В КУЛТИВАЦИОННИ СЪОРАЖЕНИЯ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ТИКВОВИ КУЛТУРИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/052(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/31(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                проф. д.с.н. Георги Нешев<br/>
                ст.н.с.I ст. д.с.н. Никола Атанасов<br/>
                ст.н.с.II ст. д-р Стойка Машева<br/>
                ст.н.с.II ст. д-р Екатерина Логинова<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ TИKBOBИ КУЛТУРИ B KУЛTИBАЦИOHHИ СЪОРЪЖЕНИЯ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при тиквови
                култури (краставици, пъпеши и тиквички) в култивационни съоръжения</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Този стандарт за ДРЗП при тиквовите култури, отглеждани в култивационни съоръжения, е част
                от една програма на EPPO за подготовка на такива указания за всички основни култури,
                отглеждани в района на EPPO. Той обхваща методи за борба с вредителите (вкл. патогени и
                плевели) по култури от сем. <span class="latin_name">Cucurbitaceae</span>, отглеждани при
                условия на закрито, като пъпеши <span class="latin_name">Cucumis melo</span>, дългоплодни
                и късоплодни краставици <span class="latin_name">Cucumis sativus</span> и
                тиквички <span class="latin_name">Cucurbita pepo</span>.
            </p>
            <p >
                Повечето тиквови култури в България се отглеждат на открито, но някои и в култивационни
                съоръжения - стъклени и пластмасови оранжерии и пластмасови тунели. В стъклените и
                полиетиленовите оранжерии основно са застъпени дългоплодните краставици и по-слабо
                късоплодните, които са предназначени за консервиране. Дини, пъпеши и тиквички заемат
                малко площи на закрито и тяхното отглеждане е предимно при полски условия.
            </p>
            <p class="underline" style="margin: 0; padding: 0">Срок на отглеждане в стъклена оранжерия</p>
            <p >
                Ранно - месеци - <span class="italic">ноември - декември</span> - юни
            </p>
            <p >
                Средноранно - месеци - <span class="italic">януари - февруари</span> - юни - юли
            </p>
            <p >
                Предкултура - месеци - <span class="italic">август - ноември</span> - декември
            </p>
            <p class="underline" style="margin: 0; padding: 0">Срок на отглеждане в полиетиленова оранжерия</p>
            <p >
                Ранно - месеци - <span class="italic">февруари - юни</span>
            </p>
            <p >
                Средно ранно - месеци - <span class="italic">март - април - юли</span>
            </p>
            <p >
                Предкултура - месеци - <span class="italic">август - ноември</span>
            </p>
            <p >
                В студените месеци (от ноември до март) в някои обекти се правят междинни посеви от спанак,
                салати, марули, репички, лук и чесън за зелено. Те имат общи вредители с краставиците и са
                потенциален резервоар на инфекции. В някои оранжерии краставиците се отглеждат целогодишно и
                обикновено в две вегетации.
            </p>
            <p >
                Тунели или покрити редове се използват при по-хладни условия за създаване на по-топла
                околна среда, осигуряваща на младия разсад ранен старт. При тези условия основните
                стратегии за борба с вредителите остават, общо взето, едни и същи. Трябва да се поддържат
                общите фитосанитарни стандарти на много високо ниво. ДРЗП при тиквовите култури предполага
                също и добро управление на защитената околна среда, защото появата на вредители може да се
                влияе силно от общите агротехнически условия. Това е от особено значение, тъй като повечето
                от тези култури на закрито са капитало- и трудоемки. Редуването на култури се смята за
                главен компонент при отглеждането на тиквовите култури , което оказва влияние както върху
                почвените условия, така и върху циклите на вредните организми.
            </p>
            <p >
                За препоръчване е по възможност отглеждането на култури, различни от тиквовите, в
                продължение на поне 2-4 години. За намаляване на болестните проблеми да се избягва
                отглеждането на пипер, домати и патладжани в ротация с тиквови видове. Сортове, устойчиви
                или по-слабо чувствителни на болести, като мани и увяхване, трябва да се използват винаги,
                когато е възможно. Новоселекционираните северноевропейски сортове са устойчиви на листни
                петна (<span class="latin_name">Corynespora cassiicola</span>), краста по краставицата
                (<span class="latin_name">Cladosporium cucumerinum</span>) и антракноза
                (<span class="latin_name">Glomerella lagenarium</span> или <span class="latin_name">Colletotrichum orbiculare</span>).
                При отглеждане в култивационни съоръжения тези патогени не причиняват значителни проблеми.
                Използването на устойчива подложка, ако има такава, може да осигури добра защита
                (напр. <span class="latin_name">Cucurbita ficifolia</span>, която е устойчива на фузарийно
                увяхване при краставицата).
            </p>
            <p >
                Тиквовите култури имат сравнително гo големи семена и обикновено се сеят директно в блокове
                от каменна вата или в контейнери с перлит и други минерални субстрати, или пък се отглеждат
                от разсад, посят в малки торфени саксийки или торфени блокчета, разсаждани изцяло на
                постоянно място. Разсадът трябва да се отглежда във висококачествен компост или минерален
                субстрат, на изолирано място, далеч от тиквови култури. Семената трябва да отговарят на
                нормалните сертификационни стандарти. Трябва да се вземат необходимите мерки срещу
                загниване, включително и използването на третирани семена. Тиквовите култури могат да се
                отглеждат и при хидропонни системи. За лятно-есенните посеви те обикновено се засяват
                директно в почвата, в редове или на бразди и след поникване се прореждат до желаната
                гъстота.
            </p>
            <p >
                ДРЗП е тази, която използва третиране на семената срещу вредители по младите растения,
                особено ако такива третирания водят до по-малко пръскания. Отглеждането в свободна от
                болести почва или в стерилна растежна среда е изключително важно. Същото се отнася и до
                свободна от патогени вода, особено когато се използва рециркулираща такава в комбинация с
                безпочвено отглеждане.
            </p>
            <p >
                Растенията трябва да се разполагат на оптимално разстояние, което да позволява ефективно
                движение на въздуха и вентилация, както и да намалява конкуренцията между тях за светлина,
                вода и хранителни вещества. Трябва да се избягват уврежданията по растенията. Инструментите
                и машините трябва да се изчистват след употреба. В края на вегетацията системата за
                напояване трябва да се дезинфекцира срещу патогени. В празните оранжерии стъклата трябва да
                се измиват, за да се премахнат водорасли и зелен мъх. През зимата може да се използва
                екраниране за ограничаване на разходите за отопление. Рано напролет е необходимо да се
                премахнат екраните, за да се избегне излишната влага и загуба на светлина и така да се
                предотвратят болестни инфекции. Поставянето на мрежи на стъклата и проветрителите е полезно
                за предотвратяване влизането на насекоми, като листни въшки, пеперуди, възрастни
                листоминиращи мухи и белокрилки, но отворите на мрежата трябва да са много малки за спиране
                на трипсове и други дребни насекоми.
            </p>
            <p >
                Вредителите трябва да се проследяват през равни интервали. Една програма за пръскане с
                различни активни субстанции е добра растителнозащитна практика (ДРЗП), ако наистина
                присъстват или се очакват да се появят такива, които могат да се контролират само с
                химически вещества. Трябва да се използват локално установените стойности за икономически
                прагове на вредност. Дозите трябва да задоволяват изискванията на етикета, като се вземат
                предвид индивидуалните ефекти и възможните взаимодействия. Комбинирането или редуването на
                продукти с различни начини на действие може да спомогне да се избегне развитието на
                резистентност.
            </p>
            <p >
                ДРЗП е да се използва добре поддържана техника. Прилагането на растителнозащитни продукти
                се прави главно чрез пръскане, напр. с моторни пръскачки, или като пространствено
                третиране, напр. с малообемни или мъглообразуващи машини. Малообемните машини имат
                предимството, че са настроени автоматично, с което се редуцира излагането на персонала на
                опасност. Прилагането чрез капково напояване е също ДРЗП. Прилагането на растителнозащитни
                продукти посредством оросители или чрез прашене може да доведе до ненадеждна ефективност
                поради неравномерно покритие. В оранжериите е особено важно да се спазват правилата за
                безопасност на работещите, които прилагат растителнозащитните продукти, влизат отново след
                пръскане и работят с напръсканите растения. Интервалите за повторно влизане и интервал за
                беритба, определени върху етикета, трябва да се спазват стриктно. Когато се прилагат
                растителнозащитни продукти, особено за пространствени третирания, проветрителите и вратите
                трябва плътно да са затворени, за да се избегнат емисии в околната среда. Отпадната вода
                трябва да се изхвърля безопасно.
            </p>
            <p >
                Стерилизацията на почвата е широко разпространена практика за борба с вредителите (вкл. и
                за борба с плевелите) при културите, отглеждани в култивационни съоръжения. За тази цел
                ДРЗП е да се използва стерилизация чрез пропарване или соларизация. Системното използване
                на почвени стерилизанти обаче не се смята за ДРЗП; такива третирания трябва да се ограничат
                само в случаите, когато е особено необходимо. В по-топлите райони почвената соларизация е
                ефективен метод за борба срещу почвените растителни патогени, нематодите и някои плевелни
                видове. Това е хидротермичен процес на загряване на влажна почва чрез покриването й с
                прозрачно пластмасово фолио в продължение най-малко на 30 - 40 дни по време на най-горещия
                сезон. Преди това почвата трябва да е била обработена и обилно полята, за да се осигури
                по-доброто преминаване на топлината през нея и да се увеличи чувствителността на патогените
                към загряването. Тънкото пластмасово покритие (0.025-0.05 mm) увеличава ефикасността и в
                същото време намалява разходите. Техниката на соларизация работи най-добре при топъл или
                умерен климат, ако се прилага в затворени пластмасови тунели или стъклени и пластмасови
                оранжерии. Соларизацията, интегрирана с други техники (фумигация с намалени дози, агенти за
                биологична борба, органични подобрители и т.н.), може да увеличи ефективността и да намали
                периода на почвеното покриване. Соларизацията се е оказала ефективна за борба с инфекции,
                причинени от почвени патогени, като <span class="latin_name">Didymella bryoniae,
                Verticillium dahliae, V. albo-atrum, Fusarium oxysporum f.sp. cucumerinum, f.sp. melonis,
                Pythium spp.</span> и др.
            </p>
            <p >
                Биологичната борба като част от програмата за интегрирана защита на растенията става
                широко разпространена практика при отглеждането на тиквови култури. Ако се използват
                биологични агенти и е необходимо съвместно да се използват растителнозащитни продукти, при
                избора за времето на тяхното прилагане да се имат предвид страничните им ефекти върху
                биологичните агенти. Ако все пак се налага използването на растителнозащитни продукти с
                вредни ефекти върху полезните организми, пръскането само на част от насаждението може да
                бъде решение за избягване на тотално пропадане на системата за биологична борба. Ако за
                опрашване се използват медоносни или земни пчели (т.нар. бомбуси), трябва да се полагат
                грижи за тяхната защита при прилагането на растителнозащитни препарати. Партенокарпните
                сортове краставици не се нуждаят от опрашване.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/6-zelenchuci_oranjerii-prilojenie.pdf"
                >
                    * Виж приложение 5
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при тиквови култури (краставиии, пъпеши и тиквички) в култиваиионни съоръжения са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pythium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сечене, кореново гниене - <span class="latin_name">Pythium spp., Rhizoctonia solani, Phytophthora cryptogea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudoperonospora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Mана - <span class="latin_name">Pseudoperonospora cubensis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#podosphaera-xanthii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Podosphaera xanthii, Erisyphe cichoracearum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно и вертицилийно увяхване - <span class="latin_name">Fusarium oxysporum u Vericillium spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бяло гниене - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botryotinia fuckeliana (Botrytis cinerea)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phomopsis-sclerotioides" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фомопсис - <span class="latin_name">Phomopsis sclerotioides</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#didymella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно стъблено гниене - <span class="latin_name">Didymella bryonae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериоза (ъгловати петна) - <span class="latin_name">Pseudomonas syringae pv. Lachrymans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусни болести
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Белокрилки (оранжерийна, тютюнева) - <span class="latin_name">Trialeurodes vaporariorum, Bemisia tabaci</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Трипс (тютюнев, калифорнийки) - <span class="latin_name">Thrips tabaci, Frankliniella occidentalis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acarina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Акари - <span class="latin_name">Acarina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#liriomyza" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листоминиращи мухи - <span class="latin_name">Liriomyza spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди - <span class="latin_name">Meloidogyne spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptidopera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки и други пеперуди - <span class="latin_name">Leptidopera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Christian Hummert (Ixitixel) - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=4600566</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By David B. Langston - This image is Image Number 5077012 at Forestry Images, a source for forest health, natural resources and silviculture images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=6863955</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=39889</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Frank Peairs, Colorado State University, Bugwood.org - This image is Image Number 5364132 at Invasive.org, a source for images of invasive and exotic species operated by The Bugwood Network at the University of Georgia and the USDA APHIS Plant Protection and Quarantine program., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11272182</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By AfroBrazilian - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27497326</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=327301</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

