.image-content-1 {
    content:url('../../../../../assets/phases/vegetables/leaf.jpg');
}

@media (max-width: 320px) {
    .image-content-1 {
        content:url('../../../../../assets/phases/vegetables/leaf_320px.jpg');
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .image-content-1 {
        content:url('../../../../../assets/phases/vegetables/leaf_481px.jpg');
    }
}


@media (min-width: 481px) and (max-width: 768px){
    .image-content-1 {
        content:url('../../../../..//assets/phases/vegetables/leaf_768px.jpg');
    }
}
