<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЛИСТНИ ЗЕЛЕНЧУЦИ НЕФОРМИРАЩИ ГЛАВИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Feller et al., 1995 a</p>
          <p>
            Фенологични фази на растеж и ВВСН-ключове за тяхната идентификация при  листни 
            зеленчуци неформиращи глави: 
            спанак (<span class="italic">Spinacia oleracea</span> L.); 
            безглавеста салата (<span class="italic">Lactuca sativa</span> L. var. <span class="italic">crispa</span>);  
            зеле-кале (<span class="italic">Brassica oleracea</span> L. var. <span class="italic">sabellica</span>)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж О: Покълнване</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Сухо семе</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на набъбване на семето</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Пълно набъбване на семето</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>Поява на корена от семето</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Хипокотила с котиледоните пробиват обвивката на семето</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>Поникване: котиледоните пробиват повърхността на почвата</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата (централно стъбло)</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Котиледоните напълно развити; нарастващия връх или същинския лист е видим</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Разтворен първи същински лист</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Разтворен втори същински лист</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Разтворен трети същински лист</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>9 или повече същински разтворени листа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Стъблото се удължава като нарастваща розетка</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                        Листната розетка достига 30% от очаквания диаметър, типичен за вариетета.<sup>1</sup><br/>
                        Централното стъбло е достигнало 30% от очакваната височина, типична за вариетета<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>35</td>
                    <td>
                        Листната розетка достига 50% от очаквания диаметър, типичен за вариетета<sup>1</sup><br/>
                        Централното стъбло е достигнало 50% от очакваната височина, типична за вариетета<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>37</td>
                    <td>
                        Листната розетка достига 70% от очаквания диаметър, типичен за вариетета<sup>1</sup><br/>
                        Централното стъбло е достигнало 70% от очакваната височина, типична за вариетета<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>
                        Листната розетка напълно формирана<sup>1</sup><br/>
                        Централното стъбло е достигнало типична височина за вариетета<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="2">
                        <span><sup>1</sup> За вариететите салати без глави, спанак и видовете с розетен тип на растеж</span><br/>
                        <span><sup>2</sup> За кале и видовете без розетачен растеж</span>
                      </td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Развитие на използваните растителни части</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>Образувана 10% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>Образувана 20% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>Образувана 30% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>44</td>
                    <td>Образувана 40% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>Образувана 50% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>46</td>
                    <td>Образувана 60% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>47</td>
                    <td>Образувана 70% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>48</td>
                    <td>Образувана 80% от листната маса, характерна за вариетета</td>
                  </tr>
                  <tr>
                    <td>49</td>
                    <td>Формирана цялата листна маса</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Предцъфтежен период</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>
                        Централния цветонос започва да нараства<sup>1</sup><br/>
                        Основните цветни части видими между най-горните листа<sup>2</sup>
                    </td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Достигната 30% от височината на централното цветно стъбло</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Видими единични цветчета на главния цветонос (още затворен)</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>Видими първите цветни листенца; цветовете все още затворени</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Отворени първите цветчета (спорадично)</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: отворени 10% от цветчетата</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>Отворени 20% от цветчетата</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>Отворени 30% от цветчетата</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>Отворени 40% от цветчетата</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Масов цъфтеж: отворени 50% от цветчетата</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Завършване на цъфтежа: голяма част от цветните листа са окапали или сухи</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="2">
                        <span><sup>1</sup> За вариететите салати без глави, спанака и видовете формиращи розетка</span><br/>
                        <span><sup>2</sup> За кале и видовете без розетка</span>
                      </td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Образуване на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Оформени първите плодове</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>20% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>30% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>40% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>50% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>60% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>70% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>80% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Всички плодове са достигнали типичния разме</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плодовете и семената</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: 10% от плодовете узрели, или 10% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>82</td>
                    <td>20% от плодовете узрели, или 20% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>83</td>
                    <td>30% от плодовете узрели, или 30% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>84</td>
                    <td>40% от плодовете узрели, или 40% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>50% от плодовете узрели, или 50% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>86</td>
                    <td>60% от плодовете узрели, или 60% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>70% от плодовете узрели, или 70% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>88</td>
                    <td>80% от плодовете узрели, или 80% от семената са с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Пълно узряване: семената на цялото растение са с типичен цвят и твърдост</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза а растеж 9: Приключване на развитието (стареене)</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Листата и стъблата започват да се обезцветяват</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>50% от листата са жълти или изсъхнали</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Растенията са сухи</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Прибиране на продукцията (семената)</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
