<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row logo text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ПАМУК</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/032(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/28(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                доц. д-р Мая Димитрова<br/>
                доц. д-р Янко Димитров<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2>ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ПАМУК*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при памук</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p>
                Памукът е една от най-важните технически култури. Разпространен е в тропичните, субтропичните и умерените
                области, в т.нар. памуков пояс, разположен между 45 - 47 с.ш. и 35 ю.ш.
            </p>
            <p >
                Потреблението на памуково влакно и производството му в световен мащаб непрекъснато растат. Отличните
                качества, които притежава памуковото влакно, то правят незаменима част от човешкото облекло.
            </p>
            <p >
                Шротът, получен от преработката на семето, е богат на белтъчини - 40 - 43 %, от които 33 % са смилаеми.
                Обвивките на семената се използват за торене, за производство на амбалажна хартия, изолационни материали
                и др. Късите влакна (линтът), получени след делинтирането на семената, се употребяват за получаване на
                експлозиви, изкуствена кожа, филми, автомобилни лакове, медицинска вата, ватени дрехи и др.
            </p>
            <p >
                Стъблата и кутийките след прибирането на памука се използват за торене и отопление, за получаване на
                плоскости за облицоване, за груба хартия, целулоза и др.
            </p>
            <p >
                Като окопно растение памукът е добър предшественик за следващата култура.
            </p>
            <p >
                У нас памукът се отглежда в Южна България - Старозагорски и Хасковски район. Разпространените сортове
                в производството са: Бели избор, Огоста, Гарант и Балкан. Селекцията е насочена към създаването на ранни
                сортове с качествено влакно особено в здравината. По тези показатели той се използва и като донор в
                световната селекция. Памукът има особени изисквания към температурата: - необходимата температурна сума
                за нормален растеж и развитие през вегетацията е 3500-3800<sup>o</sup>С. Той е растение на интензивното
                осветление. Неслучайно то наричат „дете на слънцето“. За да се развие нормално, са необходими над 2000
                часа слънчево греене. Памукът е взискателен към влагата, особено при поникването му и цъфтежа. За
                условията в нашата страна са необходими 300-350 mm вегетационни валежи.
            </p>
            <p>
                Той изисква дълбоки, аерирани почви, богати на хранителни вещества, с голяма влатоемност, незаплевелени
                с многогодишни коренищни и кореновоиздънкови плевели с неутрална или слабо алкална реакция. Понася слабо
                засолени, но не и кисели почви. Най-подходящи за нето са черноземните, помалко сивите, кафявите,
                канелените горски и ливадните почви.
            </p>
            <p>
                Интензивният характер на памукопроизводството в нашата страна изисква получаването на високи и качествени
                добиви. Във връзка с това въпросът за борба с вредителите придобива все по-голямо значение. Успешното
                и извеждане, както и създалите се условия имат до голяма степен лимитиращо значение за бъдещето на
                памукопроизводството. Борбата с плевелите акумулира от 30 до 50 % от себестойността на производството,
                а болестите и неприятелите налагат допълнителни културални и технологични практики, които изискват
                допълнителни средства. Химизирането на този процес води и до проява на негативни последици както за
                биологичния компонент, така и за екологията на района. Констатирането на тези проявления налагат един
                нов подход, изразяващ се в съчетаването на елементите в технологията за отглеждането на културата с
                ресурсите на средата. Такава възможност в областта на растителната защита дава интегрираният метод,
                използващ възможностите на всички методи за борба.
            </p>

        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основните вредители при памука са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-ssp" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кореново гниене - <span class="latin_name">Fusarium sp.; Rhizoctonia sp.; Pythium sp.;</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени и лъжетелени червеи - <span class="latin_name">сем. Elateridae, сем. Tenebrionidae и сем. Alleculidae;</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Трипси  - <span class="latin_name">Thrips tabaci Lind; Thrips flavus Schane.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis-gossypii" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Памукова листна въшка – <span class="latin_name">Aphis gossypii Glov.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicoverpa-armigera" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка – <span class="latin_name">Helicoverpa armigera</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus-urticae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Паяжинообразуващи акари - <span class="latin_name">Tetranychus urticae Koch, Tetranychus atlanticus Mc. Greg.</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Alton N. Sparks, Jr., University of Georgia, Bugwood.org - http://www.insectimages.org/browse/detail.cfm?imgnum=1327077, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11545434</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Ronald Smith, Auburn University, Bugwood.org - This image is Image Number 1858077 at Forestry Images, a source for forest health, natural resources and silviculture images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6782723</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371126 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service., CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6615449</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Harald Hubich - photo taken by Harald Hubich, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=334065</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Salicyna - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=47974627</span>
                    </p>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

