<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЦВЕКЛО</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 1/032(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/12(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Върбан Върбанов<br/>
                ст.н.с.II ст. д-р Стоянка Върбанова<br/>
                н.с.I ст. д-р Красимира Танова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЦВЕКЛО*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при цвекло.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                В условията на България значението на цвеклото и цвеклопроизводството като земеделски отрасъл се определя:
            </p>
            <p >
                1. От количеството и качеството на суровината за производство на промишлен продукт, който задоволява
                консумативните нужди на населението и на хранително-вкусовата промишленост.
            </p>
            <p >
                2. От количеството на получената продукция от единица площ с оглед рационалното ползване на земята и
                ефективността на вложения труд и материални разходи.
            </p>
            <p >
                3. От отношението му към проблема за фуражите и към развитието на животновъдството у нас.
            </p>
            <p >
                Редица отрасли на леката промишленост са свързани с производството на спирт, лимонена киселина, хлебна
                мая и други ценни артикули, които се получават от отпадъчните продукти на захарната промишленост.
                Мотат да се произвеждат още глицерин, тлутаминова киселина, бетаин, лецитинов клей, аминокиселинни
                амиди, витамини, етерични масла, фуражни пасти и др.
            </p>
            <p>
                Осигуряването на населението с всички видове висококачествени хранителни продукти изисква реализация
                на развитие за понататъшния растеж на добивите и общото производство от продоволствените и фуражни
                селскостопански култури, за което има необходимите предпоставки.
            </p>
            <p>
                Съществено значение за доброто развитие на цвеклото има дълбочината на торния пласт и структурата на
                почвата. Силно уплътнените и песъчливи почви не са подходящи за отглеждането му.
            </p>
            <p>
                Решаваща роля за продуктивността на цвеклото има и съдържанието на хумус в почвата, а също и
                разпределението му в почвения слой. Хумусът подобрява и водния, и въздушния режим на почвата, както и
                въглеродното хранене на растенията, като оботатява приземния въздух с СО<sub>2</sub>. Цвеклото се развива
                най-добре на почва с реакция, близка до неутралната (рН от 6 до 8).
            </p>
            <p>
                Създадените и широкоразпространени високодобивни сортове са базата, на която може да се очаква значителен
                ръст на селскостопанска продукция. Реализирането на потенциалните възможности на сортовете обаче често
                се сблъсква с необходимостта от премахване на ограничаващите фактори като недостатъчно плодородие на
                почвата, несъответстваща агротехника и в най-голяма степен загуби на продукция в резултат на отрицателно
                въздействие на болести, неприятели и плевели. Последният фактор, ограничаващ увеличаването на добивите,
                е изключително важен, тъй като по многобройни данни скритите загуби от вредните организми в света
                представляват 30% от продукцията, а в някои случаи и повече. Във връзка с все по-широкото прилагане на
                промишлените методи за отглеждане на селскостопанските култури нарастват изискванията за провеждане на
                мерки, насочени към намаляване или дори изключване на загуби, предизвикани от болести, неприятели и плевели.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при цвеклото са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#cercospora-beticola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Церкоспороза (кръгли листни петна) - <span class="latin_name">Cercospora beticola Sacc.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-communis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Erysiphe communis Grel.f.betae Yacz.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phoma-betae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Фомоза (концентрични листни петна)  - <span class="latin_name">Phoma betae Frank., Pleospora betae Bjor</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora-farinoas" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пероноспора (мана) - <span class="latin_name">Peronospora farinoas Franc.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-ssp" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        „Сечене“ на младите растения - <span class="latin_name">Fusarium ssp., Phoma betae Franis,
                            Alternaria ssp., Aphanomyces ssp., Pythim ssp., Bacillus ssp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-ssp" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кореново гниене - <span class="latin_name">Rhizomania solani Kuhn, Fussarium ssp.,
                            Sclerocium bataticola, Bacillus ssp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#polimixa-betae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Ризомания - <span class="latin_name">BNWVV, Polimixa betae Keck.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирусна мозайка - <span class="latin_name">Beet mosaic virus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Вирусна жълтеница - <span class="latin_name">Beet yellows virus</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Кърлитоп - <span class="latin_name">Sugar beet leaf curl</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#uromyces-betae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Uromyces betae Pers.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Телени и лъжетелени червеи - <span class="latin_name">сем. Elateridae, род Agriotes</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrostis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Сиви червеи - <span class="latin_name">Scotia (Agrostis) Segetum Schif; Euxoa ternera Hb.; Scotia (Arostis) ipsilon Hufh</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bothynoderes-punctiventus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Хоботници – <span class="latin_name">Bothynoderes punctiventus G, Tanymecus palliates F; Psalidium naxillosum F; Tanymecus dilaticollis Gyll</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ghaetohnema-concinna" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Бълхи – <span class="latin_name">Ghaetohnema concinna Marsh.; Ghaetohnema breviscula March.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis-and-myzus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphis fabae Scot.; Myzus persicae Sul.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pemphigus-fuscicornis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Коренова въшка (цвеклова) - <span class="latin_name">Pemphigus fuscicornis Koch.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gnorimoshema-ocellatella" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Цвеклов молец - <span class="latin_name">Gnorimoshema ocellatella Boyd.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytometra-gamma" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листогризещи нощенки - <span class="latin_name">Phytometra (Plusid) gamma L.; Mamestra (Baruthera) brassicae L.; Mamestra oleracea L.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#licsus-ascantii" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листодръжкови хоботници - <span class="latin_name">Licsus (Licsus ascantii L.)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#casida-nobilus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Цвеклови щитовки (касиди) - <span class="latin_name">Casida nobilus L.; Casida nebulosa L.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#heteroderidae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Нематода - <span class="latin_name">Hetherodera shachtii Shuii dt.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Manfred Hund - uploaded from author at de.wiki on the 2. Jun. 2006 as Saateule (Agrotis segetum)IMG 1999.JPG, GFDL 1.2, https://commons.wikimedia.org/w/index.php?curid=1308733</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Fernando Lisón Martín - This image is uploaded as image number 11606 at Animalandia at Educa Madrid, a source of photographs of animals.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information., GPLv3, https://commons.wikimedia.org/w/index.php?curid=14750798</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Siga - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11319407</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>http://www.agroatlas.ru/en/content/pests/Pemphigus_fuscicornis/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=12802209</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Harald Hubich - photo taken by Harald Hubich, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=334065</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
