<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div id="wrap_lmenu_txt" *ngIf="practices">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЕЧЕМИКА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/012(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/11(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Христинка Кръстева<br/>
                доц. д-р Мария Панайотова<br/>
                доц. д-р Тоньо Тонев<br/>
                ст.н.с.II ст. д-р <span class="doctor">Йорданка Караджова</span><br/>
                ст.н.с.II ст. д-р Сенка Миланова<br/>
                д-р Петър Николов – НСРЗ<br/>
                н.с. I ст. Антония Димитрова<br/>
                н. с. II ст. Милица Стефчева<br/>
                докторант Венцислав Венциславов<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЕЧЕМИК*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на добрата растителнозащитна практика при ечемика.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Ечемикът се отглежда в по-умерените части на ЕРРО-региона. Зърното и сламата се използват за храна на
                животните, а в някои страни значителна част от зърното служи за производство на малц, бира и различни преработени
                продукти. Ечемикът се отглежда в сеитбообращение с други зърнени или полски култури.
            </p>
            <p >
                Посевите от ечемик се засяват през есента или пролетта. Пролетните култури са изложени на действието на
                вредители за по-кратък период. Семената може да се купуват сертифицирани или несертифицирани, но могат да бъдат
                произвеждани и директно от фермерите. Редуването на културите с други зърнено-житни или полски култури
                намалява плътността на популациите на вредители в почвата или в растителните остатъци. Обработката на
                почвата следва да се провежда диференцирано в зависимост главно от предшественика и степента на заплевеляване.
                Минималните културно-стопански практики като директна сеитба, чрез които могат да се намалят разходите за труд,
                благоприятстват съхранението и по-масовото намножаване на популации от вредители в почвата. Тъй като ечемикът се
                отглежда основно за зърно, целта на защитата от вредители е да осигури добро качество и количество на получената реколта. Физичните и химичните характеристики на зърното са особено важни, когато се предвижда преработката му.
            </p>
            <p >
                Използването на устойчиви сортове и здрав посевен материал, сеитба в оптимални срокове, прилагане на
                правилно сеитбообръщение, осигуряване на добре подготвено легло на семената са важни елементи на ДРЗП при ечемика.
                Химически обработки с ПРЗ могат да се наложат във всяка фенофенофаза от развитието на културата.
                Третиране на семената срещу семенните патогени с продукти за растителна защита е ДРЗП, когато е извършено
                срещу тези, които не могат да бъдат контролирани с листни фунгициди. ДРЗП може да бъде и третирането на
                семената срещу други вредители, ако то ще замени няколко третирания рано през вегетацията и по този начин ще се
                намали употребеното количеството на продуктите за растителна защита. Продуктите, използвани за третиране на
                семената, трябва да са ефективни срещу възможно по-голям брой гъбни патогени или неприятели, представляващи
                интерес. Важно е семената да бъдат равномерно покрити с ПРЗ.
            </p>
            <p >
                Едновременното прилагане на две или повече активни вещества под формата на пръскане или третиране на семената е
                ДРЗП, ако вредителите, срещу които те са ефективни, наистина се срещат или се очаква нападение от тях.
                Фермерите и консултантите трябва да познават основните вредители, да обследват редовно полетата и да ползват
                максимално критериите за прогноза и сигнализация, оповестяващи употребата на ПРЗ при достигане праговете на вредност.
                Дозите трябва да отговарят на комплекса от наблюдаваните вредители, вземайки под внимание страничните ефекти и възможните взаимодействия.
            </p>
            <p >
                ДРЗП е да се намали течът и нежеланото разпиляване на продуктите за растителна защита. Това може да се постигне
                чрез използване на противокапкови устройства към всички разпръсквачи, предпазващи от теч, или на оборудване,
                което произвежда добър и еднакъв капков спектър при всички дюзи по дължината на щангата на пръскачката.
            </p>
            <p >
                Рискът да се развие резистентност спрямо фунгициди, инсектициди и хербициди е реална заплаха. ДРЗП е да се
                избегне пръскането с фунгицид или инсектицид по-късно през вегетацията, ако активно вещество със същия начин на
                действие вече е било използвано при третиране на семената. Препоръчително е използването на активно вещество с
                друг начин на действие. За борба срещу икономически важните болести праховита главня и ръжди трябва да се
                редуват активни вещества и смесени формулации, съдържащи продукти с различен механизъм на действие,
                доколкото това практически е възможно.
            </p>

        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по еченика са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#ustilago-hordei"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Покрита главня (<span class="latin_name">Ustilago hordei (Pers.) Lagerh.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ustilago-hordei"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Праховита главня (<span class="latin_name">U.nuda (Jens,) Postr.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-graminis"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана (<span class="latin_name">Erysiphe graminis DC f.sp. hordey Marchal</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyrenophora-graminea"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ленточна болест (<span class="latin_name">Pyrenophora graminea (Rabenh.) Ito et Kurib.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#puccinia-hordei"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листна ръжда (<span class="latin_name">Puccinia hordei Otth.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-culmorum"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Базично глиене (<span class="latin_name">Fusarium culmorum (W. O. Smith) Sacc.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-culmorum"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Снежна плесен (<span class="latin_name">Monographella nivalis (Schaffnit) E. Muller</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#typhula-incarnata"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тифулно гниене (<span class="latin_name">Typhula incarnata Lasch. Et Fr</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pyrenophora-teres"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мрежести петна (<span class="latin_name">Pyrenophora teres (Died) Drechsler</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#zabrus-tenebrioides"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен житен бегач (<span class="latin_name">Zabrus tenebrioides Goeze</span>),
                        голям житен бегач (<span class="latin_name">Z. spinipes F.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sitobion-avenae"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена листна въшка (<span class="latin_name">Sitobion avenae L.</span>),
                        обикновена житна въшка (<span class="latin_name">Schizaphis graminum Rond),
                        Rhopalosiphum padi Fitch.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lema-melanopus"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновена житна пиявица (<span class="latin_name">Lema melanopus L.</span>),
                        синя житна пиявица (<span class="latin_name">Lema lichenis Voet.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#oscinella-frit"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Овесена шведска муха (<span class="latin_name">Oscinella frit L.</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agromyza-megalopsis"  title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ечемичена листоминираща муха (<span class="latin_name">Agromyza megalopsis Hering</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#haplothrips-tritici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Пшеничен трипс (<span class="latin_name">Haplothrips tritici Kurd</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#psammotettix-provincialis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ивичести житни цикади (<span class="latin_name">Psammotettix provincialis (Rib), P. sriatus (L.)</span>)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#heterodera-avenae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#underlay" title="към текстаe">
                        <mat-icon>chevron_right</mat-icon>
                        Полягане
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div class="row">
        <div class="col-md-12 text-justifysss text-indent">
            <h3 >Пояснителни бележки относно активните вещества.</h3>
            <p >
                ЕРРО – панелът за ДРЗП при изготвянето на това ръководство разглежда отделните активни вещества, включени в продуктите за растителна защита и
                каква е тяхната връзка с основната стратегия на ДРЗП. Сведенията за тях са включени в информацията за регистрираните продукти в отделни
                страни от региона на ЕРРО. По такъв начин те представят настоящото положение на ДРЗП в тези страни. Възможно е поради редица причини тези
                активни вещества да не са регистрирани за такава употреба или да са с ограничено приложение в други страни от ЕРРО-региона. Това обаче не
                прави основната стратегия невалидна. ЕРРО препоръчва да се следват принципите на ДРЗП, като се използват само продукти, регистрирани в страната
                за дадена цел.</p>
        </div>
    </div>

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ТАБЛИЦА BBCH -->
    <div class="aa-title" #structure id="table_bbch"></div>
    <prz-table></prz-table>
    <!-- КРАЙ ТАБЛИЦА BBCH -->

    <div class="row-back">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px;">
            <div class="panel-warning text-center">
                <div class="panel-heading ">
                    <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> към всички неприятели</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=41163503</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Rasbak (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4: </span><br>
                        <span>CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=2893007</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span >By Donald Groth from United States Louisiana State University AgCenter - Puccinia hordei G.H. Otth, CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=31162691</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>http://www.agroatlas.ru/en/content/diseases/Hordei/Hordei_Fusarium_sp/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Sharma.ram.h - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=17752082</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span >By Udo Schmidt from Deutschland - Zabrus tenebrionides (Goeze, 1777)Uploaded by Magnus Manske, CC BY-SA 2.0, https://commons.wikimedia.org/w/index.php?curid=22950234</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span >By Emil Hochdanz - Carl Gustav Calwer; Gustav Jäger (1876) Käferbuch. Naturgeschichte der Käfer Europas., Stuttgart: Julius Hoffmann [1]www.biolib.de, Public Domain, https://commons.wikimedia.org/w/index.php?curid=4972261</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span >http://www.agroatlas.ru/en/content/pests/Sitobion_avenae/index.html</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span >By Kent Loeffler - http://www.ars.usda.gov/is/graphics/photos/apr12/d2458-1.htm, Public Domain, https://commons.wikimedia.org/w/index.php?curid=52753821</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span >By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=394574</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span >By Udo Schmidt from Deutschland [CC BY-SA 2.0 (https://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>By Sarefo - Собствена творба, GFDL, https://commons.wikimedia.org/w/index.php?curid=7057137</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span >http://hitagro.ru/pshenichnyj-trips/</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 18:</span><br>
                        <span>By Kaldari - Own work, CC0, https://commons.wikimedia.org/w/index.php?curid=8640496</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 19:</span><br>
                        <span>By Stefan.lefnaer (Own work) [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 20:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 21:</span><br>
                        <span>By John Tann from Sydney, Australia - Johnson Grass, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=38234408</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
