<div class="row text-center" id="prz-loader" *ngIf="!isLoaded">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div  id="wrap_lmenu_txt" *ngIf="isLoaded">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЪРНЕНОЖИТНИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center " id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" class="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ БОРБА С ГРИЗАЧИТЕ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/018(1)</p>
        <p class="number-eppo">№ на EРРО РР 2/5(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                н. с. I ст. д-р Орлин Деков<br/>
                д-р Петър Николов – НСРЗ<br/>
                <span class="doctor">Лазар Чавдаров</span> – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <strong class="year">СОФИЯ 2006 г.</strong>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ БОРБА С ГРИЗАЧИТЕ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика за борба с гризачите в полските
                култури и складови стопанства
            </p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>

            <p>
                Тъй като повечето гризачи са полифаги и мероприятията за борба срещу даден вид не се различават много при
                различните култури, в първата част се обръща внимание на общите аспекти на дератизацията, т.е. видове
                родентициди, токсикологичните им особености, регистрация и начини на употреба, потенциална опасност за
                нецелеви видове и алтернативни методи и средства за борба. Във втората част се набляга на основните агроценози,
                в които се налага дератизация и борба с коменсалните гризачи в складовите стопанства.
            </p>
            <p>
                Практически гризачите се разделят на две групи: полски и синантропни видове. Границата между двете групи
                обаче не е строга и често синантропните могат да се заселват в полски култури и да вредят в тях, както и
                полските гризачи да навлизат в човешките обитания, най-често през есенно зимния период и да нанасят щети.
            </p>
        </div>
    </div>
    <!--KRAЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/2-zarneno_jitni-prilojenie.pdf"
                >
                    * Виж приложение 1
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!--Основни аспекти на дератизацията-->
    <div class="row">
        <div class="text-indent">
            <h3 >Основни аспекти на дератизацията</h3>
            <p>
                Начините за борба с гризачите се групират в две основни направления: профилактични
                мерки и изтребителни методи за борба.
            </p>
        </div>
    </div>
    <!--КРAЙ Основни аспекти на дератизацията-->

    <!--Профилактични мерки-->
    <div class="row">
        <div class="text-indent">
            <h3 >Профилактични мерки</h3>
            <h4 class="my_class_h4">Строителнотехническите мероприятия</h4>
            <p>
                Насочени са към осигуряване на непроницаемост в сградите за гризачите, да се ограничи или затрудни достъпът
                им до храна и вода и да нямат възможност за изграждане на трайни убежища.
            </p>

            <h4 class="my_class_h4">Санитарнохигиенни мероприятия</h4>
            <p>
                Насочени са към отстраняване на остатъци от производството и ограничаване достъпа на гризачите до източниците
                на храна и вода при ежедневната човешка дейност.
            </p>

            <h4 class="my_class_h4">Агротехника и механична защита</h4>
            <p>
                Правилната и целенасочена агротехника може да допринесе за снижаване на числеността и следователно вредата,
                но приложена самостоятелно, не е в състояние да ограничи щетите до безопасно ниво. Това се дължи на факта,
                че щетите не зависят само от гризачите в дадено поле (както е при повечето болести и насекоми), а от общото
                състояние и ниво на популацията в обширен район, в който даденото поле е само част.
            </p>
            <p>
                Навременно прибиране на реколтата съкращава периода на вредност, затруднява изхранването и осигуряването
                на зимни хранителни запаси.
            </p>
            <p>
                За ефективно мероприятие се счита дълбоката оран. При нея се разрушават голяма част от гнездата, унищожава
                се тревната маса и се заорават семената, което затруднява изхранването на гризачите.
            </p>

            <p>
                Подходящото сеитбообръщение и срокове за сеитба също допринасят за намаляване на числеността. Смяната на
                културите води до резки промени в трофичната обстановка и микроклимата и е повод за принудителни миграции,
                които винаги са свързани с повишена смъртност.
            </p>
            <p>
                Паленето на стърнищата не оказва пряко влияние върху гризачите, но чрез унищожаване на хранителните източници
                се ограничава размножителният процес.
            </p>
            <p>
                Механичната защита намира приложение главно в овощарството за предпазване от повреди на млади овощни дръвчета
                чрез обвиване на стъблата или ограждане на насажденията с непроницаеми мрежи или подходящи подръчни материали.
            </p>
        </div>
    </div>
    <!-- КРАЙ Профилактични мерки-->

    <!-- Изтребителни методи за борба -->
    <div class="row">
        <div class="text-indent">
            <h3 >Изтребителни методи за борба</h3>
            <h4 class="my_class_h4">Физико-механични методи</h4>
            <p>
                Снижаване на числеността и ограничаване на вредата е възможно чрез прилагане на акустични средства, ултразвук,
                осветление, електрически ток и различни системи капани.
            </p>

            <h4 class="my_class_h4">Биологична и интегрирана борба</h4>
            <p>
                В тази насока съществуват две възможности за биологичен контрол: подобряване на условията за привличане и
                заселване на хищници и приложение на микробиални средства. Нови изследователски заключения върху популационния
                цикъл на полевките дава известен оптимизъм за развитие на програми за интегрирана борба, където хищниците
                играят роля. На практика обаче те само допринасят за краха на популацията, но не са в състояние да потиснат
                зараждане на масово намножаване и нов популационен пик. В близко бъдеще проблемът с гризачите не може да
                бъде решен чрез стратегия, основана на възможностите на хищниците.
            </p>
            <p>
                Микробиологичният метод на базата на салмонелни продукти е използван в миналото за борба с полевките.
                Експертната комисия по зоонози към ФАО/СЗО абсолютно забранява употребата, дори експериментирането с микробиални
                продукти. Не е добра растителнозащитна практика (ДРЗП) регистриране и употреба на микробиални продукти за борба.
            </p>

            <h4 class="my_class_h4">Химични средства за борба</h4>
            <p>
                Преди двадесетина години имаше интерес към хемостерилиантите (средства, спиращи размножителния процес).
                Практическо решение за употреба обаче не беше намерено, а има и сериозни съмнения относно безопасността
                за околната среда от тези неспецифични вещества. Не е ДРЗП регистрирането и употребата на хемостерилианти,
                освен когато има пълна научна документация за ефикасността и безопасността им.
            </p>

            <h4 class="my_class_h4">Условия за регистрирана употреба на родентициди</h4>
            <p>
                Заобикалянето на ограниченията, фиксирани в регистрационните условия и указания за употреба, по принцип не
                е ДРЗП. Общо обаче за всички регистрирани родентициди широкото дефиниране на условията за употреба
                (например: “всички вредни животни”; “всички видове”; или “срещу вредни гризачи”) са неприемливи и не са ДРЗП.
                Минималните изисквания, които трябва да присъстват в инструкциите и етикета са предназначени срещу полски
                или синантропни видове, в домовете или складови стопанства и животновъдни ферми. Особено при полските
                гризачи целевата група трябва да бъде определена колкото е възможно по-пълно и точно.
            </p>
            <p>
                Понастоящем не бива да се препоръчват и използват средства като ендрин, линдан, ендосулфан (или други органохлорни
                средства), талиев сулфат, флуорни средства (флуорацетамид, глицеринов трифлуорид), стрихнин или сцилирозид.
                Те са силно отровни, с голяма персистентност и способност за натрупване в организмите и следователно
                високорискови за околната среда.
            </p>

        </div>
    </div>
    <!-- КРАЙ Изтребителни методи за борба-->

    <!-- Родентициди -->
    <div class="row">
        <div class="text-indent">
            <h4 class="my_class_h4">Родентициди</h4>
            <p>
                <strong>Употребата на традиционния бързодействащ родентицид цинков фосфид се приема като ДРЗП, ако съответната формулация
                    е съобразена с основните изисквания за употреба и необходимите предпазни мерки за хората. Не е ДРЗП обаче
                    достигането на технически цинков фосфид до крайните потребители, освен ако не са специално обучени за
                    прилагането му.</strong> Същото се отнася и за “фосфин”, отделящите таблетки и гранулати и “цианид”, отделящи прахове,
                използвани за обгазване на гризачите в ходовете им. Димни патрони отделящи серни газове или въглероден окис,
                са доста често недостатъчно ефективни. Същото се отнася и за калциев карбид и въглероден бисулфид като фумиганти.
            </p>
            <p>
                Доминантни и масово използвани родентициди са антикоагулантите, разделени на две групи: първа генерация,
                действуващи след многократно приемане в няколко последователни дни до натрупване на летална доза (хлорофацинон,
                кумахлор, куматетралил, пиндон и варфарин), и втора генерация (бродифакум, бромадиолон, дифенакум, дифетиалон
                и флокумафен), ефективни след еднократно приемане.
            </p>
            <p>
                Антикоагулантите първа генерация обикновено се предлагат като готови примамки (в т.ч. течни, прахове или
                течни концентрати) или контактни прахове. Използването им срещу сивия плъх е ДРЗП с резерви при резистентни
                на антикоагуланти популации. Срещу домашната мишка повечето средства от първа генерация не са достатъчно
                ефективни. Срещу полевките и други видове гризачи, вредящи на полските култури, те се смятат за неподходящи
                (неефективни). Основният им недостатък е необходимостта от многократно приемане до натрупване на летална доза,
                което трудно се постига при третиране на обширни площи. Въпреки това хлорофацинонът широко се използва срещу
                някои видове полевки в европейските страни. Дали това е ДРЗП, зависи от проявите на съответната формулация.
                Понякога, например когато третирането цели ограничаване на високата численост или силната вреда, може да
                се направи компромис в полза на безопасността и да се използва, въпреки че очакваният ефект няма да е задоволителен.
            </p>
            <p>
                Повечето антикоагуланти втора генерация са ефективни както срещу полските, така и срещу синантропните гризачи,
                но няма единомислие относно критериите за безопасност при препоръчването им за ДРЗП специално срещу полски
                видове. Но тъй като те са единствените ефективни средства срещу повечето полски гризачи, прилагането им в
                полски условия трябва да се приеме като ДРЗП, при условие да се използват техники на прилагане, максимално
                снижаващи пряката заплаха за първични отравяния на нецелеви видове.
            </p>
            <p>
                Втората генерация продукти достигат до крайните потребители основно като готови примамки, което е ДРЗП.
                <strong>Дистрибуцията на концентрати трябва да бъде ограничена до специално обучени и подготвени лица.</strong>
            </p>
            <p>
                <strong>Такова обучение понастоящем не е организирано в повечето страни и е повече от препоръчително.
                    Необходимо е да се организират такива програми за обучение на фирми, фермери и дератизатори по приготвяне
                    на примамките и воденето на борбата.</strong>
            </p>
            <p>
                Калциферол е единственият продукт извън антикоагулантите, действащ след многократно приемане. ДРЗП е
                използването на готови примамки с него срещу синантропни гризачи в постройки и би могъл да се използва
                при поява на резистентност към антикоагуланти втора генерация в популации от плъхове и мишки. Приемлива
                практика е също използването на алфахлоралоза в сгради срещу мишки при средна температура за периода на
                третирането под 16°С.
            </p>
            <p>
                Не е ДРЗП комбиниране в примамки на антикоагуланти и антибиотици или антикоагуланти и калциферол, освен
                ако има безспорни експериментални доказателства за положителен ефект от комбинацията при запазване безопасността
                за нецелевите видове.
            </p>

            <h4 class="my_class_h4">Критерии за избор на родентициди</h4>
            <p>
                Преобладаващата част от родентицидите са фабрично приготвени примамки и ефективността им зависи от реакцията
                на целевия вид към формулацията на продукта. Ефективно активно вещество може да даде лош резултат, ако
                примамката не е атрактивна и не се консумира. Ако тестовете за привлекателност и други критерии за проявите
                на примамката липсват, ДРЗП е да се търси информация от други места, преди да се пристъпи към обширни полеви
                третирания. Информацията от полските тестове е особено важна при препоръчване на “восъчни блокчета” за избягване
                на нецелевия риск, обаче това е валидно само за птици. Блокчетата са подходящи за употреба във влажни биотопи,
                но и тук различните видове показват разлики към привлекателността и преди провеждане широки дератизации е
                необходимо провеждане на пилотни тестове.
            </p>
            <p>
                Добре е да се знае също, че чувствителността към даден родентицид значително варира при отделните видове.
                <strong>Не е ДРЗП повишаване ефективността на дадено средство чрез повишаване съдържанието на а.в. в примамката.</strong>
                За предпочитане е да се избере друга база или примамка, резултатна при нормална концентрация.
            </p>
            <p>
                <strong>
                    Изборът на носител на а.в. определя привлекателността и стабилността на примамката. От зърнено-житните
                    семена овесът е най-стабилен, следван от ечемик, пшеница и царевица. Различни са мненията за вкусовите
                    подобрители. От всички се приема единствено добавяне на 5–10% захар. Противоплесенни добавки и репеленти
                    за птици снижават привлекателността за гризачите.
                </strong>
            </p>

            <h4 class="my_class_h4">Дози, разходни норми и начини на приложение</h4>
            <p>
                Препоръчва се дозата на активното вещество ( а.в.) в крайния продукт да е в следните диапазони:
                <strong>Активно вещество (а.в.); % на а.в. в примамката</strong> Цинков фосфид 1.0 – 2.5 Алфахлоралоза
                2.5 – 4.0 Варфарин, Кумахлор, Куматетралил 0.025 – 0.05, Бромадиолон 0.005 – 0.01 Бродифакум, Флокумафен,
                Дифетиалон 0.001 – 0.005 Калциферол 0.1. При течните примамки е препоръчително да се използва същата концентрация.
            </p>
            <p>
                <strong>
                    Не е ДРЗП разпространението на концентрати до крайните потребители, освен ако не са специално обучени
                    за боравене с тях. Изключение се прави само за прахови концентрати от първа генерация, които се прилагат
                    и като контактни пудри в обитанията.
                </strong>
            </p>
            <p>
                По отношение на разходните норми е много по-трудно да се фиксират препоръчителни дози отколкото при другите
                растителнозащитни мероприятия. Тук от значение е видът на а.в. и примамката, начинът на внасяне и плътността
                на гризачите. ДРЗП изисква колкото е възможно по-голяма част от примамката да достигне целевия обект при
                минимална възможност за достигането до нея от нецелевите видове. Това се постига, като примамката се внася
                ръчно в дупките или с приспособления за внасяне под почвената повърхност.
            </p>
            <p>
                В съответствие с горните изисквания площното третиране с тороразпръскваща техника не е ДРЗП, въпреки че
                механичното разпръскване може да бъде неизбежно необходимо при висока плътност и обширни площи за третиране.
                В такива случаи е задължително да се установи охрана и последващо наблюдение за установяване на нецелевия
                риск и да се докладва за състоянието от независими компетентни институции.
            </p>

            <h4 class="my_class_h4">Стратегии за борба и срокове за провеждане</h4>
            <p>
                Календарни третирания – обикновено се прилагат за борба със синантропните гризачи в населените места, имат
                вариращи резултати и практически не намират място в полската дератизация.
            </p>
            <p>
                Профилактични третирания – идеята е да се въздейства на популацията няколко месеца преди очаквания период на вреда.
            </p>
            <p>
                Симптоматични, лечебни третирания – прилагат се, когато вредата е налице или започва. Третирането е закъсняло,
                но в повечето случаи е единствено възможно.
            </p>
            <p>
                Постоянна борба с примамки – широко се прилага за дератизация в населени места, трудоемка, скъпа и рядко
                се прилага при полските гризачи.
            </p>
            <p>
                Наблюдавани (надзиравани) третирания – състои се в периодично често проверяване на консумацията и презареждане
                на примамката, докато следите от присъствието и щетите от гризачите изчезнат. Прилага се срещу синантропни видове.
            </p>

            <h4 class="my_class_h4">Нежелани последствия и предпазни мерки </h4>
            <p>
                Повечето от регистрираните родентициди са силно отровни за животни и птици. Опасността от първични отравяния
                може да бъде снижена чрез подбор на начини на внасяне, при които примамките да са недостъпни за полезните
                видове. Рискът от вторични отравяния на хищници обаче остава. Той може да бъде снижен чрез използване на
                дози и разходни норми на минимално ефективно ниво за избягване предозирането върху жертвите.
            </p>
            <p>
                Родентицидните отравяния са относително чести в сравнение с дела на родентицидите към общата употреба на
                продукти за растителна защита. Препоръчва се на експертите по растителна защита и дератизация и отделите
                по регистрация да проучват потенциалния риск за нецелевите видове. Това е най-удобно и изгодно при полските
                тестове за ефикасност. <strong>ДРЗП е задължителният и засиленият контрол при широко мащабни кампании за
                    борба с гризачите.</strong>
            </p>
            <p>
                Безопасността на операторите при дератизация рядко е проблем. Специално внимание трябва да се обръща при
                боравене с фосфин - отделящите продукти. Широки третирания с тях трябва да се избягват както във влажно време,
                така и при суха почва. Обилни валежи след обработка причиняват експлозивно отделяне на фосфин и формиране
                на облаци от силно отровен газ.
            </p>

        </div>
    </div>
    <!-- КРАЙ Родентициди -->

    <div class="aa-title"></div>
    <!-- Специфични инструкции за основните видове култури -->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфични инструкции за основните видове култури</h3>
            <h3 >Полски култури и ливади</h3>
            <h4 class="my_class_h4">Основни неприятели, нападани култури и вреди</h4>
            <p>
                <strong>
                    Тревопасни видове: Обикновената полевка <span class="latin_name">Microtus arvalis</span>, двойникът и
                    източноевропейската полевка <span class="latin_name">M. rossiae-meridionalis</span> и източносредиземноморската
                    полевка <span class="latin_name">Microtus guentheri</span>.
                </strong>
            </p>
        </div>
    </div>
    <!-- КРАЙ Специфични инструкции за основните видове култури -->

    <!-- обикновената полевка -->
    <div class="row">
        <div class="pest-description-container text-indent">
            <h3 >Биологични особености на обикновената полевка.</h3>
            <p>
                Полевката е активна и вреди целогодишно. Възрастните полевки са с дължина на тялото от 90 до 130 мм и дължина
                на опашката от 25 до 45 мм. Късата опашка е характерен признак, по който лесно се отличават от останалите
                мишевидни гризачи.
            </p>
            <p>
                Живее в просто устроени подземни обитания, в които на дълбочина 20–30 см устройва гнездата си. Колониите
                се характеризират със скупчени 2–3 до 50 и повече дупки, около които растенията са изгризани до земното
                ниво. Често в дупките има напъхани растителни стъбла. С течение на времето дупките в колонията и съседни
                колонии се свързват с пътечки, постепенно вдълбавани в земята. Храни се с надземните зелени части на
                растенията, сочни корени, кореноплоди и клубени. През пролетта и лятото с израстване на растенията по пътечките
                и в местата на хранене около колонията се наблюдават хранителни площадки – купчинки от надробени остатъци
                от стъбла. След изкласяване до жътва се изхранва с влажните семена и повредите са идентични с тези на
                семеядните видове домашни и горска мишки.
            </p>
            <p>
                Размножителният период е от март до ноември, а при температури над 5°С и през зимата. Полова зрелост достига
                на възраст 35–45 дни. Бременността продължава 19–21 дни. Плодовитостта е от 2 до 13, средно 6–8 малки от 1
                раждане. Чувствително нарастване на числеността и разселване настъпва през юни и юли. При благоприятни
                условия – мека зима и прохладно лято с наднормени валежи, периодично се намножава във висока численост
                на обширни площи.
            </p>
            <p>
                Зони на силна периодична вредност с масови намножавания на 3–4 години: Североизточен район, обхващащ
                Лудогорието и Добруджа; Северозападен – Врачанска, Монтанска и Видинска области; високите полета на Западна
                България в Софийска и Пернишка област.
            </p>
            <p>
                Сродните видове източноевропейска полевка и източносредиземноморска (гюнтерова) полевка вредят по същия
                начин и срещу тях се прилагат същите методи и средства за борба.
            </p>
        </div>
        <div class="pest-image-container" >
        <ul class="products">
            <li>
                <a data-lightbox="image" href="../../../../../assets/rodents/Feldmaus_Microtus_arvalis.jpg"
                data-title="Обикновената полевка">
                    <img loading="lazy" src="../../../../../assets/rodents/Feldmaus_Microtus_arvalis_thumb.jpg"
                    alt="Microtus arvalis" title="Microtus arvalis"/>
                    <span class="title_thumb">Обикновената полевка</span>
                </a>
            </li>
        </ul>
        </div>
    </div>
    <!-- КРАЙ обикновената полевка -->

    <!-- Семеноядни видове -->
    <div class="row">
        <div class="text-indent">
            <h3 >Семеноядни видове:
                <span class="latin_name">Степна домашна мишка Mus spicilegus и източносредиземноморска домашна мишка
                M. macedonicus, горска мишка Sylvaemus sylvaticus
            </span>
            </h3>
            <p>
                <strong>Степна домашна мишка</strong>: Окраската по гърба е бледо сиво-кафява. Коремът е сивожълт. Опашката
                е дълга колкото тялото или малко по-къса. Към края на лятото и есента събира зимни запаси от семена, като
                ги затрупва със земя в характерни купчинки, наричани “мишини”. Разпространена е само в Северна България.
            </p>
            <p>
                <strong>Източносредиземноморска домашна мишка</strong>: Окраската по гърба е сива, а по корема бяла до пепеляво.
                Опашката е дълга колкото тялото или малко по-къса. Разпространена е в Южна България.
            </p>
            <p>
                <strong>Обикновена горска мишка</strong>: Окраската е жълто-кафява по гърба и бяла до бледосива по корема.
                Опашката е дълга колкото тялото. Очите и ушите са големи. Разпространена е повсеместно.
            </p>
            <p>
                Мишките живеят в дупки под земята. Активни са през нощта. Хранят се със семена на житни култури и плевелна
                растителност. За зимата събират хранителни запаси в подземни камери. Размножителният период е от март до
                октомври. Бременността трае 20–24 дни. Раждат няколко пъти през годината от 3 до 8 малки. Вредят от сеитбата
                до поникване, като се хранят и запасяват за зимата със засетите семена. В района на колонията посевът е разреден,
                но почти няма нагризани растения. След восъчна зрелост до жътва се хранят и запасяват със семената. Между дупките
                в колонията няма пътечки.
            </p>
        </div>
    </div>
    <!-- КРАЙ Семеноядни видове -->

    <!-- Сляпо куче  -->
    <div class="row">
        <div class="text-indent">
            <h3 >Сляпо куче - <span class="latin_name">Spalax leucodon</span>
            </h3>
            <p>
                Сериозен вредител в люцерните. Храни се с подземните части на люцерната, като изгризва корените и стъблото
                под повърхността на земята. Борба: (както при зеленчуковите култури).
            </p>
        </div>
    </div>
        <!-- КРАЙ Сляпо куче -->

    <!-- Лалугер   -->
    <div class="row">
        <div class="pest-description-container text-indent">
            <h3 >Лалугер - <span class="latin_name">Citellus citellus</span>
            </h3>
            <p>
                Обитава сухи, целини, необработваеми площи, пасища и ливади. От септември до март прекарва в зимен сън.
                Числеността му не е висока и не е важен неприятел. Вреди напролет, като след сеитба изравя и се храни със
                засетите семена, и през лятото и ранна есен, когато се храни обилно с оронени семена, за натрупване на телесни
                резерви преди заспиване.
            </p>
            <p>
                При необходимост борбата с него се води чрез поставяне в дупките на отровни примамки, фумигация на ходовете
                с фосфин, отделящи продукти или димки. Възможна е механична борба чрез поставяне на примки или наливане на
                вода в дупките и убиването на гризача при излизане.
            </p>
        </div>
        <div class="pest-image-container" >
            <ul class="products">
                <li>
                    <a data-lightbox="image" href="../../../../../assets/rodents/Citellus_citellus_wiki.jpg"
                    data-title="Лалугер">
                        <img loading="lazy" src="../../../../../assets/rodents/Citellus_citellus_wiki_thumb.jpg"
                        alt="Citellus citellus" title="Citellus citelluss"/>
                        <span class="title_thumb">Лалугер</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Лалугер  -->

    <!-- Основна стратегия за борба  -->
    <div class="row">
        <div class="text-indent">
            <h4 class="my_class_h4">Основна стратегия за борба</h4>
            <p>
                Най-важен и сериозен вредител у нас безсъмнено е обикновената полевка. Базисна стратегия при използване на
                родентициди за борба с нея в полските култури (предимно в есенни житни и люцерни) е да се въздейства на
                популациите с превантивни третирания до началото на активната вегетация (от есента до ранна пролет) и преди
                старта на размножаването, когато дупките се виждат добре и примамките се приемат с по-голяма охота. <strong>По-късно
                    растителността закрива ходовете, а при обилие на зелена храна примамките не се приемат добре и следователно
                    прилагането им не е ДРЗП.</strong>
            </p>

            <h4 class="my_class_h4">Праг на икономическата вредност:</h4>
            <p>
                - при зърненожитни култури, есен - над две активни колонии/дка; пролет - над една активна колония/дка
            </p>
            <p>
                - при люцерна, есен/пролет - две активни колонии/дка.
            </p>
            <p>
                Опитите за атакуване на гризача през фазата на депресия и ниска численост чрез профилактични третирания
                се препоръчват и са най-резултатни но почти не се провеждат поради трудност за откриване на опасните огнища
                от неспециалисти, слабата вредоносност в момента и подценяването на възможностите на гризача. <strong>Широко
                    обхватни календарни третирания без оценка на моментното популационно ниво не са ДРЗП</strong>.
                Числеността на полевката варира значително от година на година и химична борба се налага през 2–4 и дори
                повече години. <strong>Следователно ДРЗП е установяване на проста програма и система за наблюдение и
                    прогнозиране, която да е в състояние да установи тенденцията в развитието на популацията в региона няколко
                    месеца преди периода, когато се нанасят вреди и е възможно провеждане на борба.</strong>
            </p>
        </div>
    </div>
    <!-- КРАЙ Основна стратегия за борба  -->

    <!-- Родентициди, формулации и техники на прилагане  -->
    <div class="row">
        <div class="text-indent">
            <h3 >Основна стратегия за борба</h3>
            <p>
                Въпреки че антикоагулантите от първа генерация са по-неподходящи от тези, действащи при еднократно приемане,
                най-широко използвано активно вещество против полевките в Европа е хлорофацинонът. Успехът от употребата
                му варира широко и рядко достига необходимата за регистрация минимална полска ефективност от 80%. Следователно
                употребата му би трябвало да не е ДРЗП. Въпреки това той може да бъде предпочетен пред средствата от втора
                генерация при необходимост от механизирани широко мащабни площни третирания.
            </p>
            <p>
                <strong>Предпочитани родентициди за полски третирания са тези, действащи при еднократно приемане в добре
                    предпочитани примамки</strong>. Отговарящи на горните изисквания са цинков фосфид, бродифакум,
                дифетиалон и възможно флокумафен и бромадиолон. От друга страна, ръчното третиране в дупките (ДРЗП) не е
                ефективно, особено при мащабни нападения с висока плътност. Като алтернатива на третирането с примамки е
                фумигацията на ходовете с фосфин – отделящи таблетки.
            </p>
            <p>
                <strong>Проблема при примамките с цинков фосфид често е недостатъчната им привлекателност, която е резултат
                    както на а.в., така и на носителя му (цели зърна и др.). Това всъщност се отнася за всички примамки на
                    база цели житни зърна, тъй като те не са предпочитана храна от тревопасните полевки.</strong>
                Пелетизирани примамки на база зърнени съставки с 5–10% захар обикновено се проявяват по-добре, но са
                по-неустойчиви на метеорологични влияния. Това обаче не е пречка, ако приемането им е добро, гризачите
                консумират достатъчно количество преди примамката да започне да се разлага и стане безопасна за полезните
                видове. Добавката на противоплесенни средства, парафин и други съставки за повишаване устойчивостта намалява
                привлекателността и следователно ефективността.
            </p>
            <p>
                Недостатъчната привлекателност на готовите примамки в някои страни е довела до препоръки за използване на
                пресни моркови и други растителни части за носители на антикоагулантите. От гледна точка на ефективността
                това без съмнение е стъпка към повишаването и, но, от друга страна, се налага предоставяне на течни концентрати
                в ръцете на крайния потребител. <strong>Специално за средствата от втора генерация това не е ДРЗП, освен
                    ако те не са обучени специално за работа с тях.</strong>
            </p>
            <p>
                Взимайки под внимание цялото разнообразие от вредни видове, популационната им плътност и динамика,
                застрашените култури и сезоните, е прекалено трудно препоръчването на универсални приложими правила за дози
                и норми при водене на борба с примамки в полето. Поначало приемането на 1–2 г примамка с а.в. от втора
                генерация убива полевката. Ако а.в. е хлорофацинон, количеството трябва да бъде удвоено, докато при цинковия
                фосфид са достатъчни много малки количества (200–500 mg). На практика е невъзможно да се прецени броят на
                полевките или мишките, някои от тях консумират по-големи количества от смъртоносната доза, други не докосват
                примамката. Но в случаи, когато се подхожда с необходимата компетентност и сериозност, често се установява,
                че успешна борба е възможна при използване на по-малко примамка от препоръчваната в инструкциите за прилагане
                на продукта.
            </p>
            <p>Най-ефикасен способ е ръчното внасяне на примамките в дупките на гризачите.</p>
        </div>
    </div>
    <!-- КРАЙ Родентициди, формулации и техники на прилагане   -->

    <div class="aa-title"></div>
    <!-- Оризища -->
    <div class="row">
        <div class="text-indent">
            <h3 >Оризища</h3>
            <p>
                Оризовите полета са специфични агроценози, съществено отличаващи се по технологията на отглеждане на ориза
                и микроклиматични условия от другите полски култури. През целия вегетационен сезон производствените площи
                са покрити със слой вода от 15 до 25 сm и в тях е невъзможно да се заселват гризачи. Подходящи условия за
                устройване на убежища съществуват само в затревените необработваеми участъци около каналите, дигите и
                тировете, разделящи отделните производствени клетки. В зависимост от инженерната схема размерът на тези
                участъци е от 10-12 до 20% от площта на оризището.
            </p>

            <h4 class="my_class_h4">Основни неприятели и типове повреди</h4>
            <p>
                Източносредиземноморска домашна мишка, горска мишка, обикновена полевка, малка (оризищна) мишка
                <span class="latin_name">Micromys minutus</span>.
            </p>
            <p>
                Вредят в периода след зазряване на ориза и пресушаване на клетките до прибиране, като се хранят със семената
                и се запасяват за зимата.
            </p>

            <h4 class="my_class_h4">Основна стратегия</h4>
            <p>
                Борбата срещу мишките при необходимост се провежда през пролетта преди започване на активна вегетация чрез отровни примамки.
            </p>
        </div>
    </div>
    <!-- КРАЙ Оризища -->

    <!-- Воден плъх -->
    <div class="row">
        <div class="text-indent">
            <h3 >Воден плъх - <span class="latin_name">Arvicola terrestris</span></h3>
            <p>
                Водният плъх има по-специфични биологични особености. Храни се със сочните надземни части на ориза, а след
                формиране на класовете със семената. С прокопаването на обширна мрежа от тунели нарушава целостта на канали
                и тирове. От есента до късна пролет преминава изключително към подземен живот и почти не излиза на повърхността.
            </p>
            <h4 class="my_class_h4">Основна стратегия</h4>
            <p>
                Внасяне на отровни примамки в подземните тунели от есента до ранна пролет. През периода на активна вегетация
                сухите примамки не се предпочитат от гризача. При повишена численост и опасност от силна вредоносност
                борбата през вегетацията е ефективна при използване на влажни и сочни отровни примамки: сварени или накиснати
                във вода за една нощ царевица, грах, нарязани моркови, ябълки, картофи, обработени с концентрати от родентициди
                в препоръчваните по-горе дози.
            </p>
        </div>
    </div>
    <!-- КРАЙ Воден плъх -->

    <div class="aa-title"></div>
    <!-- Овощарство и зеленчукопроизводство -->
    <div class="row">
        <div class="text-indent">
            <h3 >Овощарство и зеленчукопроизводство</h3>
            <h3 >Основни неприятели и типове повреди </h3>
            <p><strong>Обикновена полевка, домашна и горска мишка.</strong></p>
            <p>
                В разсадопроизводството мишките вредят, като изяждат засетите семена, а полевките нападат поникналите растения.
                В овощни разсадници и млади овощни градини сериозни повреди нанасят полевките, като изгризват кората на
                дръвчетата в основата на стъблото.
            </p>

            <h4 class="my_class_h4">Основна стратегия</h4>
            <p>
                Борбата срещу тях е ефективна в началните периоди на навлизането им в насажденията, преди да са нанесли вреди.
            </p>

            <h4 class="my_class_h4">Родентициди, формулации и техники на прилагане</h4>
            <p>Ръчно внасяне на отровни примамки в ходовете.</p>

            <h4 class="my_class_h4">Алтернативни стратегии и методи</h4>
            <p>Механичната защита на дръвчетата чрез поставяне на предпазни мрежи или увиване на стъблата с подръчни материали.</p>
        </div>
    </div>
    <!-- КРАЙ Овощарство и зеленчукопроизводство -->

    <!-- Сляпо куче  -->
    <div class="row">
        <div class="text-indent">
            <h3 >
                Сляпо куче - <span class="latin_name">Spalax leucodon</span>
                и европейска къртица - <span class="latin_name">Talpa europea </span>
            </h3>
            <p>
                Двата вида живеят постоянно под земята, където прокопават мрежа от тунели. Сляпото куче е гризач, сериозен
                вредител по почти всички зеленчукови култури и млади дръвчета. Храни се с подземните части на голям брой
                растения – корени, стъбла, луковици клубени, кореноплоди. Къртицата е насекомояден хищник. Храни се с
                насекоми, червеи, дребни гръбначни. Тя всъщност е полезен вид, но при копаене на ходовете си вреди основно
                в разсадопроизводството и в първите дни след разсаждане на растенията, като ги подкопава.
            </p>
            <h4 class="my_class_h4">Основна стратегия</h4>
            <p>
                Борбата срещу тях е ефективна, в началните периоди на навлизането им в посевите, преди да са прокопали обширна мрежа от тунели.
            </p>

            <h4 class="my_class_h4">Родентициди, формулации и техники на прилагане</h4>
            <p>
                Внасянето на отровни примамки в подземните ходове е слабо ефективно, тъй като не са обичайна храна и
                неприятелите са много предпазливи при нарушаване на ходовата им система. Задоволителни резултати дава
                фумигацията на ходовете със серен диоксид чрез газови патрони.
            </p>

            <h4 class="my_class_h4">Алтернативни стратегии и методи</h4>
            <p>
                Механичната борба чрез разкопаване на ходовете дава добри резултати, но изисква много време и търпение.
                Използването на различни системи капани също е с променлива ефективност и изисква специфичен подход и умения.
            </p>
        </div>
    </div>
    <!-- КРАЙ Сляпо куче -->

    <div class="aa-title"></div>
    <!-- Коменсални гризачи в складове -->
    <div class="row">
        <div class="text-indent">
            <h3 >Коменсални гризачи в складове</h3>
            <p>
                Основни неприятели и типове повреди Трите глобално важни синантропни гризача, доминиращи и у нас, са сив
                плъх <span class="latin_name">Rattus norvegicus</span>, черен плъх <span class="latin_name">Rattus rattus</span>
                и домашна мишка Mus musculus.
            </p>
            <p>
                Щетите, които нанасят, са унищожаване и замърсяване на храни, суровини, фуражи и материали, разпространение
                на болести по човека и домашните животни. Без съмнение те са важни неприятели, но информацията за количествена
                или икономическа оценка на щетите е рядка, тъй като е трудно осъществима.
            </p>
            <p>
                В складове и ферми сивия плъх предпочита влажни участъци на нивото на земята, докато черният плъх и домашната
                мишка заселват по-сухи места във високите части на сградите. И трите вида зависят основно от хранителните
                ресурси, осигурявани от човека, поради което при тях липсват периодичните числени промени, характерни за
                полевките, или са относително кратки, на локални площи и в резултат от провеждани дератизации.
            </p>

            <h4 class="my_class_h4">Основна стратегия</h4>
            <p>
                Добрата хигиена и непроницаемост на сградите редовно се препоръчват в книги и брошури за защита от гризачи.
                Санитарнохигиенните мерки включват поддържане на чистота и отстраняване и унищожаване на всичко, което може
                да се използва за храна, гнездови материал и укрития. Практическото приложение обаче е трудно, особено при
                стари сгради, където продукция и фуражи не могат да се изолират надеждно от достъпа на гризачите.
            </p>
            <p>
                Традиционна стратегия е кампанийно залагане на примамки веднъж годишно, което неизменно има незадоволителен
                ефект и води до бързо възстановяване на популацията.
            </p>
            <p>
                Според съвременните постижения успешна стратегия за унищожаване на съществуваща популация на сив плъх е
                програма за наблюдавано, контролирано третиране докато следите от плъховете изчезнат. Най-критични фактори,
                определящи успеха, са – плътността на отровните точки, честотата на проверка, ефективността на а.в. и
                привлекателността на примамката. Такава операция при наличие на достатъчно количество хранителни източници
                може да продължи няколко седмици. В началото са необходими не по-малко от две проверки седмично, а след
                това по веднъж. За постигане на устойчив успех акцията трябва да обхване всички околни сгради.
            </p>
            <p>
                Друга стратегия, наричана перманентна, се препоръчва като алтернатива на еднократната наблюдавана борба.
                Всъщност те трябва да се разглеждат и прилагат като отделни, допълващи се фази на една акция. Успешната
                борба чрез наблюдавано третиране се поддържа и подсигурява срещу реинвазии посредством периодично залагане
                на примамки срещу потенциални имигранти.
            </p>
            <p>
                Установяване на постоянни отровни точки обикновено включва дератизационни кутии. Използването им е ДРЗП,
                когато примамките се поставят и поддържат като дълговременни отровни точки. От друга страна, опитът е
                показал, че в началните фази на наблюдаваната борба приемането на примамките започва по-рано и крайният
                резултат се постига по-бързо, когато се залагат и открити отровни точки. Когато резидентната популация е
                унищожена, имигрантите не проявяват неофобия към кутиите и ги посещават. Основният недостатък на перманентната
                борба е, че примамките трябва да се подновяват често, за да са привлекателни. Това изискване обаче прави
                системата скъпа, особено когато е на база договорни условия.
            </p>
            <p>
                Борбата срещу домашната мишка изисква доста по-различен подход. При нея неофобията не се наблюдава и по-лесно
                приема примамките. От друга страна, тя се храни на спорадични места и обитаемият и участък е по-малък от
                този на плъховете. Поради това е необходимо по-голяма честота на отровните точки.
            </p>

            <h4 class="my_class_h4">Родентициди, формулации и техники на прилагане</h4>
            <p>
                Понастоящем готовите примамки с антикоагуланти са основни средства и ДРЗП за борба със синантропните гризачи
                освен при доказана резистентност към някои от тях в дадена популация. Ако съществува съмнение за резистентност,
                желателно е първо да се провери дали лошите резултати не се дължат на недостатъчна привлекателност, недостатъчно
                количество на примамката, съхраняването и за запас в убежищата или други поведенчески причини. Пренасянето
                на примамката в убежищата като запас зависи от размера на късовете. Царевични зърна или пелети с подобен
                размер често се складират от сивия плъх, докато дребни семена и пелети не. Едва след като всички поведенчески
                реакции за лошия ефект бъдат изключени, следва да се проведе тест за резистентност или ако това е невъзможно,
                да се премине към по-силно и ефективно активно вещество.
            </p>
            <p>
                Антикоагулантите може да се прилагат като сухи или течни примамки и контактни пудри. Течните са приемливи
                в зърнени силози, мелници, складове и други сгради, където специално за сивия плъх достъпът до питейна вода
                е ограничен. Черният плъх и домашната мишка могат да преживеят по-дълго без вода и течните примамки са
                понеприложими за тях. Контактните пудри са полезни при напрашване на дупките и са поддържащ способ. Успешно
                е комбиниране на трите вида (сухи и течни примамки и контактна пудра, поставени едновременно в дератизационни кутии).
            </p>
            <p>
                И тук е трудно да се дадат точни препоръки за разходните норми на примамка. Опитен дератизатор може на база
                следите от гризачите да направи груба, повърхностна оценка на плътността на популацията и очакваната консумация.
                Също така поне за сивия плъх стартовата консумация не дава представа за последващите нужди, тъй като тя
                се влияе от неофобията, типична за този вид.
            </p>
            <p>
                Практическо правило при употребата на антикоагуланти от първа генерация е примамката винаги да бъде в излишък.
                Стратегията за периодично залагане на малки количества, пулсиращият способ, е подходяща за средствата от
                втора генерация, ефективни при еднократно приемане. Отначало се залагат относително малки количества примамка
                и ако се приема, се изчакват няколко дни или седмица. Предполага се, че доминантните индивиди консумират
                първи примамката и следва да се изчака смъртта им, след което да се постави нова. Така би се избягнало
                предозирането и опасността от вторични отравяния. Последните изследвания обаче показват, че практиката не
                съответства на теорията. Ясно е само, че при средствата, ефективни при еднократно приемане, са необходими
                много по-малки количества, отколкото при тези от първа генерация. Взимайки това под внимание, вероятно е
                най-добре приложението на наблюдаваната борба като основна в ДРЗП при дератизация.
            </p>
            <p>
                За борба с домашната мишка се прилага същата стратегия, но честотата на отровните точки трябва да е по-висока
                в хоризонтално и вертикално направление, при по-малки дози във всяка точка – около 5–10 g.
            </p>

            <h4 class="my_class_h4">Алтернативни стратегии и методи</h4>
            <p>
                Механичната борба с капани е стар метод, но съгласно настоящите стандарти и сравнен с родентицидите има
                слаба ефективност. Домашната мишка е любопитна и лесна за ловене, живоловки и убиващи капани действат еднакво
                добре, но плътността при поставянето им трябва да е по-висока. В малки обекти и за хора, които имат време
                и търпение, капаните са ДРЗП.
            </p>
            <p>
                Едно от най-спорните полета в съвременните дератизационни технологии е концепцията за ултразвуковите генератори.
                Въпреки факта, че проведените подробни тестове практически не са потвърдили твърденията на производителите
                за ефективността им, те все още се рекламират и продават във всички страни. Обратните доказателства обаче
                са толкова силни, че всички изпитвани досега ултразвукови средства не могат да се смятат за добра дератизационна
                практика.
            </p>
        </div>
    </div>
    <!-- КРАЙ Коменсални гризачи в складове -->

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=174331</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=169527</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
