<div class="row text-center" id="prz-loader" *ngIf="!practices">
  <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row logo-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛЕЩА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/024(1)</p>
    </div>
    <div class="row ">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Ралица Накова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЛЕЩА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p >Този стандарт очертава принципите на Добрата растителнозащитна практика при леща.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Лещата принадлежи към най-старите културни растения. Тя се отглежда заради семената, които се употребяват
                за храна на хората и по-малко за технически цели и като фураж за добитъка. По съдържание на белтъчини семената
                на лещата не отстъпват на семената на фасула и граха. Като храна за човека семената се употребяват главно
                като вариво. За селскостопанските животни се употребяват семена от по-дребносеменни сортове или от по-стари
                реколти. Сеното и съдържа около 14%. белтъчини. Особено добър фураж е плявата на лещата.
            </p>
            <p >
                У нас лещата се отглежда като пролетна култура, но в някои по-южни области може да се отглежда като зимно.
                Оптималната температура за развитието и е около 30°С, така че най-добри са условията в по-топлите райони
                на страната. Тя не страда от късните пролетни слани и студове. Семената покълнват при 4-5°С. Поникналите
                млади растения могат да издържат до температура -6°С. След поникването растенията не се нуждаят от много
                влага, но изискват сравнително повече топлина. Към почвата лещата не е много взискателна, като най-добри
                са дълбоките глинесто-песъчливи почви, леките черноземи, канелените и сиви горски почви, съдържащи достатъчно
                хранителни вещества и вар. Поради това, че страда много от заплевеляване, трябва да се постави в сеитбообръщение
                след растения, които оставят почвата чиста и добре разработена. Най-добри предшественици са окопните култури,
                торени с оборска тор. Тя е отличен предшественик за зимни и пролетни житни култури, защото обогатява почвата
                с азот и я оставя в добро физическо състояние.
            </p>
            <p>
                ДРЗП изисква отглеждане на лещата при висок агрофон, включването й в сеитбообръщения, използване на здрави
                семена за посев, устойчиви и толерантни сортове, предпосевно третиране на семената с фунгицидни средства,
                инсектицидни третирания срещу неприятелите при достигане на икономическите прагове на вредност, хербицидни третирания.
            </p>
            <p>
                В ДРЗП трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p >
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната
                страна за даден вредител.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по лещата в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-lentis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Аскохитоза - <span class="latin_name">Ascochyta lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#colletotrichum-truncatum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Colletotrichum truncatum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#uromyces-fabae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Ръжда - <span class="latin_name">Uromyces fabae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f.sp. lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Склеротиния - <span class="latin_name">Sclerotinia sclerotiorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bean-yellow" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълта фасулева мозайка - <span class="latin_name">Bean yellow mosaic potyvirus</span> - BYMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#bruchus-lentis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Лещен зърнояд - <span class="latin_name">Bruchus lentis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#curculionidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Грудкови хоботници - <span class="latin_name">Sitona crinita</span> и <span class="latin_name">Sitona lineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#laspeyresia-nigricana" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тъмна грахова листозавивачка - <span class="latin_name">Laspeyresia nigricana</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tychius-quinquepunctatus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобов петточков хоботник - <span class="latin_name">Tychius quinquepunctatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#etiella-zinckenella" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бобова огневка (соев молец) - <span class="latin_name">Etiella zinckenella</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>https://www.viarural.com.ar/viarural.com.ar/agricultura/aa-enfermedades/ascochyta-lentis-01.htm</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Cwmhiraeth - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=16131525</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Jymm - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=7999438</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>Par ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=487437</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>By James Lindsey at Ecology of Commanster, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1680682</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371113 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=6730871</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Gyorgy Csoka, Hungary Forest Research Institute, Bugwood.org - This image is Image Number 5371114 at Insect Images, a source for entomological images operated by The Bugwood Network at the University of Georgia and the USDA Forest Service.(Cropped), CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=7021792</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Cwmhiraeth - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=49709613</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15884293</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>Di Hugo.arg - Opera propria, GFDL, https://commons.wikimedia.org/w/index.php?curid=3135124</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>

