<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЯБЪЛКА И КРУША</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="ЯБЪЛКА">
        <ng-template mat-tab-label>
            <span class="my-tab-label">ЯБЪЛКА</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРВЕН ОВОЩЕН АКАР <span class="latin_name">Panonychus (Tetranychus) ulmi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>60-80 бр./10 см клонка</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>ларви</td>
                        <td>1-2 бр./лист</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза -<br/>
                            нарастване на плодовете
                        </td>
                        <td>подвижни форми</td>
                        <td>3-4 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КАЛИФОРНИЙСКА ЩИТОНОСТНА ВЪШКА <span class="latin_name">Quadraspidiotus perniciosus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>2% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви</td>
                        <td>
                            10 бр./100 см клонка или<br/>
                            2-3 бр. нападнати плодове
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>
                            5-10 бр./100 см. клонка<br/>
                            или 10% пъпки с яйца
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпки -<br/>
                            розов бутон
                        </td>
                        <td>индивиди от <span class="latin_name">Aphis spp.</span></td>
                        <td>
                            10-15 бр./100 пъпки или<br/>
                            10% нападнати розетки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза -<br/>
                            нарастване на плодовете
                        </td>
                        <td>колонии от <span class="latin_name">Aphis spp.</span></td>
                        <td>10-15 бр./100 леторасти</td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпки -<br/>
                            розов бутон
                        </td>
                        <td>индивиди от <span class="latin_name">Dysaphis spp.</span></td>
                        <td>
                            2-5 бр./100 пъпки или<br/>
                            5% нападнати розетки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза -<br/>
                            нарастване на плодовете
                        </td>
                        <td>колонии от <span class="latin_name">Dysaphis spp.</span></td>
                        <td>5 бр./100 леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ <span class="latin_name">сем. Tortricidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйчни групички</td>
                        <td>3-5 бр./дърво</td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките -<br/>
                            зелен конус - „миши уши”
                        </td>
                        <td rowspan="2">гъсеници</td>
                        <td>5-8 бр./100 пъпки</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>8-10 бр./10 розетки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЕДОМЕРКИ <span class="latin_name">сем. Geometridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките<br/>
                            зелен конус, „миши уши”
                        </td>
                        <td>гъсеници</td>
                        <td>8-10 бр./100 пъпки</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>гъсеници</td>
                        <td>6-8 бр./100 бутона</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза<br/>
                            нарастване на плодовете
                        </td>
                        <td>гъсеници</td>
                        <td>1-2 бр./100 завръза</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОГРИЗЕЩИ ГЪСЕНИЦИ <span class="latin_name">сем. Lasiocampidae, сем. Noctuidae, сем. Erebidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките,<br/>
                            зелен конус, „миши уши”
                        </td>
                        <td>гъсеници</td>
                        <td>8-10 бр./дърво</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯБЪЛКОВ ЦВЕТОПРОБИВАЧ <span class="latin_name">Anthonomus pomorum</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките, зелен<br/> 
                            конус, „миши уши” бутонизация
                        </td>
                        <td>възрастни</td>
                        <td>4-6 бр./на 100 стръскани клона</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНА БЪЛХА <span class="latin_name">Cacopsylla picta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>20-30% нападнати розетки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯБЪЛКОВА ПЛОДОВА ОСА <span class="latin_name">Hoplocampa testudinea</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация - до начало на цъфтеж</td>
                        <td>възрастни</td>
                        <td>2-3 бр./ 100 стръскани клона</td>
                    </tr>
                    <tr>
                        <td>формиране на завръза</td>
                        <td>ларви</td>
                        <td>2-3% повредени завръзи</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯБЪЛКОВ МОЛЕЦ <span class="latin_name">Yponomeuta malinella</span>
                        </td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>гъсеници</td>
                        <td>5% нападнати клонки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОМИНИРАЩИ МОЛЦИ <span class="latin_name">сем. Lyonetiidae, сем. Nepticulidae и сем. Gracillariidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза<br/>
                            нарастване на плодовете
                        </td>
                        <td>яйца и мини</td>
                        <td>по 2-3 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЩИТОНОСНИ ВЪШКИ <span class="latin_name">сем. Diaspididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>20-30 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>ларви</td>
                        <td>20 бр./100 см клонка</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЛОДОВИ ХОБОТНИЦИ <span class="latin_name">сем. Rhynchitidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките -<br/>
                            зелен конус - „миши уши”
                        </td>
                        <td rowspan="2">възрастни</td>
                        <td>15-20 бр./100 стръскани клона</td>
                    </tr>
                    <tr>
                        <td>образуване на завръз</td>
                        <td>10-15 бр./ 100 стръсквания</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯБЪЛКОВ ПЛОДОВ ЧЕРВЕЙ <span class="latin_name">Cydia pomonella</span>
                        </td>
                    </tr>
                    <tr>
                        <td  colspan="3" style="text-align: center"><span class="bold">I-ро поколение</span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">през вегетацията</td>
                        <td>пеперуди</td>
                        <td>3-5 бр./уловка/седмица</td>
                    </tr>
                    <tr>
                        <td>гъсеници</td>
                        <td>0,8-1% пресни вгризвания в плодовете</td>
                    </tr>
                    <tr>
                        <td  colspan="3" style="text-align: center"><span class="bold">ІI-ро поколение</span></td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гъсеници</td>
                        <td>1,5-2% пресни вгризвания в плодовете</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЪХНАТ БРЪМБАР <span class="latin_name">Tropinota (Epicometis) hirta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>5-7 бр./100 розетки</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="КРУША">
        <ng-template mat-tab-label>
            <span class="my-tab-label">КРУША</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРВЕН ОВОЩЕН АКАР <span class="latin_name">Panonychus (Tetranychus) ulmi</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>40-60 бр./10 см клонка</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>ларви</td>
                        <td>
                            1-3 бр. по зелените<br/>
                            части на едно съцветие
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td >
                        <td rowspan="2">подвижни форми</td>
                        <td>
                            3-4 бр./лист - началото<br/>
                            на нарастване на плодовете
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5-7 бр./лист - след началото<br/>
                            на нарастване на плодовете
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца</td>
                        <td>
                            5-10 бр./100 см. клонка<br/>
                            или 10% пъпки с яйца
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпки -<br/>
                            розов бутон
                        </td>
                        <td>индивиди от <span class="latin_name">Aphis spp.</span></td>
                        <td>
                            10-15 бр./100 пъпки или<br/>
                            10% нападнати розетки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза -<br/>
                            нарастване на плодовете
                        </td>
                        <td>колонии от <span class="latin_name">Aphis spp.</span></td>
                        <td>10-15 бр./100 леторасти</td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпки -<br/>
                            розов бутон
                        </td>
                        <td>индивиди от <span class="latin_name">Dysaphis spp.</span></td>
                        <td>
                            2-5 бр./100 пъпки или<br/>
                            5% нападнати розетки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза -<br/>
                            нарастване на плодовете
                        </td>
                        <td>колонии от <span class="latin_name">Dysaphis spp.</span></td>
                        <td>5 бр./100 леторасти</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ <span class="latin_name">сем. Tortricidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйчни групички</td>
                        <td>1 бр./100 см клонка</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЩИТОНОСНИ ВЪШКИ <span class="latin_name">сем. Diaspididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>20-30 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>подвижни ларви</td>
                        <td>40-50 бр./100 см клонка</td>
                    </tr>
                    <tr>
                        <td>нарастване на плодовете</td>
                        <td>ларви</td>
                        <td>20 бр./100 см клонка</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КРУШОВИ БЪЛХИ <span class="latin_name">Cacopsylla sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>яйца и възрастни</td>
                        <td>
                            8-10 бр. яйца или 1 възрастно/<br/>
                            8-10 торбести клонки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките-<br/>
                            зелен конус - „миши уши”
                        </td>
                        <td rowspan="2">ларви и възрастни</td>
                        <td>2-3 бр./100 пъпки</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>2-3% заселени розетки</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза и<br/>
                            нарастване на плодовете
                        </td>
                        <td>ларви и възрастни</td>
                        <td>4-6% леторасти с колонии</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОЗАВИВАЧКИ И ПЕДОМЕРКИ <span class="latin_name">сем. Tortricidae и сем. Geometridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките-<br/>
                            зелен конус - „миши уши”
                        </td>
                        <td>гъсеници</td>
                        <td>
                            6-8 бр./100 пъпки или<br/>
                            8-10% повредени пъпки
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>гъсеници</td>
                        <td>
                            8-10 бр./100 бутона или<br/> 
                            5% повредени бутона или<br/>
                            6-8% повредени розетки
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>гъсеници</td>
                        <td>2-3 бр./100 завръза до юнското окапване</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КРУШОВ ПЪПКОВ ПРОБИВАЧ <span class="latin_name">Anthonomus pyri</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            след формиране на връхни<br/>
                            пъпки (септември - октомври)
                        </td>
                        <td>възрастни</td>
                        <td>5-8 бр./на 100 стръсквания</td>
                    </tr>
                    <tr>
                        <td>
                            разпукване на пъпките-<br/>
                            зелен конус - „миши уши”
                        </td>
                        <td>ларви</td>
                        <td>8-10% повредени плодни пъпки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КРУШОВА ПЛОДОВА ОСА <span class="latin_name">Hoplocampa brevis</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">бутонизация</td>
                        <td>яйца</td>
                        <td>3-5 бр./100 цвята</td>
                    </tr>
                    <tr>
                        <td>възрастни</td>
                        <td>3 бр./дърво</td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>ларви</td>
                        <td>2-3% повредени завръзи</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МЪХНАТ БРЪМБАР <span class="latin_name">Tropinota (Epicometis) hirta</span>
                        </td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td>възрастни</td>
                        <td>5-7 бр./100 розетки</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПЛОДОВА КОРОГРИЗАЧКА <span class="latin_name">Adoxophyes reticulana</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>гъсеници</td>
                        <td>
                            1-2 бр./100 плода -<br/>
                            до юнското окапване
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЯБЪЛКОВ ПЛОДОВ ЧЕРВЕЙ <span class="latin_name">Cydia pomonella</span>
                        </td>
                    </tr>
                    <tr>
                        <td  colspan="3" style="text-align: center"><span class="bold">I-ро поколение</span></td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза и<br/>
                            нарастване на плодовете
                        </td>
                        <td>гъсеници</td>
                        <td>0,8-1% пресни вгризвания в плодовете</td>
                    </tr>
                    <tr>
                        <td  colspan="3" style="text-align: center"><span class="bold">ІI-ро поколение</span></td>
                    </tr>
                    <tr>
                        <td>
                            формиране на завръза-<br/>
                            нарастване на плодовете
                        </td>
                        <td>гъсеници</td>
                        <td>1,5-2% пресни вгризвания</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КАЛИФОРНИЙСКА ЩИТОНОСТНА ВЪШКА <span class="latin_name">Quadraspidiotus perniciosus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>зимен покой</td>
                        <td>зимуващи стадии</td>
                        <td>2% нападнати леторасти</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви</td>
                        <td>
                            10 бр./100 см клонка или<br/> 
                            2-3 бр. нападнати плодове
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
