<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЗАХАРНО ЦВЕКЛО</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ЗАХАРНО ЦВЕКЛО</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ОБИКНОВЕН ЦВЕКЛОВ ХОБОТНИК <span class="latin_name">Bothynoderes punctiventris</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>0,5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИВ ЦВЕКЛОВ И ЦАРЕВИЧЕН ХОБОТНИК <span class="latin_name">Tanymecus palliatus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>1 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЧЕРЕН ЦВЕКЛОВ ХОБОТНИК <span class="latin_name">Psalidium maxillosum</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>0,25 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦВЕКЛОВИ БЪЛХИ <span class="latin_name">Chaetocnema spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване до 15.V</td>
                        <td rowspan="2">възрастни</td>
                        <td>5-10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>кръстосване до 30.VІ</td>
                        <td>10-25 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦВЕКЛОВИ ЩИТОВКИ <span class="latin_name">Cassida spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>2-3 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>неполивни условия</td>
                        <td rowspan="2">ларви</td>
                        <td>2-3 бр./растение</td>
                    </tr>
                    <tr>
                        <td>поливни условия</td>
                        <td>3-4 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЛКО ЦВЕКЛОВО БРЪМБАРЧЕ <span class="latin_name">Atomaria linearis</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">до и след поникване</td>
                        <td rowspan="2">възрастни</td>
                        <td>300 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>8 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦВЕКЛОВА ДЪРВЕНИЦА <span class="latin_name">Polymerus (Poeciloscytus) cognatus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>5-10 бр./ растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛЮЦЕРНОВА ДЪРВЕНИЦА <span class="latin_name">Adelphocoris lineolatus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>поникване</td>
                        <td>възрастни</td>
                        <td>2-3 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГАМОЗНАЧНА И ГРАДИНСКА НОЩЕНКИ <span class="latin_name">Authographa gamma, Lacanobia oleracea</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">през вегетацията</td>
                        <td rowspan="3">гъсеници</td>
                        <td>0,5-1 бр./растение</td>
                    </tr>
                    <tr>
                        <td>10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>20-25% повредена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЗЕЛЕВА НОЩЕНКА <span class="latin_name">Mamestra brassicae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2-ри същински лист-<br/>
                            през вегетацията
                        </td>
                        <td>гъсеници</td>
                        <td>8-10 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИВАДНА ПЕПЕРУДА <span class="latin_name">Loxostege sticticalis</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            поникване – до очертаване<br/>
                            на редовете
                        </td>
                        <td rowspan="4">гъсеници</td>
                        <td>4-6 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>10% повредена листна маса</td>
                    </tr>
                    <tr>
                        <td rowspan="2">до края на вегетацията</td>
                        <td>10 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>25% повредена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            СИВИ ЧЕРВЕИ <span class="latin_name">Agrotis spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">поникване</td>
                        <td rowspan="2">гъсеници</td>
                        <td>1-3 бр./кв.м</td>
                    </tr>
                    <tr>
                        <td>15% повредени растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦВЕКЛОВА ЛИСТНА ВЪШКА Aphis fabae<span class="latin_name">AAA</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">3-ти – 6-ти същински лист</td>
                        <td rowspan="2">ларви - възрастни</td>
                        <td>5 % заселени растения по периферията;</td>
                    </tr>
                    <tr>
                        <td>10 % заселени растения в средата на посева</td>
                    </tr>
                    <tr>
                        <td>поява на първи колонии</td>
                        <td>15-20% заселени растения</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>възрастни</td>
                        <td>
                            25-30% заселени растения;<br/> 
                            10-15 бр./растение
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЦВЕКЛОВ МОЛЕЦ <span class="latin_name">Gnorimoschema ocellatella</span>
                        </td>
                    </tr>
                    <tr>
                        <td>6-ти – 8-ми лист</td>
                        <td rowspan="3">гъсеници</td>
                        <td>0,5% бр./растения</td>
                    </tr>
                    <tr>
                        <td>образуване кореноплод</td>
                        <td>1% бр./растения</td>
                    </tr>
                    <tr>
                        <td>начало на отмиране на листата</td>
                        <td>2% бр./растения</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до сеитбата</td>
                        <td>ларви</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            МАЙСКИ БРЪМБАРИ <span class="latin_name">Melolontha spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до сеитбата</td>
                        <td>ларви</td>
                        <td>над 1 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>първа половина на вегетацията</td>
                        <td>подвижни форми</td>
                        <td>5-10 % заселени растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
