<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ПЛЕВЕЛНИ ВИДОВЕ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Hess et al., 1997</p>
          <p>
              Фенологични фази на растеж и BBCH- ключове за тяхната идентификация при плевелни видове:
          </p>
          <p>M – Едносемеделни;</p>
          <p>D – Двусемеделни;</p>
          <p>G – Житни;</p>
          <p>P –  Многогодишни растения;</p>
          <p>V – Развитие от вегетативни части или размножителни органи;</p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th colspan="2">Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="3">Главна фаза на растеж 0: Покълнване, поникване, развитие на спящите пъпки</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td></td>
                    <td>Сухо семе</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>V</td>
                    <td>Многогодишни или репродуктивни органи през периода на покой  (грудки, ризоми, луковици, столони)</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Р</td>
                    <td>Зимен покой или период на покой</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td></td>
                    <td>Начало на набъбване на семето</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>PV</td>
                    <td>Начало на подуване на спящите пъпки</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td></td>
                    <td>Край на набъбването на семето</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>PV</td>
                    <td>Край на подуване на пъпките</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td></td>
                    <td>Поява на ембрионални коренчета (корени)</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>V</td>
                    <td>Многогодишните или репродуктивни органи формират корени</td>
                  </tr>
                  <tr>
                    <td>06</td>
                    <td></td>
                    <td>Удължаване на коренчетата, формиране на коренови власинки или	странични корени</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>G</td>
                    <td>Поява на колеоптила</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>DM</td>
                    <td>Поява на хипокотила с котиледоните или стъблото </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>PV</td>
                    <td>Начало на напъпване или разпукване на спящите пъпки</td>
                  </tr>
                  <tr>
                    <td>08</td>
                    <td>D</td>
                    <td>Хипокотила с котиледоните или стъблото нарастват към почвената повърхност</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>V</td>
                    <td>Издънките нарастват към почвената повърхност</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>G</td>
                    <td>Поникване: Колеоптилът пробива почвената повърхност</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>DM</td>
                    <td>Поникване: Котиледоните пробиват почвената повърхност</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>V</td>
                    <td>Поникване: Издънките (листата) пробиват почвената повърхност</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>P</td>
                    <td>Спящите пъпки показват зелените връхчета</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 1: Развитие на листата (главното стъбло)</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>GM</td>
                    <td>Поява на първия истински лист от  колеоптила</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>D</td>
                    <td>Напълно отваряне на котиледоните</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>P</td>
                    <td>Видими първи листа</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td></td>
                    <td>Първи същински лист, двойка листа или розетка</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>P</td>
                    <td>Поява на розетка</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td></td>
                    <td>2 истински листа, двойки листа или розетка</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td></td>
                    <td>3 истински листа, двойки листа или розетка</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td></td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td></td>
                    <td>9 или повече истински листа, двойки листа или розетка</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 2: Формиране на странични разклонения (братене)</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td></td>
                    <td>Видими първи странични разклонения</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Видим първи брат</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td></td>
                    <td>2 видими странични разклонения</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>2 видими братя</td>
                  </tr>
                  <tr>
                    <td>23</td>
                    <td></td>
                    <td>3 видими странични разклонения</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>3 видими братя</td>
                  </tr>
                  <tr>
                    <td>2..</td>
                    <td></td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>29</td>
                    <td></td>
                    <td>9 или повече видими странични разклонения</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>9 или повече видими братя</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 3: Удължаване на стъблото (развитие на издънките)</td>
                  </tr>
                  <tr>
                    <td>30</td>
                    <td></td>
                    <td>Начало на удължаване на стъблото</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Начало на вретенене</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td></td>
                    <td>1-во видимо удължено междувъзлие</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>1-ви стъблен възел</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td></td>
                    <td>2 видими удължени междувъзлия</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>2-ри стъблен възел</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td></td>
                    <td>3 видими удължени междувъзлия</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>3-ти стъблен възел</td>
                  </tr>
                  <tr>
                    <td>3..</td>
                    <td></td>
                    <td>Растежа продължава до ... </td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td></td>
                    <td>9 или повече видимо удължени междувъзлия</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>9 или повече стъблени възли</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 4: Вегетативно размножаване (формиране на класа)</td>
                  </tr>
                  <tr>
                    <td>40</td>
                    <td>V</td>
                    <td>Вегетативните размножителни органи започват да се развиват (ризоми, столони, клубени, мустаци, луковици)</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>G</td>
                    <td>Удължаване на флаговия лист</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>V</td>
                    <td>Видими първи млади  растения</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>G</td>
                    <td>Влагалището на флаговия лист само видимо подуто (начало на оформяне на класа)</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>G</td>
                    <td>Влагалището на флаговия лист подуто (оформяне на класа)</td>
                  </tr>
                  <tr>
                    <td>47</td>
                    <td>G</td>
                    <td>Отваряне на флаговя лист</td>
                  </tr>
                  <tr>
                    <td>49</td>
                    <td>V</td>
                    <td>Постоянно ново развитие на младите растения; вегетативните репродуктивни органи достигат крайнитеите размери</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява връхчетата на осилите</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 5: Цъфтене,изкласяване, изметляване</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td></td>
                    <td>Изкласяване или бутонизация</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява на класа или метлицата</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td></td>
                    <td>Първите индивидуални цветове са видими (все още затворени)</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Поява на ½ от класа или метлицата</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td></td>
                    <td>Първите видими цветни венчелистчета</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Край на изкласяване и изметляване</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td></td>
                    <td>Първите цветчета отворени (спорадично)</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td></td>
                    <td>Начало на цъфтеж 10% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td></td>
                    <td>30% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td></td>
                    <td>Пълен цъфтеж - 50% от цветовете са отворени, първите 	венчелистчета може да опадват</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td></td>
                    <td>Цъфтежа приключва: по-голямата част от венчелистчетата са опадали или изсъхнали</td>
                  </tr>
                  <tr>
                    <td>68</td>
                    <td></td>
                    <td>Край на цъфтежа: видим завръз на плодове</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 7: Развитие на плодовете</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td></td>
                    <td>Начало на развитие на плодовете</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>G</td>
                    <td>Воднисто съдържание на зърната</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td></td>
                    <td>Почти всички плодове са достигнали нормално финалната си размери за вида и района</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 8: Узряване на плодовете и семената</td>
                  </tr>
                  <tr>
                    <td>80</td>
                    <td></td>
                    <td>Начало на узряване или оцветяване на плодовете</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td></td>
                    <td>Пълна зрялост</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="3">Главна фаза на растеж 9: Стареене, начало на покой</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td></td>
                    <td>Край на опадването на листата, растенията или надземните части умират или изпадат в покой</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>P,V</td>
                    <td>Растенията преминават в покой</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->

    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-3 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
    
</div>
