<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ЕЧЕМИК</h2>
<mat-tab-group class="demo-tab-group">
  <mat-tab >
    <ng-template mat-tab-label>
        <span class="my-tab-label">ЗИМЕН</span>
    </ng-template>
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_pest">
                    <!-- <td colspan="3" ><span class="latin_name">ВРЕДИТЕЛИ</span></td> -->
                    <td colspan="3" >ВРЕДИТЕЛИ</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТЕН АКАР <span class="latin_name">Penthaleus major</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>подвижни форми</td>
                    <td>
                        20-30 бр./растение или 10% от<br/> 
                        растенията с изменена окраска
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ИВИЧЕСТИ ЖИТНИ ЦИКАДИ <span class="latin_name">Psammotettix spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване-братене (есен)</td>
                    <td>възрастни</td>
                    <td>20-30 бр./кв.м</td>
                </tr>
                <tr>
                    <td rowspan="2">млечна зрялост</td>
                    <td>възрастни</td>
                    <td>40-50 бр./кв.м</td>
                </tr>
                <tr>
                    <td>ларви</td>
                    <td>100 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване-братене (есен)</td>
                    <td rowspan="3">ларви, нимфи, възрастни</td>
                    <td>10% нападнати растения или 10 бр./растение</td>
                </tr>
                <tr>
                    <td>вретенене-изкласяване</td>
                    <td>15% нападнати растения или 10 бр./клас</td>
                </tr>
                <tr>
                    <td>начало на млечна зрялост</td>
                    <td>15% нападнати растения или 30-40 бр./клас</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ВРЕДНА ЖИТНА ДЪРВЕНИЦА <span class="latin_name">Eurygaster integriceps</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">вретенене</td>
                    <td rowspan="2">
                        възрастни съотношение<br/> 
                        мъжки♂:женски♀ 1:1
                    </td>
                    <td>4 бр./кв.м - нормална гъстота на посева</td>
                </tr>
                <tr>
                    <td>6 бр./кв.м - хладна пролет и гъсти посеви</td>
                </tr>
                <tr>
                    <td rowspan="2">млечна зрялост</td>
                    <td rowspan="2">ларви-30% в ІІІ-та възраст</td>
                    <td>2 бр./кв.м. - нормална гъстота на посева</td>
                </tr>
                <tr>
                    <td>4 бр./кв.м - хладна пролет и гъсти посеви</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ПШЕНИЧЕН ТРИПС <span class="latin_name">Haplothrips tritici</span>
                    </td>
                </tr>
                <tr>
                    <td>вретенене</td>
                    <td>възрастни</td>
                    <td>15 бр./стъбло</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕН ЖИТЕН БЕГАЧ <span class="latin_name">Zabrus tenebrioides</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">поникване - братене</td>
                    <td rowspan="2">ларви</td>
                    <td>
                        есен - 3 бр./кв.м или 3 бр.
                        повредени растения /кв.м.
                    </td>
                </tr>
                <tr>
                    <td>
                        пролет - 5 бр./кв.м или 5 бр.
                        повредени растения /кв.м
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТАРИ <span class="latin_name">Anisoplia spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>цъфтеж - наливане на зърното</td>
                    <td rowspan="2">възрастни</td>
                    <td>3-5 бр./кв.м</td>
                </tr>
                <tr>
                    <td>млечна и восъчна зрялост</td>
                    <td>6-8 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                    </td>
                </tr>
                <tr>
                    <td>преди сеитба</td>
                    <td>ларви</td>
                    <td>10-12 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕНА ЖИТНА ПИЯВИЦА <span class="latin_name">Oulema melanopus</span><br/>
                        СИНЯ ЖИТНА ПИЯВИЦА <span class="latin_name">Oulema gallaeciana (Syn.:Oulema lichenis)</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">вретенене</td>
                    <td rowspan="2">възрастни</td>
                    <td>30 бр./кв.м – редки посеви и суха пролет</td>
                </tr>
                <tr>
                    <td>50 бр./кв.м – гъсти посеви и хладна пролет</td>
                </tr>
                <tr>
                    <td>изкласяване - цъфтеж</td>
                    <td>ларви</td>
                    <td>1бр./флагов лист или 20% унищожена листна маса</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ СТЪБЛЕНИ БЪЛХИ <span class="latin_name">Chaetocnema hortensis, Ch. аridula</span>
                    </td>
                </tr>
                <tr>
                    <td>край на братене - вретенене</td>
                    <td>възрастни</td>
                    <td>2-3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНА ЛИСТОЗАВИВАЧКА <span class="latin_name">Cnephasia pasiuana</span>
                    </td>
                </tr>
                <tr>
                    <td>братене - вретенене</td>
                    <td>гъсеници</td>
                    <td>50 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЗИМНА НОЩЕНКА <span class="latin_name">Scotia (Agrotis) segetum</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>гъсеници</td>
                    <td>2-3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ СТЪБЛЕНИ ОСИ <span class="latin_name">Cephus pygmaeus, Trachelus tabidus</span>
                    </td>
                </tr>
                <tr>
                    <td>изкласяване</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ ЛИСТНИ ОСИ <span class="latin_name">Dolerus spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>изкласяване</td>
                    <td>лъжегъсеници</td>
                    <td>20% унищожена листна маса</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ХЕСЕНСКА МУХА <span class="latin_name">Mayetiola destructor</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЧЕРВЕНО ЖИТНО КОМАРЧЕ <span class="latin_name">Haplodiplosis equestris</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">вретенене - изкласяване</td>
                    <td>възрастни</td>
                    <td>5 бр./кв.м</td>
                </tr>
                <tr>
                    <td>яйчни групички</td>
                    <td>1 бр./стъбло</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ШВЕДСКИ МУХИ <span class="latin_name">Oscinella spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td rowspan="2">възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr>
                    <td>вретенене</td>
                    <td>6 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНА СТЪБЛЕНА МУХА <span class="latin_name">Chlorops pumilionis</span>
                    </td>
                </tr>
                <tr>
                    <td>братене</td>
                    <td rowspan="2">възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr>
                    <td>изкласяване</td>
                    <td>6 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЕЧЕМИЧЕНА МУХА <span class="latin_name">Lasiosina cinctipes</span>
                    </td>
                </tr>
                <tr>
                    <td>вретенене - изкласяване</td>
                    <td>възрастни</td>
                    <td>2 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ МУХИ <span class="latin_name">всички видове</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>възрастни</td>
                    <td>3-4 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕНА ПОЛЕВКА <span class="latin_name">Microtus arvalis</span>
                    </td>
                </tr>
                <tr>
                    <td>есен</td>
                    <td rowspan="2">активни колонии</td>
                    <td>2 бр./дка</td>
                </tr>
                <tr>
                    <td>пролет</td>
                    <td>1 бр./дка</td>
                </tr>
                <!-- БОЛЕСТИ -->
                <tr class="tr_pest">
                    <!-- <td colspan="3" ><span class="latin_name">БОЛЕСТИ</span></td> -->
                    <td colspan="3" >БОЛЕСТИ</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        БРАШНЕСТА МАНА <span class="latin_name">Erysiphe graminis</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td rowspan="2">пустули</td>
                    <td>10% нападната л. маса</td>
                </tr>
                <tr>
                    <td>поява на флагелния лист- цъфтеж</td>
                    <td>10% нападната листна маса под флагов лист</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        КАФЯВА РЪЖДА <span class="latin_name">Puccinia recondita</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td rowspan="2">сори</td>
                    <td>5% нападната листна маса</td>
                </tr>
                <tr>
                    <td>поява на флагелния лист- цъфтеж</td>
                    <td>5% нападната листна маса под флагов лист</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        БАЗИЧНО ГНИЕНЕ <span class="latin_name">(Rhizoctonia spp., Tapesia spp., Fusarium spp., Drechslera spp.)</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td>конидиоспори</td>
                    <td>15% нападнати стъбла</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        МРЕЖЕСТИ ПЕТНА <span class="latin_name">Drechslera teres</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td>конидии</td>
                    <td>5% нападната листна маса</td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-tab>
  <mat-tab >
    <ng-template mat-tab-label>
        <span class="my-tab-label">ПРОЛЕТЕН</span>
    </ng-template>
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_pest">
                    <!-- <td colspan="3" ><span class="latin_name">ВРЕДИТЕЛИ</span></td> -->
                    <td colspan="3" >ВРЕДИТЕЛИ</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ИВИЧЕСТИ ЖИТНИ ЦИКАДИ <span class="latin_name">Psammotettix spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване-братене (есен)</td>
                    <td>възрастни</td>
                    <td>20-30 бр./кв.м</td>
                </tr>
                <tr>
                    <td rowspan="2">млечна зрялост</td>
                    <td>възрастни</td>
                    <td>40-50 бр./кв.м</td>
                </tr>
                <tr>
                    <td>ларви</td>
                    <td>100 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ВРЕДНА ЖИТНА ДЪРВЕНИЦА <span class="latin_name">Eurygaster integriceps</span>
                    </td>
                </tr>
                <tr>
                    <td>братена-вретенене</td>
                    <td>
                        възрастни съотношение<br/>
                        мъжки♂:женски♀ 1:1
                    </td>
                    <td>2-4 бр./кв.м</td>
                </tr>
                <tr>
                    <td>млечна зрялост</td>
                    <td>ларви-30% в ІІІ-та възраст</td>
                    <td>
                        2-4 бр./кв.м - благоприятни климатични<br/> 
                        условия и нормален посев
                    </td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ПШЕНИЧЕН ТРИПС <span class="latin_name">Haplothrips tritici</span>
                    </td>
                </tr>
                <tr>
                    <td>вретенене</td>
                    <td>възрастни</td>
                    <td>10 бр./стъбло</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕН ЖИТЕН БЕГАЧ <span class="latin_name">Zabrus tenebrioides</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване - братене</td>
                    <td>ларви</td>
                    <td>3 бр./кв.м или 3 бр. повредени растения/кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТАРИ <span class="latin_name">Anisoplia spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>цъфтеж - наливане на зърното</td>
                    <td rowspan="2">възрастни</td>
                    <td>3-5 бр./кв.м</td>
                </tr>
                <tr>
                    <td>млечна и восъчна зрялост</td>
                    <td>6-8 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                    </td>
                </tr>
                <tr>
                    <td>преди сеитба</td>
                    <td>ларви</td>
                    <td>10-12 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕНА ЖИТНА ПИЯВИЦА <span class="latin_name">Oulema melanopus</span><br/>
                        СИНЯ ЖИТНА ПИЯВИЦА <span class="latin_name">Oulema gallaeciana (Syn.:Oulema lichenis)</span>
                    </td>
                </tr>
                <tr>
                    <td>поникване-братене</td>
                    <td>възрастни</td>
                    <td>10-15 бр./кв.м.</td>
                </tr>
                <tr>
                    <td>изкласяване - цъфтеж</td>
                    <td>ларви</td>
                    <td>1 бр./флагов лист или 20% унищожена листна маса</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ИВИЧЕСТА ЖИТНА БЪЛХА <span class="latin_name">Phyllotreta vittula</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">поникване-нач. на братене</td>
                    <td rowspan="2">възрастни</td>
                    <td>300-400 бр./кв.м суха пролет</td>
                </tr>
                <tr>
                    <td>500-600 бр./кв.м влажна пролет</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ СТЪБЛЕНИ БЪЛХИ <span class="latin_name">Chaetocnema hortensis, Ch. аridula</span>
                    </td>
                </tr>
                <tr>
                    <td>братене</td>
                    <td>възрастни</td>
                    <td>2 бр./ кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНИ СТЪБЛЕНИ ОСИ <span class="latin_name">Cephus pygmaeus, Trachelus tabidus</span>
                    </td>
                </tr>
                <tr>
                    <td>изкласяване</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ХЕСЕНСКА МУХА <span class="latin_name">Mayetiola destructor</span>
                    </td>
                </tr>
                <tr>
                    <td>братене</td>
                    <td>възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЧЕРВЕНО ЖИТНО КОМАРЧЕ <span class="latin_name">Haplodiplosis equestris</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">вретенене - изкласяване</td>
                    <td>възрастни</td>
                    <td>5 бр./кв.м</td>
                </tr>
                <tr>
                    <td>яйчни групички</td>
                    <td>1 бр./стъбло</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ШВЕДСКИ МУХИ <span class="latin_name">Oscinella frit</span>
                    </td>
                </tr>
                <tr>
                    <td>братене</td>
                    <td rowspan="2">възрастни</td>
                    <td>3 бр./кв.м</td>
                </tr>
                <tr>
                    <td>изкласяване</td>
                    <td>6 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЖИТНА КЛАСОВА МУХА <span class="latin_name">Meromyza nigriventris</span>
                    </td>
                </tr>
                <tr>
                    <td>вретенене -изкласяване</td>
                    <td>възрастни</td>
                    <td>2 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЕЧЕМИЧЕНИ МУХИ <span class="latin_name">Lasiosina cinctipes</span>
                    </td>
                </tr>
                <tr>
                    <td>вретенене</td>
                    <td>възрастни</td>
                    <td>2 бр./кв.м</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ОБИКНОВЕНА ПОЛЕВКА <span class="latin_name">Microtus arvalis</span>
                    </td>
                </tr>
                <tr>
                    <td>пролет</td>
                    <td>активни колонии</td>
                    <td>1 бр./дка</td>
                </tr>
                <!-- БОЛЕСТИ -->
                <tr class="tr_pest">
                    <!-- <td colspan="3" ><span class="latin_name">БОЛЕСТИ</span></td> -->
                    <td colspan="3" >БОЛЕСТИ</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        БРАШНЕСТА МАНА <span class="latin_name">Erysiphe graminis</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td rowspan="2">пустули</td>
                    <td>10% нападната листна маса</td>
                </tr>
                <tr>
                    <td>поява на флагелния лист- цъфтеж</td>
                    <td>10% нападната листна маса под флагов лист</td>
                </tr>
                <tr class="tr_name">
                    <td colspan="3" >
                        МРЕЖЕСТИ ПЕТНА <span class="latin_name">Drechslera teres</span>
                    </td>
                </tr>
                <tr>
                    <td>1-ви – 2-ри възел</td>
                    <td>конидии</td>
                    <td>5% нападната листна маса</td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-tab>
</mat-tab-group>
