<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЕДНОГОДИШНИ И МНОГОГОДИШНИ БОБОВИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1>ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ЛЮЦЕРНА</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/026(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/25(1)</p>
    </div>
    <div class="row">
        <div  id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д.с.н Невена Богоцевска<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Иван Киряков<br/>
                ст.н.с.II ст. д-р Евдокия Станева<br/>
                ст.н.с.II ст. д-р Спаска Симова<br/>
                ст.н.с.II ст. д-р Цветанка Димитрова<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ<br/>
                Антон Величков – НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ЛЮЦЕРНА*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при люцерна.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Люцерната е едно от най-старите културни фуражни растения, познати на човека. По значение като фуражно растение
                тя стои на първо място между многогодишните бобови култури. Зелената маса или сеното на люцерната са извънредно
                ценна храна за всички селскостопански животни. По съдържание на хранителни вещества и особено на белтъчини
                тя заема едно от първите места между всички бобови и житни фуражни растения.
            </p>
            <p >
                Семената поникват при температура 1°С. Младите току-що поникнали растения издържат на температура до -5°С,
                а добре вкоренените многогодишни растения и държат до -20°С, а при дебела снежна покривка и до -40°С.
                Люцерната издържа и на високи температури, но над 40°С спира образуването на нови пъпки. Благодарение на
                дълбоката си коренова система тя може да се снабдява с вода и от по-долните пластове на почвата и не загива
                в най-сушави години. Люцерната вирее почти във всички почви, стига да са достатъчно дълбоки и да съдържат
                известни минимални количества вар. Преди сеитба площите да се наторят с фосфорни, калиеви и азотни торове.
                Засяването на люцерната се извършва през пролетта или есента. Най-подходящо време за пролетна сеитба в
                Северна и Югозападна България е началото до средата на март, а за южните райони - началото на март. Оптимално
                време за есенна сеитба е средата на септември до началото на октомври. Добрата растителнозащитна практика
                изисква основната обработка на почвата в зависимост от срока на сеитбата, да се извършва наесен или напролет с
                лед прибиране на предкултурата. Тя включва плитка обработка за унищожаване на растителните остатъци,
                подравняване и оран. Есенната оран се извършва на дълбочина 28-30 cm, а пролетната на 19-21 cm. ДРЗП налага
                осигуряване на пространствена изолация на посевите най-малко от 0,5 до 1 km от едногодишните бобови култури,
                използване на здрави, с добра кълняемост семена за посев, по-ранна сеитба, подходящ предшественик - най-подходящи
                са зърнено-житни култури. Стратегиите за борба са в зависимост от наличните вредители в ценозата на люцерната
                и включват различни комбинации с други култури в сеитбообръщения, използване на толерантни до устойчиви
                сортове, хербицидни третирания, третиране на семената с фунгицидни продукти за растителна защита по подходящи
                методи, вегетационни третирания срещу неприятелите при достигане икономическите прагове на вредност.
            </p>
            <p >
                В ДРЗП трябва да се използва подходяща техника, като се намали изтичането на продукти за растителна защита
                и нежелателното им разсейване. За предотвратяване появата на резистентност да се избягва повторна употреба
                на продукти за растителна защита с еднакъв механизъм на действие.
            </p>
            <p >
                ДРЗП, препоръчвана от ЕРРО, изисква използването само на активни вещества, регистрирани в съответната страна
                за даден вредител.
            </p>
            <p >
                Люцерната се напада от голям брой гъбни, бактерийни, вирусни болести и от редица неприятели, но в зависимост
                от почвено-климатичните и производствени условия не всички имат икономическо значение.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/3-bobovi-prilojenie.pdf"
                >
                    * Виж приложение 2
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <!-- -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители по люцерната в България са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pseudopeziza-medicaginis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черни петна - <span class="latin_name">Pseudopeziza medicaginis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudopeziza-jonessi" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Жълти листни петна - <span class="latin_name">Pseudopeziza jonessi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ascochyta-imperfecta" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Аскохитоза - <span class="latin_name">Ascochyta imperfecta</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f.sp medicaginis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#helicobasidium-purpureum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Виолетово кореново гниене - <span class="latin_name">Helicobasidium purpureum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#clavibacter-michiganensis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Бактерийно увяхване - <span class="latin_name">Clavibacter michiganensis subsp. Insidiosus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alfalfa-mosaic" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Люцернова мозайка - <span class="latin_name">Alfalfa mosaic alfamovirus</span> - AlMV
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytonomus-variabilis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Малък люцернов хоботник - <span class="latin_name">Phytonomus variabilis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytonomus-punctatus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Голям люцернов хоботник - <span class="latin_name">Phytonomus punctatus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sitona" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Хоботници <span class="latin_name">Sitona humeralis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sitona" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Хоботници <span class="latin_name">Sitona longulus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytodecta-fornicata" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Люцернов листояд - <span class="latin_name">Phytodecta fornicata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#subcoccinella" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Двадесет и четири-точкова калинка - <span class="latin_name">Subcoccinella vigintiquatuorpunctata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#acyrthosiphon-pisi" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Грахова листна въшка – <span class="latin_name">Acyrthosiphon pisi</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#therioaphis-maculata" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Петниста люцернова листна въшка – <span class="latin_name">Therioaphis maculata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis-cracivora" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Люцернова листна въшка - <span class="latin_name">Aphis cracivora</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gonospileia-glyphica" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Люцернова кафява нощенка - <span class="latin_name">Gonospileia (Euclidia) glyphica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#chloridea-maritima" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Люцернова нощенка - <span class="latin_name">Chloridea maritima</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>By AfroBrazilian - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=26370508</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>Von Richard Bartz, Munich aka Makro Freak - Eigenes Werk, CC BY-SA 2.5, https://commons.wikimedia.org/w/index.php?curid=2632369</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Hectonichus - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=12838865</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Kurt Kulac - Собствена творба, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=714584</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>Por Shipher Wu (photograph) and Gee-way Lin (aphid provision), National Taiwan University - PLoS Biology, February 2010 direct link to the image description, CC BY 2.5, https://commons.wikimedia.org/w/index.php?curid=9590073</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>By David Perez - Own work, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=19193899</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By Dumi - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=9873201</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209875</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=218762</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>By Bidgee - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=9792633</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
