<mat-dialog-content>
  <h3 class="my-dialog-title">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНОСТ</h3>
  <p>
    <span class="bold">"Праг на икономическа вредност"</span> е такова количество от определен вид неприятел, причинител
    на болест или плевел средно на единица площ, при което повредите от него, изразени
    стойностно, надвишават двойните разходи, необходими за провеждане на химична борба.
  </p>
  <p>
    Към химична борба се пристъпва само в случаите, когато естествените регулатори – ентомофаги,
    акарофаги, ентомопатогенни микроорганизми и др., не са в състояние да регулират плътността
    на основните вредители, а лимитиращите (абиотични) фактори, в конкретния район, са
    благоприятни за развитието им. Принципът допуска намножаване на вредителите, до определено
    равнище, наречено праг на икономическа вредност и е известен като “метод на замърсеното поле”.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Затвори</button>
</mat-dialog-actions>
