<mat-drawer-container class="example-container">
  <mat-drawer #sidenav [mode]="mode" [opened]="!openedQuery.matches">
    <prz-side-menu (navClose)="sidenav.close()"></prz-side-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="example-header">
      <button mat-raised-button color="primary" (click)="sidenav.toggle()">МЕНЮ</button>
    </mat-card>
    <article>
      <h1>ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ИКОНОМИЧЕСКИ ВАЖНИТЕ ВРЕДИТЕЛИ ПО ЗЕМЕДЕЛСКИТЕ КУЛТУРИ</h1>
      <mat-card>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>

      <br><br>
      <div class="row">
        <div class="button-wrap">
          <a mat-button color="primary" matTooltip="Подробно за ПИВ" (click)="openDialog()">
            <span class="btn-text">Какво е Праг на Икономическа Вредност?</span>
            <span class="btn-text-small">Какво е ПИВ?</span>
            <mat-icon aria-label="Информация за ПИВ">&#xE88F;</mat-icon>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="panel-body">
          <h3>
            Праговете на икономическа вредност за икономически важните вредители по земеделските култури са разработени
            от работна група в състав:
          </h3>
          <p>
            1. Проф. д-р Радослав Андреев, Аграрен университет, гр. Пловдив;<br />
            2. Проф. д-р Оля Караджова, ИПАЗР „Никола Пушкаров”, гр. София;<br />
            3. Проф. д-р Иван Киряков, Добруджански земеделски институт, гр. Генерал Тошево;<br />
            4. Проф. д-р Румен Томов, Лесотехнически университет, гр. София;<br />
            5. Проф. д-р Стойка Машева - Институт по зеленчукови култури „Марица”, гр. Пловдив;<br />
            6. Доц. д-р Евдокия Станева, ИПАЗР „Никола Пушкаров”, гр. София;<br />
            7. Доц. д-р Винелина Янкова-Михайлова, Институт по зеленчукови култури „Марица”, гр. Пловдив;<br />
            8. Доц. д-р Елена Цолова, Институт по земеделие, гр. Кюстендил;<br />
            9. Доц. Д-р Ценко Въчев, ИПАЗР „Никола Пушкаров”, гр. София;<br />
            10. Доц. д-р Анелия Борисова-Крумова, Институт по земеделие, гр. Кюстендил;<br />
            11. Доц. д-р Димитрина Костова-Протохристова, Институт по зеленчукови култури „Марица”, гр. Пловдив;<br />
            12. Доц. д-р Антоний Стоев, ИПАЗР „Никола Пушкаров”, гр. София;<br />
            13. Доц. д-р Николай Петров, Лесотехнически университет, гр. София;<br />
            14. Гл. ас. д-р Мария Витанова, Аграрен университет, гр. Пловдив;<br />
            15. Гл. ас. д-р Вилина Петрова, Институт по земеделие, гр. Кюстендил;<br />
            16. Иванка Иванова, Централна лаборатория по карантина на растенията, БАБХ;<br />
            17. Милена Шулева, ОДБХ Кюстендил;<br />
            18. Антон Величков, БАБХ;<br />
            19. София Стаменова, БАБХ;<br />
            20. Снежана Проданова, БАБХ;<br />
            21. Татяна Величкова, БАБХ;<br />
            22. Таня Динова, БАБХ.
          </p>
          <p class="bold">СОФИЯ, 2017 ГОДИНА</p>
        </div>
      </div>
    </article>
  </mat-drawer-content>
</mat-drawer-container>
