<mat-dialog-content>
    <div class="dialog-header">
        <h2 *ngIf="data.product.moreNames === null">{{ data.product.name }}</h2>
        <h2 *ngIf="data.product.moreNames !== null">{{ data.product.name }} / {{ data.product.moreNames }}</h2>
        <br>
        <h3 class="firm-name">{{ data.product.firmName }} </h3>
    </div>
    <mat-card class="example-card card-top">
        <mat-card-content>
            <p>
                <span class="bold">Активно Вещество:</span> {{ data.product.substance }}
            </p>
            <p *ngIf="data.product.category === '1'">
                <span class="bold">Категория на Употреба:</span> Първа Професионална
            </p>

            <p *ngIf="data.product.category === '2'">
                <span class="bold">Категория на Употреба:</span> Втора Професионална
            </p>
            <p *ngIf="data.product.category === '3'">
                <span class="bold">Категория на Употреба:</span> Непрофесионална
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-content>
            <p class="bold">{{ data.data.crop }}</p>
            <span class="bold note afterNote" *ngIf="data.data.note !== undefined">{{ data.data.note }}</span>
            <p class="against">Срещу: </p>
            <span class="td_span" [innerHTML]="data.data.disease | safeHtml"></span><br />
            <span class="bold afterNote" *ngIf="data.data.afterNote !== undefined"
                [innerHTML]="data.data.afterNote | safeHtml"></span>
            <hr>
            <p class="p_dose">
                <span class="bold">Доза:</span>
                {{ data.data.dose }} {{ data.data.measure }} {{data.data.secondDose}}
                <span class="bold" *ngIf="data.data.doseNote !== undefined">{{ data.data.doseNote }}</span>
                <!-- <span class="bold" *ngIf="data.data.doseNote !== undefined" [innerHTML]="data.data.doseNote | safeHtml"></span> -->
            </p>
            <hr>
            <p><span class="bold">Карантинен период (дни):</span> {{ data.data.quarantine }}</p>

            <hr *ngIf="data.data.application !== undefined">
            <span class="bold" *ngIf="data.data.application !== undefined">Употреба:</span>
            <p *ngIf="data.data.application !== undefined" [innerHTML]="data.data.application | safeHtml">
            </p>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Затвори</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" matTooltip="Подробно за Продукта!"
        (click)="onClickNavigate(data.product.id, data.link)">{{ data.product.name }}
    </button>
</mat-dialog-actions>