table {
  width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
    min-height: 800px;
    .row-header{
        h1 {
            font-size: 1.5em;
            color: #008000;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }
}
/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
}
.example-header {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.mat-form-field {
    font-size: 14px;
}

.example-table {
    overflow: auto;
    min-height: 300px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.my-header-row > * {
  background-color: rgb(110, 110, 110);
  color: white !important;
}

.my-in-table {
  width: 100%;
  min-height: 60px;
  .pesticide_type {
    width: 10%;
  }
  tr {
    td {
      text-align: left;
      padding: 5px 0 5px 5px;
      border: 1px solid rgb(175, 175, 175);
      a {
        text-decoration: none;
      }
    }
  }
}

.mat-row:nth-child(2n+1){
  background: #f1f8e9;
}
.mat-row:nth-child(2n){
  background-color: #dcedc8;
}

.odd{
  background-color: #f1f8e9;
}
.even{
  background-color: #dcedc8;
}

::ng-deep .mat-sort-header-arrow {
   color: white;
}

.moreDetails {
  justify-content: center;
  .more-info-button {
    margin-top: 3px;
    background-color: white;
    .material-icons {
      color: #315807;
    }
  }
}
.mat-column-name {
  max-width: 20%;
  padding-right: 10px;
}




@media (min-width: 1201px) {}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1200px) {}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 767px) {
  .mat-column-moreDetails {
    display: none;
  }

  #small-h1 {
    display: none;
  }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 451px) and (max-width: 767px) {
  .mat-column-moreDetails {
    display: none;
  }

  .mat-column-products {
    display: inline-flex;
    .pesticide_type {
      display: none;
    }
  }

  .mat-column-name {
    max-width: 25%;
    padding-right: 10px;
  }

  #small-h1 {
    display: none;
  }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media  (min-width: 325px) and (max-width: 450px) {
  .mat-column-moreDetails {
    display: block;
    max-width: 20%;
    text-align: center;
    padding-right: 10px;
  }

  .mat-column-products {
    display: none;
  }

  .mat-column-name {
    max-width: initial;
    padding-right: 10px;
  }

  #big-h1 {
    display: none;
  }
}

@media (min-width: 317px) and  (max-width: 324px){
  .mat-column-moreDetails {
    display: block;
    max-width: 20%;
    text-align: center;
    padding-right: 10px;
  }

  .mat-column-products {
    display: none;
  }

  .mat-column-name {
    max-width: initial;
    padding-right: 10px;
  }
  #big-h1 {
    display: none;
  }
}

@media (max-width: 316px){
  .mat-column-moreDetails {
    display: block;
    max-width: 20%;
    text-align: center;
    padding-right: 10px;
  }

  .mat-column-products {
    display: none;
  }

  .mat-column-name {
    max-width: initial;
    padding-right: 10px;
  }
  #big-h1 {
    display: none;
  }
}
