<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >БАКЛА</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Weber and Bleiholder, 1990; Lancashire et al., 1991</p>
            <p>
                Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при баклата
                (<span class="italic">Faba faba L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Пълно набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>От семето пониква първичното коренче</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>От семето пониква стръкче (видим кълн)</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Нарастване на пониците</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: кълнът излиза на повърхността на почвата</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Видими са чифт котиледони</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Разлистен първи лист</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Разлистени 2 листа</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Разлистени 3 листа</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Разлистването продължава..</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Разлистени 9 или повече листа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Обарзуване на странични разклонения</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Няма странични разклонения</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Начало на развитие на страничните разклонения: забележими първо разклонение</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Забележими 2 странични разклонения</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Забележими 3 странични разклонения</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Образуването на странични разклонения продължава..</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Край на образуването на странични разклонения: видими са 9 или повече странични разклонения</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Едно видимо удължено междувъзлие<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>2 видимо удължени междувъзлия</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>3 видимо удължени междувъзлия</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Продължава увеличаване броя на видимо удължените междувъзлия..</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>9 или повече видимо удължени междувъзлия</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Цветообразуване</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>Поява на цветни пъпки, все още скрити от листата</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Видими първи цветни пъпки извън листата</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Първите единични цветни пъпки се виждат под листата, но още са затворени</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>	Виждат се първите венчелистчета, много единични цветни пъпки все още затворени</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <span><sup>1</sup> Стъблото може да се удължи преди фаза 19; в този случай продължава с главна фаза 3</span><br/>
                          <span><sup>2</sup> Първото междувъзлие се удължава от възела на котиледоните до възела на първия същински лист</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Разтворени първи цветове</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Разтворени цветове на първото съцветие</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>Разтворени цветове на 3 съцветия на растение</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Масов цъфтеж: разтворени цветове на 5 съцветия на растение</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Опадане на цветовете</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Плодообразуване</td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>Първите бобове са достигнали крайна дължина (“плосък боб”)</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>10% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>20% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>30% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>40% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>50% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>60% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>70% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>78</td>
                        <td>80% от бобовете са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Почти всички бобове са достигнали крайна дължина</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Зреене</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>Начало на зреенето: семето е зелено, запълване на вътрешността на боба</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>10% от бобовете са узрели, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>20% от бобовете са узрели, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>30% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>40% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>50% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>60% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>70% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>80% от бобовете са узрели и тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрелост: почти всички бобове са тъмни, семената са сухи и твърди</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>Стъблата започват да потъмняват</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>50% от стъблата са кафяви или черни</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растението умира и изсъхва</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибиране на реколтата</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
