.image-content-1 {
    content:url('../../../../../assets/phases/beans/faba.jpg');
}


@media (max-width: 320px) {
    .image-content-1 {
        content:url('../../../../../assets/phases/beans/faba_320px.jpg');
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .image-content-1 {
        content:url('../../../../../assets/phases/beans/faba_481px.jpg');
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .image-content-1 {
        content:url('../../../../../assets/phases/beans/faba_768px.jpg');
    }
}