.image-content-1 {
    content:url('../../../../../assets/phases/strawberry/currants.jpg');
}

@media (max-width: 320px) {
    .image-content-1 {
        content:url('../../../../../assets/phases/strawberry/currants_320px.jpg');
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .image-content-1 {
        content:url('../../../../../assets/phases/strawberry/currants_481px.jpg');
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .image-content-1 {
        content:url('../../../../../assets/phases/strawberry/currants_768px.jpg');
    }
}