<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЧЕРНО И ЧЕРВЕНО ФРЕНСКО ГРОЗДЕ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Meier et al., 1994</p>
          <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при 
              черно френско грозде (<span class="italic">Ribes nigrum</span> L.) и 
              червено френско грозде (<span class="italic">R. rubrum</span> L.) 
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Напъпване/Развитие на пъпките</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Покой. Листните пъпки и дебелите цветни пъпки са затворени и покрити с тъмни люспи</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на събуждането (набъбване) на пъпките. Техните люспи се удължават</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Край на събуждането (набъбването) на пъпките: краищата на люспите са оцветени светло</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Начало на разпукване на пъпките: виждат се първите зелени или червени листни връхчета</td>
                  </tr>
                  <tr>
                    <td>08</td>
                    <td>Листните връхчета се показват през люспите </td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Листните връхчета се издигат над люспите, някои от листата отделени</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Първи разгънати листа (има и неразгънати)</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>Масово разгъване на листата (не са достигнали окончателния си размер)</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Първи листа с напълно развита петура</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Развитие на леторастите</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>Начало на развитие на леторастите: виждат се техните оси</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>Леторастите са достигнали около 20% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>Леторастите са достигнали около 30% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>3..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>Леторастите са достигнали около 90% от крайната си дължина</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Начало на цъфтежа</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>Цветните и листните пъпки набъбват, още са затворени, но се виждат светлокафяви люспи</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Разпукване на пъпките: люспите се отделят и се откриват зелени сектори</td>
                  </tr>
                  <tr>
                    <td>54</td>
                    <td>Над люспите се виждат зелени или червени листни връхчета</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Отваряне на първите цветни пъпки, около които има неразвити листа</td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>Начало на удължаването на гроздовидното съцветие (гроздче)</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Отделят се първите цветни пъпки на гроздчето</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>Фаза “Грозд”: отделени са всички цветни пъпки</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Първи отворени цветове</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: около 10% от пъпките са отворени</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Пълен цъфтеж: най-малко половината от пъпките цъфтят, окапват първите венчелистчета</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Увяхване на цветновете: окапали са повечето венчелистчета</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа: всички венчелистчета са окапали</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плодовете</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Начало на развитие на плодовете: виждат се първите плодове в основния грозд</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>20% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>30% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>40% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>50% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>60% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>70% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>80% от плодовете са формирани</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>90% от плодовете са формирани</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плодовете</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: поява на характерния за сорта цвят на плода</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Напреднало узряване: първите плодчета са узрели</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>Беритбена зрелост: повечето плодчета са узрели</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Плодчетата в основата на грозда капят лесно (начало на откъсване на плодовете)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене, навлизане в покой</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>Приключва растежа на леторастите, връхната пъпка е развита, листата са зелени</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Листата започват да жълтеят</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Започва листопадът</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>Половината листа са пожълтели или окапали</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Всички листа са окапали</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Продукцията е прибрана</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
</div>
