<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >КОРЕНОВИ И СТЪБЛЕНИ ЗЕЛЕНЧУЦИ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Feller et al., 1995 a</p>
          <p>
            Фенологични  фази на растеж и ВВСН-ключове за тяхната идентификация при коренови и стъблени зеленчуци: 
            морков (<span class="italic">Daucus carota</span> L. ssp.<span class="italic">sativus</span>); 
            целина (<span class="italic">Apium graveolens</span> L. var. <span class="italic">rapaceum</span> Gaud), 
            алабаш (<span class="italic">Brassica oleraceae</span> L. var. <span class="italic">gongylodes</span>), 
            цихория (<span class="italic">Cichorium intybus</span> var. <span class="italic">foliosum</span>), 
            ряпа (<span class="italic">Raphanus sativus</span> L.), 
            шведско цвекло-swede (<span class="italic">Brassica napus</span> L. ssp. <span class="italic">rapifera</span>), 
            scorzonera (<span class="italic">Scorzonera hispanica</span> L.)
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж О: Покълнване</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Сухо семе</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на набъбване на семето</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Пълно набъбване на семето</td>
                  </tr>
                  <tr>
                    <td>05</td>
                    <td>Поява на корена от семето</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Хипокотила с котиледоните пробиват обвивката на семето</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>Поникване: котиледоните пробиват повърхността на почвата</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата (централно стъбло)</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Котиледоните напълно разтворени; точката на нарастване или първи несъщински лист видими</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Разтворен първи същински лист</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Разтворен втори същински лист</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Разтворен трети същински лист</td>
                  </tr>
                  <tr>
                    <td>1..</td>
                    <td>Растежа продължава до ...</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>9 или повече същински листа разтворени</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Развитие на растителните части, които се използват</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>Корените започват да нарастват (диаметър > 0,5 см.)</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>20% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>30% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>44</td>
                    <td>40% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>50% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>46</td>
                    <td>60% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>47</td>
                    <td>70% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>48</td>
                    <td>80% от очаквания диаметър на корена е достигнат</td>
                  </tr>
                  <tr>
                    <td>49</td>
                    <td>Край на нарастването на корена: достигнати типичнате форма и размер</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза  на растеж 5: Поява на съцветие</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>Централното стъбло започва да нараства</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>30% от очакваната дължина на централното стъбло е достигната</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Видими първите цветчета на централното стъбло (още затворени)</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Видими първите цветчета на разклоненията (още затворени)</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>Видими първите цветни листа (цветовете още затворени)</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Отворени първите цветове (спорадично)</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: 10% отворени цветчета</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>20% отворени цветчета</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>30% отворени цветчета</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>40% отворени цветчета</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Масов цъфтеж: 50% отворени цветчета</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Завършване на цъфтежа: голяма част от цветните листенца опадали или сухи</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Образуване на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Оформени първите плодове</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>20% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>30% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>40% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>50% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>60% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>70% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>80% от плодовете с типичен размер</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Всички плодове достигнали типичния размер</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плода и семето</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: 10% узрели плодове или 10% от семената с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>50% от плодовете узрели или 50% от семената с типичен цвят, сухи и твърди</td>
                  </tr>
                  <tr>
                    <td>98</td>
                    <td>Пълно узряване: семената на цялото растение са с типичен цвят и твърдост</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Приключване на развитието (стареене)</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Листата и стъблата започват да се обезцветяват</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>50% от листата пожълтели или изсъхнали</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Растенията или надземните части изсъхнали</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Прибиране на реколтата (семената)</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->

    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
    
</div>




