.example-header {
    padding-top: 3px;
    padding-bottom: 8px;
    padding-left: 0;
    margin-top: 5px;
}
.mat-drawer {
    width: 290px;
    padding-right: 8px;
}
.search-field {
    position: absolute;
    right: 0;
    top: -5px;
}
article {
    overflow: hidden;
}

@media (max-width: 481px) {
    .mat-drawer {
        width: initial;
        padding-right: 8px;
    }
 }