<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ НА ОТКРИТО</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ТИКВОВИ КУЛТУРИ</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/048(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/32(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с. I ст. д.с.н. Невена Богацевска<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                н.с.I ст. д-р Ваньо Иванов<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ТИКВОВИ КУЛТУРИ*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при тиквови култури (краставици, тиквички, тикви, дини, пъпеши)</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>
            <p >
                Ръководството за Добрата растителнозащитна практика при тиквовите култури, отглеждани на
                открито, представлява част от ЕСОРЗ - програмата за всички основни култури в ЕСОРЗ -
                региона. То е съобразено с ЕСОРЗ стандартите PP 2/1(2) - Общи принципи за добра
                растителнозащитна практика. Ръководството съдържа методи за борба с вредителите при
                пъпеши -<span class="latin_name">Cucumis melo</span>,
                дини -<span class="latin_name">Citrullus lanatus</span>,
                краставици -<span class="latin_name">Cucumis sativus</span>,
                тикви и тиквички -<span class="latin_name">Cucurbita pepo</span>.
            </p>
            <p >
                Културите от това семейство са предназначени за прясна консумация и за преработка.
                Плодовете на тиквовите култури са с относително ниска хранителна стойност, но съдържат
                голямо количество витамини и минерални вещества. Някои от тях съдържат висок процент
                захари, а други скорбяла. Семената на тиквовите култури са източник на мазнини и протеини.
                Те имат сравнително едри семена и се засаждат директно, но може да се използва и пикиран
                разсад. Практиките за отглеждане на тиквовите култури са различни в зависимост от мястото
                на отглеждане, подготовката на площите, системите за напояване, торене, директно засяване
                или използване на пикиран разсад. Трябва да се има предвид продължителността на
                вегетационния период, тъй като някои култури изискват 120-140 дни за развитието си.
                Тиквовите култури изискват топло и горещо време и изобилно напояване. Те са чувствителни
                към измръзване, но се различават значително по своята студоустойчивост. Виреят добре върху
                тежки и заблатени почви. В тези случаи се препоръчва да се отглеждат върху тирове. Те се
                развиват най-добре върху леки и отцедливи почви. Отглеждането върху тирове в повечето
                случаи изисква растенията да се поливат по-често. При условията на нашата страна ранното
                полско производство на разсад може да се извърши и в полиетиленови тунели. Когато
                растенията останат покрити до цъфтежа си, се предотвратява заразяването им с листни въшки,
                вектори на вируси.
            </p>
            <p >
                Мулчирането с полиетиленово фолио улеснява борбата с гъбните почвени патогени, нематоди и
                плевели, намалява изпарението на водата от почвата, ограничава измиването на хранителните
                вещества при силни дъждове и предотвратява контакта на плодовете с почвата, а оттам и
                загниването им. Някои тиквови култури се опрашват чрез насекоми. Пчелите са едни от
                най-ефикасните опрашители и при третиране с растителнозащитни продукти трябва да се вземат
                мерки за предпазването им.
            </p>
            <p >
                Растенията трябва да бъдат наблюдавани за първите появи и разпространението на вредителите.
                При отчитането им се вземат под внимание установените прагове на икономическа вредност.
                Толерантните или резистентни сортове трябва да бъдат използвани, когато е възможно.
                Засега биологичната борба с вредителите по тиквовите култури не се провежда на открито.
                Феромоните, лепливите уловки, растителни продукти за растителна защита и други нехимични
                методи са все още в процес на изследване.
            </p>
            <p >
                Плевелите могат да бъдат основен ограничаващ фактор за отглеждането на тиквовите култури.
                При силно заплевеляване се затруднява беритбата на плодовете. Бързият растеж на редица
                тиквови култури, като пъпеши, дини и тикви улеснява приложението на интегрирана борба с
                плевелите и ограничава нуждата от използването на хербициди.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/5-zelenchuci_otkrito-prilojenie.pdf"
                >
                    * Виж приложение 4
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при тиквовите култури са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#pseudoperonospora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана по тиквовите - <span class="latin_name">Pseudoperonospora cubensis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-cichoracearum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Erysiphe cichoracearum, Sphaerotheca fuliginea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#colletotrichum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза по тиквови - <span class="latin_name">Colletotrichum lagenarium</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#corynespora" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листен пригор по краставиците – <span class="latin_name">Corynespora melonis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cladosporium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Краста - <span class="latin_name">Cladosporium cucumerinum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pythium" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кореново и базично гниене на краставиците - <span class="latin_name">Pythium, Phytophthora; Rhizoctonia, Fusarium</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#fusarium-oxysporum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фузарийно увяхване - <span class="latin_name">Fusarium oxysporum f. sp. Cucurbitacearum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактериен пригор-ъгловати петна - <span class="latin_name">Pseudomonas syringae pv. lachrymans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на краставичната мозайка - <span class="latin_name">Cucumber mosaic cucumovirus virus </span>(CMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на зелената краставична мозайка - <span class="latin_name">Cucumber green mottle mosaic tobamovirus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на жълтата мозайка по тиквата - <span class="latin_name">Zuccini yellow mosaic potyvirus </span>(ZYMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на мозайката по динята - <span class="latin_name">Watermelon mosaic potyvirus </span>(WMV)
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#aphis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphis gossypii, Myzus persicae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Телени червеи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#agrotis" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Нощенки
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Тютюнев трипс - <span class="latin_name">Thrips tabaci</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Обикновен паяжинообразуващ акар - <span class="latin_name">Tetranychus urticae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Оранжерийна белокрилка - <span class="latin_name">Trialeurodes vaporariorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Галови нематоди
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#gryllotalpa-gryllotalpa" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Попово прасе - <span class="latin_name">Grillotalpa gryllotalpa</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Christian Hummert (Ixitixel) - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=4600566</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Pollinator at the English language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1293306</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>By Caroline Harding, MAF - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=16228320</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Frank Peairs, Colorado State University, Bugwood.org - This image is Image Number 5364132 at Invasive.org, a source for images of invasive and exotic species operated by The Bugwood Network at the University of Georgia and the USDA APHIS Plant Protection and Quarantine program., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11272182</span>
                    </p>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
