<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ХМЕЛ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">ХМЕЛ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ГОЛЯМ ЛЮЦЕРНОВ ХОБОТНИК <span class="latin_name">Donus zoilus</span>
                        </td>
                    </tr>
                    <tr>
                        <td>начало и края на вегетация</td>
                        <td>възрастни</td>
                        <td>5 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОНОПЕНА БЪЛХА <span class="latin_name">Psylliodes attenuata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>леторасти до 50 см</td>
                        <td rowspan="2">възрастни</td>
                        <td>7 бр./растение</td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>15 бр./растение</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ХМЕЛОВА ЛИСТНА ВЪШКА <span class="latin_name">Phorodon humuli</span>
                        </td>
                    </tr>
                    <tr>
                        <td>преди цъфтеж</td>
                        <td rowspan="2">ларви-възрастни</td>
                        <td>10-12 бр./лист</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>20-30 бр./лист</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>ларви-възрастни</td>
                        <td>15 бр./лист</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
