<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ЖИТНИ КУЛТУРИ СЪС СЛЯТА ПОВЪРХНОСТ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Witzenberger et al., 1989; Lancashire et al., 1991</p>
            <p>
                Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при житните 
                култури със слята повърхност 
                пшеница (<span class="italic">Triticum sp. L.</span>), 
                ечемик (<span class="italic">Hordeum vulgare L.</span>), 
                овес  (<span class="italic">Avena sativa L.</span>) 
                и ръж (<span class="italic">Secale cereale L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване на семето</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Пълно набъбване</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Поява на ембрионални коренчета</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Удължаване на ембрионалните коренчета, видими коренови власинки и (или) странични коренчета</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Поява на колеоптила</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: колеоптилът пробива почвената повърхност</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата <sup>1,2</sup></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Първи лист от колеоптила</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Разтворен първи лист</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>2 листа разтворени</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>3 листа разтворени</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Фазите продължават до…</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече разтворени листа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Братене <sup>3</sup></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Само главното стъбло</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Начало на братене: видим първи брат</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Забележими 2 братя </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Забележими 3 братя </td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Фазите продължават до…</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Край на братенето. Видими са максимален брой братя </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблото</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>Начало на удължаване на стъблото: псевдостъблото и братята са изправени, първото междувъзлие започва да се удължава, върха на конуса на класа е поне 1 сm над възела на братене</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Първият възел  е поне на 1 см над възела на братене</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Вторият възел е най-малко на  2 см над първия възел</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Третият възел е най-малко на 2 см над втория възел</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Фазите продължават до…</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>Флаговият лист едва видим, все още свит</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Фаза на флаговият лист: флаговият лист е напълно разтворен, лигулата е едва видима</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                            <span><sup>1</sup> Един лист е разтворен, когато е видима лигулата или е видим върха на следващия лист</span><br/>
                            <span><sup>2</sup> Братенето или удължаване на стъблото могат да настъпят по-рано отколкото фаза 13; в този случай продължете с фаза 21</span><br/>
                            <span><sup>3</sup> Ако удължаване на стъблото е започнало преди края на братенето продължете с фаза 30</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 4: Вретенене</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>Ранна фаза на вретенене: удължаване влагалището на флаговия лист</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>Средна фаза на вретенене: влагалището на флаговия лист е едва видимо подуто</td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>Късна фаза на вретенене: влагалището на флаговия лист е издуто</td>
                    </tr>
                    <tr>
                        <td>47</td>
                        <td>Влагалището на фаговия лист се отваря</td>
                    </tr>
                    <tr>
                        <td>49</td>
                        <td>Видими първи осили (само при осилестите форми)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Появя на класа, изкласяване</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Начало на изкласяване: върха на класа излиза от влагалището, видими първи класчета</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>20% от класа  отворен</td>
                    </tr>
                    <tr>
                        <td>53</td>
                        <td>30% от класа  отворен</td>
                    </tr>
                    <tr>
                        <td>54</td>
                        <td>40% от класа отворен</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Средата на изкласяването: половината от класа отворен</td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>60% от класа отворен</td>
                    </tr>
                    <tr>
                        <td>57</td>
                        <td>70% от класа отворен</td>
                    </tr>
                    <tr>
                        <td>58</td>
                        <td>80% от класа отворен</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Край на изкласяването: класът напълно се е показал от влагалището на флаговия лист</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж, образуване на прашеца</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтеж: видими първи прашници</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж: 50% от прашниците са зрели</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа: всички класчета са завършили цъфтежа, но някои  прашници без прашец могат да останат </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Воднисто съдържание на зърната: първите зърна са достигнали половината от окончателния си размер</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>Ранна млечна зрелост</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Средата на млечна зрелост: зърното е с млечно съдържание, зърната са достигнали окончателни си размер, все още зелени</td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>Късна млечна зрелост</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на 8: Узряване</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>Ранна восъчна зрелост</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Восъчна зрелост (меко тесто): съдържанието на зърното е меко, но сухо. Не остава отпечатък от нокътя на палеца</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Восъчна зрелост (твърдо тесто): съдържанието на зърното е твърдо. Остава отпечатък от нокътя на палеца</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Пълна зрелост: зърното е твърдо, трудно се разделя с нокътя на палеца</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на 9: Стареене</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>Презряване: зърното е много твърдо, не може да се чупи с нокът </td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>Зърната лесно се отделят</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Растенията умират и полягат</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибиране на реколтата</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->

    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
