<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ПАМУК</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Munger et al., 1998</p>
            <p>
              Фенологични фази на растеж и BBCH-ключове за тяхната идентификация при памук 
              (<span class="italic">Gossypium hirsutum L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Покълнване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Сухо семе</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Начало на набъбване</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Набъбването е завършено</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Коренчето се появява от семето</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Удължаване на коренчето</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Хипокотила със семеделните листа (котилидоните) пробиват през семенната обвивка</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Хипокотила със семеделните листа израстват към почвената повърхност</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: хипокотила с котилидоните пробиват почвената повърхност (фаза “кука” ) </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата (основно разклонение)</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Семеделните листа (котилидоните) напълно разтворени<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Първи същински лист разтворен<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Втори същински лист разтворен<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Трети  същински лист разтворен<sup>1</sup></td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Растежа продължава до ...</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 или повече същински листа разтворени1 (не се виждат странични разклонения)<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Формиране на странични разклонения<sup>3</sup></td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Първо вегетативно странично разклонение (2 ред) се вижда</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Второ вегетативно странично разклонение (2 ред) се вижда</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Трето вегетативно странично разклонение (2 ред) се вижда</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Растежа продължава до...</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>9 или повече вегетативни странични разклонения  (2 ред) се виждат</td>
                    </tr>
                    <tr>
                        <td class="line-up-bold" colspan="2">
                          <span><sup>1</sup> Листата се броят от котиледония възел ( = възел 0 )</span><br/>
                          <span><sup>2</sup> Развито странично разклонение може да се срещне рано, ако там има вегетативно странично разклонение продължаващо с основна  растежна фаза 2. Ако има репродуктивно странично разклонение (плодоносен клон) продължава с основна растежна фаза 5</span><br/>
                          <span><sup>3</sup> Вегетавните странични разклонения се броят от котиледония възел.</span>

                        </td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на главното стъбло (насаждението е покрито)</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Начало на покриване: 10% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>20% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>30% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>40% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>50% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>60% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>70% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>80% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Покриването приключва: 90% от растенията се срещат между редовете</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цъфтеж (главно разклонение)</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Първите цветни пъпки се забелязват</td>
                    </tr>
                    <tr>
                        <td>52</td>
                        <td>Първите цветни пъпки се наблюдават добре</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Цветните пъпки видимо нарастват</td>
                    </tr>
                    <tr>
                        <td>59</td>
                        <td>Поява на венчелистчета : цветните пъпки все още са затворени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>Първите цветове са отворени  (случайно вътре в насаждението)</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтеж (”Ранен цъфтеж”)  е  5 – 6 цвята ( 7,5 m измерено от реда )</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Пълен цъфтеж : (“ Среден цъфтеж”) е 11 и повече цвята ( 7,5 m измерено от реда )</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Цъфтежа завършва : преобладаващият брой цветовете са увехнали (” Късен цъфтеж” )</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода и семената</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>Приблизително 10% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>Приблизително 20% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>73</td>
                        <td>Приблизително 30% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>74</td>
                        <td>Приблизително 40% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Приблизително 50% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>76</td>
                        <td>Приблизително 60% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>77</td>
                        <td>Приблизително 70% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>78</td>
                        <td>Приблизително 80% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Приблизително 90% от семенниците достигат крайният си размер</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване на плодовете и семената</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>Първото отваряне на семенниците от първите плодоносни клончета</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>Начало на отваряне на на семенник : около 10% семенницитеса отворени</td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>Приблизително 20% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>Приблизително 30% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>Приблизително 40% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Приблизително 50% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>Приблизително 60% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>Приблизително 70% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>Приблизително 80% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Приблизително 90% от семенниците са отворени</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9 : Стареене</td>
                    </tr>
                    <tr>
                        <td>91</td>
                        <td>Приблизително 10% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>Приблизително 20% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>93</td>
                        <td>Приблизително 30% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>94</td>
                        <td>Приблизително 40% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>95</td>
                        <td>Приблизително 50% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>96</td>
                        <td>Приблизително 60% от листата изменят цвета си или падат</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Вегетативните части на растението умират; растението е латентно</td>
                    </tr>
                    <tr>
                        <td>99</td>
                        <td>Прибиране на реколтата (семенници и семена)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div>
