<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >СЕМКОВИ ОВОЩНИ ВИДОВЕ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
          <p>Meier et al., 1994</p>
          <p>
              Фенологични фази на растеж и ключове за тяхната идентификация при семковите овощни видове: 
              ябълка (<span class="italic">Mallus domestica</span> Borkh.); 
              круша  (<span class="italic">Pyrus communis</span> L.) 
          </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Прорастване (разпукване)/развитие на пъпките</td>
                  </tr>
                  <tr>
                    <td>00</td>
                    <td>Покой: листните пъпки и по-дебелите цветни пъпки за затворени и покрити с дебели тъмни люспи</td>
                  </tr>
                  <tr>
                    <td>01</td>
                    <td>Начало на набъбване на листните пъпки: пъпките са видими набъбнали, люспите на пъпките са удължени и имат светли участъци</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Край на набъбване на листните пъпки: люспите на листните пъпки са светло оцветени и в някои части гъсто покрити с власинки</td>
                  </tr>
                  <tr>
                    <td>07</td>
                    <td>Начало на разпукване на пъпките: първите зелени връхчета на листата са едва видими</td>
                  </tr>
                  <tr>
                    <td>09</td>
                    <td>Зелените връхчета на листата са 5 mm над люспите на пъпките</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Фаза “Миши уши”: зелените листни връхчета са 10 мм над люспите на пъпките: отделяне на първите листа</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Първи развити листа (останалите все още не са развити)</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>Повечето листа разлистени, но не в пълен размер</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Първи напълно развити листа</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Развитие на леторасти<sup>1</sup></td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>Начало на растеж на леторастите: осите на развиващите се леторасти са видими</td>
                  </tr>
                  <tr>
                    <td>32</td>
                    <td>Леторастите са достигнали около 20% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>Леторастите са достигнали около 30% от крайната си дължина</td>
                  </tr>
                  <tr>
                    <td>3..</td>
                    <td>Растежа продължава продължава...</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>Леторастите са достигнали около 90% от крайната си дължина</td>
                  </tr>
                  <tr>
                      <td class="line-up-bold" colspan="2">
                        <span><sup>1</sup> От крайната пъпка</span>
                      </td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Цветообразуване</td>
                  </tr>
                  <tr>
                    <td>51</td>
                    <td>Набъбване на неразцъфналите пъпки: удължаване на люспите на пъпките са удължени със светло оцветени участъци</td>
                  </tr>
                  <tr>
                    <td>52</td>
                    <td>Край на набъбването: видими светло оцветени люспи на пъпките, в някои части покрити с власинки</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>Разпукване на пъпките: видими са зелените връхчета, които обхващат цветовете</td>
                  </tr>
                  <tr>
                    <td>54</td>
                    <td>Фаза “Миши уши”: зелените листни връхчета са 10 mm над люспите на пъпките: отделяне на първите листа</td>
                  </tr>
                  <tr>
                    <td>55</td>
                    <td>Видими цветни пъпки (все още затворени)</td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>Фаза “Земен бутон”: отделяне на единични цветове (все още затвоерни)</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Фаза “Розов бутон”: удължаване на венчелистчетата; чашелистчетата са леко отворени; поява на венчелистчетата</td>
                  </tr>
                  <tr>
                    <td>59</td>
                    <td>Повечето цветове с венчелистчетата оформят куха топка</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтене</td>
                  </tr>
                  <tr>
                    <td>60</td>
                    <td>Отворени първи цветове</td>
                  </tr>
                  <tr>
                    <td>61</td>
                    <td>Начало на цъфтеж: около 10% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>Около 20% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>63</td>
                    <td>Около 30% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>64</td>
                    <td>Около 40% от цветовете са отворени</td>
                  </tr>
                  <tr>
                    <td>65</td>
                    <td>Масов цъфтеж: най-малко 50% от цветовете са отворени; опадат първите венчелистчета</td>
                  </tr>
                  <tr>
                    <td>67</td>
                    <td>Цветовете увяхват: повечето венчелистчета са опадали</td>
                  </tr>
                  <tr>
                    <td>69</td>
                    <td>Край на цъфтежа: всички венчелистчета са паднали</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                  </tr>
                  <tr>
                    <td>71</td>
                    <td>Размер на завърза до 10 mm; следцъфтежно окапване</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>Размер на завърза до 20 mm</td>
                  </tr>
                  <tr>
                    <td>73</td>
                    <td>Вторично окапване на завърза</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>Размер на плода до 40 mm; изправяне на плода; (Т - фаза: долната страна на плода и дръжката образуват буквата “Т”)</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>Плодовете са достигнали половината от окончателния си размер</td>
                  </tr>
                  <tr>
                    <td>76</td>
                    <td>Плодовете са достигнали 60% от окончателния си размер</td>
                  </tr>
                  <tr>
                    <td>77</td>
                    <td>Плодовете са достигнали 70% от окончателния си размер</td>
                  </tr>
                  <tr>
                    <td>78</td>
                    <td>Плодовете са достигнали 80% от окончателния си размер</td>
                  </tr>
                  <tr>
                    <td>79</td>
                    <td>Плодовете са достигнали 90% от окончателния си размер</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Зреене на плодовете и семената</td>
                  </tr>
                  <tr>
                    <td>81</td>
                    <td>Начало на узряване: първа поява на специфичното за сорта оцветяване</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>Напреднало узряване:  увеличаване интензивността на оцветяването, характерно за сорта</td>
                  </tr>
                  <tr>
                    <td>87</td>
                    <td>Беритбена зрелост</td>
                  </tr>
                  <tr>
                    <td>89</td>
                    <td>Консумативна зрелост: плодовете имат типичните за сорта вкус и твърдост</td>
                  </tr>
                  <tr>
                      <td class="bold line-bold" colspan="2">Главна фаза на растеж  9: Затихване, начало на покой</td>
                  </tr>
                  <tr>
                    <td>91</td>
                    <td>Нарастването на леторастите е завършило; връхната пъпка е развита; листата са все още изцяло зелени</td>
                  </tr>
                  <tr>
                    <td>92</td>
                    <td>Листата започват да пожълтяват</td>
                  </tr>
                  <tr>
                    <td>93</td>
                    <td>Листопадът започва</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>50% от листата са пожълтяли</td>
                  </tr>
                  <tr>
                    <td>97</td>
                    <td>Всички листа са окапали</td>
                  </tr>
                  <tr>
                    <td>99</td>
                    <td>Продукцията е прибрана</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
      <div class="image-content-1 image_general"></div>
    </div>
    <!-- Снимки -->
  
</div>
