<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="col-md-12 text-center name-header">
        <h2 class="customfont">ТЕХНИЧЕСКИ КУЛТУРИ</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ТЮТЮН</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 1/031(1)</p>
        <p class="number-eppo">№ на ЕРРО РР 2/15(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.I ст. д-р Атанас Димитров<br/>
                ст.н.с.II ст. д-р Христо Бозуков<br/>
                д-р Петър Николов – НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
            <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА (ДРЗП) ПРИ ТЮТЮН*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при тютюн.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Тютюнът е ароматно-вкусов продукт, предназначен да задоволява не нужди от първа необходимост, а такива
                от своеобразни вкусови и физиологични усещания у човека. Оттук идва и своеобразният му начин на
                употреба: пушене, дъвчене, смучене и смъркане. В зависимост от начина на употреба тютюнът се предлага
                в различни тютюневи изделия, основна съставка на които са листата му.
            </p>
            <p >
                Значението на културата за страната е многоаспектно - икономическо, търговско, фискално, социално и
                демографско.
            </p>
            <p >
                В България се отглеждат три сортови групи тютюн - Ориенталски (дребнолистен), Виржиния и Бърлей
                (едролистни). Изискванията на различните сортови групи към почвено-климатичните условия на отглеждане
                и отношението им към отделните вредители се отличават съществено.
            </p>
            <p >
                Тютюнът се развива успешно на всички почвени типове и разновидности при широк диапазон на почвена
                реакция (рН от 5 до 8.5). Висококачествена суровина от ориенталските тютюни се получава на леки,
                скелетни и топли почви с добра водопропускливост, аерация и съдържание на хумус до 1.5%. За тютюн
                Виржиния най-подходящи са леките, наносни песъчливо-глинести и глинесто-песъчливи почви със съдържание
                на физическа глина до 30-40% и хумус до 2.5%. За тютюн Бърлей са подходящи богати наносни и торфени
                площи. В сравнение с ориенталските едролистните тютюни имат по-високи изисквания към температурата,
                както и към почвената и въздушната влажност.
            </p>
            <p >
                Макар и със сравнително къс вегетационен период, тютюнът се напада от голям брой вредители - в разсада
                и на полето. И тук, както при другите култури, радикалното средство за решаване на проблема с тях е
                създаването на устойчиви или толерантни сортове. Селекцията на устойчивост обаче е продължителен и
                труден процес, а създаването на комерсиални сортове с такива свойства го прави и пределно сложен.
                Поради това използването на продукти за растителна защита в тютюнопроизводството е все още широка
                практика. Те са съществена част от модерните агрокултурални системи - Добра земеделска практика и
                Интегрирана растителна защита. От друга страна, не може да се заложи изцяло на принципа за получаване
                на екологично чиста продукция само от неторени и нетретирани с продукти за растителна защита площи,
                защото това ще доведе до снижаване на добивите и качеството с 30 - 40%. При спазване от страна на
                производителите на ДРЗП, базирана на принципите на тези системи, може да се постигне максимална
                ефективност срещу вредителите при минимално негативно въздействие върху околната среда и здравето на човека.

            </p>
            <p>
                Агротехническите мероприятия са важен фактор за намаляване популациите на редица вредители по тютюна.
                Препоръчва се 2-3-годишно сеитбообръщение с предшественици житни или бобови култури там, където
                условията го позволяват. Не се допуска включване в сеитбообръщенията на култури от семейство Картофови,
                които имат общи вредители с тютюна. Правилната и навременна почвообработка осигурява снижаване на
                плевелния състав в площите. Точното спазване на сеитбените (в разсадопроизводството) и посевни
                (на полето) норми създава неблагоприятни условия за развитие на патогените. Количеството и качеството
                на поливната вода са от значение за регулиране развитието на някои заболявания. От значение е
                балансираното торене на културата съобразно развитието и здравното й състояние, запасеността на почвата
                с хранителни вещества и т.н. Внимателните и редовни прегледи за здравното състояние на насажденията
                дават възможност да се избегнат значителен брой излишни третирания с продукти за растителна защита.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-justifysss text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/4-tehnicheski-prilojenie.pdf"
                >
                    * Виж приложение 3
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->

    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основните вредители при тютюна са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#rhizoctonia-solani" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сечене на тютюневия разсад - <span class="latin_name">Pythium debaryanum, Rhizoctonia solani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thielaviopsis-basicola" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно кореново гниене - <span class="latin_name">Thielaviopsis basicola</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#peronospora-tabacina" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Мана - <span class="latin_name">Peronospora tabacina</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-parasitica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Чернилка - <span class="latin_name">Phytophthora parasitica var. nicotianae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#erysiphe-cichoracearum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана (пепелница) - <span class="latin_name">Erysiphe cichoracearum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-spp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Кафяви листни петна - <span class="latin_name">Alternaria spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Див огън - <span class="latin_name">Pseudomonas syringae p.v. tabaci</span>
                    </a>
                </li>


                <li>
                    <a class="back_link" przAnchorTo target="#thrips-tabaci" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Тютюнев трипс - <span class="latin_name">Thrips tabaci</span>
                        и Пръстеновидна некроза - <span class="latin_name">TSWV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#myzodes-persicae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Myzodes persicae, Myzodes nicotianae</span>
                            Картофен ипсилон вирус - <span class="latin_name">PVY</span>
                        и Краставична мозайка - <span class="latin_name">CMV</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#epitrix-hirtipenis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Тютюнева бълха - <span class="latin_name">Epitrix hirtipenis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes-vaporariorum" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Оранжерийна белокрилка – <span class="latin_name">Trialeurodes vaporariorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae-and-elateridae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Сиви червеи – <span class="latin_name">Noctuidae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae-and-elateridae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Телени червеи - <span class="latin_name">Elateridae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae-spp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Памукова нощенка - <span class="latin_name">Chloridea obsolete</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#noctuidae-spp" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Зелева нощенка - <span class="latin_name">Barathra brassicae</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#heteroderidae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Галови нематоди - <span class="latin_name">Heteroderidae (Meloidogenydae)</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#lasioderma-and-ephestia" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Тютюнев бръмбар - <span class="latin_name">Lasioderma serricorne</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#lasioderma-and-ephestia" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Тютюнев молец - <span class="latin_name">Ephestia ellutella</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#orobanche-and-cuscuta" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Синя китка - <span class="latin_name">Orobanche spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#orobanche-and-cuscuta" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Кускута - <span class="latin_name">Cuscuta spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#inflorescences" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Съцветия и филизи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Howard F. Schwartz - http://www.forestryimages.org/browse/detail.cfm?imgnum=5361371, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=17509179</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By R.J. Reynolds Tobacco Company Slide Set, R.J. Reynolds Tobacco Company, Bugwood.org - http://www.insectimages.org/browse/detail.cfm?imgnum=1402019, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=12356524</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>By Scott Bauer - http://www.ars.usda.gov/is/graphics/photos/sep01/k9602-1.htm, Public Domain, https://commons.wikimedia.org/w/index.php?curid=2135276</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By Andybrookestar (talk) (Uploads) - Own work, Public Domain, https://en.wikipedia.org/w/index.php?curid=9674070</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>https://www.apsnet.org/edcenter/intropp/pathogengroups/pages/parasiticplants.aspx</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>https://www.invasive.org/browse/detail.cfm?imgnum=5542997</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Harald Hubich - photo taken by Harald Hubich, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=334065</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By Michael Becker - taken by Michael Becker, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1205664</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=204430</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
