<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО КАРТОФИ</h2>
<mat-tab-group class="demo-tab-group">
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <span class="my-tab-label dis">КАРТОФИ</span>
        </ng-template>
        <div class="demo-tab-content">
            <table class="piv_table">
                <thead>
                    <tr>
                        <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                        <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                        <th>
                            <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КОЛОРАДСКИ БРЪМБАР <span class="latin_name">Leptinotarsa decеmlineata</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            поникване до 10-15 см<br/>
                            височина на растенията
                        </td>
                        <td>възрастни</td>
                        <td>10% заселени гнезда</td>
                    </tr>
                    <tr>
                        <td rowspan="3">15-25 см височина на растенията</td>
                        <td>възрастни</td>
                        <td>5 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>яйчни купчинки</td>
                        <td>10 бр./10 растения</td>
                    </tr>
                    <tr>
                        <td>ларви</td>
                        <td>150 бр./100 растения</td>
                    </tr>
                    <tr>
                        <td>бутонизация</td>
                        <td rowspan="3">ларви</td>
                        <td>10% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>цъфтеж</td>
                        <td>15% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>след цъфтеж</td>
                        <td>20% нападнати растения</td>
                    </tr>
                    <tr>
                        <td>
                            след цъфтеж при
                            семепроизводство
                        </td>
                        <td>ларви и възрастни</td>
                        <td>
                            20% нападнати растения;<br/> 
                            5-10 бр. ларви и възрастни/100 растения
                        </td>
                    </tr>
                    <tr>
                        <td>масов цъфтеж</td>
                        <td rowspan="2">ларви</td>
                        <td>50% обезлистване</td>
                    </tr>
                    <tr>
                        <td>пълно развитие</td>
                        <td>75% обезлистване</td>
                    </tr>
                    <tr>
                        <td>ранни картофи</td>
                        <td rowspan="2">възрастни</td>
                        <td>20% унищожена листна маса</td>
                    </tr>
                    <tr>
                        <td>средно ранни картофи</td>
                        <td>35-40% унищожена листна маса</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТНИ ВЪШКИ <span class="latin_name">сем. Aphididae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>семепроизводство</td>
                        <td>възрастни</td>
                        <td>
                            единични екземпляри в<br/> 
                            началото на вегетацията
                        </td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ПОДГРИЗВАЩИ НОЩЕНКИ <span class="latin_name">Agrotis sp.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            от поникване до образуване<br/>
                            на 1-ви клубени
                        </td>
                        <td>гъсеници</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ЛИСТОРОГИ БРЪМБАРИ <span class="latin_name">сем. Scarabaeidae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>до засаждане</td>
                        <td>ларви</td>
                        <td>5 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            ТЕЛЕНИ ЧЕРВЕИ <span class="latin_name">сем. Elateridae</span>
                        </td>
                    </tr>
                    <tr>
                        <td>преди засаждане и през вегетацията</td>
                        <td>ларви</td>
                        <td>4-6 бр./кв.м</td>
                    </tr>
                    <tr class="tr_name_pest">
                        <td colspan="3" >
                            КАРТОФЕН МОЛЕЦ <span class="latin_name">Phthorimaea operculella</span>
                        </td>
                    </tr>
                    <tr>
                        <td>през вегетацията</td>
                        <td>гъсеници</td>
                        <td>3% нападнати растения</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
