<div id="wrap_lmenu_txt" >
    <div class="row text-center">
        <h1 >ХМЕЛ</h1>
    </div>
    <div class="row" >
        <div class="text-indent">
            <p>Rossbauer et al., 1995</p>
            <p>
              Фенологични фази на растеж и ВВСН-ключове за тяхната идентификация при хмел 
              (<span class="italic">Humulus lupulus L.</span>)
            </p>
        </div>
    </div>
    <!-- BBCH скала-->
    <div class="row">
        <div class="text-indent">
            <table class="text-indent-off my-tables-in">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold line-bottom" colspan="2">Главна фаза на растеж 0: Поникване</td>
                    </tr>
                    <tr>
                        <td>00</td>
                        <td>Покой: ризоми без филизи (нескъсени)</td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Покой: ризоми без филизи (скъсени)</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Ризоми с филизи (нескъсени)</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Начало на растеж на филизите (скъсени ризоми)</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Поникване: първите филизи се показват на повърхността на почвата</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 1: Развитие на листата</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Първа двойка  листа се разтваря</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Втора двойка  листа се разтваря (начало на чифтовете)</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Трета двойка  листа се разтваря</td>
                    </tr>
                    <tr>
                        <td>1..</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>9 и повече двойки листа се разтварят</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 2: Образуване на странични разклонения</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Вижда се първата двойка странични разклонения</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Вижда се втората двойка странични разклонения</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Вижда се третата двойка странични разклонения</td>
                    </tr>
                    <tr>
                        <td>2..</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>Виждат се 9 или повече двойки странични разклонения (поява на вторични странични разклонения)</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 3: Удължаване на стъблата (филизите)</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>Стъблата са достигнали 10 % от височината на горния конец (за прикрепване)</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>Стъблата са достигнали 20 % от височината на горния конец</td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>Стъблата са достигнали 30 % от височината на горния конец</td>
                    </tr>
                    <tr>
                        <td>3..</td>
                        <td>Растежа продължава до …</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>Растенията са достигнали горния конец</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>Край на растежа на стъблото</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 5: Поява на цветове</td>
                    </tr>
                    <tr>
                        <td>51</td>
                        <td>Виждат се цветни пъпки</td>
                    </tr>
                    <tr>
                        <td>55</td>
                        <td>Уголемяване на цветните пъпки</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 6: Цъфтеж</td>
                    </tr>
                    <tr>
                        <td>61</td>
                        <td>Начало на цъфтежа: около 10 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>62</td>
                        <td>Около 20 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>63</td>
                        <td>Около 30 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>64</td>
                        <td>Около 40 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>65</td>
                        <td>Масов цъфтеж: около 50 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>66</td>
                        <td>Около 60 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>67</td>
                        <td>Около 70 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>68</td>
                        <td>Около 80 % от цветовете са отворени</td>
                    </tr>
                    <tr>
                        <td>69</td>
                        <td>Край на цъфтежа</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 7: Развитие на плода</td>
                    </tr>
                    <tr>
                        <td>71</td>
                        <td>71	Начало на развитието на шишарките: 10 % от цветовете са шишарки</td>
                    </tr>
                    <tr>
                        <td>75</td>
                        <td>Развитието на шишарките е до половината: виждат се всички шишарки, те са меки, все още има близалца</td>
                    </tr>
                    <tr>
                        <td>79</td>
                        <td>Развитието на шишарките е завършено: почти всички шишарки са достигнали пълен размер</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 8: Узряване</td>
                    </tr>
                    <tr>
                        <td>81</td>
                        <td>Начало на узряването: 10 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>82</td>
                        <td>20 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>83</td>
                        <td>30 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>84</td>
                        <td>40 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>85</td>
                        <td>Напреднала зрялост: 50 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>86</td>
                        <td>60 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>87</td>
                        <td>70 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>88</td>
                        <td>80 % от шишарките са плътни</td>
                    </tr>
                    <tr>
                        <td>89</td>
                        <td>Шишарките са узряли за бране: шишарките са затворени; прашецът е златист; ароматът е напълно проявен</td>
                    </tr>
                    <tr>
                        <td class="bold line-bold" colspan="2">Главна фаза на растеж 9: Стареене, навлизане в период на покой</td>
                    </tr>
                    <tr>
                        <td>92</td>
                        <td>Презряване: жълто-кафявите шишарки се обезцветяват, ароматът се влошава</td>
                    </tr>
                    <tr>
                        <td>97</td>
                        <td>Покой: листата и стъблата загиват</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--KRAЙ BBCH скала-->
    
    <!-- Снимки -->
    <div class="row image-conainer ">
        <div class="image-content-1 image_general"></div>
    </div>
    <div class="row image-conainer">
        <div class="image-content-2 image_general"></div>
    </div>
    <!-- КРАЙ Снимки -->
</div> 
