<h2 class="example-h2">ПРАГОВЕ НА ИКОНОМИЧЕСКА ВРЕДНОСТ ЗА ВРЕДИТЕЛИ ПО ФАСУЛ</h2>
<mat-tab-group class="demo-tab-group">
  <mat-tab disabled>
    <ng-template mat-tab-label>
        <span class="my-tab-label dis">ГРАДИНСКИ ФАСУЛ</span>
    </ng-template>
    <div class="demo-tab-content">
        <table class="piv_table">
            <thead>
                <tr>
                    <th>ФЕНОФАЗА НА КУЛТУРАТА</th>
                    <th>ВРЕДИТЕЛ / СТАДИЙ</th>
                    <th>
                        <span class="full-name-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                        <span class="small-name-piv">ПРАГ НА ВРЕДНИОСТ</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ЛИСТНИ ВЪШКИ <span class="latin_name">cем. Aphididae</span>
                    </td>
                </tr>
                <tr>
                    <td>май-юни</td>
                    <td>ларви, безкрили, крилати</td>
                    <td>10-15 % нападнати растения с единични колонии</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ТЕТРАНИХОВИ АКАРИ <span class="latin_name">Tetranychus spp.</span>
                    </td>
                </tr>
                <tr>
                    <td>юли-август</td>
                    <td>ларви-възрастни</td>
                    <td>8-10% нападнати растения</td>
                </tr>
                <tr class="tr_name_pest">
                    <td colspan="3" >
                        ФАСУЛЕВ ЗЪРНОЯД <span class="latin_name">Acanthoscelides obtectus</span>
                    </td>
                </tr>
                <tr>
                    <td>при зазряване на първите бобове</td>
                    <td>възрастни</td>
                    <td>
                        2-3 бр./100 откоса<br/>
                        0,2% нападение по бобовете
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </mat-tab>
</mat-tab-group>
