
<div id="wrapper" >
  <div id="wrapper-carosel">
    <section id="carosel-wrap">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/1/1-125px.jpg" width="240" height="125"> -->
            <source media="(max-width: 480px)" srcset="../../assets/img/slider/1/1-250px.jpg" width="480" height="auto" >
            <source media="(max-width: 767px)" srcset="../../assets/img/slider/1/1-500px.jpg" width="960" height="auto" >
            <source media="(max-width: 1199px)" srcset="../../assets/img/slider/1/1-750px.jpg" width="1440" height="auto">
            <source media="(min-width: 1200px)" srcset="../../assets/img/slider/1/1.jpg" width="1920" height="auto">
            <img class="slide-image" src="../../assets/img/slider/1/1.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/2/2-125px.jpg" width="240" height="125"> -->
              <source media="(max-width: 480px)" srcset="../../assets/img/slider/2/2-250px.jpg" width="480" height="auto" >
              <source media="(max-width: 767px)" srcset="../../assets/img/slider/2/2-500px.jpg" width="960" height="auto" >
              <source media="(max-width: 1199px)" srcset="../../assets/img/slider/2/2-750px.jpg" width="1440" height="auto">
              <source media="(min-width: 1200px)" srcset="../../assets/img/slider/2/2.jpg" width="1920" height="auto">
              <img class="slide-image" src="../../assets/img/slider/2/2.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/3/3-125px.jpg" width="240" height="125"> -->
              <source media="(max-width: 480px)" srcset="../../assets/img/slider/3/3-250px.jpg" width="480" height="auto" >
              <source media="(max-width: 767px)" srcset="../../assets/img/slider/3/3-500px.jpg" width="960" height="auto" >
              <source media="(max-width: 1199px)" srcset="../../assets/img/slider/3/3-750px.jpg" width="1440" height="auto">
              <source media="(min-width: 1200px)" srcset="../../assets/img/slider/3/3.jpg" width="1920" height="auto">
              <img class="slide-image" src="../../assets/img/slider/3/3.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/4/4-125px.jpg" width="240" height="125"> -->
              <source media="(max-width: 480px)" srcset="../../assets/img/slider/4/4-250px.jpg" width="480" height="auto" >
              <source media="(max-width: 767px)" srcset="../../assets/img/slider/4/4-500px.jpg" width="960" height="auto" >
              <source media="(max-width: 1199px)" srcset="../../assets/img/slider/4/4-750px.jpg" width="1440" height="auto">
              <source media="(min-width: 1200px)" srcset="../../assets/img/slider/4/4.jpg" width="1920" height="auto">
              <img class="slide-image" src="../../assets/img/slider/4/4.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/5/5-125px.jpg" width="240" height="125"> -->
              <source media="(max-width: 480px)" srcset="../../assets/img/slider/5/5-250px.jpg" width="480" height="auto" >
              <source media="(max-width: 767px)" srcset="../../assets/img/slider/5/5-500px.jpg" width="960" height="auto" >
              <source media="(max-width: 1199px)" srcset="../../assets/img/slider/5/5-750px.jpg" width="1440" height="auto">
              <source media="(min-width: 1200px)" srcset="../../assets/img/slider/5/5.jpg" width="1920" height="auto">
              <img class="slide-image" src="../../assets/img/slider/5/5.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">6 / 6</div>
          <picture>
            <!-- <source media="(max-width: 360px)" srcset="../../assets/img/slider/6/6-125px.jpg" width="240" height="125"> -->
              <source media="(max-width: 480px)" srcset="../../assets/img/slider/6/6-250px.jpg" width="480" height="auto" >
              <source media="(max-width: 767px)" srcset="../../assets/img/slider/6/6-500px.jpg" width="960" height="auto" >
              <source media="(max-width: 1199px)" srcset="../../assets/img/slider/6/6-750px.jpg" width="1440" height="auto">
              <source media="(min-width: 1200px)" srcset="../../assets/img/slider/6/6.jpg" width="1920" height="auto">
              <img class="slide-image" src="../../assets/img/slider/6/6.jpg" alt="Image one for slider" width="1920" height="1000" style="width:100%">
          </picture>
          <div class="text">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span style="visibility: hidden;" class="aa-top-slider-catg">Duplex</span>
              <h2  class="aa-top-slider-title">ВАШАТА РЕКЛАМА</h2>
              <p style="visibility: hidden;" class="aa-top-slider-location"><i class="material-icons">add_location</i>South Beach, Miami (USA)</p>
              <span style="visibility: hidden;" class="aa-top-slider-off">30% OFF</span>
              <p style="visibility: hidden;" class="aa-top-slider-price">$460,000</p>
            </div>
            <!-- / Top slider content -->
          </div>
        </div>
      </div>
      <br>
      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </section>
  </div>
</div>

<div id="h1-wrapper" >
  <h1>ПРОДУКТИ ЗА РАСТИТЕЛНА ЗАЩИТА</h1>
</div>

<!-- About site -->
<section id="aa-about-site">
  <div class="container">
    <div class="aa-about-site-area">
        <div class="left-col">
          <div class="aa-about-site-left">
            <picture>
              <source media="(max-width: 320px)" srcset="../../assets/img/home/about-108.jpg" width="108" height="84">
              <source media="(max-width: 480px)" srcset="../../assets/img/home/about-216.jpg" width="216" height="167">
              <source media="(max-width: 768px)" srcset="../../assets/img/home/about-324.jpg" width="324" height="251">
              <source media="(max-width: 1000px)" srcset="../../assets/img/home/about-432.jpg" width="434" height="334">
              <img src="../../assets/img/home/about-432.jpg" alt="Image for about section" width="434" height="334">
            </picture>
          </div>
        </div>
        <div class="right-col">
          <div class="aa-about-site-right">
            <div class="aa-title">
              <h2>ЗА САЙТА</h2>
              <span></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab dignissimos vitae maxime adipisci blanditiis rerum quae quos! Id at rerum maxime modi fugit vero corrupti, ad atque sit laborum ipsum sunt blanditiis suscipit odio, aut nostrum assumenda nobis rem a maiores temporibus non commodi laboriosam, doloremque expedita! Corporis, provident?</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- / About site -->

<!-- Service section -->
<section id="aa-service">
  <div class="container">
    <div class="aa-service-area">
      <div class="aa-title">
        <h2>КАТЕГОРИИ</h2>
        <span></span>
        <p style="text-transform: uppercase;">По-важни категории и бърз достъп то тях.</p>
      </div>
      <div class="aa-service-content">
        <div class="col-md-3">
          <div class="aa-single-service">
            <div class="aa-service-icon">
              <span class="icon-in-circle">
                <img src="../../assets/img/home/bug.png" alt="Icon file text" width="32" height="32" title="Икона бъг"/>
              </span>
            </div>
            <div class="aa-single-service-content">
              <h3>ПРОДУКТИ</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="aa-single-service">
            <div class="aa-service-icon">
              <span class="icon-in-circle">
                <img src="../../assets/img/home/file-text.png" alt="Icon file text" width="32" height="32" title="Икона текст"/>
              </span>
            </div>
            <div class="aa-single-service-content">
              <h3>РЕГИСТРИ</h3>
              <p><a href="home" title="test">Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="aa-single-service">
            <div class="aa-service-icon">
              <span class="icon-in-circle">
                <img src="../../assets/img/home/leaf.png" alt="Icon leaf" width="32" height="32" title="Икона лист"/>
              </span>
            </div>
            <div class="aa-single-service-content">
              <h3>КУЛТУРИ</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="aa-single-service">
            <div class="aa-service-icon">
              <span class="icon-in-circle">
                <img src="../../assets/img/home/book.png" alt="Icon book" width="32" height="32" title="Икона книга"/>
              </span>
            </div>
            <div class="aa-single-service-content">
              <h3>ПОЛЕЗНО</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Service section -->

<!-- Promo Banner Section -->
<section id="aa-promo-banner">
  <div class="container">
    <div class="aa-promo-banner-area">
      <p style="font-size: 1.3em;">„Не трови отровата, а дозата. Всички вещества са отровни. Няма такива, които не са. Само дозата разграничава отровата от лекарството.”</p>
      <p style="font-size: 1.3em;">Парацелз</p>
    </div>
  </div>
</section>
<!-- / Promo Banner Section -->