
// $heading-font: 'Poppins', sans-serif;
$heading-font: 'Roboto', sans-serif;
// font-family: Roboto, sans-serif;


a:hover,
a:focus{
	outline: none;
	text-decoration: none;
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


#wrapper {
  margin-bottom: 50px;
  position: relative;
  top: -160px;
  z-index: -9999;
  height: auto;
  #wrapper-carosel {
    // background-color: #008000;
    display: block;
  }
}

/*==================
	CAROUSEL
====================*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color: #6b6b6b;
  font-size: 15px;
  text-align: center;
  /* =======================
    top-slider-content
  ========================= */
  .aa-top-slider-content {
    padding: 30px;
    z-index: 999;
    /* ВРЕМЕННО */
    display: none;
    /* ВРЕМЕННО */
    .aa-top-slider-catg{
      font-family: $heading-font;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #555;
      line-height: 25px;
    }
    .aa-top-slider-title{
      color: #555;
      font-size: 40px;
      font-weight: bold;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
    .aa-top-slider-location{
      font-size: 14px;
      i{
        margin-right: 5px;
      }
    }
    .aa-top-slider-off{
      font-size: 14px;
      font-family: $heading-font;
      color: #555;
      display: inline-block;
      margin-top: 10px;
      font-weight: bold;
    }
    .aa-top-slider-price{						
      font-family: $heading-font;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;	
      margin-top: -5px;					
    }
    .aa-top-slider-btn{
      display: inline-block;
      @include transition(all 0.5s);
      text-transform: uppercase;
      font-size: 15px;
      span{
        margin-left: 3px;
      }				
    }
  }
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #97b568;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #527532;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 6s;
  animation-name: fade-in;
  animation-duration: 6s;
}
@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

/*==================
	ЗАГЛАВИЕ
====================*/
#h1-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // margin-top: 40px;
  // margin-bottom: 100px;
  position: relative;
  top: -80px;
  h1 {
    font-family: $heading-font;
    font-size: 2em;
    color: #008000;
  }
}

/*==================
	ABOUT SITE SECTION
====================*/
#aa-about-site{
  display: table;
  margin-bottom: 80px;
  .aa-about-site-area {
    display: table-row;
    .left-col {
      display: table-cell;
      width: 50%;
      text-align: center;
      vertical-align: middle;
    }
    .right-col {
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding: 0 2%;
      .aa-title {
        text-align: center;
        h2 {
          color: #008000;
          margin-bottom: 5px;
        }
        span{
          width: 2px;
          height: 15px;
          display: inline-block;
          position: relative;
          background-color: #008000;
          &:before{
            content: '';
            right: 4px;
            top: 7px;
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #008000;
          }
          &:after{
            content: '';
            left: 4px;
            top: 7px;
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: #008000;
          }
        }
      }
      ul {
        padding-inline-start: 20px;
      }
    }
  }
}

/*==================
 SERVICE SECTION
====================*/
#aa-service{
  display: table;
  width: 100%;
  // padding: 100px 0;
  margin-bottom: 80px;
	.aa-service-area{
		display: inline;
    width: 100%;
    .aa-title {
      text-align: center;
      h2 {
        color: #008000;
        margin-bottom: 5px;
      }
      span{
        width: 2px;
        height: 15px;
        display: inline-block;
        position: relative;
        background-color: #008000;
        &:before{
          content: '';
          right: 4px;
          top: 7px;
          position: absolute;
          width: 100px;
          height: 2px;
          background-color: #008000;
        }
        &:after{
          content: '';
          left: 4px;
          top: 7px;
          position: absolute;
          width: 100px;
          height: 2px;
          background-color: #008000;
        }
      }
    }
		.aa-service-content{
      .col-md-3 {
        width: 25%;
        float: left;
      }
			display: inline;
			float: left;
			width: 100%;
			margin-top: 20px;
			.aa-single-service{
				display: inline;
				float: left;
				text-align: center;
				width: 100%;
				&:hover{
					.aa-service-icon{
						&:before{
							border: 2px solid #fff;
						}
					}
				}
				.aa-service-icon{
					display: inline;
					float: left;
					width: 100%;
					margin-bottom: 20px;
          position: relative;
          .icon-in-circle {
            border-radius: 50%;
            color: #fff;
            font-size: 40px;
            height: 100px;
            line-height: 100px;
            width: 100px;
            background-color: #527532;
            display: inline-block;
            img {
              vertical-align: initial;
            }
          }
					&:before{
							border: 2px solid transparent;
							border-radius: 50%;
							content: "";
							height: 96px;
							margin-left: 4px;
							position: absolute;
							width: 88px;
							@include transition(all 0.5s);

						}
					span{
						border-radius: 50%;
						color: #fff;
						font-size: 40px;
						height: 100px;
						line-height: 100px;
						width: 100px;
            background-color: #527532;
					}
				}
				.aa-single-service-content{
					display: inline;
					float: left;
          width: 100%;
          padding: 0 3%;
					h3{
            color: #008000;
						font-size: 1.2em;
						// a{
						// 	@include transition(all 0.5s);
						// }
					}
					p{
            font-size: 1.1em;
            a{
              @include transition(all 0.5s);
              // cursor: pointer;
						}
					}
				}
			}
		}
	}
}

/*==================
 PROMO BANNER SECTION
====================*/

#aa-promo-banner{
	// background-image: url("../../assets/img/home/banner.jpg");
	background-image: url("../../assets/img/slider/6.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	display: inline;
	float: left;
	width: 100%;
	padding: 100px 0;
  position: relative;
  margin-bottom: 40px;
	&:before{
		background-color: rgba(0, 0, 0, 0.5);
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

	}
	.aa-promo-banner-area{
		display: inline;
		float: left;
		width: 100%;
		padding: 0 50px;
		text-align: center;
		// h3{
		// 	color: #fff;
		// 	font-size: 40px;
		// 	font-weight: 700;
		// 	margin-bottom: 20px;
		// 	text-transform: capitalize;
		// }
		p{
			// color: #008000;
			color: #fff;
			display: inline-block;
			font-size: 16px;
			margin-top: 10px;
		}
		// a{
		// 	font-weight: bold;
		// 	margin-top: 50px;
		// 	text-transform: uppercase;
		// }
	}
}
