.short-name {
    display: none
}
.mils_table {
    border: 1px solid #8f9e82;
    width: 100%;
    thead {
        
        background-color: #dff0d8;
        th {
            font-weight: 500 !important;
            border: 1px solid #8f9e82;
        }
    }
    tbody td {
        border: 1px solid #8f9e82;
        text-align: center
    }
}

@media (max-width: 440px){
    .full-name {
        display: none
    }
    .short-name {
        display: initial
    }
}

@media (max-width: 320px) {
    .mils_table {
        font-size: 0.9em;
    }
}