<section>
  <footer id="footer" class="footer_style clear">
    <div class="wrapper">
      <ul id="footer_nav">
        <li class="for_all_li">© 2020 <strong>ПРЗБГ</strong></li>
        <li class="for_all_li right_part">
          ИЗРАБОТЕН С
          <mat-icon aria-hidden="false" aria-label="Favorite icon" class="material-icons">favorite</mat-icon>
          ОТ <br class="br_display"/>
          <strong>
            <a class="link-to-contacts" [routerLink]="['/contact']" title="Линк към Контакти">ОТОДТТ</a>
          </strong>
        </li>
      </ul>
    </div>
  </footer>
</section>
