<div class="row text-center" id="prz-loader" *ngIf="!practices">
    <mat-spinner aria-label="Спинър до зареждането на страницата"></mat-spinner>
</div>

<div *ngIf="practices" id="wrap_lmenu_txt">
    <div class="text-center name-header">
        <h2 class="customfont">ЗЕЛЕНЧУЦИ НА ОТКРИТО</h2>
    </div>
    <div class="row-top">
        <div class="text-center" id="content-logo">
            <h4 id="forest">МИНИСТЕРСТВО НА ЗЕМЕДЕЛИЕТО И ГОРИТЕ</h4>
            <h4 id="plant-protect">НАЦИОНАЛНА СЛУЖБА ЗА РАСТИТЕЛНА ЗАЩИТА</h4>
        </div>
    </div>
    <div class="row text-right">
        <img id="stamp" src="../../../../../assets/img/my_images/stamp_director.png" alt="печат и подпис на директор" />
    </div>
    <div class="row text-center">
        <h1 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ДОМАТИ, ПИПЕР, ПАТЛАДЖАН</h1>
    </div>
    <div class="row text-right">
        <p class="number-eppo">№ на НСРЗ ДРЗП 2/041(1)</p>
        <p class="number-eppo">№ на БРРО РР 2/30(1)</p>
    </div>
    <div class="row">
        <div id="authors-wrap">
            <p ><span class="bold authors">Авторски колектив :</span><br/>
                ст.н.с.II ст. д-р Никола Николов<br/>
                ст.н.с.I ст. д.с.н. Невена Богацевска<br/>
                ст.н.с.II ст. д-р Оля Караджова<br/>
                ст.н.с.II ст. д-р Димитринка Христова<br/>
                ст.н.с.II ст. д-р Василка Николова<br/>
                н.с.I ст. д-р Ваньо Иванов<br/>
                д-р Петър Николов - НСРЗ<br/>
                Екатерина Томева - НСРЗ
            </p>
        </div>
    </div>
    <div class="row text-center">
        <span class="year bold">СОФИЯ 2006 г.</span>
    </div>
    <div class="row text-center">
        <h2 >ДОБРА РАСТИТЕЛНОЗАЩИТНА ПРАКТИКА ПРИ ДОМАТИ, ПИПЕР, ПАТЛАДЖАН*</h2>
    </div>

    <!--Специфична сфера на действие-->
    <div class="row">
        <div class="text-indent">
            <h3 >Специфична сфера на действие</h3>
            <p>Този стандарт очертава принципите на Добрата растителнозащитна практика при домати, пипер, патладжан.</p>
            <h3 >Специфично одобрение и поправка</h3>
            <p >Първоначално одобрена през септември 2005 г. от НСРЗ</p>
            <br/>

            <p >
                Доматите, пиперът и патладжанът са основни зеленчукови култури за България. Те се използват
                за прясна консумация и за преработка. Получаването на гарантирани и стабилни добиви от
                зеленчуковите култури в голяма степен зависи от правилния избор на място и времето на
                засяване и засаждане. Отделните видове и сортове от тези култури са с различни изисквания към
                климатичните и почвени условия, което е свързано с устойчивостта им към най-опасните и
                разпространени в дадения район вредители. Доматите, пиперът и патладжанът са топлолюбивите
                култури. За поникването им е необходима температура минимум 16-18°С. Под 10°С спира растежът и
                развитието, а при 30-35°С се получават пригори по плодовете, преждевременно окапване на
                цветовете и младите плодчета. От съществено значение са и почвените условия - температура,
                влажност, рН. Те се развиват оптимално на леки, добре обработени (30-40 см) и дренирани почви,
                с високо съдържание на органични вещества и рН около 6,5. Отглеждането на тези култури е
                най-добре да става на високи лехи, което позволява добро развитие на кореновата система,
                избягва се преовлажняването, растенията по-слабо се нападат от някои почвени патогени и неприятели.
            </p>
            <p >
                Сеитбообращенията са важен компонент от агротехническите мероприятия за борба с вредителите.
                Те оказват влияние върху видовия състав и плътността на вредителите. Предшественикът определя
                типа на почвообработките, системата на торене, сроковете на сеитба. Качеството на посевния и
                посадъчния материал гарантира нормално развитие на растенията през началните фенофази, когато
                растенията са най-чувствителни на нападение от вредители. Третиране на семената и младите
                поници е за предпочитане, отколкото късното приложение на продукти за растителна защита.
                Сроковете на засяване или разсаждане дават възможност за намаляване степента на заселеност
                на зеленчуковите култури с вредители. Различните гъстоти на посевите водят до промяна на
                микроклимата, което оказва влияние върху преживяемостта и скоростта на развитие на
                 неприятелите и интензивността на развитие на болестите.
            </p>
            <p >
                Съществува тясна зависимост при много болести и неприятели с плевелната растителност. Тя е
                огнище за тяхното постоянно поддържане, откъдето преминават по зеленчуковите култури.
                Значителна роля за опазване на доматите, пипера и патладжана имат многобройните полезни
                хищници, паразити и микроорганизми. Целта на растителнозащитните мероприятия е съхраняване
                на техните естествени популации чрез създаване на подходящи условия за намножаването им.
                Съществена роля в това отношение имат селективните и по-слабо токсични продукти за растителна
                защита и подходящи периоди на третиране.
            </p>
            <p >
                Използването на устойчиви сортове домати, пипер и патладжан има социален и екологичен ефект.
                Тяхното използване създава по-малко растителнозащитни грижи за градинарите. ДРЗП изисква
                спазването на някои основни правила за третиране на семената и третиране на растенията.
                Решаваща роля за ефективна борба имат моментите на третиране и техниката, които да са
                съобразени с развитието на вредителите и растенията. Дозата за третиране се определя от
                фенофазата на растенията и механизма на действие на препарата. Зеленчуците, използвани за
                прясна консумация, изискват стриктно да се спазват посочените в етикетите дози и карантинни
                срокове. Редуването на продукти за растителна защита те или комбинирането им ограничава
                създаването на резистентни форми вредителите.
            </p>
        </div>
    </div>
    <!--КРАЙ Специфична сфера на действие-->

    <!-- Изтегляне на Приложения -->
    <div class="row">
        <div class="my_addendum text-indent">
            <span class="span_addendum">
                <a  class="href_addendum"
                    rel="noopener noreferrer" target="_blank"
                    href="../../../../../assets/practices/5-zelenchuci_otkrito-prilojenie.pdf"
                >
                    * Виж приложение 4
                </a>
            </span>
        </div>
    </div>
    <!-- КРАЙ Изтегляне на Приложения -->


    <!-- Избор на Вредител -->
    <div class="aa-title" id="pest_menu"></div>
    <div class="row">
        <div id="pest_menu_links">
            <h3 >Основни вредители при домати, пипер, патладжан  са:</h3>
            <ul id="menu_a">
                <li>
                    <a class="back_link" przAnchorTo target="#phytophtora-infestans" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Картофена мана по доматите - <span class="latin_name">Phytophtora infestans</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#verticillium-dahliae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вертицилийно увяхване - <span class="latin_name">Verticillium dahliae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#alternaria-solani" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Кафяви листни петна - <span class="latin_name">Alternaria solani</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#phytophthora-capsici" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Фитофторни коренови гниения - <span class="latin_name">Phytophthora capsici, Phytophthora parasitica</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pythium-aphanidermatum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сечене по разсада - <span class="latin_name">Pythium aphanidermatum, Pythium ultimum, Rhizoctonia solani, Phytophthora nicotianae, Ph. cryptogea, Sclerotinia sclerotiorum, Fusarium oxysporum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#sclerotinia-sclerotiorum" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Коренови гниения и гниене на основите на стъблата - <span class="latin_name">Sclerotinia sclerotiorum, Rhzoctonia solani, Fusarium oxysporum, Pyrenochaeta lycopersic</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leveillula-taurica" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Брашнеста мана - <span class="latin_name">Leveillula taurica; Sphaerotheca fuliginea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#botrytis-cinerea" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Сиво гниене - <span class="latin_name">Botrytis cinerea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#colletotrichum-coccodes" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Антракноза - <span class="latin_name">Colletotrichum coccodes</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Черно бактерийно струпясване - <span class="latin_name">Pseudomonas syringae pv. Tomato</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийно струпясване - <span class="latin_name">Xanthomonas vesicatoria</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#pseudomonas-syringae" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Бактерийно изсъхване - <span class="latin_name">Clavibacter michiganensis subsp. Michiganensis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на краставичната мозайка - <span class="latin_name">Cucumber mosaic cucumovirus (CMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на мозайката по доматите - <span class="latin_name">Tomato mosaic tobamovirus (TOMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                        <mat-icon>chevron_right</mat-icon>
                        Вирус на мозайката по тютюна - <span class="latin_name">Tobacco mosaic tobamovirus (TMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Ипсилон вирус по картофите - <span class="latin_name">Potato Y potyvirus (PVY)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Вирус на слабото прошарване по пипера - <span class="latin_name">Pepper mild mottle tobamovirus (PPP3PMMV)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Вирус на мозайката по люцерната - <span class="latin_name">Alfalfa mosaic alfamovirus (AMY)</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#viruses" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Фитоплазма столбур - <span class="latin_name">Phytoplasma Stolbur</span>
                    </a>
                </li>

                <li>
                    <a class="back_link" przAnchorTo target="#aphis-gossypii" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Листни въшки - <span class="latin_name">Aphis gossypii, Myzus persicae, Marosiphum euphorbiae</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#cutworms" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Нощенки - <span class="latin_name">Cutworms, Helycoverpa armigera, Mamestra brassicae, M. oleracea</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#hialestes-obsoletus" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Цикади - <span class="latin_name">Hialestes obsoletus</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#ostrinia-nubilalis" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Царевичен пробивач - <span class="latin_name">Ostrinia nubilalis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#elateridae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Телени червеи
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#tetranychus-urticae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Акари - <span class="latin_name">Tetranychus urticae, T. cinnabarinus,Vasates /Aculopsis/ lycopersici</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#thrips-tabaci" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Тютюнев трипс - <span class="latin_name">Thrips tabaci, Franklinella occidentalis</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#leptinotarsa-decemlineata" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Колорадски бръмбар - <span class="latin_name">Leptinotarsa decemlineata</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#trialeurodes-vaporariorum" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Оранжерийна белокрилка - <span class="latin_name">Trialeurodes vaporariorum</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#meloidogyne" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Нематоди - <span class="latin_name">Meloidogyne spp.</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#limacidae" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Голи охлюви
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#grylotalpa-grylotalpa" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Попово прасе - <span class="latin_name">Grylotalpa grylotalpa</span>
                    </a>
                </li>
                <li>
                    <a class="back_link" przAnchorTo target="#weed" title="към текста">
                    <mat-icon>chevron_right</mat-icon>
                        Плевели
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- КРАЙ Избор на Вредител -->

    <div *ngFor="let practice of practices | async">
        <div class="aa-title" id="{{practice?.linkId}}"></div>
        <div class="row" >
            <div class="pest-description-container text-indent" [innerHTML]="practice?.text  | safeHtml"></div>
            <div class="pest-image-container" *ngIf="practice.images?.length > 0">
                <ul class="products">
                    <li *ngFor="let image of practice.images">
                        <a data-lightbox="image" href="{{image.imgPath}}"
                            data-title="{{image.imgTitle}}">
                            <img threshold="200" loading="lazy" src="{{image.thumbPath}}"
                                alt="{{image.thumbAlt}}" title="{{image.thumbTitle}}"/>
                                <span class="title_thumb">{{image.bgName}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-back">
            <div class="col-md-6" *ngIf="practice?.tablePiv !== undefined">
                <div class="panel-success text-center" >
                    <div class="panel-heading">
                        <button mat-button class="piv-button" (click)="openDialog(practice?.tablePiv)">
                            <span class="full-piv">ПРАГ НА ИКОНОМИЧЕСКА ВРЕДНИОСТ</span>
                            <span class="small-piv">ВИЖ ПИВ</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-warning text-center">
                    <div class="panel-heading ">
                        <a mat-button class="back_link_bottom" przAnchorTo target="#pest_menu" title="към всички неприятели"> виж друг неприятел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Автори на снимки -->
    <br><br>
    <div class="row">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Използвани са снимки от:
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-body my_panel-body">
                    <p>
                        <span class="bold">Снимка 1:</span><br>
                        <span>By Goldlocki - This is of my own making, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=1661841</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 2:</span><br>
                        <span>By Clemson University - USDA Cooperative Extension Slide Series - http://www.forestryimages.org/browse/detail.cfm?imgnum=1233052, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=17504911</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 3:</span><br>
                        <span>By Netty4299 - Took a picture, CC0, https://en.wikipedia.org/w/index.php?curid=37875289</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 4:</span><br>
                        <span>Par William M. Brown Jr., Bugwood.org — http://www.ipmimages.org/browse/detail.cfm?imgnum=5357042, CC BY 3.0 us, https://commons.wikimedia.org/w/index.php?curid=16509895</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 5:</span><br>
                        <span>http://gardener.wikia.com/wiki/Tomato_spotted_wilt_virus</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 6:</span><br>
                        <span>https://alchetron.com/Tomato-mosaic-virus</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 7:</span><br>
                        <span>De Image: UF/IFAS Pest Alert Web site/Pamela Roberts - Thriving Community of Pathogenic Plant Viruses Found in the Human Gut. PLoS Biology Vol. 4/1/2006, e15 https://dx.doi.org/10.1371/journal.pbio.0040015, CC BY 2.5, https://commons.wikimedia.org/w/index.php?curid=1433618</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 8:</span><br>
                        <span>By Amy Carmichael, Queensland University of Technology - This image is found here at PaDIL, a source of images designed for Biosecurity and Biodiversity.This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.PaDIL, CC BY 3.0 au, https://commons.wikimedia.org/w/index.php?curid=15352877</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 9:</span><br>
                        <span>By Michael F. Schönitzer, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=5142870</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 10:</span><br>
                        <span>By ©entomart, Attribution, https://commons.wikimedia.org/w/index.php?curid=866190</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 11:</span><br>
                        <span>By Keith Weller - Transferred from en.wikipedia to Commons.This image was released by the Agricultural Research Service, the research agency of the United States Department of Agriculture, with the ID k7834-3 (next).This tag does not indicate the copyright status of the attached work. A normal copyright tag is still required. See Commons:Licensing for more information.English | français | македонски | +/−, Public Domain, https://commons.wikimedia.org/w/index.php?curid=1876649</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 12:</span><br>
                        <span>https://wiki.bugwood.org/File:Click_beetle_larva.jpg</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 13:</span><br>
                        <span>By Frank Peairs, Colorado State University, Bugwood.org - This image is Image Number 5364132 at Invasive.org, a source for images of invasive and exotic species operated by The Bugwood Network at the University of Georgia and the USDA APHIS Plant Protection and Quarantine program., CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=11272182</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 14:</span><br>
                        <span>By Jose Luis Cernadas Iglesias - originally posted to Flickr as 336-Menage a trois, CC BY 2.0, https://commons.wikimedia.org/w/index.php?curid=9493442</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 15:</span><br>
                        <span>By No machine-readable author provided. Bogdan assumed (based on copyright claims). - No machine-readable source provided. Own work assumed (based on copyright claims)., CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=209764</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 16:</span><br>
                        <span>By Rasbak - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=998959</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 17:</span><br>
                        <span>By Bidgee - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=9792633</span>
                    </p>
                    <p>
                        <span class="bold">Снимка 18:</span><br>
                        <span >By 4028mdk09 - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=11746444</span>
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- КРАЙ Автори на снимки -->
</div>
